##Introduction to Commercial Generic Role Profiles

###What are Commercial Generic Role Profiles?
The Commercial Generic Role Profiles have been designed in conjunction with the Commercial Career Framework (CCF) to outline the commercial roles available in government at each commercial professional level/ Civil Service grade. Each role profile is level-specific and includes:

- Role Summary
- Key Responsibilities
- Essential Criteria
- Civil Service Behaviours
- Department Context

The diagram below outlines the commercial roles that exist across government, aligned to each of the 6 commercial job pillars. Profiles are available for each role, represented by a coloured dot, as well as one profile for Senior Commercial Specialists/SCS2/3.

[Image:commercial-director-chief-commercial-officer.jpg]

This document contains the Commercial Generic Role Profile for <strong>Senior Commercial Specialists.</strong>

<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<td><strong>Commercial Professional Level</strong></td>
<td><strong>Senior Commercial Specialist<br>
</strong><strong>(SCS2/3 equivalent)</strong></td>
</tr>
<tr>
<th><strong>Role summary</strong></th>
<td>In this role you will be responsible for the delivery of commercial excellence in your department and across government as a trusted commercial advisor and senior leader in the Government Commercial Function, promoting the building of capability across government. You will be expected to lead on innovation and best practice across the whole commercial lifecycle in order to encourage the Civil Service to respond swiftly to changing priorities. You will be accountable for the delivery of future strategies that shape how government will contract in complex markets and will be responsible for the management of significant expenditure and high value contracts.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Typically, key responsibilities for a commercial professional in this role may include (but are not limited to):<br><br>&#x25cf;&nbsp;&nbsp;Engaging routinely with senior stakeholder from across government and supplier organisations<br>&#x25cf;&nbsp;&nbsp;Setting the overall commercial vision and strategy for the department focused on outcomes such as adding value to the citizen and making real, lasting change<br>&#x25cf;&nbsp;&nbsp;Developing and delivering commercial strategies requiring supplier innovation, senior stakeholder engagement, and/or market building/shaping<br>&#x25cf;&nbsp;&nbsp;Creating strategies and influencing a departmental culture that values effective commercial input, innovation, procurement excellence, and supply chain management<br>&#x25cf;&nbsp;&nbsp;Critically assessing markets and competitive behaviour undertaken by all suppliers and taking action to improve or protect the organisation&rsquo;s interest<br>&#x25cf;&nbsp;&nbsp;Managing complex commercial deals that have an impact across government<br>&#x25cf;&nbsp;&nbsp;Leading and managing the end to end procurement process<br>&#x25cf;&nbsp;&nbsp;Providing negotiation advice and direction, leading on high-profile escalations<br>&#x25cf;&nbsp;&nbsp;Ensuring sufficient resources are deployed to manage complex contracts effectively and addressing problematic projects to turn the situation around<br>&#x25cf;&nbsp;&nbsp;Actively reconsidering market approaches over time to consider new or innovative commercial models<br>&#x25cf;&nbsp;&nbsp;Managing cross-disciplinary teams and relationships at a senior level to deliver outcomes and applying good reporting and transparency mechanisms<br>&#x25cf;&nbsp;&nbsp;Managing risk at the senior executive level to get the correct outcomes for the government<br>&#x25cf;&nbsp;&nbsp;Taking accountability for achieving and developing the definition of value for money across the organisation<br>&#x25cf;&nbsp;&nbsp;Educating, advising, challenging and guiding on commercial priorities</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Commercial Focus:</strong><br>&#x25cf;&nbsp;Has expertise across the whole commercial lifecycle including: strategy and policy development, understanding needs and sourcing, procurement and contract and supplier management<br>&#x25cf;&nbsp;Has an expert understanding of the key parameters for commercial matters both in business negotiations and political situations<br>&#x25cf;&nbsp;Demonstrates resilience when met with ambiguity in highly complex and stressful situations across a broad range of commercial contexts in order to manage the impact of deals that have an impact across government<br>&#x25cf;&nbsp;Demonstrates the ability to manage trade-offs and contradictions across commercial, policy, delivery and operations<br>&#x25cf;&nbsp;Has a strong understanding of how money flows through contracts and can gear the commercial function towards a focus on achieving a successful return on its investments by providing a definition of value for money for all commercial deals<br><br><strong>Risk and Assurance Management:</strong><br>&#x25cf;&nbsp;Has a strong understanding of the key commercial risks across a department and ensures they are robustly managed<br>&#x25cf;&nbsp;Demonstrates the ability to take measured risks in order to deliver better approaches and services and knows when a commercial approach needs to be adapted to achieve a better outcome<br>&#x25cf;&nbsp;Demonstrates the ability to challenge the analysis of risks and margins of error to improve assurance on complex areas<br><br><strong>Commercial Ethics:</strong><br>&#x25cf;&nbsp;Demonstrates the ability to drive the development and implementation of standards and/or policy to eradicate corruption, fraud and unethical behaviours<br><br><strong>Team Management:</strong><br>&#x25cf;&nbsp;Demonstrates the ability to act as an inspiring leader and a role model for innovation across the Civil Service in order to encourage the cross- government function and departments to respond swiftly to changing priorities<br>&#x25cf;&nbsp;Demonstrates the ability to establish a culture where commercial skills are valued and mentoring is encouraged to create future leaders<br><br><strong>Build Relationships:</strong><br>&#x25cf;&nbsp;Demonstrates the ability to build a strong network of collaborative relationships and partnerships across the Civil Service, at the highest levels in government and beyond (UK, EU and globally) to help departmental and wider Civil Service objectives<br>&#x25cf;&nbsp;Demonstrates the ability to understand the motivations and behaviours of suppliers and networks to achieve organisational objectives</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across all of the following behaviours for level 6 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>
<strong>Seeing the Big Picture</strong>:<br>
&#x25cf;&nbsp;Develop an in-depth insight into the dynamics and issues surrounding the department and the government. Understand political, economic, social, environmental and technological impact at both national and international levels. Establish where the department sits within and aligns across the Civil Service. Ensure teams understand their role within the wider business. Shape the department&rsquo;s role and purpose in delivering civil service priorities which are in the national interest and meet the diverse needs of all stakeholders. Create clear long-term strategies focused on adding value to the nation and making real, lasting change beyond the Civil Service. Fully engage with senior leaders from across government to support strategic decision making<br>
<br>
<strong>Developing Self and Others:<br>
&#x25cf;&nbsp;</strong>Build a strong culture of continuous learning and knowledge sharing. Promote the importance of developing everyone to their full potential. Develop capability strategies that address equality of opportunity and value the diversity of all individuals. Develop and maintain an organisational commitment to empowering individuals to take responsibility for their own learning. Take a strategic perspective to identifying the capability needs of the organisation now and in the future. Be an outstanding mentor and coach to other senior individuals. Actively seek opportunities for reverse mentoring to increase your knowledge and insights of challenges faced by under-represented groups. Evaluate own effectiveness and plan ways to develop&nbsp;<br>
<br>
<strong>Delivering at Pace:<br>
&#x25cf;&nbsp;</strong>Set and maintain a clear direction for the department, with highly focused priorities and project and programme outcomes. Define and integrate clear structures, systems and resources across the department which promote efficient service delivery. Swiftly adjust priorities as changing situations dictate. Enable the organisation to remain focused on core priorities irrespective of external challenges. Encourage, support and coach individuals and teams to keep focus on delivery. Drive a performance culture across the department which gives teams the space and authority to deliver objectives, whilst holding them accountable for outcomes&nbsp;<br>
<br>
<strong>Leadership:<br>
&#x25cf;&nbsp;</strong>Actively develop and protect the reputation of the Civil Service, creating a sense of pride and passion for public service. Present a clear and focused strategy with direction for the future. Act in ways that are highly visible, inspirational and credible at the most senior levels across and outside of the Civil Service. Create an inclusive environment where diversity is valued and there is equality of opportunity for all. Engage positively in debate and resolve ambiguities, gaining the best possible outcomes for the department&nbsp;<span>&nbsp;&nbsp;</span>One further Civil Service Behaviour can be added to the above to align to the specific<span>&nbsp;&nbsp;</span><span>&nbsp;&nbsp;</span>needs of a department.</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary<br>&#x25cf;&nbsp;Additional key responsibilities based on the department context<br>&#x25cf;&nbsp;Bespoke essential skills/ experience required for the role</td>
</tr>
</tbody>
</table>