##Strategy and Policy Development: Commercial Category Strategy

###Commercial Professional Level - Commercial Specialist (Senior Civil Servant 1 equivalent)

###Role summary

In this role you will promote the delivery of commercial excellence for your department by managing the development of category strategies and pipeline plans. You will be expected to lead on the management of the supply chain for critical products and services and apply knowledge of business requirements, combined with strong negotiating skills, to ensure ‘value for money’ is delivered.

You will lead a team, building their confidence and commercial capability as an influential leader to shape and define a deal in a complex and uncertain context, delegating risks and issues to individuals in line with their experience and potential. The role will require you to use your commercial expertise to take measured risks in order to deliver better approaches and services.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Providing advice and using commercial expertise and data to inform judgements in markets, sectors, policy, delivery mechanisms, and suppliers
- Managing the benefits, risks and issues of a category management approach and taking the lead in developing solutions 
- Creating strategies and influencing a departmental culture that values effective commercial input, innovation, procurement excellence, and supply chain management
- Providing advice and challenge in the development of an overarching category strategy using a good understanding of business requirements and the marketplace
- Leading on the implementation of government commercial policy and articulating relevant requirements to stakeholders
- Leading on the development of a category strategy requiring supplier innovation, senior stakeholder engagement, and/or market building/shaping
- Managing the development of supplier management strategies in order to maximise commercial leverage
- Baselining costs in order to build expected benefits into category strategies 
- Demonstrating the benefits specified in the business case and the impact on their own role
- Ensuring relevant issues are fed into strategy and big picture considerations
- Establishing and implementing negotiation strategies with clear parameters
- Researching, encouraging and applying new ideas and ways of working to maximise ‘value for money’
- Applying a strong visual project management approach and developing commercial resource plans including staff, systems and infrastructure to achieve effective commercial outcomes
- Securing and acting on insight into customers, citizens, services, communities and markets relating to a specified set of contracts or projects
- Provides advice on major investment appraisal and decisions
- Critically assessing supply chains in order to consider how to improve the department’s position

###Essential Criteria

<strong>Strategy and Policy Development:</strong>

- Has expertise in shaping department and ministerial policies from a commercial perspective
- Has expertise in developing a category strategy for high value and complex procurements
- Has expertise in developing and delivering complex and high value commercial strategies requiring supplier innovation, stakeholder engagement and/or market building
- Has experience in developing resource and implementation plans in line with policy objectives and has the ability to expertly apply relevant procurement rules

<strong>Commercial Focus:</strong>

- Has a strong practical understanding of market shaping principles and contract law and has experience in working in a range of categories/sectors with a range of suppliers 
- Demonstrates the ability to develop the definition of standards of success in terms of the return on investment and ‘value for money’ for each deal and can lead the debate to make the case with ministers
- Demonstrates the ability to manage the trade-offs and contradictions within complex deals and impact on other areas

<strong>Risk and Assurance Management:</strong>

- Demonstrates the ability to take measured risks in order to deliver better approaches and services
- Demonstrates the ability to challenge the analysis of risks and margins of error to improve assurance on decisions

<strong>Commercial Ethics:</strong>

- Demonstrates the ability to contribute to the development of standards and/or policy to eradicate corruption, fraud and unethical behaviour

<strong>Team Management:</strong>

- Demonstrates the ability to coach and mentor individuals as a trusted leader and displays strong motivational capabilities to create a department culture focused on performance and priorities
- Demonstrates the ability to manage a team in shaping and defining a deal in a complex and uncertain context, delegating risks and issues to individuals in line with their experience and potential

<strong>Build Relationships:</strong>

- Has strong stakeholder engagement skills in order to effectively communicate a deal over time from conception to delivery in line with the department’s commercial requirements
- Demonstrates the ability to understand the motivations and behaviours of stakeholders, suppliers and networks

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 5 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

- <strong>Seeing the Big Picture:</strong> Anticipate the long-term impact on the department of economic, political, environmental, social and technological developments, at both national and international levels. Create joined up strategies that put into practice and support the Government’s vision for the future. Identify and shape how your work area fits within and supports the priorities of the organisation. Develop an in-depth insight into customers, services, communities and markets affected by your work areas and the wider public sector context. Ensure work is in the national interest whilst meeting the diverse needs of all end users

- <strong>Changing and Improving:</strong> Challenge the way things have always been done and suggest improvements, learning from experience. Seek, encourage and recognise initiative and imaginative ideas from a wide range of people. Promote an environment where all colleagues feel safe to challenge. Encourage measured risk taking and innovation to deliver better approaches and services. Implement changes that transform flexibility, responsiveness and quality of service. Ensure changes add value to the business and express clearly how and why changes are necessary. Lead the transformation towards using digital technologies ensuring full consideration of accessibility needs and the diverse range of end users. Manage change effectively and respond promptly to critical events. Constructively challenge changes which are unhelpful

- <strong>Making Effective Decisions:</strong> Act decisively and make bold, unbiased decisions at a strategic level. Make sense of a wide range of political and national pressures and influences to develop strategies which meet organisational goals. Clearly communicate the purpose and reasons for recommendations and decisions. Consult with others where necessary to ensure decisions meet the diverse needs of the end users. Accept and respond to challenge constructively. Clearly recommend the best option articulating risks and impacts on economic, environmental, political and social factors

- <strong>Leadership:</strong> Remain visible and approachable to all colleagues and stakeholders. Actively promote the reputation of the organisation with pride, both internally and externally. Display passion and enthusiasm for the work, helping to inspire colleagues and stakeholders to fully engage with the aims and long term vision. Embed a culture of inclusion and equal opportunity for all, where the diversity of individuals’ backgrounds and experiences are valued and respected. Work to influence the strategy, direction and culture to increase effectiveness


###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:

- An additional short paragraph in the role summary 
- Additional key responsibilities based on the department context 
- Bespoke essential skills/experience required for the role