##Category Management

##Commercial Professional Level - <strong>Associate Commercial Lead</strong> (SEO equivalent)

###Role summary

In this role you will support across all aspects of the commercial lifecycle within the department. You will be expected to provide support to sourcing, procurement and contract management teams and staff, to give strategic advice on major programmes and help to define the 'needs' on business-as-usual requirements, through the contracting process and into commercial contract management.  

You will work as part of a larger team, but will be expected to be able to prioritise and manage your own workload to deliver to deadlines and know when to seek support in order to balance both operationally urgent and important tasks.

###Key Responsibilities

Category Management roles are varied, and individual remit is subject to both size of category, and/or level of complexity, value and risk within a category. 

Typically, key responsibilities for a commercial professional in this role may include (but are not limited to): 

Providing administrative support to commercial colleagues on ad-hoc basis as part of the team supporting business as usual and project activities

Strategic delivery and management of the category: 

- Assisting with development of category strategies for all relevant expenditure

- Ensuring compliance with all relevant contracts

Understanding relevant sourcing options, delivering positive outcomes through the procurement process: 

- Supporting the Sourcing process for a wide range of procurements, such as market engagement, supporting negotiations and assessing procurement routes.

- Maintaining routine catalogues within commercial systems to ensure they are up to date, liaising with colleagues as necessary

Ensuring effective Commercial Contract and Supplier Management within the category:

- Undertaking contract management actions such as contract administration, monitoring supplier performance and managing supplier relationships

- Providing Commercial support and guidance to a range of internal and external stakeholders 

Enabling and developing the department: 

- Analysing data from corporate commercial systems (on/off contract spend) to help identify and drive value for money, efficiency and best practice opportunities

###Essential Criteria

<strong>Category Management:</strong>

- Has awareness of the principles of end-to-end commercial lifecycle management 

<strong>Commercial Focus: </strong>

- Has a basic understanding of how markets work and how to collect data and information to support commercial activity

<strong>Risk and Assurance Management: </strong> 

- Has a basic understanding of commercial risks and how mitigation techniques work

<strong>Commercial Ethics: </strong> 

- Has an understanding of the importance of the standards to eliminate corruption, fraud and unethical behaviour in supply chains

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their resilience and performance

<strong>Build Relationships: </strong>

- Demonstrates the ability to use different communication styles with different audiences

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 1 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role