##Category Management

##Commercial Professional Level - <strong>Associate Commercial Specialist</strong> (G6 equivalent)

###Role summary

In this role you will lead and own commercial and procurement processes on behalf of the business. You will contribute to delivering commercial excellence for the department, through management of activity across the commercial lifecycle, providing a customer-focused service, understanding the business need and stakeholder drivers, with the aim of becoming a trusted commercial advisor. You will also develop relationships with the department’s key and strategic suppliers, driving value for money and risk management excellence across the category.  

You will be expected to manage and/or oversee the overall commercial lifecycle. Activities could vary from developing the category strategy, to leading complex procurements, to being accountable for some of the department’s most complex and high profile contracts, all whilst ensuring compliance with the department’s legislative framework. 

You will manage a team, building their confidence and commercial capability to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Category Management roles are varied, and individual remit is subject to both size of category, and/or level of complexity, value and risk within a category. 

Typically, key responsibilities for a commercial professional in this role may include (but are not limited to): 

Strategic delivery and management of the category: 

- Developing category strategies for all relevant expenditure

- Coordinating spend data and insight within the category and owns demand management across the category

- Ensuring category management processes are in place that enables the assessment of the market capabilities to meet the needs of users and the business

Understanding relevant sourcing options, delivering positive outcomes through the procurement process: 

- Driving and leading sourcing activity, including strategic sourcing processes in support of the department’s strategic aims

- Finalising and approving commercial arrangements, including final negotiation

- Preparing, developing and commissioning Business Cases, where necessary, to demonstrate the value, benefits and risks of sourcing activity

Ensuring effective Commercial Contract and Supplier Management within the category:

- Ensuring control of the department’s spend and specifically critical contracts are continually analysed in order to develop and drive value adding initiatives 

- Responsible for the strategic SRM process within your category to drive supplier performance and ensure commercial rigour, quality of service and continuous improvement and innovation

- Ensure legal compliance and risk mitigation of contracts

Building and maintaining key relationships across the department and with important external stakeholders:

- Developing and owning relationships, building detailed knowledge of stakeholder needs in order to deliver value through sourcing and procurement activity

- Providing procurement leadership and market insight across the department to ensure that it achieves maximum value for its spend

Enabling and developing the department: 

- Bringing the best of the external market to the department through leveraging industry best practice, market insights and knowledge

- Responsible for the implementation of standard procurement policies, processes and Standard Operating Procedures within their category

- Driving innovation in category to demonstrate continuous improvement

Performance and day-to-day management of a team to deliver on the Category Strategy and activity across the commercial life cycle

###Essential Criteria

<strong>Category Management:</strong>

- Has expert understanding of the principles of end-to-end commercial lifecycle management 

- Evidence of taking a strategic lead on securing value for money in a complex commercial environment

- Evidence of influencing key senior stakeholders and suppliers towards commercial solutions in a complex commercial environment

- Evidence of leading and delivering transformational change  at a strategic level

<strong>Commercial Focus: </strong>

- Has a strong practical understanding of market and commercial drivers as well as contract law

- Demonstrates the ability to draw conclusions from a wide range of complex data from different sources

- Has a practical understanding of the concept of value for money and can articulate what a successful return on investment looks like for a particular project/programme

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions

- Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs 

<strong>Commercial Ethics: </strong> 

- Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Management: </strong>

- Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks 

- Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and moral

<strong>Build Relationships: </strong>

- Demonstrates strong stakeholder engagement skills with the ability to demonstrate resilience in interactions with suppliers in order to defend the departments position 

- Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity

###Department Context

To enhance the generic GCF role profile, additional information can be added by a department to outline the specific nature of the role. This may include:

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role