##Continuous Improvement

##Commercial Professional Level - <strong>Commercial Lead</strong> (G7 equivalent)

###Role summary

In this role you will contribute to delivering commercial excellence for your department by managing continuous improvement. You will be expected to use your strong stakeholder management skills to deliver improved outcomes and value for money in contracts and make government practices, processes and policies more effective. 

You will lead a team, building their confidence to drive performance and manage setbacks. The role will require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Implementing change with a strong understanding of the culture, structure, service and moral impact

- Facilitating discussions with stakeholders to help define and agree the scope of change programmes

- Creating, maintaining and innovating the operating protocols required for the Commercial Operating Standards and spending controls delivery areas for Government Commercial Function

- Managing improvement projects, interacting with stakeholders, compiling cases against criteria and supporting the production of advice to management and then Ministers on how improvements will unlock additional value

- Managing benefits tracking, reporting and realisation 

- Carrying out reporting and intelligence initiatives, manipulating existing data and offering improvements to the assurance, standards and controls delivery as well as informing future iterations of the Commercial Operating Standards

- Researching, encouraging and applying new ideas and ways of working to include the review of existing and future contracts to foster and maintain best practice, value for money and to ensure alignment with business needs

- Engaging with stakeholders and understanding their motivations and behaviours in order to effectively communicate messages and support decision making

- Maintaining good relationships with internal stakeholders and involving them in relevant decisions and discussions

- Supporting the delivery of all commercial assurance, controls activity and timely reviews

- Appling a strong visual programme management approach to include facilitating start up sessions, go/no go decisions and change delivery planning

###Essential Criteria

<strong>Continuous Improvement:</strong>

- Has experience in carrying out programmes of work to embed beneficial and sustainable change, managing staff and working with stakeholders to improve the delivery of commercial practices, processes and policies 

<strong>Commercial Focus: </strong>

- Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility, can apply the commercial principles within the boundaries of contract law

- Demonstrates the ability to lead on securing value for money through achieving good return on investment on commercial projects 

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks and to resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges

<strong>Build Relationships: </strong>

- Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making. 

- Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role