##Continuous Improvement

##Commercial Professional Level - <strong>Associate Commercial Specialist</strong> (G6 equivalent)

###Role summary

In this role you will promote the delivery of commercial excellence for your department and wider government by leading on continuous improvement. You will be expected to use your strong stakeholder management skills to lead the delivery of improved outcomes and value for money in contracts and make government practices, processes and policies more effective. 

You will lead a team, building their confidence and commercial capability to drive performance and manage setbacks. The role will require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Implementing change with a strong understanding of the culture, structure, service and moral impact

- Facilitating discussions with stakeholders to help define and agree the scope of change programmes

- Creating, maintaining and innovating the operating protocols required for the Commercial Operating Standards and spending controls delivery areas for Government Commercial Function

- Managing improvement projects, interacting with stakeholders, compiling cases against criteria and supporting the production of advice to management and then Ministers on how improvements will unlock additional value

- Managing benefits tracking, reporting and realisation 

- Carrying out reporting and intelligence initiatives, manipulating existing data and offering improvements to the assurance, standards and controls delivery as well as informing future iterations of the Commercial Operating Standards

- Researching, encouraging and applying new ideas and ways of working to include the review of existing and future contracts to foster and maintain best practice, value for money and to ensure alignment with business needs

- Engaging with stakeholders and understanding their motivations and behaviours in order to effectively communicate messages and support decision making

- Maintaining good relationships with internal stakeholders and involving them in relevant decisions and discussions

- Supporting the delivery of all commercial assurance, controls activity and timely reviews

- Appling a strong visual programme management approach to include facilitating start up sessions, go/no go decisions and change delivery planning

###Essential Criteria

<strong>Continuous Improvement:</strong>

- Has experience in defining and delivering programmes of work to embed beneficial and sustainable change in a complex organisation, leading staff and working with stakeholders to improve the delivery of commercial practices, processes and policies 

<strong>Commercial Focus: </strong>

- Has a strong practical understanding of market and commercial drivers as well as contract law

- Demonstrates the ability to draw conclusions from a wide range of complex data from different sources

- Has a practical understanding of the concept of value for money and can articulate what a successful return on investment looks like for a particular project/programme

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions

- Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs 

<strong>Commercial Ethics: </strong> 

- Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Management: </strong>

- Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks 

- Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and moral

<strong>Build Relationships: </strong>

- Demonstrates strong stakeholder engagement skills with the ability to demonstrate resilience in interactions with suppliers in order to defend the departments position 

- Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role