##Continuous Improvement

##Commercial Professional Level - <strong>Commercial Specialist</strong> (SCS1 equivalent)

###Role summary

In this role you will promote the delivery of commercial excellence for your department and wider government by leading on continuous improvement. You will be expected to use your strong stakeholder management skills to lead the delivery of improved outcomes and value for money in contracts and make government practices, processes and policies more effective. 

You will lead a team, building their confidence and commercial capability as an influential leader responding to complex and uncertain challenges, delegating risks and issues to individuals in line with your experience and potential. The role will also require you to use your commercial expertise to take measured risks in order to deliver better approaches and services.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Driving the composition and successful delivery of a portfolio of change and improvement projects to tackle key issues to build the Department’s capability

- Implementing change with a strong understanding of the culture, structure, service and moral impact

- Creating, maintaining and innovating the operating protocols required for the Commercial Operating Standards and spending controls delivery areas for Government Commercial Function

- Managing improvement projects, interacting with stakeholders, compiling cases against criteria and supporting the production of advice to management and then Ministers on how improvements will unlock additional value

- Carrying out reporting and intelligence initiatives, manipulating existing data and offering improvements to the assurance, standards and controls delivery as well as informing future iterations of the Commercial Operating Standards

- Researching, encouraging and applying new ideas and ways of working to include the review of existing and future contracts to foster and maintain best practice, value for money and to ensure alignment with business needs.

- Engaging with stakeholders and understanding their motivations and behaviours in order to effectively communicate messages and support decision making

- Maintaining good relationships with internal stakeholders and involving them in relevant decisions and discussions

- Supporting the delivery of all commercial assurance, controls activity and timely reviews

- Appling a strong visual programme management approach to include facilitating start up sessions, go/no go decisions and change delivery planning

###Essential Criteria

<strong>Continuous Improvement:</strong>

- Has extensive expertise of defining and delivering programmes of work to embed beneficial and sustainable change in a complex organisation, leading staff and working with stakeholders to improve the delivery of commercial practices, processes and policies

<strong>Commercial Focus: </strong>

- Has a strong practical understanding of market shaping principles and contract law and has experience in working in a range of categories/sectors with a range of suppliers 

- Demonstrates the ability to develop the definition of standards of success in terms of the return on investment and value for money for each deal and can lead the debate to make the case with ministers

- Demonstrates the ability to manage the trade-offs and contradictions within complex deals and impact on other areas

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to take measured risks in order to deliver better approaches and services

- Demonstrates the ability to challenge the analysis of risks and margins of error to improve assurance on decisions 

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to contribute to the development of standards and/or policy to eradicate corruption, fraud and unethical behaviour

<strong>Team Management: </strong>

- Demonstrates the ability to coach and mentor individuals as a trusted leader and displays strong motivational capabilities to create a department culture focused on performance and priorities

- Demonstrates the ability to manage a team in shaping and defining a deal in a complex and uncertain context, delegating risks and issues to individuals in line with their experience and potential

<strong>Build Relationships: </strong>

- Has strong stakeholder engagement skills in order to effectively communicate a deal over time from conception to delivery in line with the department’s commercial requirements

- Demonstrates the ability to understand the motivations and behaviours of stakeholders, suppliers and networks

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role