##Contract Administration

##Commercial Professional Level - <strong>Commercial Support</strong> (AO equivalent)

###Role summary

In this role you will provide essential administrative support to the contract management process as a part of a team supporting business as usual and/or project based contract management activity. Typically this will include contributing to the drafting of contract documents and variation orders, supporting governance and reporting processes and recording lessons learned through the contract management process. 

You will work as part of a larger team, but will be expected to be able to prioritise and manage your own workload to deliver to deadlines and know when to seek support in order to balance both operationally urgent and important tasks.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to): 

- Undertaking contract administration actions such as contributing to the creation of commercial files and audit/ assurance activities 

- Contributing to the drafting of contract documents and variation orders, supporting governance and reporting processes

- Supporting with the management of contract and supply chain risks, capturing risks and mitigations in accordance with the organisation’s commercial risk management approach

- Supporting commercial colleagues with budgeting and cost management activities such as estimating costs, producing a budget, controlling forecasts and actual spend against budget

- Contributing to contract change control activity, justifying, controlling and recording changes to ensure requirements continue to meet business needs

- Maintaining quality and concurrency of systems, reporting and management information

###Essential Criteria

<strong>Contract Administration:</strong>

- Has awareness of contract management and how it fits in the commercial lifecycle

<strong>Commercial Focus: </strong>

- Has a basic understanding of how markets work and how to collect data and information to support commercial activity

<strong>Risk and Assurance Management: </strong> 

- Has a basic understanding of commercial risks and how mitigation techniques work.

<strong>Commercial Ethics: </strong> 

- Has a basic understanding of how markets work and how to collect data and information to support commercial activity

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their resilience and performance

<strong>Build Relationships: </strong>

- Demonstrates the ability to use different communication styles with different audiences

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 1 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role