<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>ENABLING<br></strong><strong>Continuous Improvement</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial Professional Level</strong></th>
<td><strong>Associate Commercial Specialist<br></strong>(Grade 6 equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will promote the delivery of commercial excellence for your department and wider government by leading on continuous improvement. You will be expected to use your strong stakeholder management skills to lead the delivery of improved outcomes and &lsquo;value for money&rsquo; in contracts and make government practices, processes and policies more effective.<br><br>You will lead a team, building their confidence and commercial capability to drive performance and manage setbacks. The role will require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Typically, the key responsibilities in this role will include (but are not limited to):<br><br>&#x25cf;&nbsp;Implementing change with a strong understanding of the impact on culture, structure, service and morale<br>&#x25cf;&nbsp;Facilitating discussions with stakeholders to help define and agree the scope of change programmes<br>&#x25cf;&nbsp;Creating, maintaining and innovating the operating protocols required for the Commercial Operating Standards and spending controls delivery areas for the Government Commercial Function<br>&#x25cf;&nbsp;Managing improvement projects, interacting with stakeholders, compiling cases against criteria and supporting the production of advice to management and then ministers on how improvements will unlock additional value<br>&#x25cf;&nbsp;Managing benefits tracking, reporting and realisation <br>&#x25cf;&nbsp;Carrying out reporting and intelligence initiatives, manipulating existing data and offering improvements to the assurance, standards and controls delivery as well as informing future iterations of the Commercial Operating Standards<br>&#x25cf;&nbsp;Researching, encouraging and applying new ideas and ways of working to include the review of existing and future contracts to foster and maintain best practice, &lsquo;value for money&rsquo; and to ensure alignment with business needs<br>&#x25cf;&nbsp;Engaging with stakeholders and understanding their motivations and behaviours in order to effectively communicate messages and support decision making<br>&#x25cf;&nbsp;Maintaining good relationships with internal stakeholders and involving them in relevant decisions and discussions<br>&#x25cf;&nbsp;Supporting the delivery of all commercial assurance, controls activity and timely reviews<br>&#x25cf;&nbsp;Applying a strong visual programme management approach to include facilitating start up sessions, go/no go decisions and change delivery planning</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Continuous Improvement: </strong><br>&#x25cf;&nbsp;Has experience in defining and delivering programmes of work to embed beneficial and sustainable change in a complex organisation, leading staff and working with stakeholders to improve the delivery of commercial practices, processes and policies <br><br><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has a strong practical understanding of market and commercial drivers as well as contract law<br>&#x25cf;&nbsp;Demonstrates the ability to draw conclusions from a wide range of complex data from different sources<br>&#x25cf;&nbsp;Has a practical understanding of the concept of &lsquo;value for money&rsquo; and can articulate what a successful return on investment looks like for a particular project/programme<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions<br>&#x25cf;&nbsp;Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs <br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards<br><br><strong>Team Management:</strong><br>&#x25cf;&nbsp;Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks <br>&#x25cf;&nbsp;Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and morale<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Demonstrates strong stakeholder engagement skills with the ability to demonstrate resilience in interactions with suppliers in order to defend the department&rsquo;s position <br>&#x25cf;&nbsp;Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across all of the following behaviours for level 4 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>&#x25cf;&nbsp;<strong>Changing and Improving</strong>: Encourage, recognise and share innovative ideas from a diverse range of colleagues and stakeholders. Give people space to take initiative and praise them for their creativity. Create an environment where people feel safe to challenge and know their voice will be heard. Make changes which add value and clearly articulate how changes will benefit the business. Understand and identify the role of technology in public service delivery and policy implementation. Consider the full impact of implementing changes on culture, structure, morale and the impacts on the diverse range of end users, including accessibility needs. Identify early signs that things are going wrong and respond promptly. Provide constructive challenge to senior management on change proposals <br>&#x25cf;&nbsp;<strong>Making Effective Decisions: </strong>Clarify your own understanding and stakeholder needs and expectations, before making decisions. Ensure decision making happens at the right level, not allowing unnecessary bureaucracy to hinder delivery. Encourage both innovative suggestions and challenge from others, to inform decision making. Analyse and accurately interpret data from various sources to support decisions. Find the best option by identifying positives, negatives, risks and implications. Present reasonable conclusions from a wide range of complex and sometimes incomplete evidence. Make decisions confidently even when details are unclear or if they prove to be unpopular<br>&#x25cf;&nbsp;<strong>Developing Self and Others: </strong>Prioritise and role-model continuous self-learning and development. Identify areas individuals and teams need to develop in order to achieve future objectives. Support colleagues to take responsibility for their own learning and development. Ensure that development opportunities are available for all individuals regardless of their background or desire to achieve promotion. Ensure individuals take full advantage of learning and development opportunities available to them, including workplace based learning. Encourage discussions within and between teams to learn from each other&rsquo;s experiences and change organisational plans and processes accordingly<br>&#x25cf;&nbsp;<strong>Leadership: </strong>Promote diversity, inclusion and equality of opportunity, respecting difference and external experience. Welcome and respond to views and challenges from others, despite any conflicting pressures to ignore or give in to them. Stand by, promote or defend own and team&rsquo;s actions and decisions where needed. Seek out shared interests beyond own area of responsibility, understanding the extent of the impact actions have on the organisation. Inspire and motivate teams to be fully engaged in their work and dedicated to their role <span>&nbsp;</span></td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>