##COMMERCIAL ROLE PROFILES

###Guidance Document

####July 2021

##Commercial Role Profile Purpose

###Why use Commercial Role Profiles?

####What is the purpose of Commercial Role Profiles? 

Promote alignment with up to date standards and GCF best practice across the Government Commercial Function

Provide consistency and standardisation across department’s commercial teams

Create a better understanding of the roles available within the Government Commercial Function

Outline what capabilities and responsibilities are required of commercial professionals in particular roles

Enable individuals to explore paths into new commercial roles from either within or outside of the GCF

Support performance management and career progression by identifying opportunities, strengths and capabilities that require development 

Support workforce planning and talent management across departments and the Government Commercial Organisation (GCO)

Inform job specifications for GCO and GCF recruitment and support the join up of recruitment campaigns across government

##Commercial Job Pillars

###What are the 6 commercial job pillars?

####Strategy and Policy Development

Roles in this pillar look to contribute to aligning and implementing strategies, policies and plans against the organisation’s overall vision, objectives, strategy and financial plan. 

####Understanding Needs and Sourcing

Through market analysis and pre-market engagement, roles in this pillar look to define and communicate business need, identifying and understanding business goals and articulating its strategic direction. 

####Procurement Process

Roles in this pillar looks to manage all stages of the procurement process, from gathering requirements, to handing over the contract to contract and supplier management. 

####Contract and Supplier Management

Roles in this pillar include contract management; from preparing for contract commencement, to defining transition plans as well as governance activities such as managing risk, change control and dispute management. They also span supplier relationship management at an operational level or at a strategic level across multiple contracts. 

####Category management

Roles in this pillar cover the management of the overall commercial lifecycle. Key aspects include strategy and policy development, understanding needs, sourcing options, contract and supplier management and the procurement process itself. Activities include the development and execution of category management strategies, leading supplier negotiations as required and delivering timely and effective support, guidance and expertise to the business. 

####Enabling

Roles in this pillar include the key commercial management practices which provide support to commercial teams within and across departments. These include commercial risk management, systems and information, capability and resourcing and continuous improvement.


##CCF & Role Profiles

###How do Commercial Roles Profiles and the Commercial Career Framework fit together?

####1 – Commercial Career Framework (CCF)

The Commercial Career Framework is centered on the Government Commercial Career Pathway. This outlines the breadth of commercial roles available in government, the corresponding capabilities required and possible entry and exit routes into each of these roles

<strong>Purpose</strong>

- Support commercial professionals map and plan their careers

- Inform Line Managers to support development conversations with team members

- Build commercial capability in departments and identify capability gaps

####Government Commercial Career Pathway (1/1)

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Job Pillars</th>
<th>Role components</th>
<th>Commercial Support</th>
<th>Associate Commercial Practitioner</th>
<th>Commercial Practitioner</th>
<th>Associate Commercial Lead</th>
<th>Commercial Lead</th>
<th>Associate Commercial Specialist</th>
<th>Commercial Specialist</th>
</tr>
</thead>
<tbody>
<tr>
<th rowspan="4"><strong>Strategy and Policy Development</strong></th>
<td>Commercial Strategy</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
</tr>
<tr>
<td>Commercial Policy</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Commercial assurance and governance</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Category strategy</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
</tr>
<tr>
<th rowspan="2"><strong>Understanding Needs and Sourcing</strong></th>
<td>Commercial intelligence</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Sourcing strategy</td>
<td>&nbsp;</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
</tr>
<tr>
<th rowspan="2"><strong>Procurement Process</strong></th>
<td>Procurement business analysis</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Procurement management</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
</tr>
<tr>
<th rowspan="3"><strong>Contract and Supplier Management</strong></th>
<td>Contract management</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
</tr>
<tr>
<td>Contract administration</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Supplier management</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
</tr>
<tr>
<th><strong>Cross Pillar</strong></th>
<td>Category management</td>
<td colspan="7">Multiple role components across the job pillars may be relevant to individuals from Commercial Support to Commercial Specialist</td>
</tr>
<tr>
<th rowspan="4"><strong>&nbsp;Enabling</strong></th>
<td>Commercial risk management</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Capability and resourcing</td>
<td>&nbsp;</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
</tr>
<tr>
<td>Systems and information</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Continuous improvement</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
<td>X</td>
</tr>
</tbody>
</table>

<strong>2 – Commercial Role Profiles</strong>

The Commercial Role Profiles provide the next level of detail on each of the roles defined in the CCF Career Pathway. This includes, a formal role summary, key responsibilities and essential criteria for each role at each commercial professional level. 

<strong>Purpose:</strong>

- Promote consistency in recruitment by informing job specifications and supporting the join up of recruitment campaigns across government
- Support succession and workforce planning in departments
- Provide individuals looking to apply for a commercial role in government with practical information on the role

<hr>

####Example documents

[Links to be placed here once role profiles are live]()

[Links to be placed here once role profiles are live]()

[Links to be placed here once role profiles are live]()

<hr>

##Key Inputs 

###How are Commercial Role Profiles aligned with best practice?

$CTA
<strong>1 – People Standards for the Profession</strong>
$CTA

<strong>Version:</strong> draft (22nd October 2020)

<strong>What has been used?</strong> Commercial professional levels and corresponding attributes

<strong>Why has it been used?</strong> To define the job pillars and develop the content in the role profiles (role summaries, key responsibilities and essential criteria)

$CTA
<strong>2 – Government Functional Standard GovS 008: Commercial</strong>
$CTA

<strong>Version:</strong> Version 1.0 (13th August 2019)

<strong>What has been used?</strong> Areas of commercial practice covered by the standard 

<strong>Why has it been used?</strong> To define the role components and role summaries

$CTA
<strong>3 – Success Profiles - Civil Service Behaviours</strong>
$CTA

<strong>Version:</strong> Version 1.0 (4th March 2019)

<strong>What has been used?</strong> The Civil Service behaviour dictionary

<strong>Why has it been used?</strong> To outline the behaviours required at SEO level and below

$CTA
<strong>5 – Cross-Government Working Groups</strong>
$CTA

<strong>Forum:</strong> Cross-Government Working Groups made up of departmental representatives in both core commercial roles and commercial capability roles to bring insight across job pillar roles and into the development of the Commercial Career Framework

<strong>Why has this forum been used?</strong> To design the job pillars and role components and ensure the practical nature of roles is reflected in the role summaries and the day to day responsibilities held by individuals and capabilities across the professional levels

##Commercial Role Profile Content

###How can Commercial Role Profiles be tailored to your department?

The information below outlines which elements of the role profiles are fixed (should not be altered) and which are flexible (can be tailored)

<hr>

<strong>Role Summary:</strong> reflects the expectations of a commercial professional in this role based on best practice from the CCF V2.0. 

<strong>Application:</strong>

- Fixed: The language in the role summary should not be altered

- Flexible: Additional information can be included in the role summary to reflect the department context and irrelevant responsibilities can be removed

<hr>

<strong>Key Responsibilities:</strong> reflects the typical responsibilities held by a commercial professional in this role based on the People Standards and practical insight from cross-government working groups

<strong>Application:</strong>

- Fixed: The language used to describe the key responsibilities should not be altered

- Flexible: Key responsibilities not applicable to the role can be removed and additional responsibilities reflecting the department specific role can be added.

<hr>

<strong>Essential Criteria:</strong> reflects the expectations of a commercial professional in this role based on the People Standards

<strong>Application: </strong>

- Fixed: All of the criteria headings should be included with no changes to the terminology to ensure standards and compliance. In addition, departments should not include any additional criteria headings.

- Flexible: Additional points (point a/point b) beneath the headings can be added and those that are not applicable can be removed to reflect any department specific requirements

<hr>

<strong>Civil Service Behaviours:</strong> outlines the behaviours expected of a commercial professional in this role based on the Civil Service Success Profile Framework

<strong>Application: </strong>

- Fixed: This section should not be amended or added to as it is aligned to best practice.

<hr>

<strong>Department Context:</strong> template for departments to complete to reflect the bespoke nature and context of their vacant role

<strong>Application: </strong>

- Flexible: Consider the 3 questions posed and update the relevant sections of the role profile based on the department-specific nature of the role.

##Appendix

###Commercial Role Profile Summaries

$CTA
<strong>Strategy and Policy Development</strong>
$CTA

<strong>Commercial Strategy</strong>

This role consists of planning, developing and managing the overall commercial strategy. This strategy will set out the commercial vision and objectives in line with the organisation’s overall strategy and financial plan as well as the commercial blueprint which outlines commercial activities, required resources and operating model, forecast budget and any transformation or business improvement plans. It may also include the justification of commercial activity in accordance with the HM Treasury requirements throughout the commercial lifecycle and its documentation either within the strategy or within a separate business case. 

<strong>Commercial Policy</strong>

This role consists of assessing and shaping organisational and ministerial policies from a commercial perspective. This role may also include: maintaining the organisational commercial library, templates and guidance; operational management reviews, risk management and independent audits in order to ensure all appropriate controls are in place to ensure high quality delivery.

<strong>Commercial Assurance and Governance</strong>

This role typically includes assurance activities for stakeholders to ensure that work across the whole commercial lifecycle is controlled, on track and aligned with the policies, commercial strategies and security requirements. This role may also include operational management reviews, risk management and independent audits to ensure all appropriate controls are in place to ensure high quality delivery.

<strong>Category Strategy</strong>

This role consists of developing a category strategy and pipeline plan to oversee contracts and manage third party spend in line with the organisation's commercial governance, management framework and overall strategy. In organisations where category management overlaps both procurement and contract and supplier management, this role may also include direct engagement with suppliers across the market, the management of the supply chain of critical products and services and the application of knowledge on business requirements. It may also require strong negotiating skills to ensure value for money is delivered and contingency suppliers are identified.

$CTA
<strong>Understanding Needs and Sourcing
$CTA

<strong>Commercial Intelligence</strong>

This role typically includes the analysis of key supply markets to understand the characteristics of new markets and inform whether market making or development is required. It may also consist of an assessment of the business need to recommend the most appropriate market engagement approach to increase competition, promote innovation and improve value for money in contracts. 

<strong>Sourcing Strategy</strong>

This role typically looks to define a sourcing strategy which outlines the plan to cost effectively acquire the necessary goods or services and communicate the strategic direction for the planned procurements to senior stakeholder across the business. Focus is often placed on collaborative procurement to maximise purchasing power by aggregating demand.

$CTA
<strong>Procurement Process</strong>
$CTA

<strong>Procurement Business Analysis</strong>

This role consists of analysing a wide range of information, data and market research in order to inform commercial options and decisions and input into the shaping of the business need in line with the procurement strategy. 

<strong>Procurement Management</strong>

This role consists of managing all stages of the procurement process from tendering through the handing over the contract to contract and supplier management. This would include: warming and engaging the market, preparing and running the tender, managing the clarification process, evaluating bids, selecting suppliers, preparing the contract documentation, managing contract sign off and feeding back to unsuccessful suppliers.

$CTA
<strong>Contract and Supplier Management</strong>
$CTA

<strong>Contract Management</strong>

This role consists of overseeing commercial governance and reporting, preparing for contract commencement, justifying and controlling contract changes and managing risks identified. It may also include defining transition plans for early contract termination, managing disputes and evaluating suppliers’ performance against specific terms and conditions to ensure delivery of strategic outcomes and high contract performance. (For the next level of detail for the capabilities listed please consult the Contact Management Standards)

<strong>Contract Administration</strong>

This role typically provides support for contract management through the drafting of contract documents and variation orders, supporting governance and reporting processes and recording lessons learned through the contract management process.

<strong>Supplier Management</strong>

This role involves supplier relationship management (SRM) and management of suppliers at a strategic level across multiple contracts; specifically to engage collaboratively with strategic suppliers to improve delivery or to meet organisational objectives, increase mutual value beyond that contracted, ensure best value for money, and manage risk to ensure security of the supplier.

$CTA
<strong>Category Management</strong>
$CTA

<strong>Category Management</strong>

This role includes the management of the overall commercial lifecycle, primarily focused on the key aspects of category management, including strategy and policy development, understanding needs, sourcing options, contract and supplier management and the procurement process itself. This will include the development and execution of category management strategies, leading supplier negotiations, where needed, and delivering timely and effective support, guidance and expertise to the business. 

$CTA
<strong>Enabling</strong>
$CTA

<strong>Commercial risk management</strong>

This role looks to ensure government contracts are awarded and completed successfully in support of government policy or organisation objectives, taking into account the extent of identified threats and opportunities. The role will consist of a range of activities in relation to the analysis, management, escalation and mitigation of commercial risks and capability, resourcing and financing risks for the department’s commercial team.

<strong>Capability and Resourcing</strong>

This role involves the management of commercial capability, learning and development, capacity, resourcing, competency and the financial budget to ensure that an organisation has the right commercial skills and resources in place to deliver its objectives now and in the future.

<strong>Systems and Information </strong>

This role includes making use of appropriate commercial systems and data in order to enable process efficiency, robust controls and effective decision making. It also consists of managing information to support the development of the commercial strategy and plan.

<strong>Continuous Improvement</strong>

This role looks to deliver improved outcomes and value for money for a department and across government and to make commercial practices, processes and policies more effective.