##Supplier Management

##Commercial Professional Level - <strong>Associate Commercial Specialist</strong> (G6 equivalent)

###Role summary

In this role you will lead strategic supplier management and supplier relationship management (SRM) across a wide ranging portfolio of suppliers, each working to deliver complex and high-profile goods and services to the business. You will be expected to engage collaboratively with strategic suppliers to improve delivery or to meet organisational objectives, increase mutual value beyond that contracted, ensure best value for money, manage risk and ensure security of supply.

You will lead a team, building their confidence and commercial capability to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Responsibility for strategic SRM process within a category/ contracts to drive supplier performance and ensure commercial rigour, quality of service and continuous improvement and innovation

- Developing and owning relationships with the department business groups, building detailed knowledge of their needs in order to deliver value through sourcing and procurement activity

- Managing a team to deliver on the aims of the supplier relationship management strategy

- Leading mediation and dispute resolution, driving value from the use of performance metrics and success criteria

- Implementing structured approaches to supplier relationship management throughout their area of responsibility

- Managing supplier relationships and contract teams giving day-to-day oversight of contracts

- Providing practical advice to stakeholders having identified, evaluated, negotiated and apportioned contract risks

- Developing approaches for supplier innovation, continuous improvement, collaboration and co-operation

- Working with contract managers and wider commercial colleagues to regularly review the performance of suppliers, ensuring the relevant assurance and due diligence takes place, whilst ensuring colleagues across the business are receiving strong performance from the provider 

- Maintaining quality and concurrency of systems, reporting and management information

- Providing performance and day-to-day management of a team to deliver on the supplier relationship management strategy and activity across the commercial lifecycle 

- Mentoring and providing guidance to members of the team

- Working within a secure environment upon sensitive projects as required

###Essential Criteria

<strong>Supplier Management:</strong>

- Has strong understanding of the principles of end-to-end commercial lifecycle management

- Has strong understanding of supplier relationship management processes, supplier innovation and supplier management principles, behaviours, plans and techniques

<strong>Commercial Focus: </strong>

- Has a strong practical understanding of market and commercial drivers as well as contract law

- Demonstrates the ability to draw conclusions from a wide range of complex data from different sources

- Has a practical understanding of the concept of value for money and can articulate what a successful return on investment looks like for a particular project/ programme

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions

- Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs 

<strong>Commercial Ethics: </strong> 

- Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Management: </strong>

- Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks 

- Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and moral

<strong>Build Relationships: </strong>

- Demonstrates strong stakeholder engagement skills with the ability to demonstrate resilience in interactions with suppliers in order to defend the departments position 

- Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role