##Supplier Management

##Commercial Professional Level - <strong>Commercial Lead</strong> (G7 equivalent)

###Role summary

In this role you will contribute to delivering commercial excellence for your department by leading strategic supplier management and supplier relationship management (SRM) across multiple contracts. You will be expected to engage collaboratively with strategic suppliers to improve delivery or to meet organisational objectives, increase mutual value beyond that contracted, ensure best value for money, manage risk and ensure security of supply.

You will lead a team, building their confidence to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Managing supplier relationships and contract teams giving day-to-day oversight of contracts

- Providing practical advice to stakeholders having identified, evaluated, negotiated and apportioned contract risks

- Supporting the development of an appropriate supplier relationship management strategy

- Contributing to the development of a supplier relationship management framework for the department, which enables effective SRM across the supplier-base

- Overseeing supply market analysis in order to recommend the most appropriate market engagement approaches to increase competition and improve value for money in contracts

- Engaging with suppliers in the marketplace to ensure a competitive landscape and to manage the supply change

- Evaluating the performance of suppliers against the specification, reporting regularly

- Monitoring progress against business objectives and working with suppliers and customers to develop improvements

- Actively managing strategic relationships to deliver mutual benefit for those involved

- Holding both suppliers and customers accountable to their contractual commitments at a delivery level, resolving disputes effectively and efficiently

- Using analysis, insight and research to feed into the department’s strategic supplier segmentation activity

- Updating and maintaining processes relating to supplier relationship management, promoting performance, risk and data management and ensuring the department drives value through its commercial arrangements

- Providing initiatives and ideas for supplier innovation, continuous improvement, collaboration and co-operation

- Sharing best practice relating to supplier relationship management across the commercial team and wider business

- Maintaining quality and concurrency of systems, reporting and management information

- Providing performance and day-to-day management of a team, where applicable

- Mentoring and providing guidance to junior members of the team

- Working within a secure environment upon sensitive projects as required

###Essential Criteria

<strong>Supplier Management:</strong>

- Has strong understanding of the principles of end-to-end commercial lifecycle management

- Has strong understanding of supplier relationship management processes, supplier innovation and supplier management principles, behaviours, plans and techniques

<strong>Commercial Focus: </strong>

- Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility, can apply the commercial principles within the boundaries of contract law

- Demonstrates the ability to lead on securing value for money through achieving good return on investment on commercial projects

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks and to resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges

<strong>Build Relationships: </strong>

- Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making

- Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role