##Supplier Management

##Commercial Professional Level - <strong>Associate Commercial Lead</strong> (SEO equivalent)

###Role summary

In this role you will contribute to delivering commercial excellence for your department through strategic supplier management and supplier relationship management (SRM) across multiple contracts. You will be expected to engage collaboratively with strategic suppliers to improve delivery or to meet organisational objectives, increase mutual value beyond that contracted, ensure best value for money, manage risk and ensure security of supply.

You will work as part of a larger team but will be expected to work independently, drawing on your commercial experience to drive performance and manage setbacks. You will be able to prioritise and manage your own workload to deliver to deadlines, mitigate and escalate any emerging risks and to respond swiftly to changing operational demands.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Building and maintaining strategic partnerships with key suppliers to share risks, benefits and services costs, as well as identifying possible scope for supplier innovation during the contract

- Evaluating the performance of suppliers against the specification, reporting regularly 

- Actively contributing to the management of the supply chain portfolio,, including the development and implementation of supply chain and supplier relationship strategies 

- Developing and maintaining positive commercial relationships with the supply chain to maintain and enhance performance, improve service delivery and create additional value

- Seeking out and integrating with key suppliers, developing relationships at all levels to promote commercial strategies across the department

- Articulating the impact of poor supplier and subcontractor security

- Providing practical advice to stakeholders having identified, evaluated, negotiated and apportioned contract and security risks

- Managing new SME suppliers to enable them to deliver, demonstrate additional support if the SME is supplying for the first time 

- Monitoring KPIs actively against baselines and uses management information to improve client and supplier performance. Managing and eliminating underperformance

- Developing and applying the principles of supplier management and supplier performance management to meet the needs of the organisation, optimising outcomes, including security of supply 

- Maintaining quality and concurrency of systems, reporting and management information

- Facilitating relationship development between appropriate teams within the Department and suppliers

- Ensuring supplier performance is maintained in any transition to new contractual arrangements or to the end of the contract (if not being re-competed)

- Analysing and assessing supplier risk, understanding impact on contingency and business continuity, driving value for money whilst protecting department risk position

###Essential Criteria

<strong>Supplier Management:</strong>

- Has strong understanding of all aspects of supplier management and how it fits in the commercial lifecycle

- Has good knowledge of relationship management, supplier innovation and supplier management principles, behaviours, plans and techniques

<strong>Commercial Focus: </strong>

- Has an understanding of elementary economics factors that may determine a market shape, dynamics and models, the changes in the business needs of an organisation and is familiar with key commercial tools

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to identify and communicate cyber, personnel and physical risks and gain agreement on how they should be managed/mitigated

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to apply standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their performance and manage setbacks and resolve issues internally

<strong>Build Relationships: </strong>

- Demonstrates the ability to communicate with stakeholders at all levels using different communication styles to articulate the benefits that have been achieved and to establish governance and relationship arrangements

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 3 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role