##Supplier Management

##Commercial Professional Level - <strong>Commercial Specialist</strong> (SCS1 equivalent)

###Role summary

In this role you will lead strategic supplier management and supplier relationship management (SRM) across a wide ranging portfolio of suppliers, each working to deliver complex and high-profile goods and services to the business. You will be expected to engage collaboratively with strategic suppliers to improve delivery or to meet organisational objectives, increase mutual value beyond that contracted, ensure best value for money, manage risk and ensure security of supply.

You will lead a team, building their confidence and commercial capability as an influential leader to shape and define optimal supplier management in a complex and uncertain context, delegating risks and issues to individuals in line with your experience and potential. The role will also require you to use your commercial expertise to take measured risks in order to deliver better approaches and services. 

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Developing and owning relationships with the department business groups, building detailed knowledge of their needs in order to deliver value through sourcing and procurement activity

- Leading a team to deliver on the aims of the supplier relationship management strategy

- Defining and owning policies and processes relating to supplier relationship management, promoting performance, risk and data management and ensuring the business drives value through its commercial arrangements

- Using a variety of contracting approaches to minimise risk, motivate performance, and drive innovation

- Driving compliance with contractual commitments at an executive level, across contracts, with key suppliers and customers, 

- Critically assessing supply chains to protect the departments risk exposure

- Anticipating problems and using insight to act and secure value for the whole of government

- Developing and maintaining the use of structured approaches to supplier relationship management throughout the department

- Developing approaches for supplier innovation, continuous improvement, collaboration and co-operation

- Working with contract managers and wider commercial colleagues to regularly review the performance of suppliers, ensuring the relevant assurance and due diligence takes place, whilst ensuring colleagues across the business are receiving strong performance from the provider 

- Develops and enacts exit strategies to be used across contracts

- Maintaining quality and concurrency of systems, reporting and management information

- Providing performance and day-to-day management of a team to deliver on the  supplier relationship management strategy and activity across the commercial lifecycle 

- Mentoring and providing guidance to members of the team

- Working within a secure environment upon sensitive projects as required

###Essential Criteria

<strong>Supplier Management:</strong>

- Has expert understanding of contract management and supplier relationship management (SRM) and the principles of end-to-end commercial lifecycle management

- Has strong understanding of supplier relationship management processes, supplier innovation and supplier management principles, behaviours, plans and techniques

- Has experience of working and effectively influencing senior stakeholders with or without authority

<strong>Commercial Focus: </strong>

- Has a strong practical understanding of market shaping principles and contract law and has experience in working in a range of categories/sectors with a range of suppliers 

- Demonstrates the ability to develop the definition of standards of success in terms of the return on investment and value for money for each deal and can lead the debate to make the case with ministers

- Demonstrates the ability to manage the trade-offs and contradictions within complex deals and impact on other areas

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to take measured risks in order to deliver better approaches and services

- Demonstrates the ability to challenge the analysis of risks and margins of error to improve assurance on decisions 

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to contribute to the development of standards and/or policy to eradicate corruption, fraud and unethical behaviour

<strong>Team Management: </strong>

- Demonstrates the ability to coach and mentor individuals as a trusted leader and displays strong motivational capabilities to create a department culture focused on performance and priorities

- Demonstrates the ability to manage a team in shaping and defining a deal in a complex and uncertain context, delegating risks and issues to individuals in line with their experience and potential

<strong>Build Relationships: </strong>

- Has strong stakeholder engagement skills in order to effectively communicate a deal over time from conception to delivery in line with the department’s commercial requirements

- Demonstrates the ability to understand the motivations and behaviours of stakeholders, suppliers and networks

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role