##Supplier Management

##Commercial Professional Level - <strong>Commercial Practitioner</strong> (HEO equivalent)

###Role summary

In this role you will contribute to supplier management, the delivery of commercial excellence for your department and provide a customer-focused service. You will be expected to carry out analysis, collate feedback and use data to improve the department’s knowledge of the marketplace and suppliers as well as setting up ways of working and processes to support the business in improving delivery and gaining additional value through contracts.

You will work as part of a larger team, but will be expected to work independently to prioritise and manage your own workload to deliver to deadlines and to respond to changing operational demands.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Managing one or more suppliers, ensuring effective stakeholder management

- Evaluating the performance of suppliers against specifications, and reporting regularly

- Contributing to the development of a supplier relationship management (SRM) framework for the department, which enables effective SRM across the supplier-base

- Performing supply market analysis in order to recommend the most appropriate market engagement approaches to increase competition and improve value for money in contracts

- Engaging with suppliers in the marketplace to ensure a competitive landscape and to manage the supply change

- Developing effective working relationships with peers in supplier organisations

- Working with senior internal colleagues in establishing appropriate governance and review mechanisms along with expected behaviours for successful supplier relationship management

- Setting up templates and supplier meetings (project management plans/ operations manuals/ risk register/ change control and filing structures)

- Working with suppliers regarding contract performance metrics, management information and any risk/ reward mechanisms as part of an agreed measurement approach

- Working alongside other areas of the business (i.e. operational colleagues) to ensure that through auditing of records and reports regarding the supplier’s performance is completed throughout the contract life

- Updating and maintaining processes relating to supplier relationship management, promoting performance, risk and data management and ensuring the department drives value through its commercial arrangements

- Monitoring progress against business objectives 

- Maintaining quality and concurrency of systems, reporting and management information

- Supporting others in maintaining good stakeholder relationships

- Sharing best practice relating to supplier relationship management with peers and colleagues

###Essential Criteria

<strong>Supplier Management:</strong>

- Has proficient knowledge of all aspects of supplier management and understands how it fits in the commercial lifecycle

- Good understanding of relationship management, supplier innovation and supplier management principles, behaviours, plans and techniques

<strong>Commercial Focus: </strong>

- Has an understanding of elementary economics factors that may determine a market shape, dynamics and models, the changes in the business needs of an organisation and is familiar with key commercial tools

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to identify and communicate cyber, personnel and physical risks and gain agreement on how they should be managed/mitigated

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to apply standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their performance and manage setbacks and resolve issues internally

<strong>Build Relationships: </strong>

- Demonstrates the ability to communicate with stakeholders at all levels using different communication styles to articulate the benefits that have been achieved and to establish governance and relationship arrangements

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 3 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role