<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>STRATEGY AND POLICY DEVELOPMENT<br></strong><strong>Commercial Policy</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial Professional Level</strong></th>
<td><strong>Commercial Lead<br></strong>(Grade 7 equivalent)</td>
</tr>
<tr>
<th><strong>Role summary</strong></th>
<td>In this role you will contribute to the delivery of commercial excellence for your department by contributing to the shaping of organisational and ministerial policies from a commercial perspective. You will be expected to manage the design, development and implementation of commercial policy and oversee operational management reviews, risk management and independent audits in order to ensure that all appropriate controls are in place to ensure high quality delivery.<br><br>You will lead a team, building their confidence to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td><strong><span>&nbsp;</span></strong>Typically, the key responsibilities in this role will include (but are not limited to):<br><br>&#x25cf;&nbsp;Managing, inputting, assessing and shaping department and ministerial policies from a commercial perspective and challenging risk averse behaviours where appropriate<br>&#x25cf;&nbsp;Applying a strong understanding of the difference between guidance, policy and legislation to ensure delivery teams understand their risks and opportunities and can successfully operate within the agreed<br>&#x25cf;&nbsp;Working with senior internal stakeholders from across the business to support the shaping and implementation of organisational and ministerial policies<br>&#x25cf;&nbsp;Identifying security requirements particularly in relation to general data protection regulation (GDPR) and data off-shoring <br>&#x25cf;&nbsp;Combining market specific data analysis with big picture considerations in order to advise on future market changes<br>&#x25cf;&nbsp;Applying a detailed understanding of procurement and contract management regulations and guidance when shaping and implementing policy<br>&#x25cf;&nbsp;Embedding Intellectual Property Rights when implementing commercial policies<br>&#x25cf;&nbsp;Securing and acting on insight into customers, citizens, services, communities and markets relating to a policy<br>&#x25cf;&nbsp;Managing the implementation and embedding of new policies, guidance and legislation across multifunctional teams</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong><span>&nbsp;</span>Strategy and Policy Development: </strong><br>&#x25cf;&nbsp;Has considerable experience in translating the needs of the business into policy objectives<br>&#x25cf;&nbsp;Has practical experience in the development and implementation of business unit strategies through supply chain management and has the ability to challenge risk averse behaviours where appropriate<br>&#x25cf;&nbsp;Has the ability to practically apply the procurement rules and link them to the implementation of policy objectives<br><br><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility, can apply the commercial principles within the boundaries of contract law<br>&#x25cf;&nbsp;Demonstrates the ability to lead on securing &lsquo;value for money&rsquo; through achieving good return on investment on commercial projects<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions<br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards<br><br><strong>Team Focus: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks, resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making <br>&#x25cf;&nbsp;Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across all of the following behaviours for level 4 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>&#x25cf;&nbsp;<strong>Managing a Quality Service:</strong>Demonstrate positive customer service by understanding the complexity and diversity of customer needs and expectations. Deliver a high quality, efficient and cost effective service by considering a broad range of methods for delivery. Ensure full consideration of new technologies, accessibility and costings. Make clear, practical and manageable plans for service delivery. Ensure adherence to legal, regulatory and security requirements in service delivery. Proactively manage risks and identify solutions. Establish how the business area compares to industry best practice. Create regular opportunities for colleagues, stakeholders, delivery partners and customers to help improve the quality of service<br>&#x25cf;&nbsp;<strong>Delivering at Pace: </strong>Ensure everyone clearly understands and owns their roles, responsibilities and business priorities. Give honest, motivating and enthusiastic messages about priorities, objectives and expectations to get the best out of people. Comply with legal, regulatory and security requirements in service delivery. Set out clear processes and standards for managing performance at all levels. Ensure delivery of timely quality outcomes, through providing the right resources to do the job, reviewing and adjusting performance expectations and rewarding success. Maintain own levels of performance in challenging circumstances and encourage others to do the same <br>&#x25cf;&nbsp;<strong>Developing Self and Others:</strong>Prioritise and role-model continuous self-learning and development. Identify areas individuals and teams need to develop in order to achieve future objectives. Support colleagues to take responsibility for their own learning and development. Ensure that development opportunities are available for all individuals regardless of their background or desire to achieve promotion. Ensure individuals take full advantage of learning and development opportunities available to them, including workplace based learning. Encourage discussions within and between teams to learn from each other&rsquo;s experiences and change organisational plans and processes accordingly <br>&#x25cf;&nbsp;<strong>Leadership: </strong>Promote diversity, inclusion and equality of opportunity, respecting difference and external experience. Welcome and respond to views and challenges from others, despite any conflicting pressures to ignore or give in to them. Stand by, promote or defend own and team&rsquo;s actions and decisions where needed. Seek out shared interests beyond own area of responsibility, understanding the extent of the impact actions have on the organisation. Inspire and motivate teams to be fully engaged in their work and dedicated to their role</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>