<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role Component</strong></th>
<td><strong>UNDERSTANDING NEEDS AND SOURCING<br></strong><strong>Commercial Intelligence</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial </strong><strong>Professional Level</strong></th>
<td><strong>Commercial Lead<br></strong>(Grade 7 equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will contribute to delivering commercial excellence for your department through analysing key supply markets to understand the characteristics of new markets, and inform whether market making or development is required. The role is varied, you will conduct assessments of the business need and recommend the most appropriate market engagement approach to increase competition, promote innovation and improve &lsquo;value for money&rsquo; in contracts.<br><br>You will lead a team, building their confidence to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Typically, the key responsibilities in this role will include (but are not limited to):<br><br>&#x25cf;&nbsp;Working with key stakeholders to develop a clear and agreed view of business requirements<br>&#x25cf;&nbsp;Performing end-to-end strategic sourcing activities and serving as a subject matter expert, supporting business units in articulating their commercial requirements<br>&#x25cf;&nbsp;Advising and providing professional guidance throughout the sourcing process, considering and evaluating a range of sourcing models<br>&#x25cf;&nbsp;Leading on market analysis, understanding market models and market shaping<br>&#x25cf;&nbsp;Providing sufficient detail to allow the market to respond to requirements whilst leaving room for innovation and challenging specifications to improve outcomes<br>&#x25cf;&nbsp;Developing options for business cases, including articulating associated benefits and producing supporting arguments for the preferred option<br>&#x25cf;&nbsp;Where appropriate, developing category strategies, product road maps and sourcing plans<br>&#x25cf;&nbsp;Understanding demand by forecasting and planning requirements with internal stakeholders and suppliers<br>&#x25cf;&nbsp;Selecting appropriate project/programme management to underpin business requirements<br>&#x25cf;&nbsp;Identifying opportunities to develop collaborative partnerships with suppliers<br>&#x25cf;&nbsp;Providing advice and guidance on sectors and suppliers as required and managing stakeholder expectations<br>&#x25cf;&nbsp;Seeking early active involvement of internal stakeholders in the sourcing process. This includes seeking business buy in and understanding how the contract will be managed once the sourcing project is complete<br>&#x25cf;&nbsp;Understanding and being accountable for sourcing compliance and frameworks</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Understanding Needs and Sourcing:</strong><br>&#x25cf;&nbsp;Has an excellent understanding of sourcing and procurement methodologies, as well as relevant processes, policy and governance <br>&#x25cf;&nbsp;Demonstrates a good knowledge of regulatory compliance<br><br><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility, can apply the commercial principles within the boundaries of contract law<br>&#x25cf;&nbsp;Demonstrates the ability to lead on securing &lsquo;value for money&rsquo; through achieving good return on investment on commercial projects<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions<br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards<br><br><strong>Team Focus: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks, resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making<br>&#x25cf;&nbsp;Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across all of the following behaviours for level 4 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>
<strong>Seeing the Big Picture:</strong> <br>
&#x25cf;&nbsp;Develop and maintain an understanding of economic, social, political, environmental and technological developments to ensure activity is relevant. Ensure plans and activities in your area of work reflect wider strategic priorities and communicate effectively with senior leaders to influence future strategies. Adopt a governmentwide perspective to ensure alignment of activity and policy. Bring together views, perspectives and diverse needs of stakeholders to gain a broader understanding of the issues surrounding policies and activities <br>
<br>
<strong>Communicating and Influencing: </strong><br>
&#x25cf;&nbsp;Communicate with others in a clear, honest and enthusiastic way in order to build trust. Explain complex issues in a way that is easy to understand. Take into account people&rsquo;s individual needs. Deliver difficult messages with clarity and sensitivity, being persuasive when required. Consider the impact of the language used. Remain open-minded and impartial in discussions, whilst respecting the diverse interests and opinions of others. Introduce different methods for communication, including making the most of digital resources whilst getting &lsquo;value for money&rsquo;. Monitor the effectiveness of own and team communications and take action to improve where necessary<br>
<br>
<strong>Developing Self and Others: <br>
</strong>&#x25cf;&nbsp;Prioritise and role-model continuous self-learning and development. Identify areas individuals and teams need to develop in order to achieve future objectives. Support colleagues to take responsibility for their own learning and development. Ensure that development opportunities are available for all individuals regardless of their background or desire to achieve promotion. Ensure individuals take full advantage of learning and development opportunities available to them, including workplace based learning. Encourage discussions within and between teams to learn from each other&rsquo;s experiences and change organisational plans and processes accordingly. <br>
<br>
<strong>Leadership:</strong> <br>
&#x25cf;&nbsp;Promote diversity, inclusion and equality of opportunity, respecting difference and external experience. Welcome and respond to views and challenges from others, despite any conflicting pressures to ignore or give in to them. Stand by, promote or defend own and team&rsquo;s actions and decisions where needed. Seek out shared interests beyond own area of responsibility, understanding the extent of the impact actions have on the organisation. Inspire and motivate teams to be fully engaged in their work and dedicated to their role</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>