##Contract Management

##Commercial Professional Level - <strong>Commercial Lead</strong> (G7 equivalent)

###Role summary

In this role you will contribute to delivering commercial excellence for your department by leading contract management activity for one (or more) of the organisation’s complex, high value and strategic contracts. The role includes the management of activity relating to: mobilising contracts, managing the delivery and performance of the contract, carrying out contract changes, managing risk within the contract and managing contract transition and exit. 

You will be expected to work autonomously to ensure effective stakeholder management and work within the commercial and wider business governance framework processes and procedures. You will drive performance management, risk management, issues resolution, financial management, change control and overall contract and statutory compliance whilst being responsible for continuous improvement (service and value). 

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Leading on contract management for one or more of the organisation’s most high-profile, complex and strategic contracts

- Ensuring effective stakeholder management, governance, performance management frameworks, escalation, risk management, issues resolution, financial management, change control and compliance

- Managing contract variations, providing practical advice and strategic direction

- Evaluating whether a contract is achieving a successful return on investment, in the light of value for money considerations

- Overseeing the realisation of benefits achieved as a result of the performance management regime or change control, and challenging non-delivery of benefits and escalates when required

- Driving innovation and improvement in contracts

- Managing risk and reward mechanisms in contracts and key performance indicators

- Identifying where changes in the contract are required, adopting strategies to implement these

- Performing contract exit activity, from pre-emptive action to transactional, process led tasks

- Evaluating suppliers’ performance against specific terms and conditions to ensure delivery of strategic outcomes and high contract performance 

- Actively managing strategic relationships to deliver mutual benefit for those involved

- Holding both suppliers and customers accountable for their contractual commitments at a delivery level, resolving disputes effectively and efficiently

- Leading all planning and strategy for re-procurement, undertaking soft market testing

- Managing the disposal process of assets that are no longer needed once the current contract expires

- Advising on and mitigating risks to the continuity of supply, and owning business continuity approach for relevant contract(s)

- Maintaining quality and concurrency of systems, reporting and management information

- Providing performance and day-to-day management of a team, where applicable

- Mentoring and providing guidance to junior members of the team

- Working within a secure environment upon sensitive projects as required

###Essential Criteria

<strong>Contract Management:</strong>

- Has experience in managing one or more contracts of medium to high complexity/ value/ risk

- Has strong understanding of contract management and the principles of end-to-end commercial lifecycle management

<strong>Commercial Focus: </strong>

- Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility, can apply the commercial principles within the boundaries of contract law

- Demonstrates the ability to lead on securing value for money through achieving good return on investment on commercial projects

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks and to resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges

<strong>Build Relationships: </strong>

- Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making. 

- Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role