##Contract Management

##Commercial Professional Level - <strong>Associate Commercial Practitioner</strong> (EO equivalent)

###Role summary

In this role you will be expected to undertake effective contract management activity for one (or more) of the organisation’s low complexity/ low value contracts. The role includes supporting activity relating to: mobilising contracts, managing the delivery and performance of the contract, carrying out contract changes, managing risk within the contract and managing contract transition and exit. 

You will work as part of a larger team, but will be expected to be able to prioritise and manage your own workload to deliver to deadlines and know when to seek support in order to balance both operationally urgent and important tasks.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Undertaking day-to-day effective contract management for low complexity low value contracts

- Managing one or more contracts, ensuring effective, governance, performance management frameworks, escalation, risk management, issues resolution, financial management, change control and compliance

- Supporting with the preparation and development of business cases to justify the initiation and continuation of projects in terms of benefits, value for money and risk

- Assessing commercial decisions made and the level of risk to the department in progressing to contract award

- Preparing for contract commencement, supporting with the development, delivery and implementation of contract management plans

- Tracking and owning risks relating to specific contracts, taking steps to mitigate commercial risks

- Identifying perceived areas of risk, and supporting analysis of suppliers for risk and assurance purposes 

- Contributing to contract change control activity, justifying, controlling and recording changes to ensure requirements continue to meet business needs

- Evaluating suppliers’ performance against specific terms and conditions to ensure delivery of strategic outcomes and high contract performance

- Supporting on exit and transition activities 

- Maintaining effective contract management information system and processes purchase orders

- Maintaining quality and concurrency of systems, reporting and management information

###Essential Criteria

<strong>Contract Management:</strong>

- Understands all aspects of contract management and how it fits in the commercial lifecycle

<strong>Commercial Focus: </strong>

- Has a good understanding of the elementary economics factors that may determine a market shape, dynamics and models and can apply tools and techniques associated with gathering commercial data

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to identify possible risks, understand their impact, use appropriate mitigation techniques and escalate them where appropriate

<strong>Commercial Ethics: </strong> 

- Has an understanding of the standards to eliminate corruption, fraud and unethical behaviour in supply chains and can take action in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their resilience and performance

<strong>Build Relationships: </strong>

- Has good stakeholder management skills and has the ability to use different communication styles with different audiences

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 2 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role