##Contract Management

##Commercial Professional Level - <strong>Associate Commercial Specialist</strong> (G6 equivalent)

###Role summary

In this role you will contribute to delivering commercial excellence for your department by leading contract management activity for one (or more) of the organisation’s complex, high value and strategic contracts. You will be expected to use your commercial expertise to manage a team across multiple activities relating to: mobilising contracts, managing the delivery and performance of the contract, carrying out contract changes, managing risk within the contract and managing contract transition and exit. 

You will lead a team, building their confidence and commercial capability to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Ensuring control of department spend and specifically critical contracts are continually analysed in order to develop and drive value adding initiatives

- Ensuring legal compliance and risk mitigation of contracts

- Managing underperformance to resolution

- Overseeing contract management governance and reporting activities such as preparing for contract commencement, justifying and controlling contract changes, 

- Overseeing the realisation of benefits achieved as a result of the performance management regime or change control

- Providing expert advice on relevant regulations and compliance issues

- Ensuring business continuity e.g. security of supply extends during any transition period and throughout the entire contract life, including re-procurement and closedown

- Leading transition management, exit strategy and contract renegotiations, including driving value from the use of performance metrics and success criteria

- Maintaining quality and concurrency of systems, reporting and management information

- Providing performance and day-to-day management of a team to deliver on the category and commercial strategy and contract management activity across the commercial lifecycle 

- Mentoring and providing guidance to junior members of the team

- Working within a secure environment upon sensitive projects as required

###Essential Criteria

<strong>Contract Management:</strong>

- Has considerable experience in managing high complexity, high value contracts 

- Has strong understanding of contract management and the principles of end-to-end commercial lifecycle management

<strong>Commercial Focus: </strong>

- Has a strong practical understanding of market and commercial drivers as well as contract law

- Demonstrates the ability to draw conclusions from a wide range of complex data from different sources

- Has a practical understanding of the concept of value for money and can articulate what a successful return on investment looks like for a particular project/programme

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions

- Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs

<strong>Commercial Ethics: </strong> 

- Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Management: </strong>

- Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks 

- Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and moral

<strong>Build Relationships: </strong>

- Demonstrates strong stakeholder engagement skills with the ability to demonstrate resilience in interactions with suppliers in order to defend the departments position 

- Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role