##Contract Management

##Commercial Professional Level - <strong>Commercial Specialist</strong> (SCS1 equivalent)

###Role summary

In this role you will promote the delivery of commercial excellence for your department by leading contract management activity for one (or more) of the organisation’s complex, high value and strategic contracts. You will be expected to use your commercial expertise to manage a team across multiple activities relating to: mobilising contracts, managing the delivery and performance of the contract, carrying out contract changes, managing risk within the contract and managing contract transition and exit. 

You will lead a team, building their confidence and commercial capability as an influential leader to manage contracts in a complex and uncertain context, delegating risks and issues to individuals in line with your experience and potential. The role will also require you to use your commercial expertise to take measured risks in order to deliver better approaches and services. 

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Designing the evaluation methodology for complex procurements, putting in place the strategy for risk allocation and defining contract and performance management processes

- Leading on dispute resolution on contracts of high value/ complexity/ reputational risk, delivering positive outcomes for the department and ensuring security of supply throughout

- Demonstrating a relentless focus in managing costs and driving the best value out of contracts

- Championing continuous improvement, aligning strategies with wider government commercial policies, taking into account internal and external forces and best practices e.g. National Audit Office, Professional Associations

- Using a variety of contracting approaches to minimise risk, motivate performance, and drive innovation

- Driving compliance with contractual commitments at a management level, across contracts, with key suppliers and customers, 

- Critically assessing supply chains and protects departments risk exposure

- Maintaining quality and concurrency of systems, reporting and management information

- Developing and enacting exit strategies used across contracts

- Providing performance and day-to-day management of a team to deliver on the category and commercial strategy and contract management activity across the commercial lifecycle 

- Mentoring, performance management and providing guidance to members of the team

- Working within a secure environment upon sensitive projects as required

###Essential Criteria

<strong>Contract and Supplier Management:</strong>

- Has expertise in managing multiple complex, high value and high risk contracts across a range of categories/sectors and can lead on high profile escalations

- Has expert understanding of contract management and supplier relationship management (SRM) and the principles of end-to-end commercial lifecycle management

<strong>Commercial Focus: </strong>

- Has a strong practical understanding of market and commercial drivers as well as contract law

- Demonstrates the ability to draw conclusions from a wide range of complex data from different sources

- Has a practical understanding of the concept of value for money and can articulate what a successful return on investment looks like for a particular project/programme

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions

- Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs. 

<strong>Commercial Ethics: </strong> 

- Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Management: </strong>

- Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks 

- Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and moral

<strong>Build Relationships: </strong>

- Demonstrates strong stakeholder engagement skills with the ability to demonstrate resilience in interactions with suppliers in order to defend the departments position 

- Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role