##Contract Management

##Commercial Professional Level - <strong>Associate Commercial Lead</strong> (SEO equivalent)

###Role summary

In this role you will be expected to own contract management activity for one (or more) of the organisation’s medium complexity/ medium value contracts, ensuring the best outcomes are achieved across the commercial lifecycle. The role includes activity relating to: mobilising contracts, managing the delivery and performance of the contract, carrying out contract changes, managing risk within the contract and managing contract transition and exit.

You will work independently and part of a larger team by drawing on your commercial experience to drive performance and manage setbacks. You will be able to prioritise and manage your own workload to deliver to deadlines, mitigate and escalate any emerging risks and to respond swiftly to changing operational demands.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Managing one or more contracts of medium complexity/ value, ensuring effective stakeholder management, governance, performance management frameworks, escalation, risk management, issues resolution, financial management, change control and compliance

- Ensuring the control and delivery of all spend through compliant contracts and make available through catalogues (or as otherwise appropriate) online

- Tracking and owning risks relating to specific contracts, taking steps to mitigate commercial risks

- Reviewing and understanding the terms and conditions of contracts and deliverables, working with the supplier to establish a plan for delivering them

- Agreeing and clarifying contract management responsibilities with stakeholders, advising them on setting up effective processes 

- Developing opportunities to incentivise contract delivery and continuous performance improvement (where appropriate), identifying where changes in the contract are required

- Oversees measures and records realisation of benefits achieved as a result of the performance management regime (or change controls)

- Actively reconsidering market approach over time, including: shifting balance of mixed market towards private sector provision; and, examining whether re-aggregation will yield scale efficiencies

- Leading all planning and preparation, goal setting, strategy and tactics for re-procurement, undertaking soft market testing 

- Helping to drive innovation in contracts to demonstrate continuous improvement. Continually analyse contracts in order to develop and drive value adding initiatives

- Tracking operational demand and patterns on an ongoing basis and introducing demand management mechanisms where applicable

- Utilising financial management and benchmarking

- Undertaking proactive change controls, such as horizon scanning and evaluates the impact of supplier positioning, such as mergers

- Managing multiple, more complex requirements and contracts concurrently

- Managing assurance requirements and conducts peer reviews

- Negotiating with industry on key issues, such as contract terms, pricing, contract changes, Terms & Conditions, risk and reward

- Maintaining quality and concurrency of systems, reporting and management information

- Mentoring and providing guidance to junior members of the team

- Working within a secure environment upon sensitive projects as required

###Essential Criteria

<strong>Contract Management:</strong>

- Has experience in conducting contract management for one or more low-medium complexity/ value contracts

- Has strong understanding of all aspects of contract management and how it fits in the commercial lifecycle

<strong>Commercial Focus: </strong>

- Has strong commercial knowledge, understands commercial law and can use key commercial tools appropriately

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to manage cyber, personnel and physical risks within an area of responsibility

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to apply standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their performance and manage setbacks and resolve issues internally

<strong>Build Relationships: </strong>

- Demonstrates the ability to communicate with stakeholders at all levels using different communication styles to articulate the benefits that have been achieved and to establish governance and relationship arrangements

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 3 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role