##Contract Management

##Commercial Professional Level - <strong>Commercial Practitioner</strong> (HEO equivalent)

###Role summary

In this role you will be expected to undertake contract management activity for one (or more) of the organisation’s key contracts of low to medium complexity/ value. The role includes supporting activity relating to: mobilising contracts, managing the delivery and performance of the contract, carrying out contract changes, managing risk within the contract and managing contract transition and exit.

You will work as part of a larger team, but will be expected to work independently by prioritising and managing your own workload to deliver to deadlines and to respond to changing operational demands.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Managing one or more of the organisation’s key contracts of low to medium complexity/value, ensuring effective, governance, performance management frameworks, escalation, risk management, issues resolution, financial management, change control and compliance

- Developing business cases to justify the initiation and continuation of projects in terms of benefits, value for money and risk

- Preparing for contract commencement, including the development, delivery and implementation of contract management plans

- Utilising contract information systems to analyse contract performance

- Monitoring progress against objectives specified in the business case and delivery against contractual and security obligations

- Applying understanding of contractual risk, to identify risks and raise them with senior colleagues

- Monitoring progress against business objectives specified in the business case, adapting to changing circumstances without losing sight of business objectives

- Ensuring effective change control, justifying, controlling and recording changes to ensure requirements continue to meet business needs

- Evaluating suppliers’ performance against specific terms and conditions to ensure delivery of strategic outcomes and high contract performance

- Identifying and addressing issues before escalation without creating unnecessary bureaucracy, escalating supply issues to the appropriate level for resolution when necessary 

- Managing a number of requirements concurrently

- Developing commercial strategies

- Leading on and assisting with the development of outputs, contract sourcing and commercial strategies

- Maintaining quality and concurrency of systems, reporting and management information

- Working in a secure environment upon sensitive projects as required

###Essential Criteria

<strong>Contract Management:</strong>

- Has some practical experience in carrying out contract management for low value, low complexity contracts

- Has good knowledge of all aspects of contract management and understands how it fits in the commercial lifecycle

<strong>Commercial Focus: </strong>

- Has an understanding of elementary economics factors that may determine a market shape, dynamics and models, the changes in the business needs of an organisation and is familiar with key commercial tools

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to identify and communicate cyber, personnel and physical risks and gain agreement on how they should be managed/mitigated

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to apply standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their performance and manage setbacks and resolve issues internally

<strong>Build Relationships: </strong>

- Demonstrates the ability to communicate with stakeholders at all levels using different communication styles to articulate the benefits that have been achieved and to establish governance and relationship arrangements

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 3 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role