##Capability and Resourcing

##Commercial Professional Level - <strong>Associate Commercial Lead</strong> (SEO equivalent)

###Role summary

In this role you will contribute to delivering commercial excellence for your department by managing the financial budget, commercial capability, learning and development, capacity, resourcing and competency. You will work closely with the Government Commercial Function to ensure that your department aligns with best practice and has the right commercial skills and resources in place to deliver against objectives now and in the future.

You will work as part of a larger team but will be expected to work independently, drawing on your commercial experience to drive performance and manage setbacks. You will be able to prioritise and manage your own workload to deliver to deadlines, mitigate and escalate any emerging risks and to respond swiftly to changing operational demands.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to): 

- Contributing to the improvement of commercial awareness and capability across the organisation to ensure best practice is applied through all phases of the commercial lifecycle

- Undertaking a commercial capability review for the department and using the findings to drive commercial capability improvement initiatives

- Defining the approach for driving improvements to capability across the Commercial function

- Engaging with a wide range of stakeholders across the department and Government Commercial Function

- Bringing together the end-to-end change and capability, communications and engagement and training activities across commercial services 

- Actively promoting L&D, development opportunities, career opportunities etc. that will enhance commercial capability

- Strengthening the department’s commercial capability through the recruitment and effective induction of capable professional commercial staff

- Maintaining commercial and corporate records and compliance

- Sharing knowledge and best practice to achieve better outcomes for the departments commercial team

- Contributing to talent management and succession planning 

- Supporting in estimating costs, managing a budget and controlling forecasts and actual spend against the budget.

- Supporting the qualification and licencing approach for the department

- Engaging with stakeholders and understands their motivations and behaviours in order to effectively communicate messages and support decision making

- Appling a strong visual project management approach

###Essential Criteria

<strong>Capability and Resourcing:</strong>

- Has the ability to manage projects in accordance with agreed specifications, delegations and timelines.

- Has the ability to support the development of others by sharing technical knowledge, coaching and mentoring

- Has experience in HR, talent management and recruitment

- Has the ability to produce summary dashboards by drawing together and manipulating information and understands how this feeds into strategic workforce planning

<strong>Commercial Focus: </strong>

- Has strong commercial knowledge, understands commercial law and can use key commercial tools appropriately

<strong>Risk and Assurance Management: </strong>
 
- Demonstrates the ability to manage cyber, personnel and physical risks within an area of responsibility

<strong>Commercial Ethics: </strong>

- Demonstrates the ability to apply standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their performance and manage setbacks and resolve issues internally

<strong>Build Relationships: </strong>

- Demonstrates the ability to communicate with stakeholders at all levels using different communication styles to articulate the benefits that have been achieved and to establish governance and relationship arrangements

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 3 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role
