##Capability and Resourcing

##Commercial Professional Level - <strong>Commercial Lead</strong> (G7 equivalent)

###Role summary

In this role you will contribute to delivering commercial excellence for your department by managing the financial budget, commercial capability, learning and development, capacity, resourcing and competency. You will work closely with the Government Commercial Function to ensure that your department aligns with best practice and has the right commercial skills and resources in place to deliver against objectives now and in the future.

You will lead a team, building their confidence to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Contributing to the improvement of commercial awareness and capability across the organisation to ensure best practice is applied through all phases of the commercial lifecycle. 

- Undertaking a commercial capability review for the department and using the findings to drive commercial capability improvement initiatives

- Defining the approach for driving improvements to capability across the Commercial function

- Engaging with a wide range of stakeholders across the department and Government Commercial Function

- Bringing together the end-to-end change and capability, communications and engagement and training activities across commercial services 

- Defining and delivering a commercial L&D strategy for the department to  enhance commercial capability

- Working closely with the Commercial Function’s delivery teams to define the commercial skills required

- Strengthening the department’s commercial capability through the recruitment and effective induction of capable professional commercial staff

- Maintaining commercial and corporate records and compliance

- Sharing knowledge and best practice to achieve better outcomes for the departments commercial team

- Leading on strategic workforce planning and driving resource decision making

- Leading on succession planning and talent management

- Estimating costs, managing a budget and controlling forecasts and actual spend against the budget

- Leading the department qualification and licencing approach 

- Engaging with stakeholders and effectively communicates messages to support decision making

- Appling a strong visual project management approach

###Essential Criteria

<strong>Capability and Resourcing:</strong>

- Has a proven track record of managing projects in accordance with agreed specifications, delegations and timelines.

- Has the ability to support the development of others by sharing technical knowledge, coaching and mentoring

- Has experience in HR, talent management and recruitment

- Has the ability to produce summary dashboards by drawing together and manipulating information and understands how this feeds into strategic workforce planning

<strong>Commercial Focus: </strong>

- Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility, can apply the commercial principles within the boundaries of contract law

- Demonstrates the ability to lead on securing value for money through achieving good return on investment on commercial projects

<strong>Risk and Assurance Management: </strong>

- Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions

<strong>Commercial Ethics: </strong>

- Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks and to resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges

<strong>Build Relationships: </strong>

- Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making

- Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role