##Capability and Resourcing

##Commercial Professional Level - <strong>Associate Commercial Practitioner</strong> (EO equivalent)

###Role summary

In this role you will contribute to delivering commercial excellence for your department by supporting financial budgeting, commercial capability, learning and development, capacity management, resourcing and competency management. You will work closely with the Government Commercial Function to ensure that your department aligns with best practice and has the right commercial skills and resources in place to deliver against objectives now and in the future.    

You will work as part of a larger team, but will be expected to be able to prioritise and manage your own workload to deliver to deadlines and know when to seek support in order to balance both operationally urgent and important tasks.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Contributing to the improvement of commercial awareness and capability across the organisation to ensure best practice is applied through all phases of the commercial lifecycle

- Undertaking a commercial capability review for the department and using the findings to drive commercial capability improvement initiatives

- Defining the approach for driving capability improvements

- Engaging with a wide range of stakeholders across the department and Government Commercial Function

- Bringing together the end-to-end change and capability, communications and engagement and training activities across commercial services 

- Actively promoting L&D, development opportunities, career opportunities etc. that will enhance commercial capability

- Working closely with the Commercial Function’s delivery teams to align with best practice, define the commercial skills required and promote learning opportunities

- Supporting the strengthening of the department’s commercial capability through the recruitment and effective induction of capable professional commercial staff

- Maintaining commercial and corporate records and compliance

- Sharing knowledge and best practice to achieve better outcomes for the department’s commercial team

- Supporting succession planning and talent management

- Supporting in estimating costs, managing a budget and controlling forecasts and actual spend against the budget

- Supporting the qualification and licencing approach for the department. 

- Engaging with stakeholders and effectively communicating messages to support decision making

- Appling a strong visual project management approach

###Essential Criteria

<strong>Capability and Resourcing:</strong>

- Has the ability to contribute to the management projects in accordance with agreed specifications, delegations and timelines

- Has the ability to support the development of others by sharing technical knowledge, coaching and mentoring

- Has experience in HR, talent management and recruitment

- Has the ability to produce summary dashboards by drawing together and manipulating information 

<strong>Commercial Focus: </strong>

- Has a good understanding of the elementary economics factors that may determine a market shape, dynamics and models and can apply tools and techniques associated with gathering commercial data

<strong>Risk and Assurance Management: </strong>

- Demonstrates the ability to identify possible risks, understand their impact, use appropriate mitigation techniques and escalate them where appropriate

<strong>Commercial Ethics: </strong>

- Has an understanding of the standards to eliminate corruption, fraud and unethical behaviour in supply chains and can take action in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their resilience and performance

<strong>Build Relationships: </strong>

- Has good stakeholder management skills and has the ability to use different communication styles with different audiences

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 2 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role