##Capability and Resourcing

##Commercial Professional Level - <strong>Associate Commercial Specialist</strong> (G6 equivalent)

###Role summary

In this role you will contribute to delivering commercial excellence for your department by leading on the financial budget, commercial capability, learning and development, capacity management, resourcing and competency management.  You will work closely with the Government Commercial Function to ensure that your department aligns with best practice and has the right commercial skills and resources in place to deliver against objectives now and in the future.

You will lead a team, building their confidence and commercial capability to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Leading the improvement of commercial awareness and capability across the organisation to ensure best practice is applied through all phases of the commercial lifecycle. 

- Undertaking a commercial capability review of the department and using the findings to drive commercial capability improvement initiatives

- Defining the approach for driving improvements to capability across the Commercial function

- Engaging with a wide range of stakeholders across the department and Government Commercial Function

- Bringing together the end-to-end change and capability, communications and engagement and training activities across commercial services 

- Defining and delivering a commercial L&D strategy for the department to enhance commercial capability

- Strengthening the department’s commercial capability through the recruitment and effective induction of capable professional commercial staff

- Maintaining commercial and corporate records and compliance

- Sharing knowledge and best practice to achieve better outcomes for the departments commercial team

- Leading on succession planning and talent management

- Leading on strategic workforce planning and driving resource decision making

- Estimating costs, managing a budget and controlling forecasts and actual spend against the budget

- Leading the department qualification and licencing approach 

- Engaging with stakeholders and understands their motivations and behaviours in order to influence decision making

- Appling a strong visual project management approach

###Essential Criteria

<strong>Capability and Resourcing:</strong>

- Has a proven track record of managing projects in accordance with agreed specifications, delegations and timelines.

- Has the ability to support the development of others by sharing technical knowledge, coaching and mentoring

- Has experience in HR, talent management and recruitment

- Has the ability to produce summary dashboards by drawing together and manipulating information feeds conclusions into strategic workforce planning

<strong>Commercial Focus:</strong>

- Has a strong practical understanding of market and commercial drivers as well as contract law

- Demonstrates the ability to draw conclusions from a wide range of complex data from different sources

- Has a practical understanding of the concept of value for money and can articulate what a successful return on investment looks like for a particular project/programme. 

<strong>Risk and Assurance Management:</strong>

- Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions

- Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs

<strong>Commercial Ethics:</strong>

- Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Management:</strong>

- Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks 

- Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and moral

<strong>Build Relationships:</strong>

- Demonstrates strong stakeholder engagement skills with the ability to demonstrate resilience in interactions with suppliers in order to defend the departments position 

- Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role