##Capability and Resourcing

##Commercial Professional Level - <strong>Commercial Specialist</strong> (SCS1 equivalent)

###Role summary

In this role you will contribute to delivering commercial excellence for your department by leading on the financial budget, commercial capability, learning and development, capacity management, resourcing and competency management. You will work closely with the Government Commercial Function to ensure that your department aligns with best practice and has the right commercial skills and resources in place to deliver against objectives now and in the future.
 
You will lead a team, building their confidence and commercial capability as an influential leader responding to complex and uncertain challenges, delegating risks and issues to individuals in line with your experience and potential. The role will also require you to use your commercial expertise to take measured risks in order to deliver better approaches and services.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Leading the improvement of commercial awareness and capability across the organisation to ensure best practice is applied through all phases of the commercial lifecycle

- Undertaking a commercial capability review of the department and using the findings to drive commercial capability improvement initiatives

- Defining the approach for driving improvements to capability across the Commercial function

- Engaging with a wide range of stakeholders across the department and Government Commercial Function

- Bringing together the end-to-end change and capability, communications and engagement and training activities across commercial services 

- Defining and delivering a commercial L&D strategy for the department to enhance commercial capability

- Strengthening the department’s commercial capability through the recruitment and effective induction of capable professional commercial staff

- Sharing knowledge and best practice to achieve better outcomes for the departments commercial team

- Leading on succession planning and talent management

- Leading on strategic workforce planning and driving resource decision making

- Leading on estimating costs, managing a budget and controlling forecasts and actual spend against the budget

- Leading the department qualification and licencing approach 

- Engaging with stakeholders and understands their motivations and behaviours in order to effectively communicate messages and support decision making

- Appling a strong visual project management approach

###Essential Criteria

<strong>Capability and Resourcing:</strong>

- Has a proven strong track record of managing projects in accordance with agreed specifications, delegations and timelines

- Has the ability to facilitate the development of others by sharing technical knowledge, coaching and mentoring

- Has expertise in HR, talent management and recruitment

- Has the ability to produce summary dashboards by drawing together and manipulating information and feeds conclusions into strategic workforce planning

<strong>Commercial Focus: </strong>

- Has a strong practical understanding of market shaping principles and contract law and has experience in working in a range of categories/sectors with a range of suppliers 

- Demonstrates the ability to develop the definition of standards of success in terms of the return on investment and value for money for each deal and can lead the debate to make the case with ministers 

- Demonstrates the ability to manage the trade-offs and contradictions within complex deals and impact on other areas.

<strong>Risk and Assurance Management: </strong>

- Demonstrates the ability to take measured risks in order to deliver better approaches and services

- Demonstrates the ability to challenge the analysis of risks and margins of error to improve assurance on decisions 

<strong>Commercial Ethics: </strong>

- Demonstrates the ability to contribute to the development of standards and/or policy to eradicate corruption, fraud and unethical behaviour

<strong>Team Management: </strong>

- Demonstrates the ability to coach and mentor individuals as a trusted leader and displays strong motivational capabilities to create a department culture focused on performance and priorities

- Demonstrates the ability to manage a team in shaping and defining a deal in a complex and uncertain context, delegating risks and issues to individuals in line with their experience and potential

<strong>Build Relationships: </strong>

- Has strong stakeholder engagement skills in order to effectively communicate a deal over time from conception to delivery in line with the department’s commercial requirements

- Demonstrates the ability to understand the motivations and behaviours of stakeholders, suppliers and networks

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role