####Higher professional levels
{:#contract-management-part-2}

<strong>Role Summary</strong>

This role can involve: overseeing commercial governance and reporting, preparing for contract commencement, justifying and controlling contract changes, managing risks identified, defining transition plans including for early contract termination, managing disputes and evaluating suppliers’ performance against specific terms and conditions to ensure delivery of strategic outcomes and high contract performance. (For the next level of detail for the capabilities listed please consult the [Contact Management Standards](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/819485/Contract_Management_Professional_Standards_v2.pdf)).

<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong>Commercial Professional&nbsp;<br />Level</strong></th>
<th><strong>Commercial Support*</strong></th>
<th><strong>Associate Commercial Practitioner*</strong></th>
<th>Commercial Practitioner</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Capabilities</strong></td>
<td>Level 3 &ndash; Budgeting and cost management <br /><br />Level 3 &ndash;Business case and benefits resolution <br /><br />Level 3 &ndash; Commercial context<br /><br />Level 1 &ndash; Framework management<br /><br />Level 3- Contract risk management<br /><br />Level 3 &ndash; <a href="#supplier-management-part-2">Supplier management</a><br /><br />Level 3 &ndash; Contract mobilisation<br /><br />Level 3 - Contract delivery and performance management<br /><br />Level 3 &ndash; Contract change control<br /><br />Level 3 &ndash; Contract transition and exit<br /><br />Level 3 &ndash; Re-procurement<br /><br />Level 3 &ndash; Security management<br /><br />Level 3 &ndash; Quality management<br /><br />Level 3 &ndash; Business partnering<br /><br />Level 3 - Innovation<br /><br />Level 3 &ndash; Assurance<br /><br />Level 3 &ndash; Benchmarking</td>
<td>Level 4 &ndash; Budgeting and cost management <br /><br />Level 4 &ndash;Business case and benefits resolution <br /><br />Level 4 &ndash; Commercial context<br /><br />Level 1 &ndash; Framework management<br /><br />Level 4 - Contract risk management<br /><br />Level 4 &ndash; <a href="#supplier-management-part-2">Supplier management</a><br /><br />Level 4 &ndash; Contract mobilisation<br /><br />Level 4 - Contract delivery and performance management<br /><br />Level 4 &ndash; Contract change control<br /><br />Level 4 &ndash; Contract transition and exit<br /><br />Level 3 &ndash; Re-procurement<br /><br />Level 4 &ndash; Security management<br /><br />Level 3 &ndash; Quality management<br /><br />Level 3 &ndash; Business partnering<br /><br />Level 3- Innovation<br /><br />Level 3 &ndash; Assurance<br /><br />Level 3 - Benchmarking</td>
<td>Level 4 &ndash; Budgeting and cost management <br /><br />Level 4 &ndash; Business case and benefits resolution <br /><br />Level 4 &ndash; Commercial context<br /><br />Level 1 &ndash; Framework management<br /><br />Level 4 - Contract risk management<br /><br />Level 4 &ndash; <a href="#supplier-management-part-2">Supplier management</a><br /><br />Level 4 &ndash; Contract mobilisation<br /><br />Level 4 - Contract delivery and performance management<br /><br />Level 4 &ndash; Contract change control<br /><br />Level 4 &ndash; Contract transition and exit<br /><br />Level 3 &ndash; Re-procurement<br /><br />Level 4 &ndash; Security management<br /><br />Level 4 &ndash; Quality management<br /><br />Level 4 &ndash; Business partnering<br /><br />Level 4 - Innovation<br /><br />Level 4 &ndash; Assurance<br /><br />Level 4 - Benchmarking</td>
</tr>
<tr>
<td><strong>Civil Service Success <br />Profiles (Behaviours)</strong></td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 4 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 4 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 5 of the Success Profiles Framework</td>
</tr>
<tr>
<td rowspan="6"><strong>Entry Routes</strong></td>
<td>Private sector supply chain</td>
<td>Private sector supply chain</td>
<td>Private sector supply chain</td>
</tr>
<tr>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
</tr>
<tr>
<td><a href="#commercial-assurance-and-governance-part-2">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-2">Commercial assurance and governance</a></td>
<td><a href="#supplier-management-part-2">Supplier management</a></td>
</tr>
<tr>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td><a href="#supplier-management-part-2">Supplier management</a></td>
<td><a href="#supplier-management-part-2">Supplier management</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>*experience and capabilities from roles across 2 pillars atlevel 4 is required for this role</td>
<td>*experience and capabilities from roles across 3 pillars atlevel 4 is required for this role</td>
</tr>
<tr>
<td rowspan="5"><strong>Future Pathways</strong></td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
</tr>
<tr>
<td><a href="#commercial-assurance-and-governance-part-2">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-2">Commercial assurance and governance</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
</tr>
<tr>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td><a href="#supplier-management-part-2">Supplier management</a></td>
</tr>
<tr>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td><a href="#supplier-management-part-2">Supplier management</a></td>
<td><a href="#supplier-management-part-2">Supplier management</a></td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>