###Contract administration 
{:#contract-administration}

<strong>Role Summary</strong>

This role typically provides support for <a href="#contract-management-part-1">Contract management</a> through the drafting of contract documents and variation orders, supporting governance and reporting processes and recording lessons learned through the <a href="#contract-management-part-1">Contract management</a> process. (For the next level of detail for the capabilities listed please consult the [Contact Management Standards](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/819485/Contract_Management_Professional_Standards_v2.pdf)).

<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong>Commercial Professional&nbsp;<br />Level</strong></th>
<th><strong>Commercial Support*</strong></th>
<th><strong>Associate Commercial Practitioner*</strong></th>
<th>Commercial Practitioner</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Capabilities</strong></td>
<td>Level 1 - Budgeting and Cost Management<br /><br />Level 1 - Commercial Context<br /><br />Level 1 - Contract risk management<br /><br />Level 1 - Systems Expertise<br /><br />Level 1 - Contract change control</td>
<td>Level 1 - Budgeting and Cost Management <br /><br />Level 2 - Commercial Context<br /><br />Level 2 - Contract risk management <br /><br />Level 1 - Systems Expertise<br /><br />Level 1 - Contract change control</td>
<td>Level 2 - Budgeting and Cost Management <br /><br />Level 3 - Commercial Context<br /><br />Level 2 - Contract risk management <br /><br />Level 2 - Systems Expertise<br /><br />Level 2 - Contract change control</td>
</tr>
<tr>
<td><strong>Civil Service Success <br />Profiles (Behaviours)</strong></td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 1 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 2 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 3 of the Success Profiles Framework</td>
</tr>
<tr>
<td rowspan="3"><strong>Entry Route</strong></td>
<td><a href="#commercial-risk-management">Commercial risk management (enabling)</a></td>
<td><a href="#commercial-risk-management">Commercial risk management (enabling)</a></td>
<td rowspan="3">Administrative roles withinthe Civil Service and Commercial Fast Streamers</td>
</tr>
<tr>
<td>Administrative roles within the Civil Service and Commercial apprentices</td>
<td>Administrative roles within the Civil Service Commercial apprentices</td>
</tr>
<tr>
<td>Civil Service Apprenticeships</td>
<td>Civil Service Apprenticeships</td>
</tr>
<tr>
<td rowspan="3"><strong>Future Pathways</strong></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
</tr>
<tr>
<td><a href="#contract-management-part-1">Contract management</a></td>
<td><a href="#contract-management-part-1">Contract management</a></td>
<td><a href="#contract-management-part-1">Contract management</a></td>
</tr>
<tr>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
</tr>
</tbody>
</table>

*not all capabilities are required for this role in some departments at this professional level