$CTA
####Contract and Supplier Management
$CTA

###Contract management
{:#contract-management-part-1}

<strong>Role Summary</strong>

This role can involve: overseeing commercial governance and reporting, preparing for contract commencement, justifying and controlling contract changes, managing risks identified, defining transition plans including for early contract termination, managing disputes and evaluating suppliers’ performance against specific terms and conditions to ensure delivery of strategic outcomes and high contract performance. (For the next level of detail for the capabilities listed please consult the [Contact Management Standards](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/819485/Contract_Management_Professional_Standards_v2.pdf)).

<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong>Commercial Professional&nbsp;<br />Level</strong></th>
<th><strong>Commercial Support*</strong></th>
<th><strong>Associate Commercial Practitioner*</strong></th>
<th>Commercial Practitioner</th>
<th>Associate Commercial Lead<strong><br /></strong></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Capabilities</strong></td>
<td>Level 1 &ndash; Budgeting and cost management<br /><br />Level 1 &ndash;Business case and benefits realisation<br /><br />Level 1 &ndash; Commercial context <br /><br />Level 1 &ndash; Framework management <br /><br />Level 1- Contract risk management<br /><br />Level 1 &ndash; Supplier Management <br /><br />Level 1 &ndash; Contract mobilisation<br /><br />Level 1 - Contract delivery and performance management <br /><br />Level 1 &ndash; Contract change control <br /><br />Level 1 &ndash; Contract transition and exit<br /><br />Level 1 &ndash; Re-procurement<br /><br />Level 1 &ndash; Security management<br /><br />Level 1 &ndash; Quality management<br /><br />Level 1 &ndash; Business partnering <br /><br />Level 1 - Innovation<br /><br />Level 1 &ndash; Assurance<br /><br />Level 1 &ndash; Benchmarking</td>
<td>Level 1 &ndash; Budgeting and cost&nbsp;management<br /><br />Level 2 &ndash;Business case and benefits realisation<br /><br />Level 2 &ndash; Commercial context <br /><br />Level 1 &ndash; Framework management <br /><br />Level 2- Contract risk management<br /><br />Level 1 &ndash; Supplier Management <br /><br />Level 1 &ndash; Contract mobilisation <br /><br />Level 1 - Contract delivery and performance management <br /><br />Level 1 &ndash; Contract change control <br /><br />Level 2 &ndash; Contract transition and exit <br /><br />Level 1 &ndash; Re-procurement<br /><br />Level 1 &ndash; Security management <br /><br />Level 1 &ndash; Quality management <br /><br />Level 1 &ndash; Business partnering <br /><br />Level 1- Innovation<br /><br />Level 1 &ndash; Assurance<br /><br />Level 1 &ndash; Benchmarking</td>
<td>Level 2 &ndash; Budgeting and cost management<br /><br />Level 2 &ndash;Business case and benefits realisation<br /><br />Level 3 &ndash; Commercial context<br /><br />Level 1 &ndash; Framework management <br /><br />Level 2- Contract risk management <br /><br />Level 2 &ndash; Supplier Management <br /><br />Level 2 &ndash; Contract mobilisation <br /><br />Level 2 - Contract delivery and performance management <br /><br />Level 2 &ndash; Contract change control <br /><br />Level 2 &ndash; Contract transition and exit <br /><br />Level 2 &ndash; Re-procurement<br /><br />Level 2 &ndash; Security management <br /><br />Level 2 &ndash; Quality management <br /><br />Level 2 &ndash; Business partnering <br /><br />Level 2- Innovation<br /><br />Level 2 &ndash; Assurance<br /><br />Level 2 &ndash; Benchmarking</td>
<td>Level 2 &ndash; Budgeting and cost management<br /><br />Level 2 &ndash; Business case and benefits . realisation<br /><br />Level 3 &ndash; Commercial context <br /><br />Level 1 &ndash; Framework management <br /><br />Level 3- Contract risk management <br /><br />Level 2 &ndash; Supplier Management <br /><br />Level 3 &ndash; Contract mobilisation <br /><br />Level 3 - Contract delivery and&nbsp;performance management <br /><br />Level 3 &ndash; Contract change control <br /><br />Level 3 &ndash; Contract transition and exit <br /><br />Level 3 &ndash; Re-procurement<br /><br />Level 2 &ndash; Security management <br /><br />Level 2 &ndash; Quality management<br /><br />Level 3 &ndash; Business partnering <br /><br />Level 2- Innovation<br /><br />Level 2 &ndash; Assurance<br /><br />Level 2 &ndash; Benchmarking</td>
</tr>
<tr>
<td><strong>Civil Service Success <br />Profiles (Behaviours)</strong></td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 1 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 2 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 3 of the Success Profiles Framework</td>
<td>Ability to show examples across all Behaviours for Level 3 of the Success Profiles Framework</td>
</tr>
<tr>
<td rowspan="9"><strong>Entry Route</strong></td>
<td>Private sector supply chain</td>
<td>Private sector supplychain</td>
<td>Private sector supply chain</td>
<td>Private sector supply chain</td>
</tr>
<tr>
<td>HR Function and Commercial apprentices</td>
<td>HR Function Commercial apprentices</td>
<td>HR Function and Commercial Fast Streamers</td>
<td>HR Function and Commercial Fast Streamers</td>
</tr>
<tr>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
</tr>
<tr>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
</tr>
<tr>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
</tr>
<tr>
<td><a href="#contract-administration">Contract administration</a></td>
<td><a href="#contract-administration">Contract administration</a></td>
<td><a href="#contract-administration">Contract administration</a></td>
<td><a href="#supplier-management-part-1">Supplier management</a></td>
</tr>
<tr>
<td><a href="#supplier-management-part-1">Supplier management</a></td>
<td><a href="#supplier-management-part-1">Supplier management</a></td>
<td><a href="#supplier-management-part-1">Supplier management</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td><a href="#commercial-risk-management">Commercial risk management</a></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><a href="#systems-and-information">Systems and information</a></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td rowspan="5"><strong>Future Pathways</strong></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
</tr>
<tr>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
</tr>
<tr>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#category-strategy-part-1">Category strategy</a></td>
<td><a href="#category-strategy-part-1">Category strategy</a></td>
</tr>
<tr>
<td><a href="#supplier-management-part-1">Supplier management</a></td>
<td><a href="#supplier-management-part-1">Supplier management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><a href="#supplier-management-part-1">Supplier management</a></td>
<td><a href="#supplier-management-part-1">Supplier management</a></td>
</tr>
</tbody>
</table>

*not all capabilities are required for this role in some departments at this professional level