###Supplier management
{:#supplier-management-part-1}

<strong>Role Summary</strong>

This role involves supplier relationship management (SRM) and management of suppliers at a strategic level across multiple contracts; specifically to engage collaboratively with strategic suppliers to improve delivery or to meet organisational objectives, increase mutual value beyond that contracted, ensure best value for money, and manage risk and ensure security of the supplier.

<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong>Commercial Professional&nbsp;<br />Level</strong></th>
<th><strong>Commercial Support*</strong></th>
<th><strong>Associate Commercial Practitioner*</strong></th>
<th>Commercial Practitioner</th>
<th><span>Associate&nbsp;Commercial&nbsp;Lead</span><span></span></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Capabilities</strong></td>
<td><span>Level 1 &ndash; Business case and benefits&nbsp;</span><span>realisation<br /><br /></span><span>Level 1 &ndash; Commercial context <br /><br />Level 1 &ndash; Business understanding<br /><br />Level 1- Contract risk management<br /><br />Level 1 &ndash; Supplier Engagement <br /><br />Level 1 &ndash; Supplier Management <br /><br />Level 1 &ndash; Single sourcing<br /><br /></span><span>Level 1 &ndash; Supply market analysis</span><span></span></td>
<td><span>Level 2 &ndash; Business case and benefits&nbsp;</span><span>realisation<br /><br /></span><span>Level 2 &ndash; Commercial context <br /><br />Level 2 &ndash; Business understanding<br /><br />Level 2- Contract risk management<br /><br />Level 1 &ndash; Supplier Engagement<br /><br />Level 1 &ndash; Supplier Management <br /><br />Level 1 &ndash; Single sourcing<br /><br /></span><span>Level 2 &ndash; Supply market analysis</span><span></span></td>
<td><span>Level 2 &ndash; Business case and benefits&nbsp;</span><span>realisation<br /><br /></span><span>Level 3 &ndash; Commercial context <br /><br />Level 3 &ndash; Business understanding <br /><br />Level 2- Contract risk management <br /><br />Level 2 &ndash; Supplier Engagement <br /><br />Level 2 &ndash; Supplier Management <br /><br />Level 2 &ndash; Single sourcing<br /><br /></span><span>Level 2 &ndash; Supply market analysis</span><span></span></td>
<td><span>Level 2 &ndash; Business case and benefits&nbsp;</span><span>realisation<br /><br /></span><span>Level 3 &ndash; Commercial context <br /><br />Level 3 &ndash; Business understanding <br /><br />Level 3 - Contract risk management <br /><br />Level 2 &ndash; Supplier Engagement <br /><br />Level 2 &ndash; Supplier Management <br /><br />Level 2 &ndash; Single sourcing<br /><br /></span><span>Level 3 &ndash; Supply market analysis</span><span></span></td>
</tr>
<tr>
<td><strong>Civil Service Success <br />Profiles (Behaviours)</strong></td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 1 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 2 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 3 of the Success Profiles Framework</td>
<td>Ability to show examples across all Behaviours for Level 3 of the Success Profiles Framework</td>
</tr>
<tr>
<td rowspan="10"><strong>Entry Routes</strong></td>
<td>Private sector supply chain</td>
<td>Private sector supply chain</td>
<td>Private sector supply chain</td>
<td>Private sector supply chain</td>
</tr>
<tr>
<td>Legal Function and Operational management roles and Commercial apprentices</td>
<td>Legal Function and Operational management roles and Commercial apprentices</td>
<td>Legal Functionand Operational managemen troles</td>
<td>Legal Function Operational managemen troles</td>
</tr>
<tr>
<td><a href="#category-strategy-part-1">Category strategy</a></td>
<td><a href="#category-strategy-part-1">Category strategy</a></td>
<td>Generalist and Commercial Fast Streamers</td>
<td>Generalist and Commercial Fast Streamers</td>
</tr>
<tr>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#category-strategy-part-1">Category strategy</a></td>
<td><a href="#category-strategy-part-1">Category strategy</a></td>
</tr>
<tr>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
</tr>
<tr>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing strategy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
</tr>
<tr>
<td><a href="#contract-management-part-1">Contract management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing strategy</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing strategy</a></td>
</tr>
<tr>
<td><a href="#contract-administration">Contract administration</a></td>
<td><a href="#contract-management-part-1">Contract management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
</tr>
<tr>
<td>&nbsp;</td>
<td><a href="#contract-administration">Contract administration</a></td>
<td><a href="#contract-management-part-1">Contract management</a></td>
<td><a href="#contract-management-part-1">Contract management</a></td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><a href="#contract-administration">Contract administration</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td rowspan="7"><strong>Future Pathways</strong></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
</tr>
<tr>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
</tr>
<tr>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing strategy</a></td>
<td><a href="#category-strategy-part-1">Category strategy</a></td>
<td><a href="#category-strategy-part-1">Category strategy</a></td>
</tr>
<tr>
<td><a href="#contract-management-part-1">Contract management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing strategy</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing strategy</a></td>
</tr>
<tr>
<td><a href="#contract-administration">Contract administration</a></td>
<td><a href="#contract-management-part-1">Contract management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
</tr>
<tr>
<td>&nbsp;</td>
<td><a href="#contract-administration">Contract administration</a></td>
<td><a href="#contract-management-part-1">Contract management</a></td>
<td><a href="#contract-management-part-1">Contract management</a></td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><a href="#contract-administration">Contract administration</a></td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>

*not all capabilities are required for this role in some departments at this professional level