####Higher professional levels
{:#supplier-management-part-2}

<strong>Role Summary</strong>

This role involves supplier relationship management (SRM) and management of suppliers at a strategic level across multiple contracts; specifically to engage collaboratively with strategic suppliers to improve delivery or to meet organisational objectives, increase mutual value beyond that contracted, ensure best value for money, and manage risk and ensure security of the supplier.

<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong>Commercial Professional&nbsp;<br />Level</strong></th>
<th><strong>Commercial Lead</strong></th>
<th><strong>Associate Commercial <span>Specialist</span><span></span></strong></th>
<th>Commercial <span>Specialist</span><span></span></th>
<th><span>Senior Commercial Specialist</span><span></span></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Capabilities</strong></td>
<td><span>Level 3 &ndash; Business case and benefits&nbsp;</span><span>realisation<br /><br /></span><span>Level 3 &ndash; Commercial context <br /><br />Level 3 &ndash; Business understanding <br /><br />Level 3- Contract risk management <br /><br />Level 3 &ndash; Supplier Engagement <br /><br />Level 3 &ndash; Supplier Management <br /><br />Level 3 &ndash; Single sourcing<br /><br /></span><span>Level 3 &ndash; Supply market analysis</span><span></span><br /><br /><span></span></td>
<td><span>Level 4 &ndash; Business case and benefits&nbsp;</span><span>realisation<br /><br /></span><span>Level 4 &ndash; Commercial context <br /><br />Level 4 &ndash; Business understanding <br /><br />Level 4- Contract risk management <br /><br />Level 4 &ndash; Supplier Engagement <br /><br />Level 4 &ndash; Supplier Management <br /><br />Level 3 &ndash; Single sourcing<br /><br /></span><span>Level 4 &ndash; Supply market analysis</span><span></span><br /><br /><span></span></td>
<td><span>Level 4 &ndash; Business case and benefits&nbsp;</span><span>realisation<br /><br /></span><span>Level 4 &ndash; Commercial context <br /><br />Level 4 &ndash; Business understanding <br /><br />Level 4- Contract risk management <br /><br />Level 4 &ndash; Supplier Engagement <br /><br />Level 4 &ndash; Supplier Management <br /><br />Level 4 &ndash; Single sourcing<br /><br /></span><span>Level 4 &ndash; Supply market analysis</span><span></span><br /><br /><span></span></td>
<td><span>Level 4 &ndash; Business case and benefits&nbsp;</span><span>realisation<br /><br /></span><span>Level 4 &ndash; Commercial context <br /><br />Level 4 &ndash; Business understanding <br /><br />Level 4- Contract risk management <br /><br />Level 4 &ndash; Supplier Engagement <br /><br />Level 4 &ndash; Supplier Management <br /><br />Level 4 &ndash; Single sourcing<br /><br /></span><span>Level 4 &ndash; Supply market analysis</span><span></span><br /><br /><span></span></td>
</tr>
<tr>
<td><strong>Civil Service Success <br />Profiles (Behaviours)</strong></td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 4 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 4 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 5 of the Success Profiles Framework</td>
<td>Ability to show examples across all Behaviours for Level 6 of the Success Profiles Framework</td>
</tr>
<tr>
<td rowspan="7"><strong>Entry Routes</strong></td>
<td>Private sector supply chain</td>
<td>Private sector supply chain</td>
<td>Private sector supply chain</td>
<td>Private sector supply chain</td>
</tr>
<tr>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
</tr>
<tr>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
</tr>
<tr>
<td><a href="#commercial-assurance-and-governance-part-2">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-2">Commercial assurance and governance</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#contract-management-part-2">Contract management</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td rowspan="2">*experience and capabilities from roles across 2 pillars at level 4 is required for this role</td>
<td rowspan="2">*experience and capabilities from roles across 3 pillars at level 4 is required for this role</td>
</tr>
<tr>
<td><a href="#contract-management-part-2">Contract management</a></td>
<td><a href="#contract-management-part-2">Contract management</a></td>
</tr>
<tr>
<td rowspan="6"><strong>Future Pathways</strong></td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td rowspan="6"><a href="#procurement-management-part-2">Procurement management</a></td>
</tr>
<tr>
<td><a href="#commercial-assurance-and-governance-part-2">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-2">Commercial assurance and governance</a></td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
</tr>
<tr>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
</tr>
<tr>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#contract-management-part-2">Contract management</a></td>
</tr>
<tr>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td><a href="#contract-management-part-2">Contract management</a></td>
<td><a href="#contract-management-part-2">Contract management</a></td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
