##Category Strategy

##Commercial Professional Level - <strong>Commercial Lead</strong> (G7 equivalent)

###Role summary

In this role you will contribute to the delivery of commercial excellence for your department by managing the development of category strategies and pipeline plans. You will be expected to manage the supply chain of critical products and services and apply your knowledge of business requirements combined with your strong negotiating skills to ensure value for money is delivered.
 
You will lead a team, building their confidence to drive performance and manage setbacks. The role will require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Obtaining data on past patterns of spend and identifying those parts of the organisation that have or are likely to have needs in the particular area in question

- Managing the benefits, risks and issues of a category management approach and taking the lead in developing solutions in your area of responsibility

- Building strong relationships with key internal and external stakeholders, in order to develop a clear and agreed view of the needs of the business and wider cross-government strategies which can then be built into the category strategy

- Managing, inputting, assessing and shaping department and ministerial policies from a commercial perspective, challenging risk averse behaviours where appropriate

- Understanding the department’s commercial strategy and feeding into planning based on commercial approaches that will deliver against requirements in line with market trends

- Managing, developing and applying a category strategy as well as developing and implementing sourcing plans

- Seeking approval for and managing the implementation of a category strategy for the whole of the commercial lifecycle

- Developing and maintaining category plans for key spend areas

- Baselining costs in order to build expected benefits into category strategies 

- Demonstrating the benefits specified in the business case and the impact on their own role

- Providing advice and challenge in the development of an overarching category strategy using a good understanding of business requirements and the market place

- Establishing and implementing negotiation strategies with clear parameters

- Researching, encouraging and applying new ideas and ways of working to maximise value for money

- Applying a strong visual project management approach 

- Securing and acting on insight into customers, citizens, services, communities and markets relating to a specified set of contracts or projects

###Essential Criteria

<strong>Strategy and Policy Development:</strong>

- Has considerable experience in translating the needs of the business into policy objectives

- Has considerable experience in developing commercial strategies for high value procurements and contracts

- Has practical experience in the development and implementation of business unit strategies through supply chain management and has the ability to challenge risk averse behaviours where appropriate

- Has the ability to practically apply procurement rules and link them to the implementation of policy objectives

<strong>Commercial Focus: </strong>

- Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility, can apply the commercial principles within the boundaries of contract law

- Demonstrates the ability to lead on securing value for money through achieving good return on investment on commercial projects 

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks and to resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges

<strong>Build Relationships: </strong>

- Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making. 

- Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role