##Category Strategy

##Commercial Professional Level - <strong>Commercial Practitioner</strong> (HEO equivalent)

###Role summary

In this role you will contribute to the delivery of commercial excellence for your department by contributing to the development of category strategies and pipeline plans. You will be expected to help manage the supply chain of critical products and services and apply your knowledge of business requirements combined with your negotiating skills to ensure value for money is delivered.

You will work as part of a larger team, but will be expected to work independently by prioritising and managing your own workload to deliver to deadlines and to respond to changing operational demands.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Obtaining data on past patterns of spend and identifying those parts of the organisation that have or are likely to have needs in the particular area in question

- Identifying and defining a problem, analysing a number of delivery options, and selecting the optimal solution and creates a specification for the solution. 

- Working closely with senior internal stakeholders from across the business, providing direction to inform category strategies and critical decision making at the top level

- Applying tools and techniques that can be used to benchmark the current state of the category and to determine future requirements and is able to use some under supervision

- Inputting, assessing and shaping department and ministerial policies from a commercial perspective

- Identifying the type of supplies/services required and potentially suitable suppliers and markets

- Developing and applying a category strategy as well as contributing to the development and implementing sourcing plans

- Seeking approval for and implementing a category strategy for the whole of the commercial lifecycle

- Baselining costs in order to build expected benefits into category strategies. 

- Demonstrating the benefits specified in the business case and the impact on their own role

- Providing advice and challenge in the development of an overarching category strategy using a good understanding of business requirements and the market place

- Using effective negotiation skills

- Researching, encouraging and applying new ideas and ways of working to maximise value for money

- Carrying out project management activities to include project planning and delivery

###Essential Criteria

<strong>Strategy and Policy Development:</strong>

- Has practical experience in translating the needs of the business into policy objectives

- Has practical experience of developing commercial strategies for low-complexity, low value procurements and contracts

- Has the ability to practically apply the procurement rules and link them to the implementation of policy objectives

<strong>Commercial Focus: </strong>

- Has an understanding of elementary economics factors that may determine a market shape, dynamics and models, the changes in the business needs of an organisation and is familiar with key commercial tools

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to identify and communicate cyber, personnel and physical risks and gain agreement on how they should be managed/mitigated

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to apply standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their performance and manage setbacks and resolve issues internally

<strong>Build Relationships: </strong>

- Demonstrates the ability to communicate with stakeholders at all levels using different communication styles to articulate the benefits that have been achieved and to establish governance and relationship arrangements

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 3 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role
