##Category Strategy

##Commercial Professional Level - <strong>Associate Commercial Specialist</strong> (G6 equivalent)

###Role summary

In this role you will promote the delivery of commercial excellence for your department by managing the development of category strategies and pipeline plans. You will be expected to lead the management the supply chain of critical products and services and application of knowledge of business requirements combined with strong negotiating skills to ensure value for money is delivered.
 
You will lead a team, building their confidence and commercial capability to drive performance and manage setbacks. The role will require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Producing and analysing data to inform category strategy and sector management, identify new markets and quantify risks

- Managing the benefits, risks and issues of a category management approach and taking the lead in developing solutions within an area of responsibility

- Building strong relationships with key internal and external stakeholders, in order to develop a clear and agreed view of the needs of the business and wider cross-government strategies which can then be built into the category strategy

- Leading on the implementation of government commercial policy and articulating relevant requirements to stakeholders

- Considering the long-term resilience of supply chains and takes opportunities to mitigate the risks and develop opportunities

- Leading on the development of a category strategy and sourcing plans

- Seeking approval for and managing the implementation of a category strategy for the whole of the commercial lifecycle

- Managing the development of supplier management strategies in order to maximise commercial leverage

- Baselining costs in order to build expected benefits into category strategies. 

- Demonstrating the benefits specified in the business case and the impact on their own role

- Ensuring relevant issues are fed into strategy and big picture considerations

- Providing advice and challenge in the development of an overarching category strategy using a good understanding of business requirements and the market place

- Establishing and implementing negotiation strategies with clear parameters

- Researching, encouraging and applying new ideas and ways of working to maximise value for money

- Applying a strong visual project management approach 

- Securing and acting on insight into customers, citizens, services, communities and markets relating to a specified set of contracts or projects

###Essential Criteria

<strong>Strategy and Policy Development:</strong>

- Has practical experience in implementing government and department commercial policies across a range of different delivery models

- Has expertise in developing a category strategy for high value and complex procurements

- Has expertise in the development and implementation of business unit strategies through supply chain management and has the ability to challenge risk averse behaviours where appropriate

- Has experience in developing resource and implementation plans in line with policy objectives and has the ability to expertly apply relevant procurement rules

<strong>Commercial Focus: </strong>

- Has a strong practical understanding of market and commercial drivers as well as contract law

- Demonstrates the ability to draw conclusions from a wide range of complex data from different sources

- Has a practical understanding of the concept of value for money and can articulate what a successful return on investment looks like for a particular project/programme

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions

- Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs 

<strong>Commercial Ethics: </strong> 

- Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Management: </strong>

- Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks 

- Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and moral

<strong>Build Relationships: </strong>

- Demonstrates strong stakeholder engagement skills with the ability to demonstrate resilience in interactions with suppliers in order to defend the departments position 

- Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role