##Procurement Business Analysis

##Commercial Professional Level - <strong>Associate Commercial Specialist</strong> (G6 equivalent)

###Role summary

In this role you will contribute to delivering commercial excellence for your department by supporting with procurement business analysis. You will be expected to analyse a wide range of information, data and market research in order to inform commercial options and decisions.

You will lead a team, building their confidence and commercial capability to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Drawing together and presenting reasonable conclusions from a wide range of incomplete and complex data and recognising when to bring in experts/researchers to add value to the available information

- Leading workshops with key business stakeholders (voice of the customer) in order to develop a clear understanding of the requirements

- Analysing characteristics of the business requirement and demand

- Analysing opportunities and constraints in the supply market as well as findings from market analysis and engagement

- Assessing the existing market dynamics, including concentration and competition within the marketplace

- Working with procurement regulations, organisational policies, procedures and security requirements

- Identifying and accessing existing collaborative deals and assessing their suitability to meet all or part of the business requirement

- Working with internal and external stakeholders to gain insight into market trends e.g. academic research, cross-government functions

- Contributing to the sourcing of new suppliers using market research for on-going tenders

- Undertaking benchmarking through desktop activities and stakeholder engagement in order to help assist the wider procurement team

- Justifying and documenting the selection of a particular commercial option 

- Challenging the organisational need for the purchase especially where Corporate Social Responsibility or value for money considerations suggest the procurement can be better channeled through existing assets or an existing contract

- Gathering requirements from across the business in line with market research and considering key documents such as Terms and Conditions when defining requirements

- Managing and evaluating strategic and non-strategic supplier relationships

- Applying a strong visual project management approach to procurement projects

- Conducting an analysis of risks and margins of error to provide assurance on decisions 

###Essential Criteria

<strong>Procurement Process:</strong>

- Has considerable experience in managing complex procurements across an area of responsibility and can support the creation of markets to strengthen the range of quality options available to government

<strong>Commercial Focus: </strong>

- Has a strong practical understanding of market and commercial drivers as well as contract law

- Demonstrates the ability to draw conclusions from a wide range of complex data from different sources

- Has a practical understanding of the concept of value for money and can articulate what a successful return on investment looks like for a particular project/ programme

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions

- Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs

<strong>Commercial Ethics: </strong> 

- Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks

- Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and moral

<strong>Build Relationships: </strong>

- Demonstrates strong stakeholder engagement skills with the ability to demonstrate resilience in interactions with suppliers in order to defend the departments position

- Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role