##Procurement Business Analysis

##Commercial Professional Level - <strong>Commercial Practitioner</strong> (HEO equivalent)

###Role summary

In this role you will contribute to delivering commercial excellence for your department by supporting with procurement business analysis. You will be expected to analyse a wide range of information, data and market research in order to inform commercial options and decisions.

You will work as part of a larger team, but will be expected to work independently by prioritising and managing your own workload to deliver to deadlines and to respond to changing operational demands.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Collecting data and information to inform decision on commercial models

- Running workshops with key business stakeholders (voice of the customer) in order to develop a clear understanding of the requirement

- Analysing characteristics of the business requirement and demand

- Analysing opportunities and constraints in the supply market as well as findings from market analysis and engagement

- Assessing the existing market dynamics, including concentration and competition within the marketplace

- Working with procurement regulations, organisational policies, procedures and security requirements

- Identifying and accessing existing collaborative deals and assessing their suitability to meet all or part of the business requirement

- Working with internal and external stakeholders to gain insight into market trends e.g. academic research, cross-government functions

- Contributing to the sourcing of new suppliers using market research for on-going tenders

- Undertaking benchmarking through desktop activities and stakeholder engagement in order to help assist the wider procurement team

- Justifying and documenting the selection of a particular commercial option 

- Challenging the organisational need for the purchase especially where Corporate Social Responsibility or value for money considerations suggest the procurement can be better channeled through existing assets or an existing contract

- Gathering requirements from across the business in line with market research and considering key documents such as Terms and Conditions when defining requirements

- Carrying out pre-market engagement with suppliers

- Carrying out project management activities to include project planning and risk management for personnel, cyber and physical risks

###Essential Criteria

<strong>Procurement Process:</strong>

- Has some practical experience in carrying out elements of the procurement process with support for low value and low risk contracts

<strong>Commercial Focus: </strong>

- Has an understanding of elementary economics factors that may determine a market shape, dynamics and models, the changes in the business needs of an organisation and is familiar with key commercial tools

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to identify and communicate cyber, personnel and physical risks and gain agreement on how they should be managed/mitigated

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to apply standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their performance and manage setbacks and resolve issues internally

<strong>Build Relationships: </strong>

- Demonstrates the ability to communicate with stakeholders at all levels using different communication styles to articulate the benefits that have been achieved and to establish governance and relationship arrangements

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 3 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role