##Procurement Business Analysis

##Commercial Professional Level - <strong>Commercial Lead</strong> (G7 equivalent)

###Role summary

In this role you will contribute to delivering commercial excellence for your department by supporting with procurement business analysis. You will be expected to analyse a wide range of information, data and market research in order to inform commercial options and decisions.

You will lead a team, building their confidence to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Drawing together and presenting reasonable conclusions from a wide range of incomplete and complex data and recognising when to bring in experts/researchers to add value to the available information

- Leading workshops with key business stakeholders (voice of the customer) in order to develop a clear understanding of the requirements

- Analysing characteristics of the business requirement and demand

- Analysing opportunities and constraints in the supply market as well as findings from market analysis and engagement

- Assessing the existing market dynamics, including concentration and competition within the marketplace

- Working with procurement regulations, organisational policies, procedures and security requirements

- Identifying and accessing existing collaborative deals and assessing their suitability to meet all or part of the business requirement

- Working with internal and external stakeholders to gain insight into market trends e.g. academic research, cross-government functions

- Contributing to the sourcing of new suppliers using market research for on-going tenders

- Undertaking benchmarking through desktop activities and stakeholder engagement in order to help assist the wider procurement team

- Justifying and documenting the selection of a particular commercial option 

- Challenging the organisational need for the purchase especially where Corporate Social Responsibility or value for money considerations suggest the procurement can be better channeled through existing assets or an existing contract

- Gathering requirements from across the business in line with market research and considering key documents such as Terms and Conditions when defining requirements

- Managing and evaluating strategic and non-strategic supplier relationships

- Applying a strong visual project management approach to procurement projects

- Conducting an analysis of risks and margins of error to provide assurance on decisions 

###Essential Criteria

<strong>Procurement Process:</strong>

- Has experience in managing the end-to-end procurement process across an area of responsibility for medium value and medium risk contracts

<strong>Commercial Focus: </strong>

- Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility, can apply the commercial principles within the boundaries of contract law

- Demonstrates the ability to lead on securing value for money through achieving good return on investment on commercial projects

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks and to resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges

<strong>Build Relationships: </strong>

- Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making

- Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role