<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>ENABLING<br></strong><strong>Capability and Resourcing</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial Professional Level</strong></th>
<td><strong>Commercial Specialist<br></strong>(Senior Civil Servant 1 equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will contribute to delivering commercial excellence for your department by leading on the financial budget, commercial capability, learning and development, capacity management, resourcing and competency management. You will work closely with the Government Commercial Function to ensure that your department aligns with best practice and has the right commercial skills and resources in place to deliver against objectives now and in the future.<br><br>You will lead a team, building their confidence and commercial capability as an influential leader responding to complex and uncertain challenges, delegating risks and issues to individuals in line with their experience and potential. The role will also require you to use your commercial expertise to take measured risks in order to deliver better approaches and services.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Typically, the key responsibilities in this role will include (but are not limited to):<br><br>&#x25cf;&nbsp;Leading the improvement of commercial awareness and capability across the organisation to ensure best practice is applied through all phases of the commercial lifecycle<br>&#x25cf;&nbsp;Undertaking a commercial capability review of the department and using the findings to drive commercial capability improvement initiatives<br>&#x25cf;&nbsp;Defining the approach for driving improvements to capability across the Commercial Function<br>&#x25cf;&nbsp;Engaging with a wide range of stakeholders across the department and the Government Commercial Function<br>&#x25cf;&nbsp;Bringing together the end-to-end change and capability, communications and engagement and training activities across commercial services <br>&#x25cf;&nbsp;Defining and delivering a commercial learning and development strategy for the department to enhance commercial capability<br>&#x25cf;&nbsp;Strengthening the department&rsquo;s commercial capability through the recruitment and effective induction of capable professional commercial staff<br>&#x25cf;&nbsp;Sharing knowledge and best practice to achieve better outcomes for the department&rsquo;s commercial team<br>&#x25cf;&nbsp;Leading on succession planning and talent management<br>&#x25cf;&nbsp;Leading on strategic workforce planning and driving resource decision making<br>&#x25cf;&nbsp;Leading on estimating costs, managing a budget and controlling forecasts and actual spend against the budget<br>&#x25cf;&nbsp;Leading the department&rsquo;s qualification and licencing approach <br>&#x25cf;&nbsp;Engaging with stakeholders and understanding their motivations and behaviours in order to effectively communicate messages and support decision making<br>&#x25cf;&nbsp;Applying a strong visual project management approach</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Capability and Resourcing: </strong><br>&#x25cf;&nbsp;Has a proven strong track record of managing projects in accordance with agreed specifications, delegations and timelines<br>&#x25cf;&nbsp;Has the ability to facilitate the development of others by sharing technical knowledge, coaching and mentoring<br>&#x25cf;&nbsp;Has expertise in HR, talent management and recruitment<br>&#x25cf;&nbsp;Has the ability to produce summary dashboards by drawing together and manipulating information and feeds conclusions into strategic workforce planning<strong><br><br>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has a strong practical understanding of market shaping principles and contract law and has experience in working in a range of categories/sectors with a range of suppliers <br>&#x25cf;&nbsp;Demonstrates the ability to develop the definition of standards of success in terms of the return on investment and &lsquo;value for money&rsquo; for each deal and can lead the debate to make the case with ministers <br>&#x25cf;&nbsp;Demonstrates the ability to manage the trade-offs and contradictions within complex deals and impact on other areas<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to take measured risks in order to deliver better approaches and services<br>&#x25cf;&nbsp;Demonstrates the ability to challenge the analysis of risks and margins of error to improve assurance on decisions<br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to contribute to the development of standards and/or policy to eradicate corruption, fraud and unethical behaviour<br><br><strong>Team Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to coach and mentor individuals as a trusted leader and displays strong motivational capabilities to create a department culture focused on performance and priorities<br>&#x25cf;&nbsp;Demonstrates the ability to manage a team in shaping and defining a deal in a complex and uncertain context, delegating risks and issues to individuals in line with their experience and potential<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Has strong stakeholder engagement skills in order to effectively communicate a deal over time from conception to delivery in line with the department&rsquo;s commercial requirements<br>&#x25cf;&nbsp;Demonstrates the ability to understand the motivations and behaviours of stakeholders, suppliers and networks</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across all of the following behaviours for level 5 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>&#x25cf;&nbsp;<strong>Changing and Improving:</strong> Challenge the way things have always been done and suggest improvements, learning from experience. Seek, encourage and recognise initiative and imaginative ideas from a wide range of people. Promote an environment where all colleagues feel safe to challenge. Encourage measured risk taking and innovation to deliver better approaches and services. Implement changes that transform flexibility, responsiveness and quality of service. Ensure changes add value to the business and express clearly how and why changes are necessary. Lead the transformation towards using digital technologies ensuring full consideration of accessibility needs and the diverse range of end users. Manage change effectively and respond promptly to critical events. Constructively challenge changes which are unhelpful<br>&#x25cf;&nbsp;<strong>Making Effective Decisions: </strong>Act decisively and make bold, unbiased decisions at a strategic level. Make sense of a wide range of political and national pressures and influences to develop strategies which meet organisational goals. Clearly communicate the purpose and reasons for recommendations and decisions. Consult with others where necessary to ensure decisions meet the diverse needs of the end users. Accept and respond to challenge constructively. Clearly recommend the best option articulating risks and impacts on economic, environmental, political and social factors<br>&#x25cf;&nbsp;<strong>Seeing the Big Picture: </strong>Anticipate the long-term impact on the Department of economic, political, environmental, social and technological developments, at both national and international levels. Create joined up strategies that put into practice and support the Government&rsquo;s vision for the future. Identify and shape how your work area fits within and supports the priorities of the organisation. Develop an in-depth insight into customers, services, communities and markets affected by your work areas and the wider public sector context. Ensure work is in the national interest whilst meeting the diverse needs of all end users<br>&#x25cf;&nbsp;<strong>Leadership: </strong>Remain visible and approachable to all colleagues and stakeholders. Actively promote the reputation of the organisation with pride, both internally and externally. Display passion and enthusiasm for the work, helping to inspire colleagues and stakeholders to fully engage with the aims and long term vision. Embed a culture of inclusion and equal opportunity for all, where the diversity of individuals&rsquo; backgrounds and experiences are valued and respected. Work to influence the strategy, direction and culture to increase effectiveness</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>