<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>ENABLING<br></strong><strong>Capability and Resourcing</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial Professional Level</strong></th>
<td><strong>Commercial Lead<br></strong>(Grade 7 equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will contribute to delivering commercial excellence for your department by managing the financial budget, commercial capability, learning and development, capacity, resourcing and competency. You will work closely with the Government Commercial Function to ensure that your department aligns with best practice and has the right commercial skills and resources in place to deliver against objectives now and in the future.<br><br>You will lead a team, building their confidence to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td><strong><span>&nbsp;</span></strong>Typically, the key responsibilities in this role will include (but are not limited to):<br><br>&#x25cf;&nbsp;Contributing to the improvement of commercial awareness and capability across the organisation to ensure best practice is applied through all phases of the commercial lifecycle<br>&#x25cf;&nbsp;Undertaking a commercial capability review for the department and using the findings to drive commercial capability improvement initiatives<br>&#x25cf;&nbsp;Defining the approach for driving improvements to capability across the Commercial Function<br>&#x25cf;&nbsp;Engaging with a wide range of stakeholders across the department and Government Commercial Function<br>&#x25cf;&nbsp;Bringing together the end-to-end change and capability, communications and engagement and training activities across commercial services <br>&#x25cf;&nbsp;Defining and delivering a commercial L&amp;D strategy for the department to<span>&nbsp;</span>enhance commercial capability<br>&#x25cf;&nbsp;Working closely with the Commercial Function&rsquo;s delivery teams to define the commercial skills required<br>&#x25cf;&nbsp;Strengthening the department&rsquo;s commercial capability through the recruitment and effective induction of capable professional commercial staff<br>&#x25cf;&nbsp;Maintaining commercial and corporate records and compliance<br>&#x25cf;&nbsp;Sharing knowledge and best practice to achieve better outcomes for the department&rsquo;s commercial team<br>&#x25cf;&nbsp;Leading on strategic workforce planning and driving resource decision making<br>&#x25cf;&nbsp;Leading on succession planning and talent management<br>&#x25cf;&nbsp;Estimating costs, managing a budget and controlling forecasts and actual spend against the budget<br>&#x25cf;&nbsp;Leading the department&rsquo;s qualification and licencing approach <br>&#x25cf;&nbsp;Engaging with stakeholders and effectively communicating messages to support decision making<br>&#x25cf;&nbsp;Applying a strong visual project management approach</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong><span>&nbsp;</span>Capability and Resourcing: </strong><br>&#x25cf;&nbsp;Has a proven track record of managing projects in accordance with agreed specifications, delegations and timelines<br>&#x25cf;&nbsp;Has the ability to support the development of others by sharing technical knowledge, coaching and mentoring<br>&#x25cf;&nbsp;Has experience in HR, talent management and recruitment<br>&#x25cf;&nbsp;Has the ability to produce summary dashboards by drawing together and manipulating information and understands how this feeds into strategic workforce planning<br><br><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility, can apply the commercial principles within the boundaries of contract law<br>&#x25cf;&nbsp;Demonstrates the ability to lead on securing &lsquo;value for money&rsquo; through achieving good return on investment on commercial projects<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions<br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards<br><br><strong>Team Focus: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks, resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making<br>&#x25cf;&nbsp;Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across all of the following behaviours for level 4 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>
<strong>Changing and Improving: </strong><br>
&#x25cf;&nbsp;Encourage, recognise and share innovative ideas from a diverse range of colleagues and stakeholders. Give people space to take initiative and praise them for their creativity. Create an environment where people feel safe to challenge and know their voice will be heard. Make changes which add value and clearly articulate how changes will benefit the business. Understand and identify the role of technology in public service delivery and policy implementation. Consider the full impact of implementing changes on culture, structure, morale and the impacts on the diverse range of end users, including accessibility needs. Identify early signs that things are going wrong and respond promptly. Provide constructive challenge to senior management on change proposals<br>
<br>
<strong>Making Effective Decisions: </strong><br>
&#x25cf;&nbsp;Clarify your own understanding and stakeholder needs and expectations, before making decisions. Ensure decision making happens at the right level, not allowing unnecessary bureaucracy to hinder delivery. Encourage both innovative suggestions and challenge from others, to inform decision making. Analyse and accurately interpret data from various sources to support decisions. Find the best option by identifying positives, negatives, risks and implications. Present reasonable conclusions from a wide range of complex and sometimes incomplete evidence. Make decisions confidently even when details are unclear or if they prove to be unpopular<br>
<br>
<strong>Developing Self and Others: <br>
</strong>&#x25cf;&nbsp;Prioritise and role-model continuous self-learning and development. Identify areas individuals and teams need to develop in order to achieve future objectives. Support colleagues to take responsibility for their own learning and development. Ensure that development opportunities are available for all individuals regardless of their background or desire to achieve promotion. Ensure individuals take full advantage of learning and development opportunities available to them, including workplace based learning. Encourage discussions within and between teams to learn from each other&rsquo;s experiences and change organisational plans and processes accordingly<br>
<br>
<strong>Leadership: </strong><br>
&#x25cf;&nbsp;Promote diversity, inclusion and equality of opportunity, respecting difference and external experience. Welcome and respond to views and challenges from others, despite any conflicting pressures to ignore or give in to them. Stand by, promote or defend own and team&rsquo;s actions and decisions where needed. Seek out shared interests beyond own area of responsibility, understanding the extent of the impact actions have on the organisation. Inspire and motivate teams to be fully engaged in their work and dedicated to their role <span>&nbsp;</span></td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>