<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<td><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></td>
<td><strong>STRATEGY AND POLICY DEVELOPMENT<br></strong><strong>Commercial Policy</strong></td>
</tr>
<tr class="total">
<td><strong>Commercial Professional Level</strong></td>
<td><strong>Associate Commercial Specialist<br></strong>(Grade 6 equivalent)</td>
</tr>
<tr>
<td><strong>Role Summary</strong></td>
<td>In this role you will promote the delivery of commercial excellence for your department by contributing to the shaping of organisational and ministerial policies from a commercial perspective. You will be expected to lead in designing, developing and implementing government and department commercial policy and oversee operational management reviews, risk management and independent audits in order to ensure that all appropriate controls are in place to ensure high quality delivery.<br><br>You will lead a team, building their confidence and commercial capability to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.</td>
</tr>
<tr>
<td><strong>Key Responsibilities</strong></td>
<td>Typically, the key responsibilities in this role will include (but are not limited to): <br><br>&#x25cf;&nbsp;Managing, inputting, assessing and shaping department and ministerial policies from a commercial perspective and challenging risk averse behaviours where appropriate<br>&#x25cf;&nbsp;Applying a strong understanding of the difference between guidance, policy and legislation to ensure delivery teams understand their risks and opportunities and can successfully operate within the agreed<br>&#x25cf;&nbsp;Implementing government commercial policy and articulating relevant requirements to stakeholders<br>&#x25cf;&nbsp;Working with senior internal stakeholders from across the business to support the shaping and implementation of organisational and ministerial policies<br>&#x25cf;&nbsp;Identifying security requirements particularly in relation to general data protection regulation (GDPR) and data off-shoring<br>&#x25cf;&nbsp;Combining market specific data analysis with big picture considerations in order to advise on future market changes<br>&#x25cf;&nbsp;Expertly applying a detailed understanding of the relevant procurement and contract management regulations and guidance when shaping and implementing policy<br>&#x25cf;&nbsp;Embedding Intellectual Property Rights when implementing commercial policies<br>&#x25cf;&nbsp;Managing the implementation and embedding of new policies, guidance and legislation across multifunctional teams<br>&#x25cf;&nbsp;Securing and acting on insight into customers, citizens, services, communities and markets relating to a policy</td>
</tr>
<tr>
<td><strong>Essential Criteria</strong></td>
<td><strong>Strategy and Policy Development: </strong><br>&#x25cf;&nbsp;Has practical experience in implementing government and department commercial policies across a range of different delivery models<br>&#x25cf;&nbsp;Has expertise in the development and implementation of business unit strategies through supply chain management and has the ability to challenge risk averse behaviours where appropriate<br>&#x25cf;&nbsp;Has experience in developing resource and implementation plans in line with policy objectives and has the ability to expertly apply procurement rules<br><br><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has a strong practical understanding of market and commercial drivers as well as contract law<br>&#x25cf;&nbsp;Demonstrates the ability to draw conclusions from a wide range of complex data from different sources<br>&#x25cf;&nbsp;Has a practical understanding of the concept of &lsquo;value for money&rsquo; and can articulate what a successful return on investment looks like for a particular project/programme<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions<br>&#x25cf;&nbsp;Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs <br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards<br><br><strong>Team Management:</strong><br>&#x25cf;&nbsp;Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks <br>&#x25cf;&nbsp;Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and morale<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Demonstrates strong stakeholder engagement skills with the ability to show resilience in interactions with suppliers in order to defend the department&rsquo;s position <br>&#x25cf;&nbsp;Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity</td>
</tr>
<tr>
<td><strong>Civil Service Behaviours</strong></td>
<td>Ability to show examples across all of the following behaviours for level 4 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>
<strong>Managing a Quality Service:</strong><br>
&#x25cf;&nbsp;Demonstrate positive customer service by understanding the complexity and diversity of customer needs and expectations. Deliver a high quality, efficient and cost effective service by considering a broad range of methods for delivery. Ensure full consideration of new technologies, accessibility and costings. Make clear, practical and manageable plans for service delivery. Ensure adherence to legal, regulatory and security requirements in service delivery. Proactively manage risks and identify solutions. Establish how the business area compares to industry best practice. Create regular opportunities for colleagues, stakeholders, delivery partners and customers to help improve the quality of service<br>
<br>
<strong>Delivering at Pace: </strong><br>
&#x25cf;&nbsp;Ensure everyone clearly understands and owns their roles, responsibilities and business priorities. Give honest, motivating and enthusiastic messages about priorities, objectives and expectations to get the best out of people. Comply with legal, regulatory and security requirements in service delivery. Set out clear processes and standards for managing performance at all levels. Ensure delivery of timely quality outcomes, through providing the right resources to do the job, reviewing and adjusting performance expectations and rewarding success. Maintain own levels of performance in challenging circumstances and encourage others to do the same <br>
<br>
<strong>Developing Self and Others:</strong><br>
&#x25cf;&nbsp;Prioritise and role-model continuous self-learning and development. Identify areas individuals and teams need to develop in order to achieve future objectives. Support colleagues to take responsibility for their own learning and development. Ensure that development opportunities are available for all individuals regardless of their background or desire to achieve promotion. Ensure individuals take full advantage of learning and development opportunities available to them, including workplace based learning. Encourage discussions within and between teams to learn from each other&rsquo;s experiences and change organisational plans and processes accordingly <br>
<br>
<strong>Leadership: </strong><br>
&#x25cf;&nbsp;Promote diversity, inclusion and equality of opportunity, respecting difference and external experience. Welcome and respond to views and challenges from others, despite any conflicting pressures to ignore or give in to them. Stand by, promote or defend own and team&rsquo;s actions and decisions where needed. Seek out shared interests beyond own area of responsibility, understanding the extent of the impact actions have on the organisation. Inspire and motivate teams to be fully engaged in their work and dedicated to their role</td>
</tr>
<tr>
<td><strong>Department Context</strong></td>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>