<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>STRATEGY AND POLICY DEVELOPMENT<br></strong><strong>Commercial Category Strategy</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial Professional Level</strong></th>
<td><strong>Commercial Lead<br></strong>(Grade 7 equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will contribute to the delivery of commercial excellence for your department by managing the development of category strategies and pipeline plans. You will be expected to manage the supply chain of critical products and services and apply your knowledge of business requirements combined with your strong negotiating skills to ensure &lsquo;value for money&rsquo; is delivered.&nbsp;<br><br>You will lead a team, building their confidence to drive performance and manage setbacks. The role will require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td><strong>&nbsp;</strong>Typically, the key responsibilities in this role will include (but are not limited to): <br><br>&#x25cf;&nbsp;Obtaining data on past patterns of spend and identifying those parts of the organisation that have or are likely to have needs in the particular area in question<br>&#x25cf;&nbsp;Managing the benefits, risks and issues of a category management approach and taking the lead in developing solutions in your area of responsibility<br>&#x25cf;&nbsp;Building strong relationships with key internal and external stakeholders, in order to develop a clear and agreed view of the needs of the business and wider cross-government strategies which can then be built into the category strategy<br>&#x25cf;&nbsp;Managing, inputting, assessing and shaping department and ministerial policies from a commercial perspective, challenging risk averse behaviours where appropriate<br>&#x25cf;&nbsp;Understanding the department&rsquo;s commercial strategy and feeding into planning, based on commercial approaches that will deliver against requirements in line with market trends<br>&#x25cf;&nbsp;Managing, developing and applying a category strategy as well as developing and implementing sourcing plans<br>&#x25cf;&nbsp;Seeking approval for and managing the implementation of a category strategy for the whole of the commercial lifecycle<br>&#x25cf;&nbsp;Developing and maintaining category plans for key spend areas<br>&#x25cf;&nbsp;Baselining costs in order to build expected benefits into category strategies <br>&#x25cf;&nbsp;Demonstrating the benefits specified in the business case and the impact on their own role<br>&#x25cf;&nbsp;Providing advice and challenge in the development of an overarching category strategy using a good understanding of business requirements and the marketplace<br>&#x25cf;&nbsp;Establishing and implementing negotiation strategies with clear parameters<br>&#x25cf;&nbsp;Researching, encouraging and applying new ideas and ways of working to maximise &lsquo;value for money&rsquo;<br>&#x25cf;&nbsp;Applying a strong visual project management approach <br>&#x25cf;&nbsp;Securing and acting on insight into customers, citizens, services, communities and markets relating to a specified set of contracts or projects</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Strategy and Policy Development: </strong><br>&#x25cf;&nbsp;Has considerable experience in translating the needs of the business into policy objectives<br>&#x25cf;&nbsp;Has considerable experience in developing commercial strategies for high value procurements and contracts<br>&#x25cf;&nbsp;Has practical experience in the development and implementation of business unit strategies through supply chain management and has the ability to challenge risk averse behaviours where appropriate<br>&#x25cf;&nbsp;Has the ability to practically apply procurement rules and link them to the implementation of policy objectives<br><br><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility and can apply the commercial principles within the boundaries of contract law<br>&#x25cf;&nbsp;Demonstrates the ability to lead on securing &lsquo;value for money&rsquo; through achieving good return on investment on commercial projects<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions<br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains and takes appropriate actions in the event of any alleged breach of standards<br><br><strong>Team Focus: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks, resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making <br>&#x25cf;&nbsp;Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across all of the following behaviours for level 4 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>&#x25cf;&nbsp;<strong>Seeing the Big Picture: </strong>Develop and maintain an understanding of economic, social, political, environmental and technological developments to ensure activity is relevant. Ensure plans and activities in your area of work reflect wider strategic priorities and communicate effectively with senior leaders to influence future strategies. Adopt a governmentwide perspective to ensure alignment of activity and policy. Bring together views, perspectives and diverse needs of stakeholders to gain a broader understanding of the issues surrounding policies and activities <br>&#x25cf;&nbsp;<strong>Managing a Quality Service:</strong>Demonstrate positive customer service by understanding the complexity and diversity of customer needs and expectations. Deliver a high quality, efficient and cost effective service by considering a broad range of methods for delivery. Ensure full consideration of new technologies, accessibility and costings. Make clear, practical and manageable plans for service delivery. Ensure adherence to legal, regulatory and security requirements in service delivery. Proactively manage risks and identify solutions. Establish how the business area compares to industry best practice. Create regular opportunities for colleagues, stakeholders, delivery partners and customers to help improve the quality of service<br>&#x25cf;&nbsp;<strong>Developing Self and Others:</strong>Prioritise and role-model continuous self-learning and development. Identify areas individuals and teams need to develop in order to achieve future objectives. Support colleagues to take responsibility for their own learning and development. Ensure that development opportunities are available for all individuals regardless of their background or desire to achieve promotion. Ensure individuals take full advantage of learning and development opportunities available to them, including workplace based learning. Encourage discussions within and between teams to learn from each other&rsquo;s experiences and change organisational plans and processes accordingly <br>&#x25cf;&nbsp;<strong>Leadership: </strong>Promote diversity, inclusion and equality of opportunity, respecting difference and external experience. Welcome and respond to views and challenges from others, despite any conflicting pressures to ignore or give in to them. Stand by, promote or defend own and team&rsquo;s actions and decisions where needed. Seek out shared interests beyond own area of responsibility, understanding the extent of the impact actions have on the organisation. Inspire and motivate teams to be fully engaged in their work and dedicated to their role</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>