<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>CONTRACT AND SUPPLIER MANAGEMENT<br></strong><strong>Contract Management</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial </strong><strong>Professional Level</strong></th>
<td><strong>Commercial Specialist </strong><br>(Senior Civil Servant 1 equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will promote the delivery of commercial excellence for your department by leading contract management activity for one (or more) of the organisation&rsquo;s complex, high value and strategic contracts. You will be expected to use your commercial expertise to manage a team across multiple activities relating to: mobilising contracts, managing the delivery and performance of the contract, carrying out contract changes, managing risk within the contract and managing contract transition and exit.<br><br>You will lead a team, building their confidence and commercial capability as an influential leader to manage contracts in a complex and uncertain context, delegating risks and issues to individuals in line with their experience and potential. The role will also require you to use your commercial expertise to take measured risks in order to deliver better approaches and services.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Typically, the key responsibilities in this role will include (but are not limited to): <br><br>&#x25cf;&nbsp;Designing the evaluation methodology for complex procurements, putting in place the strategy for risk allocation and defining contract and performance management processes<br>&#x25cf;&nbsp;Leading on dispute resolution on contracts of high value/ complexity/ reputational risk, delivering positive outcomes for the department and ensuring security of supply throughout<br>&#x25cf;&nbsp;Demonstrating a relentless focus in managing costs and driving the best value out of contracts<br>&#x25cf;&nbsp;Championing continuous improvement, aligning strategies with wider government commercial policies, taking into account internal and external forces and best practices e.g. National Audit Office and professional associations<br>&#x25cf;&nbsp;Using a variety of contracting approaches to minimise risk, motivate performance and drive innovation<br>&#x25cf;&nbsp;Driving compliance with contractual commitments at a management level, across contracts and with key suppliers and customers <br>&#x25cf;&nbsp;Critically assessing supply chains and protects department&rsquo;s risk exposure<br>&#x25cf;&nbsp;Maintaining quality and concurrency of systems, reporting and management information<br>&#x25cf;&nbsp;Developing and enacting exit strategies used across contracts<br>&#x25cf;&nbsp;Providing performance and day-to-day management of a team to deliver on the category and commercial strategy and contract management activity across the commercial lifecycle <br>&#x25cf;&nbsp;Mentoring, performance management and providing guidance to members of the team<br>&#x25cf;&nbsp;Working within a secure environment on sensitive projects as required</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Contract and Supplier Management:</strong><br>&#x25cf;&nbsp;Has expertise in managing multiple complex, high value and high risk contracts across a range of categories/sectors and can lead on high profile escalations<br>&#x25cf;&nbsp;Has expert understanding of contract management and supplier relationship management (SRM) and the principles of end-to-end commercial lifecycle management<br><br><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has a strong practical understanding of market and commercial drivers as well as contract law<br>&#x25cf;&nbsp;Demonstrates the ability to draw conclusions from a wide range of complex data from different sources<br>&#x25cf;&nbsp;Has a practical understanding of the concept of &lsquo;value for money&rsquo; and can articulate what a successful return on investment looks like for a particular project/programme<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions<br>&#x25cf;&nbsp;Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs<br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards<br><br><strong>Team Management:</strong><br>&#x25cf;&nbsp;Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks <br>&#x25cf;&nbsp;Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and morale<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Demonstrates strong stakeholder engagement skills with the ability to show resilience in interactions with suppliers in order to defend the department&rsquo;s position <br>&#x25cf;&nbsp;Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across all of the following behaviours for level 5 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>&#x25cf;&nbsp;<strong>Changing and Improving:</strong> Challenge the way things have always been done and suggest improvements, learning from experience. Seek, encourage and recognise initiative and imaginative ideas from a wide range of people. Promote an environment where all colleagues feel safe to challenge. Encourage measured risk taking and innovation to deliver better approaches and services. Implement changes that transform flexibility, responsiveness and quality of service. Ensure changes add value to the business and express clearly how and why changes are necessary. Lead the transformation towards using digital technologies ensuring full consideration of accessibility needs and the diverse range of end users. Manage change effectively and respond promptly to critical events. Constructively challenge changes which are unhelpful<br>&#x25cf;&nbsp;<strong>Making Effective Decisions: </strong>Act decisively and make bold, unbiased decisions at a strategic level. Make sense of a wide range of political and national pressures and influences to develop strategies which meet organisational goals. Clearly communicate the purpose and reasons for recommendations and decisions. Consult with others where necessary to ensure decisions meet the diverse needs of the end users. Accept and respond to challenge constructively. Clearly recommend the best option articulating risks and impacts on economic, environmental, political and social factors<br>&#x25cf;&nbsp;<strong>Delivering at Pace:</strong> Translate strategic priorities into clear outcome-focused objectives for managers and teams. Promote resilience and responsiveness in the organisation. Deliver against own objectives, while ensuring others take responsibility for their areas. Establish an inclusive culture which allows people space and authority to deliver their objectives whilst ensuring appropriate support is in place when needed. Give people credit for maintaining focus on priorities, while responding quickly to changing requirements. Act as a role model for delivery by showing efficiency and focus, while being open to new ideas and honest about challenges. Provide clarity about the action required to achieve results and address unexpected developments. Ensure all appropriate tools and resources are available for individuals to fulfil their job role<br>&#x25cf;&nbsp;<strong>Leadership: </strong>Remain visible and approachable to all colleagues and stakeholders. Actively promote the reputation of the organisation with pride, both internally and externally. Display passion and enthusiasm for the work, helping to inspire colleagues and stakeholders to fully engage with the aims and long term vision. Embed a culture of inclusion and equal opportunity for all, where the diversity of individuals&rsquo; backgrounds and experiences are valued and respected. Work to influence the strategy, direction and culture to increase effectiveness</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: <br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>