####Procurement management
{:#procurement-management-part-1}

<strong>Role Summary</strong>

This role consists of managing all stages of the procurement process from tendering through the handing over the contract to contract and <a href="#supplier-management-part-1">Supplier Management</a>. Specifically this would include: warming and engaging the market, preparing and running the tender, managing the clarification process, evaluating bids, selecting suppliers, preparing the contract documentation, managing contract sign off and feeding back to unsuccessful suppliers

<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong>Commercial Professional&nbsp;<br />Level</strong></th>
<th><strong>Commercial Support</strong></th>
<th><strong>Associate Commercial Practitioner</strong></th>
<th><strong>Associate Commercial Lead</strong><br /><span></span></th>
<th><strong>Associate Commercial Lead</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Capabilities</strong></td>
<td>Level 1 &ndash; Commercial context<br /><br />Level 1- Contract risk management<br /><br />Level 1 &ndash; Supplier engagement<br /><br />Level 1 &ndash; Offer invitation<br /><br />Level 2 &ndash; Supplier selection and evaluation<br /><br />Level 1 &ndash; Contracting<br /><br />Level 1 &ndash; Commercial business analysis<br /><br />Level 1 &ndash; Commercial options analysis<br /><br />Level 1 &ndash; Collaborative procurement<br /><br />Level 1 &ndash; Market development<br /><br />Level 1 &ndash; Single sourcing<br /><br />Level 1 &ndash; International procurement</td>
<td>Level 2 &ndash; Commercial context<br /><br />Level 2- Contract risk management<br /><br />Level 1 &ndash; Supplier engagement<br /><br />Level 1 &ndash; Offer invitation<br /><br />Level 2 &ndash; Supplier selection and evaluation<br /><br />Level 2 &ndash; Contracting<br /><br />Level 1 &ndash; Commercial business analysis<br /><br />Level 1 &ndash; Commercial options analysis<br /><br />Level 1 &ndash; Collaborative procurement<br /><br />Level 1 &ndash; Market development<br /><br />Level 1 &ndash; Single sourcing<br /><br />Level 1 &ndash; International procurement</td>
<td>Level 3 &ndash; Commercial context<br /><br />Level 2- Contract risk management<br /><br />Level 2 &ndash; Supplier engagement<br /><br />Level 2 &ndash; Offer invitation<br /><br />Level 2 &ndash; Supplier selection and evaluation<br /><br />Level 2 &ndash; Contracting<br /><br />Level 2 &ndash; Commercial business analysis<br /><br />Level 2 &ndash; Commercial options analysis<br /><br />Level 2 &ndash; Collaborative procurement<br /><br />Level 2 &ndash; Market development<br /><br />Level 2 &ndash; Single sourcing<br /><br />Level 1 &ndash; International procurement</td>
<td>Level 3 &ndash; Commercial context<br /><br />Level 3- Contract risk management<br /><br />Level 2 &ndash; Supplier engagement<br /><br />Level 3 &ndash; Offer invitation<br /><br />Level 3 &ndash; Supplier selection and evaluation<br /><br />Level 3 &ndash; Contracting<br /><br />Level 3 &ndash; Commercial business analysis<br /><br />Level 3 &ndash; Commercial options analysis<br /><br />Level 3 &ndash; Collaborative procurement<br /><br />Level 3 &ndash; Market development<br /><br />Level 2 &ndash; Single sourcing<br /><br />Level 2 &ndash; International procurement</td>
</tr>
<tr>
<td><strong>Civil Service Success <br />Profiles (Behaviours)</strong></td>
<td>Ability to show examples across all Behaviours for Level 1 of the Success Profiles Framework</td>
<td>Ability to show examples across all Behaviours for Level 2 of the Success Profiles Framework</td>
<td>Ability to show examples across all Behaviours for Level 3 of the Success Profiles Framework</td>
<td>Ability to show examples across all Behaviours for Level 3 of the Success Profiles Framework</td>
</tr>
<tr>
<td rowspan="8"><strong>Entry Route</strong></td>
<td>Private sector supply chain</td>
<td>Private sector supply chain</td>
<td>Private sector supply chain</td>
<td>Private sector supply chain</td>
</tr>
<tr>
<td>Commercial apprentices</td>
<td>Commercial apprentices</td>
<td>Generalist and Commercial FastStreamers</td>
<td>Generalist and Commercial FastStreamers</td>
</tr>
<tr>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
</tr>
<tr>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
</tr>
<tr>
<td><a href="#procurement-business-analysis-part-1">Procurement business analysis</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
</tr>
<tr>
<td><a href="#contract-management-part-1">Contract management</a></td>
<td><a href="#procurement-business-analysis-part-1">Procurement business analysis</a></td>
<td><a href="#procurement-business-analysis-part-1">Procurement business analysis</a></td>
<td><a href="#procurement-business-analysis-part-1">Procurement business analysis</a></td>
</tr>
<tr>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
<td><a href="#contract-management-part-1">Contract management</a></td>
<td><a href="#contract-management-part-1">Contract management</a></td>
<td><a href="#contract-management-part-1">Contract management</a></td>
</tr>
<tr>
<td></td>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
</tr>
<tr>
<td rowspan="6"><strong>Future Pathways</strong></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
</tr>
<tr>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
</tr>
<tr>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
</tr>
<tr>
<td><a href="#procurement-business-analysis-part-1">Procurement business analysis</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
<td><a href="#category-strategy-part-1">Category strategy</a></td>
<td><a href="#category-strategy-part-1">Category strategy</a></td>
</tr>
<tr>
<td><a href="#contract-management-part-1">Contract management</a></td>
<td><a href="#procurement-business-analysis-part-1">Procurement business analysis</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
</tr>
<tr>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
<td><a href="#contract-management-part-1">Contract management</a></td>
<td><a href="#procurement-business-analysis-part-1">Procurement business analysis</a></td>
<td><a href="#procurement-business-analysis-part-1">Procurement business analysis</a></td>
</tr>
<tr>
<td></td>
<td></td>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
<td><a href="#contract-management-part-1">Contract management</a></td>
<td><a href="#contract-management-part-1">Contract management</a></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
</tr>
</tbody>
</table>