####Higher professional levels 
{:#procurement-business-analysis-part-2}

<strong>Role Summary</strong>

This role consists of analysing a wide range of information, data and market research in order to inform commercial options and decisions and input into the shaping of the business need in line with the procurement strategy.

<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong>Commercial Professional&nbsp;<br />Level</strong></th>
<th><strong>Associate Commercial Lead</strong></th>
<th><strong>Commercial Lead</strong></th>
<th><strong>Associate Commercial Specialist</strong><br /><span></span></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Capabilities</strong></td>
<td>Level 3 &ndash; Commercial context<br /><br />Level 3 &ndash; Business understanding<br /><br />Level 3 &ndash; Market Analysis<br /><br />Level 3 &ndash; Commercial Business Analysis<br /><br />Level 2- Requirements gathering<br /><br />Level 2 &ndash; Strategic sourcing<br /><br />Level 2 &ndash; Supplier engagement<br /><br />Level 3- IPR management</td>
<td>Level 3 &ndash; Commercial context<br /><br />Level 3 &ndash; Business understanding<br /><br />Level 3 &ndash; Market Analysis<br /><br />Level 3 &ndash; Commercial Business Analysis<br /><br />Level 3- Requirements gathering<br /><br />Level 3 &ndash; Strategic sourcing<br /><br />Level 3 &ndash; Supplier engagement<br /><br />Level 3- IPR management</td>
<td>Level 4 &ndash; Commercial context<br /><br />Level 4 &ndash; Business understanding<br /><br />Level 4 &ndash; Market Analysis<br /><br />Level 4 &ndash; Commercial Business Analysis<br /><br />Level 4- Requirements gathering<br /><br />Level 4 &ndash; Strategic sourcing<br /><br />Level 4 &ndash; Supplier engagement<br /><br />Level 4- IPR management</td>
</tr>
<tr>
<td><strong>Civil Service Success <br />Profiles (Behaviours)</strong></td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 1 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 2 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 3 of the Success Profiles Framework</td>
</tr>
<tr>
<td rowspan="6"><strong>Entry Route</strong></td>
<td>Generalist and Commercial Fast Streamers</td>
<td>Private sector supply chain</td>
<td>Private sector supply chain</td>
</tr>
<tr>
<td>Private sector supply chain</td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
</tr>
<tr>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
</tr>
<tr>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#commercial-intelligence">Commercial intelligence</a></td>
<td><a href="#commercial-intelligence">Commercial intelligence</a></td>
</tr>
<tr>
<td><a href="#commercial-intelligence">Commercial intelligence</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
</tr>
<tr>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td></td>
<td></td>
</tr>
<tr>
<td rowspan="4"><strong>Future Pathways</strong></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
</tr>
<tr>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
</tr>
<tr>
<td><a href="#commercial-intelligence">Commercial intelligence</a></td>
<td><a href="#commercial-intelligence">Commercial intelligence</a></td>
<td><a href="#commercial-intelligence">Commercial intelligence</a></td>
</tr>
<tr>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
</tr>
</tbody>
</table>