####Procurement business analysis
{:#procurement-business-analysis-part-1}

<strong>Role Summary</strong>

This role consists of analysing a wide range of information, data and market research in order to inform commercial options and decisions and input into the shaping of the business need in line with the procurement strategy.

<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong>Commercial Professional&nbsp;<br />Level</strong></th>
<th>Commercial Support</th>
<th>Associate Commercial <strong>Practitioner</strong></th>
<th><span>Commercial <strong>Practitioner</strong></span><span></span></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Capabilities</strong></td>
<td>Level 1 &ndash; Commercial context<br /><br />Level 1 &ndash; Business understanding<br /><br />Level 2 &ndash; Market Analysis<br /><br />Level 1 &ndash; Commercial Business Analysis<br /><br />Level 1- Requirements gathering<br /><br />Level 1 &ndash; Strategic sourcing<br /><br />Level 1 &ndash; Supplier engagement <br /><br />Level 1- IPR management</td>
<td>Level 2 &ndash; Commercial context<br /><br />Level 2 &ndash; Business understanding<br /><br />Level 2 &ndash; Market Analysis<br /><br />Level 1 &ndash; Commercial Business Analysis<br /><br />Level 2- Requirements gathering<br /><br />Level 1 &ndash; Strategic sourcing<br /><br />Level 1 &ndash; Supplier engagement<br /><br />Level 2- IPR management</td>
<td>Level 3 &ndash; Commercial context<br /><br />Level 3 &ndash; Business understanding<br /><br />Level 2 &ndash; Market Analysis<br /><br />Level 2 &ndash; Commercial Business Analysis<br /><br />Level 2- Requirements gathering<br /><br />Level 2 &ndash; Strategic sourcing<br /><br />Level 2 &ndash; Supplier engagement<br /><br />Level 2- IPR management</td>
</tr>
<tr>
<td><strong>Civil Service Success <br />Profiles (Behaviours)</strong></td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 1 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 2 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 3 of the Success Profiles Framework</td>
</tr>
<tr>
<td rowspan="6"><strong>Entry Route</strong></td>
<td>Analysis Function and Commercial Apprentices</td>
<td>Analysis Function</td>
<td>Generalist and Commercial Fast Streamers</td>
</tr>
<tr>
<td>Private sector supply chain</td>
<td>Private sector supply chain</td>
<td>Private sector supply chain</td>
</tr>
<tr>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
</tr>
<tr>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
</tr>
<tr>
<td>&nbsp;</td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#commercial-intelligence">Commercial intelligence</a></td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
</tr>
<tr>
<td rowspan="4"><strong>Future Pathways</strong></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
</tr>
<tr>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
<td><a href="#commercial-intelligence">Commercial intelligence</a></td>
</tr>
<tr>
<td>&nbsp;</td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
</tr>
</tbody>
</table>