####Higher professional levels
{:#procurement-management-part-2} 

<strong>Role Summary</strong>

This role consists of managing all stages of the procurement process from tendering through the handing over the contract to contract and <a href="#supplier-management-part-2">Supplier Management</a>. Specifically this would include: warming and engaging the market, preparing and running the tender, managing the clarification process, evaluating bids, selecting suppliers, preparing the contract documentation, managing contract sign off and feeding back to unsuccessful suppliers

<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong>Commercial Professional&nbsp;<br />Level</strong></th>
<th><strong>Commercial Lead</strong></th>
<th><strong>Associate Commercial Specialist</strong></th>
<th><strong>Commercial Specialist</strong><br /><span></span></th>
<th><strong>Senior Commercial Specialist</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Capabilities</strong></td>
<td>Level 3 &ndash; Commercial context<br /><br />Level 3 &ndash; Contract risk management<br /><br />Level 3 &ndash; Supplier engagement<br /><br />Level 3 &ndash; Offer invitation<br /><br />Level 3 &ndash; Supplier selection and evaluation<br /><br />Level 3 &ndash; Contracting<br /><br />Level 3 &ndash; Commercial business analysis<br /><br />Level 3 &ndash; Commercial options analysis<br /><br />Level 3 &ndash; Collaborative procurement<br /><br />Level 3 &ndash; Market development<br /><br />Level 3 &ndash; Single sourcing<br /><br />Level 2 &ndash; International procurement</td>
<td>Level 4 &ndash; Commercial context<br /><br />Level 4 &ndash; Contract risk management<br /><br />Level 4 &ndash; Supplier engagement<br /><br />Level 4 &ndash; Offer invitation<br /><br />Level 4 &ndash; Supplier selection and evaluation<br /><br />Level 4 &ndash; Contracting<br /><br />Level 4 &ndash; Commercial business analysis<br /><br />Level 4 &ndash; Commercial options analysis<br /><br />Level 4 &ndash; Collaborative procurement<br /><br />Level 4 &ndash; Market development<br /><br />Level 3 &ndash; Single sourcing<br /><br />Level 3 &ndash; International procurement</td>
<td>Level 4 &ndash; Commercial context<br /><br />Level 4 &ndash; Contract risk management<br /><br />Level 4 &ndash; Supplier engagement<br /><br />Level 4 &ndash; Offer invitation<br /><br />Level 4 &ndash; Supplier selection and evaluation<br /><br />Level 4 &ndash; Contracting<br /><br />Level 4 &ndash; Commercial business analysis<br /><br />Level 4 &ndash; Commercial options analysis<br /><br />Level 4 &ndash; Collaborative procurement<br /><br />Level 4 &ndash; Market development<br /><br />Level 4 &ndash; Single sourcing<br /><br />Level 4 &ndash; International procurement</td>
<td>Level 4 &ndash; Commercial context<br /><br />Level 4 &ndash; Contract risk management<br /><br />Level 4 &ndash; Supplier engagement<br /><br />Level 4 &ndash; Offer invitation<br /><br />Level 4 &ndash; Supplier selection and evaluation<br /><br />Level 4 &ndash; Contracting<br /><br />Level 4 &ndash; Commercial business analysis<br /><br />Level 4 &ndash; Commercial options analysis<br /><br />Level 4 &ndash; Collaborative procurement<br /><br />Level 4 &ndash; Market development<br /><br />Level 4 &ndash; Single sourcing<br /><br />Level 4 &ndash; International procurement</td>
</tr>
<tr>
<td><strong>Civil Service Success <br />Profiles (Behaviours)</strong></td>
<td>Ability to show examples across all Behaviours for Level 4 of the Success Profiles Framework</td>
<td>Ability to show examples across all Behaviours for Level 4 of the Success Profiles Framework</td>
<td>Ability to show examples across all Behaviours for Level 5 of the Success Profiles Framework</td>
<td>Ability to show examples across all Behaviours for Level 6 of the Success Profiles Framework</td>
</tr>
<tr>
<td rowspan="9"><strong>Entry Route</strong></td>
<td>Private sector supply chain</td>
<td>Private sector supply chain</td>
<td>Private sector supply chain</td>
<td>Private sector supply chain</td>
</tr>
<tr>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
</tr>
<tr>
<td><a href="#commercial-assurance-and-governance-part-2">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-2">Commercial assurance and governance</a></td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#supplier-management-part-2">Supplier Management</a></td>
</tr>
<tr>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
<td><a href="#contract-management-part-2">Contract management</a></td>
<td></td>
</tr>
<tr>
<td><a href="#commercial-intelligence">Commercial intelligence</a></td>
<td><a href="#commercial-intelligence">Commercial intelligence</a></td>
<td><a href="#supplier-management-part-2">Supplier Management</a></td>
<td></td>
</tr>
<tr>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td></td>
<td></td>
</tr>
<tr>
<td><a href="#procurement-business-analysis-part-2">Procurement business analysis</a></td>
<td><a href="#procurement-business-analysis-part-2">Procurement business analysis</a></td>
<td rowspan="3">*experience and capabilities from roles across 2 pillars at level 4 is required for this role</td>
<td rowspan="3">*experience and capabilities from roles across 3 pillars at level 4 is required for this role</td>
</tr>
<tr>
<td><a href="#contract-management-part-2">Contract management</a></td>
<td><a href="#contract-management-part-2">Contract management</a></td>
</tr>
<tr>
<td><a href="#supplier-management-part-2">Supplier Management</a></td>
<td><a href="#supplier-management-part-2">Supplier Management</a></td>
</tr>
<tr>
<td rowspan="8"><strong>Future Pathways</strong></td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
</tr>
<tr>
<td><a href="#commercial-assurance-and-governance-part-2">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-2">Commercial assurance and governance</a></td>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td><a href="#supplier-management-part-2">Supplier Management</a></td>
</tr>
<tr>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td></td>
</tr>
<tr>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td><a href="#contract-management-part-2">Contract management</a></td>
<td></td>
</tr>
<tr>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#supplier-management-part-2">Supplier Management</a></td>
<td></td>
</tr>
<tr>
<td><a href="#procurement-business-analysis-part-2">Procurement business analysis</a></td>
<td><a href="#procurement-business-analysis-part-2">Procurement business analysis</a></td>
<td></td>
<td></td>
</tr>
<tr>
<td><a href="#contract-management-part-2">Contract management</a></td>
<td><a href="#contract-management-part-2">Contract management</a></td>
<td></td>
<td></td>
</tr>
<tr>
<td><a href="#supplier-management-part-2">Supplier Management</a></td>
<td><a href="#supplier-management-part-2">Supplier Management</a></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
