<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>UNDERSTANDING NEEDS AND SOURCING<br></strong><strong>Sourcing Strategy</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial </strong><strong>Professional Level</strong></th>
<td><strong>Commercial Specialist<br></strong>(Senior Civil Servant 1 equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will contribute towards delivering commercial excellence for your department, defining a sourcing strategy which outlines the plan to cost effectively acquire the necessary goods or services. You will also provide strategic direction for the planned procurements to senior stakeholders across the business. The role will predominantly focus on collaborative procurement to maximise purchasing power by aggregating demand, utilising collaborative procurement channels.<br><br>You will lead a team, building their confidence and commercial capability as an influential leader to shape and define a deal in a complex and uncertain context, delegating risks and issues to individuals in line with their experience and potential. The role will also require you to use your commercial expertise to take measured risks in order to deliver better approaches and services.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Typically, the key responsibilities in this role will include (but are not limited to):<br><br>&#x25cf;&nbsp;Accountability for sourcing activity within the pillar, including strategic sourcing processes in support of the department&rsquo;s strategic aims<br>&#x25cf;&nbsp;Assessing and recommending optimum supply strategy from a range of make vs buy commercial options (insourcing, outsourcing, investment, PPP, mutual, third sector, etc)<br>&#x25cf;&nbsp;Leading commercial input into business cases to demonstrate the value, benefits and risks of sourcing activity<br>&#x25cf;&nbsp;Leading complex and high value negotiations, finalising major deals, escalating only where necessary to secure progress or improve outcomes<br>&#x25cf;&nbsp;Leading on overseeing the strategy for transition from procurement/sourcing to contract manager<br>&#x25cf;&nbsp;Creating plans to enhance demand forecasting to achieve a balance between demand and supply<br>&#x25cf;&nbsp;Developing strong business options to influence ministers and senior leaders, identifying key risks and compliance issues<br>&#x25cf;&nbsp;Providing challenge on sourcing models and advising on complex commercial deals<br>&#x25cf;&nbsp;Building strong relationships with key internal and external stakeholders, in order to develop a clear and agreed view of the needs of the business and wider cross-government strategies which can then be built into the sourcing strategy<br>&#x25cf;&nbsp;Providing advice and using commercial expertise and data to inform judgements in markets, sectors, policy, delivery mechanisms and suppliers.<br>&#x25cf;&nbsp;Critically assessing supply chains and seeking to improve the department&rsquo;s position<br>&#x25cf;&nbsp;Establishing dialogue/negotiation strategies with clear parameters<br>&#x25cf;&nbsp;Promoting collaborative engagement with commercial partners across the department<br>&#x25cf;&nbsp;Analysing the marketplace, strategically influencing the requirement, challenging wants over needs and seeking innovative solutions</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Understanding Needs and Sourcing:</strong><br>&#x25cf;&nbsp;Has an expert understanding of sourcing and procurement methodologies, as well as relevant processes, policy and governance<br>&#x25cf;&nbsp;Demonstrates an expert knowledge of regulatory compliance<br><br><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has a strong practical understanding of market shaping principles and contract law and has experience in working in a range of categories/sectors with a range of suppliers <br>&#x25cf;&nbsp;Demonstrates the ability to develop the definition of standards of success in terms of the return on investment and &lsquo;value for money&rsquo; for each deal and can lead the debate to make the case with ministers<br>&#x25cf;&nbsp;Demonstrates the ability to manage the trade-offs and contradictions within complex deals and impact on other areas<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to take measured risks in order to deliver better approaches and services<br>&#x25cf;&nbsp;Demonstrates the ability to challenge the analysis of risks and margins of error to improve assurance on decisions<br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to contribute to the development of standards and/or policy to eradicate corruption, fraud and unethical behaviour<br><br><strong>Team Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to coach and mentor individuals as a trusted leader and displays strong motivational capabilities to create a department culture focused on performance and priorities<br>&#x25cf;&nbsp;Demonstrates the ability to manage a team in shaping and defining a deal in a complex and uncertain context, delegating risks and issues to individuals in line with their experience and potential<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Has strong stakeholder engagement skills in order to effectively communicate a deal over time from conception to delivery in line with the department&rsquo;s commercial requirements<br>&#x25cf;&nbsp;Demonstrates the ability to understand the motivations and behaviours of stakeholders, suppliers and networks</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across all of the following behaviours for level 5 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>&#x25cf;&nbsp;<strong>Making Effective Decisions:</strong> Act decisively and make bold, unbiased decisions at a strategic level. Make sense of a wide range of political and national pressures and influences to develop strategies which meet organisational goals. Clearly communicate the purpose and reasons for recommendations and decisions. Consult with others where necessary to ensure decisions meet the diverse needs of the end users. Accept and respond to challenge constructively. Clearly recommend the best option articulating risks and impacts on economic, environmental, political and social factors<br>&#x25cf;&nbsp;<strong>Communicating and Influencing:</strong> Implement communication strategies which ensure effective communications are embedded and take account of people&rsquo;s individual needs. Embed a culture where there is a wide ranging use of the infrastructure in place to support varied communication methods which deliver &lsquo;value for money&rsquo;. Communicate in a straightforward, honest and truthful way with consideration for the impact of the method used. Communicate with conviction and clarity in the face of tough negotiations or challenges. Respect and consider the diversity of the audience when giving messages and deliver these appropriately. Influence external partners, stakeholders and customers successfully securing mutually beneficial outcomes<br>&#x25cf;&nbsp;<strong>Seeing the Big Picture:</strong> Anticipate the long-term impact on the Department of economic, political, environmental, social and technological developments, at both national and international levels. Create joined up strategies that put into practice and support the Government&rsquo;s vision for the future. Identify and shape how your work area fits within and supports the priorities of the organisation. Develop an in-depth insight into customers, services, communities and markets affected by your work areas and the wider public sector context. Ensure work is in the national interest whilst meeting the diverse needs of all end users<br>&#x25cf;&nbsp;<strong>Leadership:</strong> Remain visible and approachable to all colleagues and stakeholders. Actively promote the reputation of the organisation with pride, both internally and externally. Display passion and enthusiasm for the work, helping to inspire colleagues and stakeholders to fully engage with the aims and long term vision. Embed a culture of inclusion and equal opportunity for all, where the diversity of individuals&rsquo; backgrounds and experiences are valued and respected. Work to influence the strategy, direction and culture to increase effectiveness</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>