<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br /></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>PROCUREMENT PROCESS<br /></strong><strong>Procurement Business Analysis</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial Professional Level</strong></th>
<td><strong>Associate Commercial Specialist<br /></strong>(Grade 6 equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will contribute to delivering commercial excellence for your department by supporting procurement business analysis. You will be expected to analyse a wide range of information, data and market research in order to inform commercial options and decisions.<br /><br />You will lead a team, building their confidence and commercial capability to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Typically, the key responsibilities in this role will include (but are not limited to):<br /><br>&#x25cf;&nbsp;Drawing together and presenting reasonable conclusions from a wide range of incomplete and complex data and recognising when to bring in experts/researchers to add value to the available information<br>&#x25cf;&nbsp;Leading workshops with key business stakeholders (voice of the customer) in order to develop a clear understanding of the requirements<br>&#x25cf;&nbsp;Analysing characteristics of the business requirement and demand<br>&#x25cf;&nbsp;Analysing opportunities and constraints in the supply market as well as findings from market analysis and engagement<br>&#x25cf;&nbsp;Assessing the existing market dynamics, including concentration and competition within the marketplace<br>&#x25cf;&nbsp;Working with procurement regulations, organisational policies, procedures and security requirements<br>&#x25cf;&nbsp;Identifying and accessing existing collaborative deals and assessing their suitability to meet all or part of the business requirement<br>&#x25cf;&nbsp;Working with internal and external stakeholders to gain insight into market trends e.g. academic research, cross-government functions<br>&#x25cf;&nbsp;Contributing to the sourcing of new suppliers using market research for on-going tenders<br>&#x25cf;&nbsp;Undertaking benchmarking through desktop activities and stakeholder engagement in order to help assist the wider procurement team<br>&#x25cf;&nbsp;Justifying and documenting the selection of a particular commercial option <br>&#x25cf;&nbsp;Challenging the organisational need for the purchase especially where Corporate Social Responsibility or &lsquo;value for money&rsquo; considerations suggest the procurement can be better channelled through existing assets or an existing contract<br>&#x25cf;&nbsp;Gathering requirements from across the business in line with market research and considering key documents such as Terms and Conditions when defining requirements<br>&#x25cf;&nbsp;Managing and evaluating strategic and non-strategic supplier relationships<br>&#x25cf;&nbsp;Applying a strong visual project management approach to procurement projects<br>&#x25cf;&nbsp;Conducting an analysis of risks and margins of error to provide assurance on decisions</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Procurement Process:</strong><br>&#x25cf;&nbsp;Has considerable experience in managing complex procurements across an area of responsibility and can support the creation of markets to strengthen the range of quality options available to government<br /><br /><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has a strong practical understanding of market and commercial drivers as well as contract law<br>&#x25cf;&nbsp;Demonstrates the ability to draw conclusions from a wide range of complex data from different sources<br>&#x25cf;&nbsp;Has a practical understanding of the concept of &lsquo;value for money&rsquo; and can articulate what a successful return on investment looks like for a particular project/programme<br /><br /><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions<br>&#x25cf;&nbsp;Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs<br /><br /><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards<br /><br /><strong>Team Management:</strong><br>&#x25cf;&nbsp;Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks<br>&#x25cf;&nbsp;Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and morale<br /><br /><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Demonstrates strong stakeholder engagement skills with the ability to show resilience in interactions with suppliers in order to defend the department&rsquo;s position<br>&#x25cf;&nbsp;Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across all the following behaviours for level 4 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br /><br>
<strong>Seeing the Big Picture: </strong><br>
&#x25cf;&nbsp;Develop and maintain an understanding of economic, social, political, environmental and technological developments to ensure activity is relevant. Ensure plans and activities in your area of work reflect wider strategic priorities and communicate effectively with senior leaders to influence future strategies. Adopt a governmentwide perspective to ensure alignment of activity and policy. Bring together views, perspectives and diverse needs of stakeholders to gain a broader understanding of the issues surrounding policies and activities<br>
<br>
<strong>Making Effective Decisions: </strong><br>
&#x25cf;&nbsp;Clarify your own understanding and stakeholder needs and expectations, before making decisions. Ensure decision making happens at the right level, not allowing unnecessary bureaucracy to hinder delivery. Encourage both innovative suggestions and challenge from others, to inform decision making. Analyse and accurately interpret data from various sources to support decisions. Find the best option by identifying positives, negatives, risks and implications. Present reasonable conclusions from a wide range of complex and sometimes incomplete evidence. Make decisions confidently even when details are unclear or if they prove to be unpopular<br>
<br>
<strong>Developing Self and Others: </strong><br>
&#x25cf;&nbsp;Prioritise and role-model continuous self-learning and development. Identify areas individuals and teams need to develop in order to achieve future objectives. Support colleagues to take responsibility for their own learning and development. Ensure that development opportunities are available for all individuals regardless of their background or desire to achieve promotion. Ensure individuals take full advantage of learning and development opportunities available to them, including workplace based learning. Encourage discussions within and between teams to learn from each other&rsquo;s experiences and change organisational plans and processes accordingly<br>
<br>
<strong>Leadership: </strong><br>
&#x25cf;&nbsp;Promote diversity, inclusion and equality of opportunity, respecting difference and external experience. Welcome and respond to views and challenges from others, despite any conflicting pressures to ignore or give in to them. Stand by, promote or defend own and team&rsquo;s actions and decisions where needed. Seek out shared interests beyond own area of responsibility, understanding the extent of the impact actions have on the organisation. Inspire and motivate teams to be fully engaged in their work and dedicated to their role</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br /><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>