<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar</strong><br><strong>Role&nbsp;Component</strong></th>
<td><strong>PROCUREMENT PROCESS<br></strong><strong>Procurement Management</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial Professional Level</strong></th>
<td><strong>Associate Commercial Lead<br></strong>(Senior Executive Officer equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will work across the procurement process, contributing to delivering commercial excellence for your department and providing a customer-focused service. The role is varied as you will be expected to work on all stages of the procurement process, from gathering requirements from across the business in line with market research, through to the handing over of the contract to contract and supplier management.<br><br>You will work independently and as part of a larger team by drawing on your commercial experience to drive performance and manage setbacks. You will be able to prioritise and manage your own workload to deliver to deadlines, mitigate and escalate any emerging risks and to respond swiftly to changing operational demands.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Typically, the key responsibilities in this role will include (but are not limited to):<br><br>&#x25cf;&nbsp;Working effectively with senior staff in the supplier organisation and establishing appropriate governance and relationship arrangements<br>&#x25cf;&nbsp;Applying the organisations and government-wide key performance indicators (KPIs) and measures supplier performance against them<br>&#x25cf;&nbsp;Developing the bidders&rsquo; packs including reviewing and clarifying the specification, drafting appropriate tools and considering optimal pricing and incentivisation mechanisms for medium value purchases and procurements<br>&#x25cf;&nbsp;Applying the most appropriate evaluation strategy to a sourcing requirement taking into account the type of commodity being procured, complexity, value and strategic importance<br>&#x25cf;&nbsp;Leading and managing the end to end tendering process<br>&#x25cf;&nbsp;Participating in strategic and business negotiations in order to deliver the agreed strategy and comply with the procurement process <br>&#x25cf;&nbsp;Leading supplier engagement across a variety of stages within the procurement process with both strategic and non-strategic suppliers in order to communicate progress in line with benefits realisation<br>&#x25cf;&nbsp;Using methods and strategic relationships to manage risks and foster high quality, reliable and on time delivery of products and services which are only available from one supplier<br>&#x25cf;&nbsp;Ensuring that the contract management mobilisation phase and supporting activities are carried out successfully<br>&#x25cf;&nbsp;Applying a strong visual project management approach to procurement projects<br>&#x25cf;&nbsp;Analysing options, managing trade-offs flowing from decisions and mitigating key risks<br>&#x25cf;&nbsp;Applying the concept of &lsquo;value for money&rsquo; with respect to political goals and using this to articulate what a successful return on investment looks like for a particular commercial project/programme</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Procurement Process: </strong><br>&#x25cf;&nbsp;Has experience in conducting the end-to-end procurement process across an area of responsibility taking into consideration the type of commodity being procured, complexity, value and strategic importance<br><br><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has strong commercial knowledge, understands commercial law and can use key commercial tools appropriately<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to manage cyber, personnel and physical risks within an area of responsibility<br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to apply standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards<br><br><strong>Team Focus: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to work as part of a team to support their performance, manage setbacks and resolve issues internally<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to communicate with stakeholders at all levels using different communication styles to articulate the benefits that have been achieved and to establish governance and relationship arrangements</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across the following behaviours for level 3 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>&#x25cf;&nbsp;<strong>Seeing the Big Picture:</strong> Understand the strategic drivers for your area of work. Align activities to contribute to wider organisational priorities. Remain alert to emerging issues and trends which might impact your work area. Seek out and share experiences to develop knowledge of the team&rsquo;s business area. Understand how the strategies and activities of the team create value and meet the diverse needs of all stakeholders<br>&#x25cf;&nbsp;<strong>Changing and Improving:</strong> Work with others to identify areas for improvement and simplify processes to use fewer resources. Use technology where possible to increase efficiency. Encourage ideas for change from a wide range of sources. Clearly explain the reasons for change to colleagues and how to implement them, supporting individuals with different needs to adapt to change. Encourage an environment where colleagues know that they can challenge decisions and issues safely. Take managed risks by fully considering the varied impacts changes could have on the diverse range of end users<br>&#x25cf;&nbsp;<strong>Making Effective Decisions: </strong>Understand own level of responsibility and empower others to make decisions where appropriate. Analyse and use a range of relevant, credible information from internal and external sources to support decisions. Invite challenge and where appropriate involve others in decision making. Display confidence when making difficult decisions, even if they prove to be unpopular. Consult with others to ensure the potential impacts on end users have been considered. Present strong recommendations in a timely manner outlining the consideration of other options, costs, benefits and risks<br>&#x25cf;&nbsp;<strong>Leadership: </strong>Ensure colleagues and stakeholders have a clear understanding of objectives, activities and time-frames. Take into account different individual needs, views, and ideas, championing inclusion and equality of opportunity for all. Consider the impacts of own and team&rsquo;s activities on stakeholders and end users. Role-model commitment and satisfaction with role. Recognise and praise the achievements of others to drive positivity within the team. Effectively manage conflict, misconduct and non-inclusive behaviour, raising with senior managers where appropriate<br>&#x25cf;&nbsp;<strong>Communicating and Influencing: </strong>Communicate in a straightforward, honest and engaging manner, choosing appropriate styles to maximise understanding and impact. Encourage the use of different communication methods, including digital resources and highlight the benefits, including ensuring cost effectiveness. Ensure communication has a clear purpose and takes into account people&rsquo;s individual needs. Share information as appropriate and check understanding. Show positivity and enthusiasm towards work, encouraging others to do the same. Ensure that important messages are communicated with colleagues and stakeholders respectfully, taking into consideration the diversity of interests<br>&#x25cf;&nbsp;<strong>Working Together: </strong>Encourage joined up team work within own team and across other groups. Establish professional relationships with a range of stakeholders. Collaborate with these to share information, resources and support. Invest time to develop a common focus and genuine positive team spirit where colleagues feel valued and respect one another. Put in place support for the wellbeing of individuals within the team, including consideration of your own needs. Make it clear to all team members that bullying, harassment and discrimination are unacceptable. Actively seek and consider input of people from diverse backgrounds and perspectives<br>&#x25cf;&nbsp;<strong>Developing Self and Others:</strong> Identify capability gaps for self and team. Ensure development objectives are set and achieved to address any gaps and enable delivery of current and future work. Take time to coach, mentor and develop other colleagues to support succession planning. Promote inclusiveness by respecting different personal needs in the team and use these to develop others. Reflect on own work, continuously seek and act on feedback to improve own and team&rsquo;s performance<br>&#x25cf;&nbsp;<strong>Managing a Quality Service: </strong>Develop, implement, maintain and review systems and services to ensure delivery of professional excellence. Work with stakeholders to set priorities, objectives and timescales. Successfully deliver high quality outcomes that meet the customers&rsquo; needs and gives &lsquo;value for money&rsquo;. Identify risks and resolve issues efficiently. Involve a diverse range of colleagues, stakeholders and delivery partners in developing suggestions for improvements. Establish ways to find and respond to feedback from customers about the services provided<br>&#x25cf;&nbsp;<strong>Delivering at Pace: </strong>Show a positive approach to keeping the whole team&rsquo;s efforts focused on the top priorities. Promote a culture of following the appropriate procedures to ensure results are achieved on time whilst still enabling innovation. Ensure the most appropriate resources are available for colleagues to use to do their job effectively. Regularly monitor your own and team&rsquo;s work against milestones ensuring individual needs are considered when setting tasks. Act promptly to reassess workloads and priorities when there are conflicting demands to maintain performance. Allow individuals the space and authority to meet objectives, providing additional support where necessary, whilst keeping overall responsibility</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>