##Commercial Strategy

##Commercial Professional Level - <strong>Commercial Specialist</strong> (SCS1 equivalent)

###Role summary

In this role you will promote the delivery of commercial excellence through the planning, development and management of commercial strategies for your department as well as contributing to the development and implementation of business unit strategies.

You will lead a team, building their confidence and commercial capability as an influential leader to shape and define a deal in a complex and uncertain context, delegating risks and issues to individuals in line with your experience and potential. The role will also require you to use your commercial expertise to take measured risks in order to deliver better approaches and services.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Developing and delivering commercial strategies requiring supplier innovation, senior stakeholder engagement, and/or market building/shaping

- Creating strategies and influencing a departmental culture that values effective commercial input, innovation, procurement excellence, and supply chain management

- Building strong relationships with senior stakeholders to include Senior Officials and Ministers across various functions

- Providing advice and uses commercial expertise and data to inform judgements in markets, sectors, policy, delivery mechanisms, and suppliers

- Identifying, tracking and escalating the need for a third party provision in your area of responsibility in order to prioritise and manage contracts in the pipeline

- Applying an understanding of the importance of prime contractors in managing and assuring their own supply chain in particular security of supply and contingencies

- Critically assessing supply chains and seeking to improve the department’s position

- Encouraging innovation and new routes to market through managing risks and creating business opportunities

- Applying strong negotiation skills

- Establishing dialogue/negotiation strategies with clear parameters.

- Seeking to maximise benefits for the project through effectively executing the commercial strategy

- Developing commercial resource plans including staff, systems and infrastructure to achieve effective commercial outcomes

- Securing and acting on insights into customers, citizens, services, communities and markets affected by their area and the wider public sector context

###Essential Criteria

<strong>Strategy and Policy Development:</strong>

- Has expertise in shaping department and ministerial policies from a commercial perspective

- Has expertise in developing and delivering complex and high value commercial strategies requiring supplier innovation, stakeholder engagement and/or market building

- Has experience in developing resource and implementation plans in line with policy objectives and has the ability to expertly apply relevant procurement rules

<strong>Commercial Focus: </strong>

- Has a strong practical understanding of market shaping principles and contract law and has experience in working in a range of categories/sectors with a range of suppliers 

- Demonstrates the ability to develop the definition of standards of success in terms of the return on investment and value for money for each deal and can lead the debate to make the case with ministers

- Demonstrates the ability to manage the trade-offs and contradictions within complex deals and impact on other areas

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to take measured risks in order to deliver better approaches and services

- Demonstrates the ability to challenge the analysis of risks and margins of error to improve assurance on decisions 

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to contribute to the development of standards and/or policy to eradicate corruption, fraud and unethical behaviour

<strong>Team Management: </strong>

- Demonstrates the ability to coach and mentor individuals as a trusted leader and displays strong motivational capabilities to create a department culture focused on performance and priorities

- Demonstrates the ability to manage a team in shaping and defining a deal in a complex and uncertain context, delegating risks and issues to individuals in line with their experience and potential

<strong>Build Relationships: </strong>

- Has strong stakeholder engagement skills in order to effectively communicate a deal over time from conception to delivery in line with the department’s commercial requirements

- Demonstrates the ability to understand the motivations and behaviours of stakeholders, suppliers and networks

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role