##Commercial Strategy

##Commercial Professional Level - <strong>Commercial Lead</strong> (G7 equivalent)

###Role summary

In this role you will contribute to the delivery of commercial excellence through the planning, development and management of commercial strategies for your department as well as contributing to the development and implementation of business unit strategies. 

You will lead a team, building their confidence to drive performance and manage setbacks. The role will require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Devising suitable commercial strategies for complex, high value procurements and contracts

- Contributing to the development of business unit strategies

- Managing, developing and maintaining commercial strategies and creating and implementing agreed sourcing plans

- Building strong relationships with senior stakeholders to include Senior Officials and Ministers across various functions

- Overseeing and collating data and information required to support the development of commercial strategies

- Combining market specific data analysis with the bigger picture in order to help advise on future market changes

- Identifying, tracking and escalating the need for a third party provision in your area of responsibility in order to prioritise and manage contracts in the pipeline

- Applying an understanding of the importance of prime contractors in managing and assuring their own supply chain in particular security of supply and contingencies

- Evaluating the potential effect of mergers and acquisitions on the organisation’s supply chains

- Identifying routes to market, conducting early market engagement and undertaking a proportional delivery model assessment

- Applying strong negotiation skills

- Establishing dialogue/negotiation strategies with clear parameters

###Essential Criteria

<strong>Strategy and Policy Development:</strong>

- Has considerable experience in translating the needs of the business into policy objectives

- Has practical experience in the development and implementation of business unit strategies through supply chain management and has the ability to challenge risk averse behaviours where appropriate

- Has the ability to practically apply procurement rules and link them to the implementation of policy objectives

<strong>Commercial Focus: </strong>

- Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility, can apply the commercial principles within the boundaries of contract law

- Demonstrates the ability to lead on securing value for money through achieving good return on investment on commercial projects

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks and to resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges

<strong>Build Relationships: </strong>

- Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making. 

- Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role