##Commercial Strategy

##Commercial Professional Level - <strong>Associate Commercial Specialist</strong> (G6 equivalent)

###Role summary

In this role you will promote the delivery of commercial excellence through the planning, development and management of commercial strategies for your department as well as contributing to the development and implementation of business unit strategies. 

You will lead a team, building their confidence and commercial capability to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to): 

- Developing and maintaining business unit strategies

- Devising suitable commercial strategies for complex, high value procurements and contracts

- Managing, developing and maintaining commercial strategies and creating and implementing agreed sourcing plans

- Building strong relationships with senior stakeholders to include Senior Officials and Ministers across various functions

- Overseeing and collating data and information required to inform the development of commercial strategies

- Ensuring relevant issues are fed into strategy and big picture considerations.

- Identifying, tracking and escalating the need for a third party provision in your area of responsibility in order to prioritise and manage contracts in the pipeline

- Applying an understanding of the importance of prime contractors in managing and assuring their own supply chain in particular security of supply and contingencies

- Considering the long-term resilience of supply chains and taking opportunities to mitigate the risks and develop opportunities

- Identifying routes to market, conducting early market engagement and undertaking a proportional delivery model assessment

- Applying strong negotiation skills

- Establishing dialogue/negotiation strategies with clear parameters

- Seeking to maximise benefits for the project through effectively executing the commercial strategy

- Securing and acting on insights into customers, citizens, services, communities and markets affected by their area and the wider public sector context

###Essential Criteria

<strong>Strategy and Policy Development:</strong>

- Has practical experience in implementing government and department commercial policies across a range of different delivery models

- Has expertise in the development and implementation of business unit strategies through supply chain management and has the ability to challenge risk averse behaviours where appropriate

- Has experience in developing resource and implementation plans in line with policy objectives and has the ability to expertly apply procurement rules

<strong>Commercial Focus: </strong>

- Has a strong practical understanding of market and commercial drivers as well as contract law

- Demonstrates the ability to draw conclusions from a wide range of complex data from different sources

- Has a practical understanding of the concept of value for money and can articulate what a successful return on investment looks like for a particular project/programme

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions

- Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs 

<strong>Commercial Ethics: </strong> 

- Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Management: </strong>

- Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks 

- Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and moral

<strong>Build Relationships: </strong>

- Demonstrates strong stakeholder engagement skills with the ability to demonstrate resilience in interactions with suppliers in order to defend the departments position 

- Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role