##Commercial Strategy

##Commercial Professional Level - <strong>Associate Commercial Practitioner</strong> (EO equivalent)

###Role summary

In this role you will contribute to the delivery of commercial excellence by supporting the planning, development and management of commercial strategies for your department.
  
You will work as part of a larger team, but will be expected to be able to prioritise and manage your own workload to deliver to deadlines and know when to seek support in order to balance both operationally urgent and important tasks.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Devising suitable commercial strategies for low-complexity, low value procurements and contracts

- Contributing to the development of a commercial strategies

- Maintaining strategies and creating and implementing agreed sourcing plans

- Engaging with the relevant internal stakeholders and SMEs to assist in developing and executing commercial strategies

- Obtaining and collating data and information required to support the development of  commercial strategies

- Combining market specific data analysis with the bigger picture in order to help advise on future market changes

- Identifying, tracking and escalating the need for a third party provision in your area of responsibility in order to prioritise and manage contracts in the pipeline

- Engaging with procurement colleagues to support the management and security of the supply chain

- Contributing to early market engagement and helping to undertake a proportional delivery model assessment

- Building an awareness of effective negotiation skills

###Essential Criteria

<strong>Strategy and Policy Development:</strong>

- Has a practical understanding of how to translate the needs of the business at the start of the whole life category cycle

- Has a practical understanding of how to devise commercial strategies for low-complexity, low value procurements and contracts

- Has awareness of the importance of procurement roles and their linkage to the implementation of policy objectives 

<strong>Commercial Focus: </strong>

- Has a good understanding of the elementary economics factors that may determine a market shape, dynamics and models and can apply tools and techniques associated with gathering commercial data

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to identify possible risks, understand their impact, use appropriate mitigation techniques and escalate them where appropriate

<strong>Commercial Ethics: </strong> 

- Has an understanding of the standards to eliminate corruption, fraud and unethical behaviour in supply chains and can take action in the event of any alleged breach of standards 

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their resilience and performance

<strong>Build Relationships: </strong>

- Demonstrates the ability to work as part of a team to support their resilience and performance

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 2 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role