
####Higher professional levels
{#commercial-strategy-part-2}

<strong>Role Summary</strong>

This role consists of planning, developing and managing the overall commercial strategy. This strategy will set out the commercial vision and objectives in line with the organisation’s overall strategy and financial plan as well as the commercial blueprint which outlines commercial activities, required resources and operating model, forecast budget and any transformation or business improvement plans. It may also include the justification of commercial activity in accordance with the HM Treasury requirements throughout the commercial lifecycle and its documentation either within the strategy or within a separate business case.

<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong>Commercial Professional&nbsp;<br />Level</strong></th>
<td><strong>Commercial Lead</strong></td>
<th>&nbsp;<strong>Associate Commercial <span>Specialist</span><span></span></strong></th>
<th>&nbsp;<strong>Commercial <span>Specialist</span><span></span></strong></th>
<th>&nbsp;<strong>Senior Commercial Specialist</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Capabilities</strong></td>
<td>Level 3 - Budgeting and cost management<br /><br />Level 3 &ndash; Business case and benefits realisation<br /><br />Level 3 &ndash; Commercial context <br /><br />Level 3 &ndash; Business partnering <br /><br />Level 3 &ndash; Business understanding<br /><br />Level 3 &ndash; Strategy development and Implementation<br /><br />Level 3 - Commercial vision <br /><br />Level 3 &ndash; Innovation<br /><br />Level 3 &ndash; Market analysis<br /><br />Level 3 &ndash; Pipeline management<br /><br />Level 3 &ndash; Policy Development</td>
<td>Level 4 - Budgeting and cost management<br /><br />Level 4 &ndash; Business case and benefits realisation<br /><br />Level 4 &ndash; Commercial context <br /><br />Level 3 &ndash; Business partnering <br /><br />Level 4 &ndash; Business understanding<br /><br />Level 3 &ndash; Strategy development and Implementation<br /><br />Level 3 - Commercial vision <br /><br />Level 3 &ndash; Innovation<br /><br />Level 4 &ndash; Market analysis<br /><br />Level 3 &ndash; Pipeline management<br /><br />Level 3 &ndash; Policy Development</td>
<td>Level 4 - Budgeting and cost management<br /><br />Level 4 &ndash; Business case and benefits realisation<br /><br />Level 4 &ndash; Commercial context <br /><br />Level 4 &ndash; Business partnering <br /><br />Level 4 &ndash; Business understanding<br /><br />Level 3 &ndash; Strategy development and Implementation<br /><br />Level 4 - Commercial vision <br /><br />Level 4 &ndash; Innovation<br /><br />Level 4 &ndash; Market analysis<br /><br />Level 4 &ndash; Pipeline management<br /><br />Level 4 &ndash; Policy Development</td>
<td>Level 4 - Budgeting and cost management<br /><br />Level 4 &ndash; Business case and benefits realisation<br /><br />Level 4 &ndash; Commercial context <br /><br />Level 4 &ndash; Business partnering <br /><br />Level 4 &ndash; Business understanding<br /><br />Level 4 &ndash; Strategy development and Implementation<br /><br />Level 4 - Commercial vision <br /><br />Level 4 &ndash; Innovation<br /><br />Level 4 &ndash; Market analysis<br /><br />Level 4 &ndash; Pipeline management<br /><br />Level 4 &ndash; Policy Development</td>
</tr>
<tr>
<td><strong>Civil Service Success <br />Profiles (Behaviours)</strong></td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 4 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 4 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 5 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 6 of the Success Profiles Framework</td>
</tr>
<tr>
<td rowspan="7"><strong>Entry Route</strong></td>
<td>Private sector strategic roles</td>
<td>Private sector strategic roles</td>
<td>Private sector strategic roles</td>
<td>Private sector strategic roles</td>
</tr>
<tr>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
</tr>
<tr>
<td><a href="#commercial-assurance-and-governance-part-2">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-2">Commercial assurance and governance</a></td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#supplier-management-part-2">Supplier Management</a></td>
</tr>
<tr>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#supplier-management-part-2">Supplier Management</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td rowspan="2">*experience and capabilities from roles across 2 pillars at level 4 is required for this role</td>
<td rowspan="2">*experience and capabilities from roles across 3 pillars at level 4 is required for this role</td>
</tr>
<tr>
<td><a href="#supplier-management-part-2">Supplier Management</a></td>
<td><a href="#supplier-management-part-2">Supplier Management</a></td>
</tr>
<tr>
<td rowspan="6"><strong>Future Pathways</strong></td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
</tr>
<tr>
<td><a href="#commercial-assurance-and-governance-part-2">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-2">Commercial assurance and governance</a></td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#supplier-management-part-2">Supplier Management</a></td>
</tr>
<tr>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#supplier-management-part-2">Supplier Management</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><a href="#supplier-management-part-2">Supplier Management</a></td>
<td><a href="#supplier-management-part-2">Supplier Management</a></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>