###Category strategy
{:#category-strategy-part-1}

<strong>Role Summary</strong>

This role consists of developing a category strategy and pipeline plan to oversee contracts and manage third party spend in line with the organisation's commercial governance, management framework and overall strategy. In organisations where category management oversees both procurement and contract and <a href="#supplier-management-part-1">Supplier Management</a>, this role can also include direct engagement with suppliers across the market, the management of the supply chain of critical products and services and the application of knowledge on business requirements combined with strong negotiating skills to ensure value for money is delivered and contingency suppliers are identified.

<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong>Commercial Professional&nbsp;<br />Level</strong></th>
<th>Commercial Practitioner</th>
<th>Associate Commercial Lead</th>
<th>Commercial Lead</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Capabilities</strong></td>
<td>Level 3 &ndash; Commercial context<br /><br />Level 2 &ndash; Business partnering<br /><br />Level 3 &ndash; Business understanding<br /><br />Level 2 &ndash; Strategy development and implementation <br /><br />Level 2- Commercial vision<br /><br />Level 1 &ndash; Policy Development<br /><br />Level 2 &ndash; Solutions development</td>
<td>Level 3 &ndash; Commercial context<br /><br />Level 3 &ndash; Business partnering<br /><br />Level 3 &ndash; Business understanding<br /><br />Level 2 &ndash; Strategy development and implementation <br /><br />Level 2- Commercial vision<br /><br />Level 2 &ndash; Policy Development<br /><br />Level 2 &ndash; Solutions development</td>
<td>Level 3 &ndash; Commercial context<br /><br />Level 3 &ndash; Business partnering<br /><br />Level 3 &ndash; Business understanding<br /><br />Level 3 &ndash; Strategy development and implementation <br /><br />Level 3- Commercial vision<br /><br />Level 3 &ndash; Policy Development<br /><br />Level 3 &ndash; Solutions development</td>
</tr>
<tr>
<td><strong>Civil Service Success <br />Profiles (Behaviours)</strong></td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 3 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 3 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 4 of the Success Profiles Framework</td>
</tr>
<tr>
<td rowspan="9"><strong>Entry Route</strong></td>
<td>Strategy Function and Commercial Fast Streamers</td>
<td>Strategy Function and Commercial Fast Streamers</td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
</tr>
<tr>
<td>Private sector category management</td>
<td>Private sector category management</td>
<td>Private sector category management</td>
</tr>
<tr>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
</tr>
<tr>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
</tr>
<tr>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
</tr>
<tr>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
</tr>
<tr>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
</tr>
<tr>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
<td><a href="#contract-management-part-1">Contract management</a></td>
</tr>
<tr>
<td><a href="#contract-management-part-1">Contract management</a></td>
<td><a href="#contract-management-part-1">Contract management</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td rowspan="4"><strong>Future Pathways</strong></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
</tr>
<tr>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
</tr>
<tr>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
</tr>
<tr>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
</tr>
</tbody>
</table>

