###Commercial Policy
{:#commercial-policy-part-1}

<strong>This role consists of assessing and shaping organisational and ministerial policies from a commercial perspective. This role can also include: maintaining the organizational commercial library, templates and guidance; operational management reviews, risk management and independent audits in order to ensure all appropriate controls are in place to ensure high quality delivery.</strong>

<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong>Commercial Professional&nbsp;<br />Level</strong></th>
<td>Commercial Support*</td>
<th>Associate Commercial Practitioner*</th>
<th>Commercial Practitioner</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Capabilities</strong></td>
<td>Level 1 &ndash; Assurance<br /><br />Level 1 - Budgeting and cost management Level 1 &ndash; Commercial context<br /><br />Level 1 &ndash; Business partnering<br /><br />Level 1 &ndash; Business understanding<br /><br />Level 1- Commercial vision<br /><br />Level 2 &ndash; Market analysis<br /><br />Level 1 &ndash; Policy Development<br /><br />Level 1 &ndash; Quality management<br /><br />Level 1- Contract risk management<br /><br />Level 1- Security management<br /><br />Level 1 &ndash; Strategic sourcing<br /><br />Level 1 &ndash; IPR management</td>
<td>Level 1 &ndash; Assurance<br /><br />Level 1 - Budgeting and cost management Level 2 &ndash; Commercial context<br /><br />Level 1 &ndash; Business partnering<br /><br />Level 2 &ndash; Business understanding<br /><br />Level 1- Commercial vision<br /><br />Level 2 &ndash; Market analysis<br /><br />Level 1 &ndash; Policy Development<br /><br />Level 1 &ndash; Quality management<br /><br />Level 2- Contract risk management<br /><br />Level 1- Security management<br /><br />Level 1 &ndash; Strategic sourcing<br /><br />Level 2 &ndash; IPR management</td>
<td>Level 2 &ndash; Assurance<br /><br />Level 2 - Budgeting and cost management Level 3 &ndash; Commercial context<br /><br />Level 2 &ndash; Business partnering<br /><br />Level 3 &ndash; Business understanding<br /><br />Level 2- Commercial vision<br /><br />Level 3 &ndash; Market analysis<br /><br />Level 2 &ndash; Policy Development<br /><br />Level 2 &ndash; Quality management<br /><br />Level 3- Contract risk management<br /><br />Level 2- Security management<br /><br />Level 2 &ndash; Strategic sourcing<br /><br />Level 2 &ndash; IPR management</td>
</tr>
<tr>
<td><strong>Civil Service Success <br />Profiles (Behaviours)</strong></td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 1 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 2 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 3 of the Success Profiles Framework</td>
</tr>
<tr>
<td rowspan="8"><strong>Entry Route</strong></td>
<td>Project Delivery, Audit, Policy, Finance or Legal Functions</td>
<td>Project Delivery, Audit, Policy, Finance or Legal Functions</td>
<td>Project Delivery, Audit, Policy, Finance or Legal Functions and Commercial Fast Streamers</td>
</tr>
<tr>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
</tr>
<tr>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
</tr>
<tr>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#category-strategy-part-1">Category strategy</a></td>
</tr>
<tr>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
<td><a href="#commercial-risk-management">Commercial intelligence</a></td>
</tr>
<tr>
<td><a href="#contract-management-part-1">Contract management</a></td>
<td><a href="#contract-management-part-1">Contract management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
</tr>
<tr>
<td><a href="#capability-and-resourcing">Capability and resourcing</a></td>
<td>&nbsp;</td>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
</tr>
<tr>
<td><a href="#continuous-improvement">Continuous improvement</a></td>
<td>&nbsp;</td>
<td><a href="#contract-management-part-1">Contract management</a></td>
</tr>
<tr>
<td rowspan="5"><strong>&nbsp;</strong><strong>Future Pathways</strong></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
</tr>
<tr>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
</tr>
<tr>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
<td><a href="#category-strategy-part-1">Category strategy</a></td>
</tr>
<tr>
<td>&nbsp;</td>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
</tr>
</tbody>
</table>