###Commercial Strategy
{:#commercial-strategy-part-1}

<strong>Role Summary</strong>

This role consists of planning, developing and managing the overall commercial strategy. This strategy will set out the commercial vision and objectives in line with the organisation’s overall strategy and financial plan as well as the commercialblueprint which outlines commercial activities, required resources and operating model, forecast budget and anytransformation or business improvement plans. It may also include the justification of commercial activity in accordance withthe HM Treasury requirements throughout the commercial lifecycle and its documentation either within the strategy or withina separate business case.

<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong>Commercial Professional&nbsp;<br />Level</strong></th>
<th>&nbsp;<strong>Commercial Support*</strong></th>
<th>&nbsp;<strong>Associate Commercial&nbsp;Practitioner*</strong></th>
<th>&nbsp;<strong>Commercial&nbsp;Practitioner</strong></th>
<th>&nbsp;<strong>Associate&nbsp;Commercial&nbsp;Lead</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Capabilities</strong></td>
<td>Level 1 - Budgeting and costmanagement <br /><br />Level 1 &ndash;Business case and benefitsrealisation<br /><br />Level 1 &ndash; Commercial context<br /><br />Level 1 &ndash; Business partnering <br /><br />Level 1 &ndash;&nbsp;Business understanding<br /><br />Level 1 &ndash; Strategy developmen tand Implementation<br /><br />Level 1 &ndash; Commercial vision<br /><br />Level 1 &ndash; Innovation<br /><br />Level 2 &ndash; Market analysis<br /><br />Level 1 &ndash; Pipeline management<br /><br />Level 1 &ndash; Policy Development</td>
<td>Level 1 - Budgeting and costmanagement <br /><br />Level 2 &ndash; Business case and benefitsrealisation<br /><br />Level 2 &ndash; Commercial context<br /><br />Level 1 &ndash; Business partnering <br /><br />Level 2 &ndash;&nbsp;Business understanding<br /><br />Level 1 &ndash;&nbsp;Strategy developmen tand Implementation<br /><br />Level 1- Commercial vision <br /><br />Level 1&ndash; Innovation<br /><br />Level 2 &ndash; Market analysis<br /><br />Level 2 &ndash; Pipeline management<br /><br />Level 1 &ndash; Policy Development</td>
<td>Level 2 - Budgeting and costmanagement <br /><br />Level 2 &ndash; Business case and benefitsrealisation<br /><br />Level 3 &ndash; Commercial context<br /><br />Level 2 &ndash; Business partnering <br /><br />Level 3 &ndash;&nbsp;Business understanding<br /><br />Level 2 &ndash; Strategy developmen tand Implementation<br /><br />Level 2 - Commercial vision <br /><br />Level 2&ndash; Innovation<br /><br />Level 2 &ndash; Market analysis<br /><br />Level 2 &ndash; Pipeline management<br /><br />Level 1 &ndash; Policy Development</td>
<td>Level 2 - Budgeting and costmanagement <br /><br />Level 2 &ndash; Business case and benefitsrealisation<br /><br />Level 3 &ndash; Commercial context<br /><br />Level 3 &ndash; Business partnering <br /><br />Level 3 &ndash; Business understanding<br /><br />Level 2 &ndash; Strategy developmen tand Implementation<br /><br />Level 2 - Commercial vision <br /><br />Level 2 &ndash; Innovation<br /><br />Level 3 &ndash; Market analysis<br /><br />Level 2 &ndash; Pipeline management<br /><br />Level 2 &ndash; Policy Development</td>
</tr>
<tr>
<td><strong>Civil Service Success <br />Profiles (Behaviours)</strong></td>
<td>Ability to show examples across all Behaviours for Level 1 ofthe Success Profiles Framework</td>
<td>Ability to show examples across al lBehaviours for Level 2 ofthe Success Profiles Framework</td>
<td>Ability to show examples across all Behaviours for Level 3 ofthe Success Profiles Framework</td>
<td>Ability to show examples across all Behaviours for Level 3 ofthe Success Profiles Framework</td>
</tr>
<tr>
<td rowspan="8"><strong>Entry Route</strong></td>
<td>Private sector strategic roles</td>
<td>Private sector strategic roles</td>
<td>Private sector strategic roles</td>
<td>Private sectorstrategic roles</td>
</tr>
<tr>
<td>Policy, Finance, Strategy Legal or Project Delivery Functions</td>
<td>Policy, Finance, Strategy Legal or Project Delivery Functions</td>
<td>Policy, Finance, Strategy Legal or Project Delivery Functions and Commercial Fast Streamers</td>
<td>Policy, Finance, Strategy Legal or Project Delivery Functions and Commercial Fast Streamers</td>
</tr>
<tr>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
</tr>
<tr>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
</tr>
<tr>
<td><a href="#procurement-business-analysis-part-1">Procurement business analysis</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
<td><a href="#category-strategy-part-1">Category strategy</a></td>
<td><a href="#category-strategy-part-1">Category strategy</a></td>
</tr>
<tr>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
</tr>
<tr>
<td><a href="#capability-and-resourcing">Capability and resourcing</a></td>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
</tr>
<tr>
<td rowspan="6"><strong>Future Pathways</strong></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
</tr>
<tr>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
</tr>
<tr>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
<td><a href="#category-strategy-part-1">Category strategy</a></td>
<td><a href="#category-strategy-part-1">Category strategy</a></td>
</tr>
<tr>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
</tr>
<tr>
<td>&nbsp;</td>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
<td><a href="#supplier-management-part-1">Supplier Management</a></td>
</tr>
</tbody>
</table>