####Higher professional levels
{:#commercial-assurance-and-governance-part-2} 

<strong>Role Summary</strong>

This role typically includes assurance activities for stakeholders in order to ensure that work across the whole commercial lifecycle is controlled, on track and aligned with the policies, commercial strategies and security requirements. This role can also include operational management reviews, risk management and independent audits in order to ensure all appropriate controls are in place to ensure high quality delivery.

<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong>Commercial Professional&nbsp;<br />Level</strong></th>
<th>Associate Commercial Lead</th>
<th>Commercial Lead</th>
<th>Associate Commercial Specialist</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Capabilities</strong></td>
<td>Level 2 &ndash; Assurance<br /><br />Level 3 &ndash; Commercial context <br /><br />Level 3 &ndash; Business partnering<br /><br />Level 3 &ndash; Business understanding <br /><br />Level 2 &ndash; Quality management <br /><br />Level 3 - Contract risk management <br /><br />Level 2 - Security management<br /><br />Level 3 &ndash; IPR management</td>
<td>Level 3 &ndash; Assurance<br /><br />Level 3 &ndash; Commercial context <br /><br />Level 3 &ndash; Business partnering <br /><br />Level 3 &ndash; Business understanding <br /><br />Level 3 &ndash; Quality management <br /><br />Level 3 - Contract risk management <br /><br />Level 3 - Security management <br /><br />Level 3 &ndash; Strategic sourcing<br /><br />Level 3 &ndash; IPR management</td>
<td>Level 3 &ndash; Assurance<br /><br />Level 4 &ndash; Commercial context <br /><br />Level 3 &ndash; Business partnering <br /><br />Level 4 &ndash; Business understanding <br /><br />Level 3 &ndash; Quality management <br /><br />Level 4 - Contract risk management <br /><br />Level 4 - Security management <br /><br />Level 4 &ndash; Strategic sourcing<br /><br />Level 4 &ndash; IPR management</td>
</tr>
<tr>
<td><strong>Civil Service Success <br />Profiles (Behaviours)</strong></td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 3 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 4 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 4 of the Success Profiles Framework</td>
</tr>
<tr>
<td rowspan="8"><strong>Entry Route</strong></td>
<td>Project Delivery, Audit, Policy, Finance or Legal Function sand Commercial Fast Streamers</td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
</tr>
<tr>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
</tr>
<tr>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
</tr>
<tr>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#commercial-risk-management">Commercial intelligence</a></td>
<td><a href="#commercial-risk-management">Commercial intelligence</a></td>
</tr>
<tr>
<td><a href="#commercial-risk-management">Commercial intelligence</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
</tr>
<tr>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td><a href="#supplier-management-part-2">Supplier Management</a></td>
<td><a href="#supplier-management-part-2">Supplier Management</a></td>
</tr>
<tr>
<td><a href="#supplier-management-part-2">Supplier Management</a></td>
<td><a href="#contract-management-part-2">Contract management</a></td>
<td><a href="#contract-management-part-2">Contract management</a></td>
</tr>
<tr>
<td><a href="#contract-management-part-2">Contract management</a></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td rowspan="5"><strong>Future Pathways</strong></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
</tr>
<tr>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
</tr>
<tr>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
</tr>
<tr>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
</tr>
<tr>
<td><a href="#contract-management-part-2">Contract management</a></td>
<td><a href="#contract-management-part-2">Contract management</a></td>
<td><a href="#contract-management-part-2">Contract management</a></td>
</tr>
</tbody>
</table>