<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>CONTRACT AND SUPPLIER MANAGEMENT<br></strong><strong>Supplier Management</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial </strong><strong>Professional Level</strong></th>
<td><strong>Commercial Specialist </strong><br>(Senior Civil Servant 1 equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will lead strategic supplier management and supplier relationship management (SRM) across a wide ranging portfolio of suppliers, each working to deliver complex and high-profile goods and services to the business. You will be expected to engage collaboratively with strategic suppliers to improve delivery or to meet organisational objectives, increase mutual value beyond that contracted, ensure best &lsquo;value for money&rsquo;, manage risk and ensure security of supply.<br><br>You will lead a team, building their confidence and commercial capability as an influential leader to shape and define optimal supplier management in a complex and uncertain context, delegating risks and issues to individuals in line with their experience and potential. The role will also require you to use your commercial expertise to take measured risks in order to deliver better approaches and services.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Typically, the key responsibilities in this role will include (but are not limited to): <br><br>&#x25cf;&nbsp;Developing and owning relationships with the department business groups, building detailed knowledge of their needs in order to deliver value through sourcing and procurement activity<br>&#x25cf;&nbsp;Leading a team to deliver on the aims of the SRM strategy<br>&#x25cf;&nbsp;Defining and owning policies and processes relating to SRM, promoting performance, risk and data management and ensuring the business drives value through its commercial arrangements<br>&#x25cf;&nbsp;Using a variety of contracting approaches to minimise risk, motivate performance and drive innovation<br>&#x25cf;&nbsp;Driving compliance with contractual commitments at an executive level, across contracts, with key suppliers and customers <br>&#x25cf;&nbsp;Critically assessing supply chains to protect the department&rsquo;s risk exposure<br>&#x25cf;&nbsp;Anticipating problems and using insight to act and secure value for the whole of government<br>&#x25cf;&nbsp;Developing and maintaining the use of structured approaches to SRM throughout the department<br>&#x25cf;&nbsp;Developing approaches for supplier innovation, continuous improvement, collaboration and cooperation<br>&#x25cf;&nbsp;Working with contract managers and wider commercial colleagues to regularly review the performance of suppliers, ensuring the relevant assurance and due diligence takes place, whilst ensuring colleagues across the business are receiving strong performance from the provider <br>&#x25cf;&nbsp;Develops and enacts exit strategies to be used across contracts<br>&#x25cf;&nbsp;Maintaining quality and concurrency of systems, reporting and management information<br>&#x25cf;&nbsp;Providing performance and day-to-day management of a team to deliver on the SRM strategy and activity across the commercial lifecycle <br>&#x25cf;&nbsp;Mentoring and providing guidance to members of the team<br>&#x25cf;&nbsp;Working within a secure environment on sensitive projects as required</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Supplier Management:</strong><br>&#x25cf;&nbsp;Has expert understanding of contract management and SRM and the principles of end-to-end commercial lifecycle management<br>&#x25cf;&nbsp;Has strong understanding of SRM processes, supplier innovation and supplier management principles, behaviours, plans and techniques<br>&#x25cf;&nbsp;Has experience of working and effectively influencing senior stakeholders with or without authority<br><br><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has a strong practical understanding of market shaping principles and contract law and has experience in working in a range of categories/sectors with a range of suppliers <br>&#x25cf;&nbsp;Demonstrates the ability to develop the definition of standards of success in terms of the return on investment and &lsquo;value for money&rsquo; for each deal and can lead the debate to make the case with ministers<br>&#x25cf;&nbsp;Demonstrates the ability to manage the trade-offs and contradictions within complex deals and impact on other areas<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to take measured risks in order to deliver better approaches and services<br>&#x25cf;&nbsp;Demonstrates the ability to challenge the analysis of risks and margins of error to improve assurance on decisions <br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to contribute to the development of standards and/or policy to eradicate corruption, fraud and unethical behaviour<br><br><strong>Team Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to coach and mentor individuals as a trusted leader and displays strong motivational capabilities to create a department culture focused on performance and priorities<br>&#x25cf;&nbsp;Demonstrates the ability to manage a team in shaping and defining a deal in a complex and uncertain context, delegating risks and issues to individuals in line with their experience and potential<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Has strong stakeholder engagement skills in order to effectively communicate a deal over time from conception to delivery in line with the department&rsquo;s commercial requirements<br>&#x25cf;&nbsp;Demonstrates the ability to understand the motivations and behaviours of stakeholders, suppliers and networks</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across all of the following behaviours for level 5 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>&#x25cf;&nbsp;<strong>Working Together: </strong>Proactively create, maintain and promote a strong network of contacts across the organisation and externally. Embed an inclusive culture of creating positive and supportive teams who consider the diverse needs and feelings of other colleagues. Ensure consideration and support for the wellbeing of all individuals across the organisation. Set out clear expectations that bullying, harassment, and discrimination are unacceptable. Encourage and establish mechanisms to share knowledge and resources across boundaries to support the business. Encourage teams to engage with a variety of delivery partners and stakeholders, listen to and act on their feedback<br>&#x25cf;&nbsp;<strong>Managing a Quality Service: </strong>Clarify and articulate the diverse requirements of customers and delivery partners. Use customer insight to drive high quality and efficient service delivery which is a good investment of taxpayers money. Work collaboratively with customers and delivery partners to manage, monitor and deliver agreed outcomes. Identify areas for improvement and make appropriate changes to reach professional excellence. Break down complex aims into clear, practical and manageable plans. Identify the resource requirements to support implementation. Ensure risks are monitored and managed to prevent issues with service delivery wherever possible<br>&#x25cf;&nbsp;<strong>Delivering at Pace: </strong>Translate strategic priorities into clear outcome-focused objectives for managers and teams. Promote resilience and responsiveness in the organisation. Deliver against own objectives, while ensuring others take responsibility for their areas. Establish an inclusive culture which allows people space and authority to deliver their objectives whilst ensuring appropriate support is in place when needed. Give people credit for maintaining focus on priorities, while responding quickly to changing requirements. Act as a role model for delivery by showing efficiency and focus, while being open to new ideas and honest about challenges. Provide clarity about the action required to achieve results and address unexpected developments. Ensure all appropriate tools and resources are available for individuals to fulfil their job role<br>&#x25cf;&nbsp;<strong>Leadership: </strong>Remain visible and approachable to all colleagues and stakeholders. Actively promote the reputation of the organisation with pride, both internally and externally. Display passion and enthusiasm for the work, helping to inspire colleagues and stakeholders to fully engage with the aims and long term vision. Embed a culture of inclusion and equal opportunity for all, where the diversity of individuals&rsquo; backgrounds and experiences are valued and respected. Work to influence the strategy, direction and culture to increase effectiveness</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: <br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>