<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>CONTRACT AND SUPPLIER MANAGEMENT<br></strong><strong>Supplier Management</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial </strong><strong>Professional Level</strong></th>
<td><strong>Commercial Lead </strong><br>(Grade 7 equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will contribute to delivering commercial excellence for your department by leading strategic supplier management and supplier relationship management (SRM) across multiple contracts. You will be expected to engage collaboratively with strategic suppliers to improve delivery or to meet organisational objectives, increase mutual value beyond that contracted, ensure best &lsquo;value for money&rsquo;, manage risk and ensure security of supply.<br><br>You will lead a team, building their confidence to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Typically, the key responsibilities in this role will include (but are not limited to): <br><br>&#x25cf;&nbsp;Managing supplier relationships and contract teams giving day-to-day oversight of contracts<br>&#x25cf;&nbsp;Providing practical advice to stakeholders having identified, evaluated, negotiated and apportioned contract risks<br>&#x25cf;&nbsp;Supporting the development of an appropriate SRM strategy<br>&#x25cf;&nbsp;Contributing to the development of a SRM framework for the department, which enables effective SRM across the supplier-base<br>&#x25cf;&nbsp;Overseeing supply market analysis in order to recommend the most appropriate market engagement approaches to increase competition and improve &lsquo;value for money&rsquo; in contracts<br>&#x25cf;&nbsp;Engaging with suppliers in the marketplace to ensure a competitive landscape and to manage the supply change<br>&#x25cf;&nbsp;Evaluating the performance of suppliers against the specification and reporting regularly<br>&#x25cf;&nbsp;Monitoring progress against business objectives and working with suppliers and customers to develop improvements<br>&#x25cf;&nbsp;Actively managing strategic relationships to deliver mutual benefit for those involved<br>&#x25cf;&nbsp;Holding both suppliers and customers accountable to their contractual commitments at a delivery level, resolving disputes effectively and efficiently<br>&#x25cf;&nbsp;Using analysis, insight and research to feed into the department&rsquo;s strategic supplier segmentation activity<br>&#x25cf;&nbsp;Updating and maintaining processes relating to SRM, promoting performance, risk and data management and ensuring the department drives value through its commercial arrangements<br>&#x25cf;&nbsp;Providing initiatives and ideas for supplier innovation, continuous improvement, collaboration and cooperation<br>&#x25cf;&nbsp;Sharing best practice relating to SRM across the commercial team and wider business<br>&#x25cf;&nbsp;Maintaining quality and concurrency of systems, reporting and management information<br>&#x25cf;&nbsp;Providing performance and day-to-day management of a team, where applicable<br>&#x25cf;&nbsp;Mentoring and providing guidance to junior members of the team<br>&#x25cf;&nbsp;Working within a secure environment upon sensitive projects as required</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Supplier Management:</strong><br>&#x25cf;&nbsp;Has strong understanding of the principles of end-to-end commercial lifecycle management<br>&#x25cf;&nbsp;Has strong understanding of the SRM processes, supplier innovation and supplier management principles, behaviours, plans and techniques<strong><span>&nbsp;<br><br></span>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility and can apply the commercial principles within the boundaries of contract law<br>&#x25cf;&nbsp;Demonstrates the ability to lead on securing &lsquo;value for money&rsquo; through achieving good return on investment on commercial projects<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions<br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards<br><br><strong>Team Focus: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks, to resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making<br>&#x25cf;&nbsp;Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across all of the following behaviours for level 4 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>&#x25cf;&nbsp;<strong>Working Together: </strong>Actively build and maintain a network of colleagues and contacts to achieve progress on shared objectives. Challenge assumptions while being willing to compromise if beneficial to progress. Build strong interpersonal relationships and show genuine care for colleagues. Ensure consideration and support for the wellbeing of yourself and individuals throughout the team. Understand the varying needs of the team to ensure they are supported and their experiences are utilised. Create an inclusive working environment where all opinions and challenges are taken into account and bullying, harassment and discrimination are unacceptable. Remain available and approachable to all colleagues and be receptive to new ideas<br>&#x25cf;&nbsp;<strong>Managing a Quality Service: </strong>Demonstrate positive customer service by understanding the complexity and diversity of customer needs and expectations. Deliver a high quality, efficient and cost effective service by considering a broad range of methods for delivery. Ensure full consideration of new technologies, accessibility and costings. Make clear, practical and manageable plans for service delivery. Ensure adherence to legal, regulatory and security requirements in service delivery. Proactively manage risks and identify solutions. Establish how the business area compares to industry best practice. Create regular opportunities for colleagues, stakeholders, delivery partners and customers to help improve the quality of service<br>&#x25cf;&nbsp;<strong>Developing Self and Others: </strong>Prioritise and role-model continuous self-learning and development. Identify areas individuals and teams need to develop in order to achieve future objectives. Support colleagues to take responsibility for their own learning and development. Ensure that development opportunities are available for all individuals regardless of their background or desire to achieve promotion. Ensure individuals take full advantage of learning and development opportunities available to them, including workplace based learning. Encourage discussions within and between teams to learn from each other&rsquo;s experiences and change organisational plans and processes accordingly<br>&#x25cf;&nbsp;<strong>Leadership: </strong>Promote diversity, inclusion and equality of opportunity, respecting difference and external experience. Welcome and respond to views and challenges from others, despite any conflicting pressures to ignore or give in to them. Stand by, promote or defend own and team&rsquo;s actions and decisions where needed. Seek out shared interests beyond own area of responsibility, understanding the extent of the impact actions have on the organisation. Inspire and motivate teams to be fully engaged in their work and dedicated to their role</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: <br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>