<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>CONTRACT AND SUPPLIER MANAGEMENT<br></strong><strong>Supplier Management</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial </strong><strong>Professional Level</strong></th>
<td><strong>Associate Commercial Specialist </strong><br>(Grade 6 equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will lead strategic supplier management and supplier relationship management (SRM) across a wide ranging portfolio of suppliers, each working to deliver complex and high-profile goods and services to the business. You will be expected to engage collaboratively with strategic suppliers to improve delivery or to meet organisational objectives, increase mutual value beyond that contracted, ensure best &lsquo;value for money&rsquo;, manage risk and ensure security of supply.<br><br>You will lead a team, building their confidence and commercial capability to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Typically, the key responsibilities in this role will include (but are not limited to): <br><br>&#x25cf;&nbsp;Responsibility for the strategic SRM process within a category/contracts to drive supplier performance and ensure commercial rigour, quality of service and continuous improvement and innovation<br>&#x25cf;&nbsp;Developing and owning relationships with the department business groups, building detailed knowledge of their needs in order to deliver value through sourcing and procurement activity<br>&#x25cf;&nbsp;Managing a team to deliver on the aims of the SRM strategy<br>&#x25cf;&nbsp;Leading mediation and dispute resolution, driving value from the use of performance metrics and success criteria<br>&#x25cf;&nbsp;Implementing structured approaches to SRM throughout their area of responsibility<br>&#x25cf;&nbsp;Managing supplier relationships and contract teams giving day-to-day oversight of contracts<br>&#x25cf;&nbsp;Providing practical advice to stakeholders having identified, evaluated, negotiated and apportioned contract risks<br>&#x25cf;&nbsp;Developing approaches for supplier innovation, continuous improvement, collaboration and cooperation<br>&#x25cf;&nbsp;Working with contract managers and wider commercial colleagues to regularly review the performance of suppliers, ensuring the relevant assurance and due diligence takes place, whilst ensuring colleagues across the business are receiving strong performance from the provider <br>&#x25cf;&nbsp;Maintaining quality and concurrency of systems, reporting and management information<br>&#x25cf;&nbsp;Providing performance and day-to-day management of a team to deliver on the SRM strategy and activity across the commercial lifecycle <br>&#x25cf;&nbsp;Mentoring and providing guidance to members of the team<br>&#x25cf;&nbsp;Working within a secure environment on sensitive projects as required</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Supplier Management:</strong><br>&#x25cf;&nbsp;Has strong understanding of the principles of end-to-end commercial lifecycle management<br>&#x25cf;&nbsp;Has strong understanding of SRM processes, supplier innovation and supplier management principles, behaviours, plans and techniques<br><br><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has a strong practical understanding of market and commercial drivers as well as contract law<br>&#x25cf;&nbsp;Demonstrates the ability to draw conclusions from a wide range of complex data from different sources<br>&#x25cf;&nbsp;Has a practical understanding of the concept of &lsquo;value for money&rsquo; and can articulate what a successful return on investment looks like for a particular project/programme<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions<br>&#x25cf;&nbsp;Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs <br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards<br><br><strong>Team Management:</strong><br>&#x25cf;&nbsp;Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps can build their confidence to deal with setbacks <br>&#x25cf;&nbsp;Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and morale<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Demonstrates strong stakeholder engagement skills with the ability to show resilience in interactions with suppliers in order to defend the department&rsquo;s position <br>&#x25cf;&nbsp;Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity</td>
</tr>
<tr>
<th><strong>Civil Service Behviours</strong></th>
<td>Ability to show examples across all of the following behaviours for level 4 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>&#x25cf;&nbsp;<strong>Changing and Improving: </strong>Encourage, recognise and share innovative ideas from a diverse range of colleagues and stakeholders. Give people space to take initiative and praise them for their creativity. Create an environment where people feel safe to challenge and know their voice will be heard. Make changes which add value and clearly articulate how changes will benefit the business. Understand and identify the role of technology in public service delivery and policy implementation. Consider the full impact of implementing changes on culture, structure, morale and the impacts on the diverse range of end users, including accessibility needs. Identify early signs that things are going wrong and respond promptly. Provide constructive challenge to senior management on change proposals<br>&#x25cf;&nbsp;<strong>Managing a Quality Service: </strong>Demonstrate positive customer service by understanding the complexity and diversity of customer needs and expectations. Deliver a high quality, efficient and cost effective service by considering a broad range of methods for delivery. Ensure full consideration of new technologies, accessibility and costings. Make clear, practical and manageable plans for service delivery. Ensure adherence to legal, regulatory and security requirements in service delivery. Proactively manage risks and identify solutions. Establish how the business area compares to industry best practice. Create regular opportunities for colleagues, stakeholders, delivery partners and customers to help improve the quality of service<br>&#x25cf;&nbsp;<strong>Developing Self and Others: </strong>Prioritise and role-model continuous self-learning and development. Identify areas individuals and teams need to develop in order to achieve future objectives. Support colleagues to take responsibility for their own learning and development. Ensure that development opportunities are available for all individuals regardless of their background or desire to achieve promotion. Ensure individuals take full advantage of learning and development opportunities available to them, including workplace based learning. Encourage discussions within and between teams to learn from each other&rsquo;s experiences and change organisational plans and processes accordingly<br>&#x25cf;&nbsp;<strong>Leadership: </strong>Promote diversity, inclusion and equality of opportunity, respecting difference and external experience. Welcome and respond to views and challenges from others, despite any conflicting pressures to ignore or give in to them. Stand by, promote or defend own and team&rsquo;s actions and decisions where needed. Seek out shared interests beyond own area of responsibility, understanding the extent of the impact actions have on the organisation. Inspire and motivate teams to be fully engaged in their work and dedicated to their role <span>&nbsp;</span></td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: <br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>