##Commercial Professional Level - <strong>Commercial Practitioner</strong> (HEO equivalent)

###Role summary

In this role you will contribute to delivering commercial excellence for your department through supporting with analysis of key supply markets to understand the characteristics of new markets, and inform whether market making or development is required. The role is varied, you will contribute to conducting assessments of the business need and to recommendations as to the most appropriate market engagement approach to increase competition, promote innovation and improve value for money in contracts.

You will work as part of a larger team, but will be expected to work independently by prioritising and managing your own workload to deliver to deadlines and to respond to changing operational demands.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Performing market analysis, combining market specific data analysis with the bigger picture in order to advise on future market changes

- Conducting pre-procurement market engagement to ensure that the requirement is clear and attractive to a diverse range of suppliers

- Assessing and understanding business requirements and the market place, providing advice and challenge in the development of an overarching sourcing strategy

- Understanding and applying the security requirements of departments 

- Gathering inputs for the commercial input into business cases, demonstrating a project's benefits, value for money and risk

- Using tools and templates to compare current price of goods and services procured under existing contracts against market rates, in order to inform commercial decisions to realign contract prices where required

- Using e-sourcing tools to support an efficient approach to managing sourcing processes 

- Managing record-keeping and compliance within the sourcing process

- Engaging with key stakeholders across the business to support the team develop a clear and agreed view of business requirements 

- Engaging with the contract management function and other internal stakeholders in the sourcing phase to ensure early preparations for contract management are factored into the plan 

- Understanding, and being able to advise on, sourcing compliance and frameworks 

- Where applicable, supporting commercial colleagues with international procurements, including the management and facilitation of the process that allows firms globally to bid on contracts for goods and services 

#Essential Criteria

<strong>Understanding Needs and Sourcing:</strong>

- Has an good understanding of sourcing and procurement methodologies, as well as relevant processes, policy and governance

<strong>Commercial Focus: </strong>

- Has an understanding of elementary economics factors that may determine a market shape, dynamics and models, the changes in the business needs of an organisation and is familiar with key commercial tools

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to identify and communicate cyber, personnel and physical risks and gain agreement on how they should be managed/mitigated

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to apply standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their performance and manage setbacks and resolve issues internally

<strong>Build Relationships: </strong>

- Demonstrates the ability to communicate with stakeholders at all levels using different communication styles to articulate the benefits that have been achieved and to establish governance and relationship arrangements

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 3 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role