##Commercial Intelligence

##Commercial Professional Level - <strong>Commercial Lead</strong> (G7 equivalent)

###Role summary

In this role you contribute to delivering commercial excellence for your department through analysing key supply markets to understand the characteristics of new markets, and inform whether market making or development is required. The role is varied, you will conduct assessments of the business need and recommend the most appropriate market engagement approach to increase competition, promote innovation and improve value for money in contracts.

You will lead a team, building their confidence to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Working with key stakeholders to develop a clear and agreed view of business requirements

- Performing end-to-end strategic sourcing activities and serving as a subject matter expert, supporting business units in articulating their commercial requirements

- Advising and providing professional guidance throughout the sourcing process, considering and evaluating a range of sourcing models

- Leading on market analysis, understanding market models and market shaping

- Providing sufficient detail to allow the market to respond to requirements whilst leaving room for innovation, and challenging specifications to improve outcomes

- Developing options for business cases, including articulating associated benefits and producing supporting arguments for the preferred option

- Where appropriate, developing category strategies, product road maps and sourcing plans

- Understanding demand by forecasting and planning requirements with internal stakeholders and suppliers

- Selecting appropriate project/ programme management to underpin business requirements

- Identifying opportunities to develop collaborative partnerships with suppliers

- Providing advice and guidance on sectors and suppliers as required, managing stakeholder expectations

- Seeking early active involvement of internal stakeholders in the sourcing process. This includes seeking business buy in and understanding as to how the contract will be managed once the sourcing project is complete

- Understanding and being accountable for sourcing compliance and frameworks 

###Essential Criteria

<strong>Understanding Needs and Sourcing:</strong>

- Has an excellent understanding of sourcing and procurement methodologies, as well as relevant processes, policy and governance 

- Demonstrates a good knowledge of regulatory compliance

<strong>Commercial Focus: </strong>

- Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility, can apply the commercial principles within the boundaries of contract law

- Demonstrates the ability to lead on securing value for money through achieving good return on investment on commercial projects

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks and to resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges

<strong>Build Relationships: </strong>

- Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making. 

- Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role