##Commercial Intelligence

##Commercial Professional Level - <strong>Associate Commercial Lead</strong> (G6 equivalent)

###Role summary

In this role you contribute to delivering commercial excellence for your department through analysing key supply markets to understand the characteristics of new markets, and inform whether market making or development is required. The role is varied, you will conduct assessments of the business need and recommend the most appropriate market engagement approach to increase competition, promote innovation and improve value for money in contracts.

You will lead a team, building their confidence and commercial capability to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Driving and leading sourcing activity, including strategic sourcing processes in support of the department’s strategic aims

- Finalising and approving commercial arrangements, including final negotiation

- Refining specification for complex requirements

- Engaging stakeholders to develop a clear and agreed view of business requirements and target outcomes

- Managing and forecasting demand across area of responsibility

- Challenging the sourcing strategy, where appropriate, to improve outcomes

- Preparing, developing and commissioning business cases, where necessary, to demonstrate the value, benefits and risks of sourcing activity

- Reviewing and challenging business cases to make sure they are fit for purpose

- Implementing appropriate project and programme management across area of responsibility

- Achieving the return on investment and improving costs and delivery certainty by managing resources and maximising the use of assets

- Considering key service and delivery objectives with stakeholder and implements appropriate contract and performance management regime within the terms and conditions

- Developing and instigating approaches with stakeholders to support collaborative commercial relationships using appropriate frameworks and standards

- Providing advice on market behaviour, shape and drivers to secure value

- Considering key financial, legal and commercial issues in the development of the contracting model and implements these within the terms and conditions

- Advising on relevant regulations and compliance issues demonstrating a strong knowledge 

###Essential Criteria

<strong>Understanding Needs and Sourcing:</strong>

- Has an expert understanding of sourcing and procurement methodologies, as well as relevant processes, policy and governance

- Demonstrates a strong knowledge of regulatory compliance

<strong>Commercial Focus: </strong>

- Has a strong practical understanding of market and commercial drivers as well as contract law

- Demonstrates the ability to draw conclusions from a wide range of complex data from different sources

- Has a practical understanding of the concept of value for money and can articulate what a successful return on investment looks like for a particular project/programme

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions

- Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Management: </strong>

- Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks 

- Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and moral.

<strong>Build Relationships: </strong>

- Demonstrates strong stakeholder engagement skills with the ability to demonstrate resilience in interactions with suppliers in order to defend the departments position 

- Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role