##Commercial Intelligence

##Commercial Professional Level - <strong>Associate Commercial Lead</strong> (SEO equivalent)

###Role summary

In this role you will contribute to delivering commercial excellence for your department through analysing key supply markets to understand the characteristics of new markets, and inform whether market making or development is required. The role is varied, you will contribute to conducting assessments of the business need and to recommendations as to the most appropriate market engagement approach to increase competition, promote innovation and improve value for money in contracts.

You will work independently and part of a larger team by drawing on your commercial experience to drive performance and manage setbacks. You will be able to prioritise and manage your own workload to deliver to deadlines, mitigate and escalate any emerging risks and to respond swiftly to changing operational demands.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Working as a procurement lead and as part of cross-functional teams in order to implement pre market engagement

- Overseeing market analysis, understanding market models and market shaping

- Ensuring that all pre-procurement engagement has been completed and that the organisation is ready to go to market

- Working with key stakeholders to develop a clear and agreed view of business requirements, and supporting business units in articulating their commercial requirements

- Understanding the requirement, the market place and potential solutions, providing advice and challenging where necessary

- Building relationships with key internal and external stakeholders, in order to develop a clear and agreed view of the needs of the business and wider cross-government strategies 

- Advising and providing professional guidance throughout the sourcing process, considering and evaluating a range of sourcing models

- Leading development of commercial input into business cases, demonstrating a project's benefits, value for money and risk

- Developing product road maps and sourcing plans, maintaining these taking into account outputs from market analysis

- Baselining costs using market knowledge and research and managing sourcing and benefits realisation plans

- Working with pre-existing arrangements, either within the Department or across Government, that could be exploited to meet the requirement negating the need to set up an alternative sourced arrangement

- Leading/ managing (where appropriate) any Controls and Internal/ Department Approvals processes, engaging with these bodies and gaining the necessary approvals

- Understanding and being accountable for sourcing compliance and frameworks 

- Using e-sourcing/ e-tendering tools and techniques, in order to support the sourcing process, benchmark categories and determine future requirements

- Seeking early active involvement of the contract management function and other internal stakeholders in the sourcing process to ensure full and deep understanding of the resulting contract

###Essential Criteria

<strong>Understanding Needs and Sourcing:</strong>

- Has an excellent understanding of sourcing and procurement methodologies, as well as relevant processes, policy and governance

- Demonstrates good understanding of regulatory compliance

<strong>Commercial Focus: </strong>

- Has strong commercial knowledge, understands commercial law and can use key commercial tools appropriately

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to manage cyber, personnel and physical risks within an area of responsibility

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to apply standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their performance and manage setbacks and resolve issues internally

<strong>Build Relationships: </strong>

- Demonstrates the ability to communicate with stakeholders at all levels using different communication styles to articulate the benefits that have been achieved and to establish governance and relationship arrangements

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 3 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:

- An additional short paragraph in the role summary

- Additional key responsibilities based on the department context

- Bespoke essential skills/ experience required for the role