##Sourcing Strategy

##Commercial Professional Level - <strong>Commercial Specialist</strong> (SCS1 equivalent)

###Role summary

In this role you will contribute towards delivering commercial excellence for your department, defining a sourcing strategy which outlines the plan to cost effectively acquire the necessary goods or services and provides strategic direction for the planned procurements to senior stakeholders across the business. This role will predominantly focus on collaborative procurement to maximise purchasing power by aggregating demand, utilising collaborative procurement channels.

You will lead a team, building their confidence and commercial capability as an influential leader to shape and define a deal in a complex and uncertain context, delegating risks and issues to individuals in line with your experience and potential. The role will also require you to use your commercial expertise to take measured risks in order to deliver better approaches and services.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Accountability for sourcing activity within the pillar, including strategic sourcing processes in support of the department’s strategic aims

- Assessing and recommending optimum supply strategy from a range of make vs buy commercial options (insourcing, outsourcing, investment, PPP, mutual, third sector, etc.)

- Leading commercial input into business cases, to demonstrate the value, benefits and risks of sourcing activity

- Leading complex and high value negotiations, finalising major deals, escalating only where necessary to secure progress or improve outcomes

- Leading on overseeing the strategy for transition from procurement / sourcing to contract manager 

- Creating plans to enhance demand forecasting to achieve a balance between demand and supply

- Developing strong business options to influence ministers and senior leaders, drawing out key risks and compliance issues

- Providing challenge on sourcing models and advising on complex commercial deals

- Building strong relationships with key internal and external stakeholders, in order to develop a clear and agreed view of the needs of the business and wider cross-government strategies which can then be built into the sourcing strategy

- Providing advice and using commercial expertise and data to inform judgements in markets, sectors, policy, delivery mechanisms, and suppliers

- Critically assessing supply chains and seeking to improve the department’s position

- Establishing dialogue/negotiation strategies with clear parameters

- Promoting collaborative engagement with commercial partners across the department

- Analysing the marketplace, strategically influencing the requirement, challenging wants over needs and seeking innovation solutions 

###Essential Criteria

<strong>Understanding Needs and Sourcing:</strong>

- Has an expert understanding of sourcing and procurement methodologies, as well as relevant processes, policy and governance

- Demonstrates an expert knowledge of regulatory compliance

<strong>Commercial Focus: </strong>

- Has a strong practical understanding of market shaping principles and contract law and has experience in working in a range of categories/sectors with a range of suppliers 

- Demonstrates the ability to develop the definition of standards of success in terms of the return on investment and value for money for each deal and can lead the debate to make the case with ministers

- Demonstrates the ability to manage the trade-offs and contradictions within complex deals and impact on other areas

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to take measured risks in order to deliver better approaches and services

- Demonstrates the ability to challenge the analysis of risks and margins of error to improve assurance on decisions 

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to contribute to the development of standards and/or policy to eradicate corruption, fraud and unethical behaviour

<strong>Team Management: </strong>

- Demonstrates the ability to coach and mentor individuals as a trusted leader and displays strong motivational capabilities to create a department culture focused on performance and priorities

- Demonstrates the ability to manage a team in shaping and defining a deal in a complex and uncertain context, delegating risks and issues to individuals in line with their experience and potential

<strong>Build Relationships: </strong>

- Has strong stakeholder engagement skills in order to effectively communicate a deal over time from conception to delivery in line with the department’s commercial requirements

- Demonstrates the ability to understand the motivations and behaviours of stakeholders, suppliers and networks

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role