##Sourcing Strategy

##Commercial Professional Level - <strong>Commercial Practitioner</strong> (HEO equivalent)

###Role summary

In this role you will contribute towards delivering commercial excellence for your department, defining a sourcing strategy which outlines the plan to cost effectively acquire the necessary goods or services and provides strategic direction for the planned procurements to senior stakeholders across the business. This role will predominantly focus on collaborative procurement to maximise purchasing power by aggregating demand, utilising collaborative procurement channels.

You will work as part of a larger team, but will be expected to work independently by prioritising and managing your own workload to deliver to deadlines and to respond to changing operational demands.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Leading on end-to-end strategic sourcing activities for the department and serving as a subject matter expert

- Leading development of commercial input into business cases, demonstrating a project's benefits, value for money and risk

- Devising a suitable sourcing strategy for simple low value purchases and procurements

- Developing and maintaining sourcing strategies and creating and implementing agreed sourcing plans

- Engaging with the relevant internal stakeholders and SMEs to assist in developing and executing the sourcing strategy

- Obtaining and collating data and information required to support the development of a sourcing strategy

- Combining market specific data analysis with the bigger picture in order to help advise on future market changes

- Influencing and shaping future procurement policy and standards across the department

- Identifying opportunities to develop collaborative partnerships with suppliers

- Understanding and being accountable for sourcing compliance and frameworks 

- Applying the organisation’s commercial strategy and the governance mechanisms that drive it 

- Applying project planning and management techniques to procurement projects 

- Using e-sourcing tools to support an efficient approach to managing sourcing processes  

###Essential Criteria

<strong>Understanding Needs and Sourcing:</strong>

- Has an excellent understanding of sourcing and procurement methodologies, as well as relevant processes, policy and governanceT

<strong>Commercial Focus: </strong>

- Has an understanding of elementary economics factors that may determine a market shape, dynamics and models, the changes in the business needs of an organisation and is familiar with key commercial tools

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to identify and communicate cyber, personnel and physical risks and gain agreement on how they should be managed/mitigated

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to apply standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their performance and manage setbacks and resolve issues internally

<strong>Build Relationships: </strong>

- Demonstrates the ability to communicate with stakeholders at all levels using different communication styles to articulate the benefits that have been achieved and to establish governance and relationship arrangements 

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 3 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role