##Sourcing Strategy

##Commercial Professional Level - <strong>Associate Commercial Specialist</strong> (G6 equivalent)

###Role summary

In this role you will contribute towards delivering commercial excellence for your department, defining a sourcing strategy which outlines the plan to cost effectively acquire the necessary goods or services and provides strategic direction for the planned procurements to senior stakeholders across the business. This role will predominantly focus on collaborative procurement to maximise purchasing power by aggregating demand, utilising collaborative procurement channels.

You will lead a team, building their confidence and commercial capability to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Driving and leading sourcing activity, including strategic sourcing processes in support of the department’s strategic aims

- Finalising and approving commercial arrangements, including final negotiation

- Preparing, developing and commissioning business cases, where necessary, to demonstrate the value, benefits and risks of sourcing activity

- Devising a suitable sourcing strategy for complex, high value purchases and procurements

- Managing, developing and maintaining sourcing strategies and creating and implementing agreed sourcing plans

- Building strong relationships with key internal and external stakeholders, in order to develop a clear and agreed view of the needs of the business and wider cross-government strategies which can then be built into the sourcing strategy

- Overseeing and collating data and information required to inform the development of a sourcing strategy

- Ensuring relevant issues are fed into strategy and big picture considerations

- Considering the long-term resilience of supply chains and taking opportunities to mitigate the risks and develop opportunities

- Identifying the type of supplies/services that are required and identifying potentially suitable suppliers and markets

- Managing and forecasting demand across area of responsibility

- Implementing appropriate project and programme management across area of responsibility

- Achieving the return on investment and improving costs and delivery certainty by managing resources and maximising the use of assets

- Considering key service and delivery objectives with stakeholders, implementing appropriate contract and performance management regimes within the terms and conditions

- Developing and instigating approaches with stakeholders to support collaborative commercial relationships using appropriate frameworks and standards

###Essential Criteria

<strong>Understanding Needs and Sourcing:</strong>

- Has an expert understanding of sourcing and procurement methodologies, as well as relevant processes, policy and governance

- Demonstrates a strong knowledge of regulatory compliance

<strong>Commercial Focus: </strong>

- Has a strong practical understanding of market and commercial drivers as well as contract law

- Demonstrates the ability to draw conclusions from a wide range of complex data from different sources

- Has a practical understanding of the concept of value for money and can articulate what a successful return on investment looks like for a particular project/programme

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions

- Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs

<strong>Commercial Ethics: </strong> 

- Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Management: </strong>

- Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks 

- Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and moral

<strong>Build Relationships: </strong>

- Demonstrates strong stakeholder engagement skills with the ability to demonstrate resilience in interactions with suppliers in order to defend the departments position 

- Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role