##Sourcing Strategy

##Commercial Professional Level - <strong>Commercial Lead</strong> (G7 equivalent)

###Role summary

In this role you will contribute towards delivering commercial excellence for your department, defining a sourcing strategy which outlines the plan to cost effectively acquire the necessary goods or services and provides strategic direction for the planned procurements to senior stakeholders across the business. This role will predominantly focus on collaborative procurement to maximise purchasing power by aggregating demand, utilising collaborative procurement channels.

You will lead a team, building their confidence to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Performing end-to-end strategic sourcing activities for the department and serving as a subject matter expert

- Devising a suitable sourcing strategy for complex, high value purchases and procurements.

- Managing, developing and maintaining sourcing strategies and creating and implementing agreed sourcing plans.

- Overseeing and collating data and information required to support the development of a sourcing strategy

- Combining market specific data analysis with the bigger picture in order to help advise on future market changes

- Identifying the type of supplies/services that are required and identifying potentially suitable suppliers and markets

- Understanding demand by forecasting and planning requirements with internal stakeholders and suppliers

- Developing options for a business case, including articulating associated benefits and producing supporting arguments for the preferred option

- Advising and providing professional guidance throughout the sourcing process, considering and evaluating a range of sourcing models

- Providing a procurement service to the department which delivers demonstrable value for money and compliant goods and services contracts as part of a team of procurement professionals on larger procurement activities

- Understanding and being accountable for sourcing compliance and frameworks 

- Considering and evaluating a range of sourcing models

- Selecting appropriate project/ programme management to underpin business requirements

- Leading and guiding others in negotiation relating to commercial activity

- Identifying opportunities to develop collaborative partnerships with suppliers

- Providing advice and guidance on sectors and supplier as required, and can manage stakeholder expectations

- Seeking early active involvement of internal stakeholders in the sourcing process. This includes seeking business buy in and understanding as to how the contract will be managed once the sourcing project is complete

###Essential Criteria

<strong>Understanding Needs and Sourcing:</strong>

- Has an excellent understanding of sourcing and procurement methodologies, as well as relevant processes, policy and governance 

- Demonstrates a good knowledge of regulatory compliance

<strong>Commercial Focus: </strong>

- Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility, can apply the commercial principles within the boundaries of contract law

- Demonstrates the ability to lead on securing value for money through achieving good return on investment on commercial projects

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks and to resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges

<strong>Build Relationships: </strong>

- Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making

- Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role