##Procurement Process: Procurement Management

###Commercial Professional Level - Associate Commercial Specialistc (Grade 6 equivalent)

###Role summary

In this role you will lead the procurement process, contribute to delivering commercial excellence for your department and provide a customer-focused service. The role is varied as you will be expected to use your commercial expertise to work on and manage all stages of the procurement process, from gathering requirements from across the business in line with market research, through to the handing over of contracts to contract and supplier management. 

You will lead a team, building their confidence and commercial capability to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Working effectively with senior staff in the supplier organisation and establishing appropriate governance and relationship arrangements
- Identifying and securing new suppliers to improve competition and strengthen the range of quality options available to government
- Collating and reviewing performance information across their area of responsibility and makes recommendations for improvements to senior stakeholders
- Applying the most appropriate evaluation strategy to a sourcing requirement taking into account the type of commodity being procured, complexity, value and strategic importance
- Leading and managing the end to end tendering process
- Justifying commercial activity in accordance with the organisation’s commercial governance and management framework, HM Treasury requirements and Cabinet Office policy and spend controls
- Leading negotiations with data and evidence and for some contracts acts as the signing authority
- Leading supplier engagement across a variety of stages within the procurement process with both strategic and non-strategic suppliers in order to communicate progress in line with benefits realisation
- Constructing contracts with advice and input from others, e.g. lawyers, usually within a reasonably well defined framework or with standard rules
- Quantifying and identifying contract management resources to help design and deliver the strategy for transition
- Applying a strong visual project management approach to procurement projects
- Taking calculated risks in the pursuit of implementing efficient sourcing projects to deliver innovative solutions in line with policy 
- Applying the concept of ‘value for money’ with respect to political goals and using this to articulate what a successful return on investment looks like for a particular commercial project/programme

###Essential Criteria

<strong>Procurement Process:</strong>

- Has considerable experience in managing complex procurements across an area of responsibility and can support the creation of markets to strengthen the range of quality options available to government

<strong>Commercial Focus:</strong>

- Has a strong practical understanding of market and commercial drivers as well as contract law
- Demonstrates the ability to draw conclusions from a wide range of complex data from different sources
- Has a practical understanding of the concept of ‘value for money’ and can articulate what a successful return on investment looks like for a particular project/programme

<strong>Risk and Assurance Management:</strong>

- Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions
- Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs

<strong>Commercial Ethics:</strong>

- Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Management:</strong>

- Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks 
- Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and morale

<strong>Build Relationships:</strong>

- Demonstrates strong stakeholder engagement skills with the ability to show resilience in interactions with suppliers in order to defend the department’s position 
- Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity


###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 4 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

- <strong>Managing a Quality Service:</strong> Demonstrate positive customer service by understanding the complexity and diversity of customer needs and expectations. Deliver a high quality, efficient and cost effective service by considering a broad range of methods for delivery. Ensure full consideration of new technologies, accessibility and costings. Make clear, practical and manageable plans for service delivery. Ensure adherence to legal, regulatory and security requirements in service delivery. Proactively manage risks and identify solutions. Establish how the business area compares to industry best practice. Create regular opportunities for colleagues, stakeholders, delivery partners and customers to help improve the quality of service

- <strong>Making Effective Decisions:</strong> Clarify your own understanding and stakeholder needs and expectations, before making decisions. Ensure decision making happens at the right level, not allowing unnecessary bureaucracy to hinder delivery. Encourage both innovative suggestions and challenge from others, to inform decision making. Analyse and accurately interpret data from various sources to support decisions. Find the best option by identifying positives, negatives, risks and implications. Present reasonable conclusions from a wide range of complex and sometimes incomplete evidence. Make decisions confidently even when details are unclear or if they prove to be unpopular

- <strong>Developing Self and Others:</strong> Prioritise and role-model continuous self-learning and development. Identify areas individuals and teams need to develop in order to achieve future objectives. Support colleagues to take responsibility for their own learning and development. Ensure that development opportunities are available for all individuals regardless of their background or desire to achieve promotion. Ensure individuals take full advantage of learning and development opportunities available to them, including workplace based learning. Encourage discussions within and between teams to learn from each other’s experiences and change organisational plans and processes accordingly

- <strong>Leadership:</strong> Promote diversity, inclusion and equality of opportunity, respecting difference and external experience. Welcome and respond to views and challenges from others, despite any conflicting pressures to ignore or give in to them. Stand by, promote or defend own and team’s actions and decisions where needed. Seek out shared interests beyond own area of responsibility, understanding the extent of the impact actions have on the organisation. Inspire and motivate teams to be fully engaged in their work and dedicated to their role

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:

- An additional short paragraph in the role summary 
- Additional key responsibilities based on the department context 
- Bespoke essential skills/experience required for the role