##Procurement Process: Procurement Management

###Commercial Professional Level - Commercial Lead (Grade 7 equivalent)

###Role summary

In this role you will lead the procurement process, contribute to delivering commercial excellence for your department and provide a customer-focused service. The role is varied as you will be expected to use your commercial expertise to work on and manage all stages of the procurement process, from gathering requirements from across the business in line with market research, through to the handing over of contracts to contract and supplier management. 

You will lead a team, building their confidence to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

 Typically, the key responsibilities in this role will include (but are not limited to):

- Working effectively with senior staff in the supplier organisation and establishing appropriate governance and relationship arrangements
- Measuring performance, challenging inefficient processes and practices and making proposals for improvement
- Developing and publishing a full and approved bidder’s pack in line with financial and contractual delegations
- Applying the most appropriate evaluation strategy to a sourcing requirement taking into account the type of commodity being procured, complexity, value and strategic importance
- Leading and managing the end to end tendering process
- Participating in strategic and business negotiations in order to deliver the agreed strategy and comply with the procurement process 
- Leading supplier engagement across a variety of stages within the procurement process with both strategic and non-strategic suppliers in order to communicate progress in line with benefits realisation
- Justifying commercial activity in accordance with the organisation’s commercial governance and management framework, HM Treasury requirements and Cabinet Office policy and spend controls
- Using methods and strategic relationships to manage risks and foster high quality, reliable and on time delivery of products and services, which are only available from one supplier
- Devising and developing the strategy for transition to the contract manager in partnership with them
- Applying a strong visual project management approach to procurement projects
- Analysing options, managing trade-offs flowing from decisions and mitigating key risks
- Applying the concept of ‘value for money’ with respect to political goals and using this to articulate what a successful return on investment looks like for a particular commercial project/programme

###Essential Criteria

<strong>Procurement Process:</strong>

- Has experience in managing the end-to-end procurement process across an area of responsibility for medium value and medium risk contracts

<strong>Commercial Focus:</strong>

- Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility, can apply the commercial principles within the boundaries of contract law
- Demonstrates the ability to lead on securing ‘value for money’ through achieving good return on investment on commercial projects

<strong>Risk and Assurance Management:</strong>

- Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions

<strong>Commercial Ethics:</strong>

- Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus:</strong>

- Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks, resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges

<strong>Build Relationships:</strong>

- Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making 
- Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 4 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

- <strong>Managing a Quality Service:</strong> Demonstrate positive customer service by understanding the complexity and diversity of customer needs and expectations. Deliver a high quality, efficient and cost effective service by considering a broad range of methods for delivery. Ensure full consideration of new technologies, accessibility and costings. Make clear, practical and manageable plans for service delivery. Ensure adherence to legal, regulatory and security requirements in service delivery. Proactively manage risks and identify solutions. Establish how the business area compares to industry best practice. Create regular opportunities for colleagues, stakeholders, delivery partners and customers to help improve the quality of service

- <strong>Communicating and Influencing:</strong> Communicate with others in a clear, honest and enthusiastic way in order to build trust. Explain complex issues in a way that is easy to understand. Take into account people’s individual needs. Deliver difficult messages with clarity and sensitivity, being persuasive when required. Consider the impact of the language used. Remain open-minded and impartial in discussions, whilst respecting the diverse interests and opinions of others. Introduce different methods for communication, including making the most of digital resources whilst getting ‘value for money’. Monitor the effectiveness of own and team communications and take action to improve where necessary

- <strong>Developing Self and Others:</strong> Prioritise and role-model continuous self-learning and development. Identify areas individuals and teams need to develop in order to achieve future objectives. Support colleagues to take responsibility for their own learning and development. Ensure that development opportunities are available for all individuals regardless of their background or desire to achieve promotion. Ensure individuals take full advantage of learning and development opportunities available to them, including workplace based learning. Encourage discussions within and between teams to learn from each other’s experiences and change organisational plans and processes accordingly

- <strong>Leadership:</strong> Promote diversity, inclusion and equality of opportunity, respecting difference and external experience. Welcome and respond to views and challenges from others, despite any conflicting pressures to ignore or give in to them. Stand by, promote or defend own and team’s actions and decisions where needed. Seek out shared interests beyond own area of responsibility, understanding the extent of the impact actions have on the organisation. Inspire and motivate teams to be fully engaged in their work and dedicated to their role

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:

- An additional short paragraph in the role summary 
- Additional key responsibilities based on the department context 
- Bespoke essential skills/experience required for the role