####Capability and resourcing
{:#capability-and-resourcing}

<strong>Role Summary</strong>

This role involves the management of commercial capability, learning and development, capacity, resourcing, competency and the financial budget to ensure that an organisation has the right commercial skills and resources in place now and in the future.

<table class="financial-data source-tableeditor">
<tbody>
<tr>
<td><strong>&nbsp;</strong><strong>&nbsp;</strong><strong>&nbsp;</strong><strong>Capabilities</strong></td>
<td><span>Level 1+ &ndash; Commercial context<br /><br /></span><span>Level 1+ &ndash; Business understanding</span><span>&nbsp;<br /><br /></span><strong>*These capabilities and levels are recommended rather than mandatory. Please contact departments for a complete and accurate view of the capabilities and level required for specific roles.</strong><span></span></td>
</tr>
<tr>
<td><strong>&nbsp;</strong><strong>&nbsp;</strong><strong>Civil ServiceSuccess Profiles(Behaviours)</strong></td>
<td>Ability to show examples across all Behaviours in the Success Profiles Framework for your Civil Service Grade or equivalent.</td>
</tr>
<tr>
<td><strong>&nbsp;</strong><strong>&nbsp;</strong><strong>&nbsp;</strong><strong>Future Commercial</strong><strong>Pathways</strong></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a><br /><br /><a href="#commercial-strategy-part-1">Commercial strategy</a> <br /><br /><a href="#commercial-policy-part-1">Commercial policy</a></td>
</tr>
</tbody>
</table>