####Continuous improvement
{:#continuous-improvement}

<strong>Role Summary</strong>

This role looks to deliver improved outcomes and value for money for your department and government and to make government commercial practices, processes and policies more effective.

<table class="financial-data source-tableeditor">
<tbody>
<tr>
<td><strong>Capabilities</strong></td>
<td><span>Level 1 &ndash; Commercial context <br /><br />Level 1 &ndash; Business understanding <br /><br />Level 2 -&nbsp;Innovation<br /><br /></span><strong>*These capabilities and levels are recommended rather than mandatory. Please contact departments for a complete and accurate view of the capabilities and level required for specific roles.</strong><span></span></td>
</tr>
<tr>
<td><strong>Civil ServiceSuccess Profiles(Behaviours)</strong></td>
<td>Ability to show examples across all Behaviours in the Success Profiles Framework for your Civil Service Grade or equivalent.</td>
</tr>
<tr>
<td><strong>Future Commercial Pathways</strong></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a><br /><br /><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a><br /></td>
</tr>
</tbody>
</table>