$CTA
####Enabling
$CTA

###Enabling Roles

####Commercial risk management
{:#commercial-risk-management}

<strong>Role Summary</strong>

This role looks to ensure government contracts are awarded and completed successfully in support of government policy or organisation objectives, taking into account the extent of identified threats and opportunities. The role will consist of a range of activities in relation to the analysis, management, escalation and mitigation of commercial risks and capability, resourcing and financing risks for the
department’s commercial team.

<table class="financial-data source-tableeditor">
<tbody>
<tr>
<td><strong>&nbsp;</strong><strong>&nbsp;</strong><strong>&nbsp;</strong><strong>Capabilities</strong></td>
<td>Level 1+ &ndash; Commercial context<br /><br />Level 1+ &ndash; Business understanding<br /><br />Level 2+ &ndash; Contract risk management<strong>&nbsp;<br /><br /></strong><strong>*These capabilities and levels are recommended rather than mandatory. Pleasecontact departments for a complete and accurate view of the capabilities andlevel required for specific roles.</strong></td>
</tr>
<tr>
<td><strong>&nbsp;</strong><strong>&nbsp;</strong><strong>Civil ServiceSuccess Profiles(Behaviours)</strong></td>
<td>Ability to show examples across all Behaviours in the Success Profiles Framework for your Civil Service Grade or equivalent.</td>
</tr>
<tr>
<td><strong>&nbsp;</strong><strong>&nbsp;</strong><strong>&nbsp;</strong><strong>Future Commercial</strong><strong>Pathways</strong></td>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a> <br /><br /><a href="#commercial-policy-part-1">Commercial policy</a> <br /><br />Contract administration <br /><br /><a href="#contract-management-part-1">Contract Management</a> <br /><br /><a href="#supplier-management-part-1">Supplier Management</a></td>
</tr>
</tbody>
</table>