##Procurement Management

##Commercial Professional Level - <strong>Associate Commercial Specialist</strong> (G6 equivalent)

###Role summary

In this role you will lead the procurement process, contribute to delivering commercial excellence for your department and provide a customer-focused service. The role is varied as you will be expected to use your commercial expertise to work on and manage all stages of the procurement process, from gathering requirements from across the business in line with market research, through to the handing over of the contract to contract and supplier management. 

You will lead a team, building their confidence and commercial capability to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Working effectively with senior staff in the supplier organisation and establishing appropriate governance and relationship arrangements

- Identifying and securing new suppliers to improve competition and strengthen the range of quality options available to government

- Collating and reviewing performance information across their area of responsibility and makes recommendations for improvements to senior stakeholders

- Applying the most appropriate evaluation strategy to a sourcing requirement taking into account the type of commodity being procured, complexity, value and strategic importance

- Leading and managing the end to end tendering process

- Justifying commercial activity in accordance with the organisation’s commercial governance and management framework, HM Treasury requirements and Cabinet Office policy and spend controls

- Leading negotiations with data and evidence and for some contracts acts as the signing authority

- Leading supplier engagement across a variety of stages within the procurement process with both strategic and non-strategic suppliers in order to communicate progress in line with benefits realisation

- Constructing contracts with advice and input from others, e.g. lawyers, usually within a reasonably well defined framework or with standard rules.

- Quantifying and identifying contract management resources to help design and deliver the strategy for transition

- Appling a strong visual project management approach to procurement projects

- Taking calculated risks in the pursuit of implementing efficient sourcing projects to deliver innovative solutions in line with policy 

- Applying the concept of ‘value for money’ with respect to political goals and using this to articulate what a successful return on investment looks like for a particular commercial project/programme

###Essential Criteria

<strong>Procurement Process: </strong>

- Has considerable experience in managing complex procurements across an area of responsibility and can support the creation of markets to strengthen the range of quality options available to government

<strong>Commercial Focus: </strong>

- Has a strong practical understanding of market and commercial drivers as well as contract law

- Demonstrates the ability to draw conclusions from a wide range of complex data from different sources

- Has a practical understanding of the concept of value for money and can articulate what a successful return on investment looks like for a particular project/ programme

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions

- Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs

<strong>Commercial Ethics: </strong> 

- Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Management: </strong>

- Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks 

- Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and moral

<strong>Build Relationships: </strong>

- Demonstrates strong stakeholder engagement skills with the ability to demonstrate resilience in interactions with suppliers in order to defend the departments position 

- Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role