##Procurement Management

##Commercial Professional Level - <strong>Commercial Practitioner</strong> (HEO equivalent)

###Role summary

In this role you will contribute to the procurement process, delivering commercial excellence for your department and providing a customer-focused service. The role is varied as you will be expected to operate off frameworks in order to contribute to all stages of the procurement process, from gathering requirements from across the business in line with market research, through to the handing over of the contract to contract and supplier management. 

You will work as part of a larger team, but will be expected to work independently by prioritising and managing your own workload to deliver to deadlines and to respond to changing operational demands.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Working effectively with senior staff in the supplier organisation and establishing appropriate governance and relationship arrangements.

- Applying the organisations and government-wide KPIs and measures supplier performance against them

- Briefing and training evaluators in the use of e-sourcing tools (e.g. managing supplier correspondence)

- Developing the bidders’ packs including reviewing and clarifying the specification, drafting appropriate tools and considering optimal pricing and incentivisation mechanisms for simple low value purchases and procurements

- Leading and managing the end to end tendering process

- Debriefing unsuccessful suppliers

- Participating in strategic and business negotiations in order to deliver the agreed strategy and comply with the procurement process 

- Leading supplier engagement across a variety of stages within the procurement process

- Using methods and strategic relationships to manage risks and foster high quality, reliable and on time delivery of products and services, which are only available from one supplier

- Working effectively with the Contract Management function as part of the contract management mobilisation phase

- Appling a strong visual project management approach to procurement projects

- Identifying and communicating perceived and relevant areas of risk (to include cyber, personnel and physical risks) and gaining agreement on how it is to be managed/mitigated

- Using cost models and associated commercial and security concepts

###Essential Criteria

<strong>Procurement Process: </strong>

- Has some practical experience in carrying out elements of the procurement process with support for low value and low risk contracts 

<strong>Commercial Focus: </strong>

- Has an understanding of elementary economics factors that may determine a market shape, dynamics and models, the changes in the business needs of an organisation and is familiar with key commercial tools

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to identify and communicate cyber, personnel and physical risks and gain agreement on how they should be managed/mitigated

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to apply standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their performance and manage setbacks and resolve issues internally

<strong>Build Relationships: </strong>

- Demonstrates the ability to communicate with stakeholders at all levels using different communication styles to articulate the benefits that have been achieved and to establish governance and relationship arrangements

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 3 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role