##Procurement Management

##Commercial Professional Level - <strong>Commercial Lead</strong> (G7 equivalent)

###Role summary

In this role you will lead the procurement process, contribute to delivering commercial excellence for your department and provide a customer-focused service. The role is varied as you will be expected to use your commercial expertise to work on and manage all stages of the procurement process, from gathering requirements from across the business in line with market research, through to the handing over of the contract to contract and supplier management. 

You will lead a team, building their confidence to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Working effectively with senior staff in the supplier organisation and establishing appropriate governance and relationship arrangements

- Measuring performance, challenging inefficient processes and practices and making proposals for improvement

- Developing and publishing a full and approved bidder’s pack in line with financial and contractual delegations

- Applying the most appropriate evaluation strategy to a sourcing requirement taking into account the type of commodity being procured, complexity, value and strategic importance

- Leading and managing the end to end tendering process

- Participating in strategic and business negotiations in order to deliver the agreed strategy and comply with the procurement process 

- Leading supplier engagement across a variety of stages within the procurement process with both strategic and non-strategic suppliers in order to communicate progress in line with benefits realisation

- Justifying commercial activity in accordance with the organisation’s commercial governance and management framework, HM Treasury requirements and Cabinet Office policy and spend controls

- Using methods and strategic relationships to manage risks and foster high quality, reliable and on time delivery of products and services, which are only available from one supplier

- Devising and developing the strategy for transition to contract manager in partnership with the contract manager

- Appling a strong visual project management approach to procurement projects

- Analysing options, managing trade-offs flowing from decisions and mitigating key risks

- Applying the concept of ‘value for money’ with respect to political goals and using this to articulate what a successful return on investment looks like for a particular commercial project/programme

###Essential Criteria

<strong>Procurement Process: </strong>

- Has experience in managing the end-to-end procurement process across an area of responsibility for medium value and medium risk contracts 

<strong>Commercial Focus: </strong>

- Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility, can apply the commercial principles within the boundaries of contract law

- Demonstrates the ability to lead on securing value for money through achieving good return on investment on commercial projects 

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks and to resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges

<strong>Build Relationships: </strong>

- Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making. 

- Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role