##Procurement Management

##Commercial Professional Level - <strong>Associate Commercial Practitioner</strong> (EO equivalent)

###Role summary

In this role you will support the procurement process, contributing to delivering commercial excellence for your department and providing a customer-focused service. The role is varied as you will be expected to operate off frameworks in order to contribute to all stages of the procurement process, from helping to gather requirements from across the business in line with market research, through to the handing over of the contract to contract and supplier management. 

You will work as part of a larger team, but will be expected to be able to prioritise and manage your own workload to deliver to deadlines and know when to seek support in order to balance both operationally urgent and important tasks.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Confirming the type of supplier/services that are required and identifies potentially suitable suppliers and markets. Expressing the key roles and responsibilities of prime and sub-contractors for delivery, security and KPIs

- Assisting with the monitoring of the commercial benefits and status of procurement projects

- Finding and presenting information to support procurement decisions and to assist with supplier reviews or in developing reports

- Supporting a wide range of procurement processes including the conduct of tenders, with the use of e-tendering tools (e.g. managing supplier correspondence)

- Supporting the development of procurement documents (e.g. ITT templates and T&C’s)

- Ensuring all procurement systems and databases are managed, maintained and that information is cleansed for accurate reporting

- Responding to customer enquiries and supports contract and supplier management activity across a range of commercial areas

- Supporting with supplier engagement across a variety of stages within the procurement process

- Applying a strong visual project management approach to procurement projects

###Essential Criteria

<strong>Procurement Process: </strong>

- Has knowledge of all stages of the procurement process and understands the essentials of public procurement regulations

<strong>Commercial Focus: </strong>

- Has a good understanding of the elementary economics factors that may determine a market shape, dynamics and models and can apply tools and techniques associated with gathering commercial data

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to identify possible risks, understand their impact, use appropriate mitigation techniques and escalate them where appropriate

<strong>Commercial Ethics: </strong> 

- Has an understanding of the standards to eliminate corruption, fraud and unethical behaviour in supply chains and can take action in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their resilience and performance

<strong>Build Relationships: </strong>

- Has good stakeholder management skills and has the ability to use different communication styles with different audiences

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 2 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role