##Procurement Management

##Commercial Professional Level - <strong>Commercial Specialist</strong> (SCS1 equivalent)

###Role summary

In this role you will lead the procurement process, promote delivering commercial excellence for your department and ensure your team delivers a customer-focused service. The role is varied as you will be expected to use your commercial expertise to lead on all stages of the procurement process, from gathering requirements from across the business in line with market research, through to the handing over of the contract to contract and supplier management for complex and high value contracts. 

You will lead a team, building their confidence and commercial capability as an influential leader to shape and define a deal in a complex and uncertain context, delegating risks and issues to individuals in line with your experience and potential. The role will also require you to use your commercial expertise to take measured risks in order to deliver better approaches and services.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Leading on the creation of markets to strengthen the range and quality of options available to government in its commercial arrangements

- Applying the most appropriate evaluation strategy to a sourcing requirement taking into account the type of commodity being procured, complexity, value and strategic importance

- Generating the way forward on complex deals, focused on outcomes and weighing up competing views

- Leading and managing the end to end tendering process

- Justifying commercial activity in accordance with the organisation’s commercial governance and management framework, HM Treasury requirements and Cabinet Office policy and spend controls

- Leading complex and high value negotiations, finalising major deals, escalating only where necessary to secure progress or improve outcomes

- Identifying and acting on opportunities for innovation to secure organisational improvement and the management of assets (e.g. intellectual property).

- Leading supplier engagement across a variety of stages within the procurement process with both strategic and non-strategic suppliers

- Using methods and strategic relationships to manage risks and foster high quality, reliable and on time delivery of products and services, which are only available from one supplier

- Managing cross-disciplinary teams and relationships at a senior level to deliver outcomes and applying good reporting and transparency mechanisms

- Quantifying and identifying contract management resources to help design and deliver the strategy for transition

- Applying a strong visual project management approach to procurement projects

- Developing and defining standards of success in regards to the return on investment for a particular commercial project/programme in their area of responsibility

###Essential Criteria

<strong>Procurement Process: </strong>

- Has expertise in managing complex, high value and high risk procurements across a range of categories/sectors as well as in new and emerging markets 

<strong>Commercial Focus: </strong>

- Has a strong practical understanding of market shaping principles and contract law and has experience in working in a range of categories/sectors with a range of suppliers 

- Demonstrates the ability to develop the definition of standards of success in terms of the return on investment and value for money for each deal and can lead the debate to make the case with ministers

- Demonstrates the ability to manage the trade-offs and contradictions within complex deals and impact on other areas

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to take measured risks in order to deliver better approaches and services

- Demonstrates the ability to challenge the analysis of risks and margins of error to improve assurance on decisions 

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to contribute to the development of standards and/or policy to eradicate corruption, fraud and unethical behaviour

<strong>Team Focus: </strong>

- Demonstrates the ability to coach and mentor individuals as a trusted leader and displays strong motivational capabilities to create a department culture focused on performance and priorities

- Demonstrates the ability to manage a team in shaping and defining a deal in a complex and uncertain context, delegating risks and issues to individuals in line with their experience and potential

<strong>Build Relationships: </strong>

- Has strong stakeholder engagement skills in order to effectively communicate a deal over time from conception to delivery in line with the department’s commercial requirements

- Demonstrates the ability to understand the motivations and behaviours of stakeholders, suppliers and networks

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role