##Procurement Management

##Commercial Professional Level - <strong>Associate Commercial Lead</strong> (SEO equivalent)

###Role summary

In this role you will work across the procurement process, contributing to delivering commercial excellence for your department and providing a customer-focused service. The role is varied as you will be expected to work on all stages of the procurement process, from gathering requirements from across the business in line with market research, through to the handing over of the contract to contract and supplier management. 

You will work independently and part of a larger team by drawing on your commercial experience to drive performance and manage setbacks. You will be able to prioritise and manage your own workload to deliver to deadlines, mitigate and escalate any emerging risks and to respond swiftly to changing operational demands.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Working effectively with senior staff in the supplier organisation and establishing appropriate governance and relationship arrangements

- Applying the organisations and government-wide KPIs and measures supplier performance against them

- Developing the bidders’ packs including reviewing and clarifying the specification, drafting appropriate tools and considering optimal pricing and incentivisation mechanisms for medium value purchases and procurements

- Applying the most appropriate evaluation strategy to a sourcing requirement taking into account the type of commodity being procured, complexity, value and strategic importance

- Leading and managing the end to end tendering process

- Participating in strategic and business negotiations in order to deliver the agreed strategy and comply with the procurement process 

- Leading supplier engagement across a variety of stages within the procurement process with both strategic and non-strategic suppliers in order to communicate progress in line with benefits realisation

- Using methods and strategic relationships to manage risks and foster high quality, reliable and on time delivery of products and services, which are only available from one supplier

- Ensuring that the contract management mobilisation phase and supporting activities are carried out successfully

- Applying a strong visual project management approach to procurement projects

- Analysing options, managing trade-offs flowing from decisions and mitigating key risks

- Applying the concept of ‘value for money’ with respect to political goals and using this to articulate what a successful return on investment looks like for a particular commercial project/programme

###Essential Criteria

<strong>Procurement Process: </strong>

- Has experience in conducting the end-to-end procurement process across an area of responsibility taking into consideration the type of commodity being procured, complexity, value and strategic importance

<strong>Commercial Focus: </strong>

- Has strong commercial knowledge, understands commercial law and can use key commercial tools appropriately

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to manage cyber, personnel and physical risks within an area of responsibility

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to apply standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their performance and manage setbacks and resolve issues internally

<strong>Build Relationships: </strong>

- Demonstrates the ability to communicate with stakeholders at all levels using different communication styles to articulate the benefits that have been achieved and to establish governance and relationship arrangements

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 3 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role