<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>Cross Pillar<br></strong><strong>Category Management</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial Professional Level</strong></th>
<td><strong>Commercial Practitioner<br></strong>(Higher Executive Officer equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will be expected to contribute to delivering commercial excellence for the department, providing a customer-focused service, understanding the business need and stakeholder drivers, with the aim of becoming a trusted commercial advisor. You will also develop relationships with the department&rsquo;s key and strategic suppliers, driving value for money and risk management excellence across the category.<br><br>You will be expected to support across the overall commercial life cycle. You will contribute to strategy and policy development, analyse data and use market insight to support the sourcing options, and work across the procurement process.<br><br>You will work as part of a larger team, but will be expected to work independently by prioritising and managing your own workload to deliver to deadlines and to respond to changing operational demands.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Category Management roles are varied, and individual remit is subject to both size of category, and/or level of complexity, value and risk within a category. &nbsp;Typically, key responsibilities for a commercial professional in this role may include (but are not limited to):<br><br>&#x25cf;&nbsp;Strategic delivery and management within a category:<br><strong>&ordm;</strong>&nbsp;Supporting development of specifications to deliver requirements that are in line with business needs, and existing category strategy <br><strong>&ordm;</strong>&nbsp;Engaging, where required, with the relevant lead ensuring that business requirements are in line with existing category strategies<br><strong>&ordm;</strong>&nbsp;Contributing to the development of category strategies<br><strong>&ordm;</strong>&nbsp;Carrying out analysis, research and requirements gathering to feed into demand forecasting and category strategies<br><strong>&ordm;</strong> Tracking progress against category plans and working to deliver key tasks<br><br>&#x25cf;&nbsp;Understanding relevant sourcing options and analysis, delivering positive outcomes through the procurement process:<br><strong>&ordm;</strong>&nbsp;Working independently across end-to-end strategic sourcing activities for the department<br><strong>&ordm;</strong>&nbsp;In some cases, leading on low value/low complexity procurements, with support from senior commercial colleagues<br><strong>&ordm;</strong>&nbsp;Engaging with key stakeholders across the department to support the team develop a clear and agreed view of business requirements<br><strong>&ordm;</strong>&nbsp;Advising and providing professional guidance throughout the sourcing process, supporting the evaluation of a range of sourcing models<br><strong>&ordm;</strong>&nbsp;Gathering inputs and at times leading development of commercial input into business cases, evaluating the benefits, value and risks of projects<br><strong>&ordm;</strong>&nbsp;Providing a procurement service to the department which delivers demonstrable value for money and compliant goods and services contracts as part of a team of procurement professionals on larger procurement activities<br><strong>&ordm;</strong> Understanding, and being able to advise on, sourcing compliance and frameworks<br><br>&#x25cf;&nbsp;Ensuring effective commercial contract and supplier management within the category:<br><strong>&ordm;</strong>&nbsp;Day-to-day management of one or more low to medium value/risk/ complexity contracts within the category, with support from senior commercial colleagues<br><strong>&ordm;</strong>&nbsp;Managing one or more contracts/suppliers, ensuring effective stakeholder management, governance, performance management frameworks, escalation, risk management, issues resolution, financial management, change control and compliance<br><strong>&ordm;</strong>&nbsp;Contributing to the management and administration of the whole supply chain portfolio, including the implementation of supply chain management and supplier relationship strategies<br><strong>&ordm;</strong>&nbsp;Supporting the administration of change control notices, data/spend analysis, management information and reporting<br><strong>&ordm;</strong>&nbsp;Tracking and owning risks relating to specific contracts, taking steps to mitigate commercial risks<br><strong>&ordm;</strong> Identifying perceived areas of risk, and supporting analysis of suppliers for risk and assurance purposes<br><br>&#x25cf;&nbsp;Building and maintaining key relationships across the department and with important external stakeholders:<br><strong>&ordm;</strong>&nbsp;Developing effective working relationships with supplier organisations to establish appropriate governance and relationship arrangements, ensuring the effective management of clarifications and change requests<br><strong>&ordm;</strong>&nbsp;Engaging and working closely with the relevant senior business lead, ensuring that business requirements are supported by category strategies<br><strong>&ordm;</strong>&nbsp;Identifying key suppliers and articulating management and engagement level required to assure the supply chain<br><strong>&ordm;</strong>&nbsp;Assisting with senior internal stakeholder management across the business, helping them be informed about business elements that aim to move forward critical decision making at the top level<br><strong>&ordm;</strong> Assisting with senior external stakeholder management, holding working level relationships with individuals at external stakeholder groups<br><br>&#x25cf;&nbsp;Enabling and developing the department:<br><strong>&ordm;</strong>&nbsp;Contributing to the maintenance and updating of systems throughout the procurement lifecycle<br><strong>&ordm;</strong> Feeding into catalogue and content management for the department, owning key aspects and working with stakeholders to promote the use of catalogues<br><span>&nbsp;</span>&nbsp;<br>&#x25cf;&nbsp;Working within a secure environment on sensitive projects as required</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Category Management: </strong><br>&#x25cf;&nbsp;Has some experience within a procurement, commercial or buying role <br>&#x25cf;&nbsp;Has a good understanding of the principles of end-to-end commercial lifecycle management<br><br><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has an understanding of elementary economics factors that may determine a market shape, dynamics and models, the changes in the business needs of an organisation and is familiar with key commercial tools<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to identify and communicate cyber, personnel and physical risks and gain agreement on how they should be managed/mitigated<br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to apply standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards<br><br><strong>Team Focus: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to work as part of a team to support their performance, manage setbacks and resolve issues internally<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to communicate with stakeholders at all levels using different communication styles to articulate the benefits that have been achieved and to establish governance and relationship arrangements</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across the following behaviours for level 3 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br><strong>Seeing the Big Picture:</strong><br> &#x25cf;&nbsp;Understand the strategic drivers for your area of work. Align activities to contribute to wider organisational priorities. Remain alert to emerging issues and trends which might impact your work area. Seek out and share experiences to develop knowledge of the team&rsquo;s business area. Understand how the strategies and activities of the team create value and meet the diverse needs of all stakeholders<br>
<br><strong>Changing and Improving:</strong><br> &#x25cf;&nbsp;Work with others to identify areas for improvement and simplify processes to use fewer resources. Use technology where possible to increase efficiency. Encourage ideas for change from a wide range of sources. Clearly explain the reasons for change to colleagues and how to implement them, supporting individuals with different needs to adapt to change. Encourage an environment where colleagues know that they can challenge decisions and issues safely. Take managed risks by fully considering the varied impacts changes could have on the diverse range of end users<br>
<br><strong>Making Effective Decisions: </strong><br>
&#x25cf;&nbsp;Understand own level of responsibility and empower others to make decisions where appropriate. Analyse and use a range of relevant, credible information from internal and external sources to support decisions. Invite challenge and where appropriate involve others in decision making. Display confidence when making difficult decisions, even if they prove to be unpopular. Consult with others to ensure the potential impacts on end users have been considered. Present strong recommendations in a timely manner outlining the consideration of other options, costs, benefits and risks<br>
<br><strong>Leadership: </strong><br>
&#x25cf;&nbsp;Ensure colleagues and stakeholders have a clear understanding of objectives, activities and time-frames. Take into account different individual needs, views, and ideas, championing inclusion and equality of opportunity for all. Consider the impacts of own and team&rsquo;s activities on stakeholders and end users. Role-model commitment and satisfaction with role. Recognise and praise the achievements of others to drive positivity within the team. Effectively manage conflict, misconduct and non-inclusive behaviour, raising with senior managers where appropriate<br>
<br><strong>Communicating and Influencing: </strong><br>
&#x25cf;&nbsp;Communicate in a straightforward, honest and engaging manner, choosing appropriate styles to maximise understanding and impact. Encourage the use of different communication methods, including digital resources and highlight the benefits, including ensuring cost effectiveness. Ensure communication has a clear purpose and takes into account people&rsquo;s individual needs. Share information as appropriate and check understanding. Show positivity and enthusiasm towards work, encouraging others to do the same. Ensure that important messages are communicated with colleagues and stakeholders respectfully, taking into consideration the diversity of interests<br>
<br><strong>Working Together: </strong><br>
&#x25cf;&nbsp;Encourage joined up team work within own team and across other groups. Establish professional relationships with a range of stakeholders. Collaborate with these to share information, resources and support. Invest time to develop a common focus and genuine positive team spirit where colleagues feel valued and respect one another. Put in place support for the wellbeing of individuals within the team, including consideration of your own needs. Make it clear to all team members that bullying, harassment and discrimination are unacceptable. Actively seek and consider input of people from diverse backgrounds and perspectives<br>
<br><strong>Developing Self and Others:</strong><br> &#x25cf;&nbsp;Identify capability gaps for self and team. Ensure development objectives are set and achieved to address any gaps and enable delivery of current and future work. Take time to coach, mentor and develop other colleagues to support succession planning. Promote inclusiveness by respecting different personal needs in the team and use these to develop others. Reflect on own work, continuously seek and act on feedback to improve own and team&rsquo;s performance<br>
<br><strong>Managing a Quality Service: </strong><br>
&#x25cf;&nbsp;Develop, implement, maintain and review systems and services to ensure delivery of professional excellence. Work with stakeholders to set priorities, objectives and timescales. Successfully deliver high quality outcomes that meet the customers&rsquo; needs and gives &lsquo;value for money&rsquo;. Identify risks and resolve issues efficiently. Involve a diverse range of colleagues, stakeholders and delivery partners in developing suggestions for improvements. Establish ways to find and respond to feedback from customers about the services provided<br>
<br><strong>Delivering at Pace: </strong><br>
&#x25cf;&nbsp;Show a positive approach to keeping the whole team&rsquo;s efforts focused on the top priorities. Promote a culture of following the appropriate procedures to ensure results are achieved on time whilst still enabling innovation. Ensure the most appropriate resources are available for colleagues to use to do their job effectively. Regularly monitor your own and team&rsquo;s work against milestones ensuring individual needs are considered when setting tasks. Act promptly to reassess workloads and priorities when there are conflicting demands to maintain performance. Allow individuals the space and authority to meet objectives, providing additional support where necessary, whilst keeping overall responsibility</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>