<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>Cross Pillar<br></strong><strong>Category Management</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial Professional Level</strong></th>
<td><strong>Associate Commercial Lead<br></strong>(Senior Executive Officer equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will contribute to delivering commercial excellence for the department, providing a customer-focused service, understanding the business need and stakeholder drivers, with the aim of becoming a trusted commercial advisor. You will also develop relationships with the department&rsquo;s key and strategic suppliers, driving &lsquo;value for money&rsquo; and risk management excellence across the category. You will lead and own elements of the overall commercial lifecycle, including strategy and policy development, understanding needs and sourcing options, contract and supplier management and the procurement process itself.<br><br>You will work both independently and part of a larger team by drawing on your commercial experience to drive performance and manage setbacks. You will be able to prioritise and manage your own workload to deliver to deadlines, mitigate and escalate any emerging risks and to respond swiftly to changing operational demands.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Category Management roles are varied, and individual remit is subject to both size of category, and/or level of complexity, value and risk within a category. &nbsp;Typically, key responsibilities for a commercial professional in this role may include (but are not limited to): <br><br>&#x25cf;&nbsp;Strategic delivery and management within a category:<br><strong>&ordm;</strong> Understanding the department&rsquo;s commercial strategy and feeding into the planning process based on commercial approaches that deliver requirements in line with business needs, category strategies and market trends<br><strong>&ordm;</strong> Feeding into the development of category strategies and delivery of sourcing requirement within commercial, as part of the team supporting business as usual and project activities<br><strong>&ordm;</strong> Understanding demand by forecasting and planning requirements with internal stakeholders and suppliers<br><strong>&ordm;</strong>&nbsp;Developing and maintaining category plans for key spend areas<br><br>&#x25cf;&nbsp;Understanding relevant sourcing options and analysis, delivering positive outcomes through the procurement process: <br><strong>&ordm;</strong> Leading on end-to-end strategic sourcing activities for the department and serving as a subject matter expert<br><strong>&ordm;</strong> Working with key stakeholders to develop a clear and agreed view of business requirements, and supporting business units in articulating their commercial requirements<br><strong>&ordm;</strong> Advising and providing professional guidance throughout the sourcing process, considering and evaluating a range of sourcing models<br><strong>&ordm;</strong> Leading development of commercial input into business cases, demonstrating a project's benefits, &lsquo;value for money&rsquo; and risk<br><strong>&ordm;</strong> Influencing and shaping future procurement policy and standards across the department<br><strong>&ordm;</strong> Identifying opportunities to develop collaborative partnerships with suppliers<br><strong>&ordm;</strong> Providing a procurement service to the department which delivers demonstrable &lsquo;value for money&rsquo; and compliant goods and services contracts as part of a team of procurement professionals on larger procurement activities, including driving productivity opportunities with existing supply base to deliver further savings<br><strong>&ordm;</strong> Negotiating with third parties where necessary, using knowledge and experience relating to commercial negotiation techniques<br><strong>&ordm;</strong>&nbsp;Understanding and being accountable for sourcing compliance and frameworks &nbsp;<br><br>&#x25cf;&nbsp;Ensuring effective Commercial Contract and Supplier Management within the category:<br><strong>&ordm;</strong>&nbsp;Evaluating the performance of suppliers against the specification and reporting regularly<br><strong>&ordm;</strong>&nbsp;Actively contributing to the management of the supply chain portfolio, including the development and implementation of supply chain and supplier relationship strategies<br><strong>&ordm;</strong>&nbsp;Acting as commercial lead, managing one or more medium to high complexity contracts, ensuring effective stakeholder management, governance, performance management frameworks, escalation, risk management, issues resolution, financial management, change control and compliance<br><strong>&ordm;</strong>&nbsp;Developing and maintaining positive commercial relationships with the supply chain to maintain and enhance performance, improve service delivery and create additional value<br><strong>&ordm;</strong>&nbsp;On an ongoing basis, tracking operation demand and patterns, introducing demand management mechanisms where applicable<br><strong>&ordm;</strong>&nbsp;Analysing and assessing supplier risk, understanding impact on contingency and business continuity, driving &lsquo;value for money&rsquo; whilst protecting the department&rsquo;s risk position<br><strong>&ordm;</strong> Tracking and owning risks relating to specific contracts, taking steps to mitigate commercial risks<br><br>&#x25cf;&nbsp;Building and maintaining key relationships across the department and with important external stakeholders:<br><strong>&ordm;</strong>&nbsp;Developing effective working relationships with supplier organisations to establish appropriate governance and relationship arrangements, ensuring the effective management of clarifications and change requests<br><strong>&ordm;</strong>&nbsp;Provision of commercial advice to stakeholders on all aspects of commercial<br><strong>&ordm;</strong>&nbsp;Engaging, where required, with the relevant senior business lead, ensuring that business requirements are supported by category strategies<br><br>&#x25cf;&nbsp;Enabling and developing the department: <br><strong>&ordm;</strong>&nbsp;Championing procurement best practice and working collaboratively with others to create a proactive and intelligent function<br><strong>&ordm;</strong>&nbsp;Contributing to the maintenance and updating of systems throughout the procurement lifecycle<br><strong>&ordm;</strong>&nbsp;Managing catalogues and commercial content, and maybe responsible for owning key aspects of this<br><strong>&ordm;</strong>&nbsp;Working with key stakeholders to promote the use of catalogues<br><strong>&ordm;</strong>&nbsp;Playing a role in building capability of new starters and those on development programmes&nbsp;<br><br>&#x25cf;&nbsp;Mentoring and providing guidance to junior members of the team<br>
<br>&#x25cf;&nbsp;Working within a secure environment on sensitive projects as required</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong><span>&nbsp;</span>Category Management: </strong><br>&#x25cf;&nbsp;Has good experience within a procurement, commercial or buying role <br>&#x25cf;&nbsp;Has a good understanding of the principles of end-to-end commercial lifecycle management, and sourcing and procurement methodologies<br>&#x25cf;&nbsp;Evidence of leading and securing &lsquo;value for money&rsquo; in a commercial environment<br><br><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has strong commercial knowledge, understands commercial law and can use key commercial tools appropriately<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to manage cyber, personnel and physical risks within an area of responsibility<br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to apply standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards<br><br><strong>Team Focus: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to work as part of a team to support their performance, manage setbacks and resolve issues internally<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to communicate with stakeholders at all levels using different communication styles to articulate the benefits that have been achieved and to establish governance and relationship arrangements</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across the following behaviours for level 3 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>
<strong>Seeing the Big Picture:<br>
&#x25cf;&nbsp;</strong>Understand the strategic drivers for your area of work. Align activities to contribute to wider organisational priorities. Remain alert to emerging issues and trends which might impact your work area. Seek out and share experiences to develop knowledge of the team&rsquo;s business area. Understand how the strategies and activities of the team create value and meet the diverse needs of all stakeholders<br>
<br>
<strong>Changing and Improving:<br>
&#x25cf;&nbsp;</strong>Work with others to identify areas for improvement and simplify processes to use fewer resources. Use technology where possible to increase efficiency. Encourage ideas for change from a wide range of sources. Clearly explain the reasons for change to colleagues and how to implement them, supporting individuals with different needs to adapt to change. Encourage an environment where colleagues know that they can challenge decisions and issues safely. Take managed risks by fully considering the varied impacts changes could have on the diverse range of end users<br>
<br>
<strong>Making Effective Decisions:<br>
&#x25cf;&nbsp;</strong>Understand own level of responsibility and empower others to make decisions where appropriate. Analyse and use a range of relevant, credible information from internal and external sources to support decisions. Invite challenge and where appropriate involve others in decision making. Display confidence when making difficult decisions, even if they prove to be unpopular. Consult with others to ensure the potential impacts on end users have been considered. Present strong recommendations in a timely manner outlining the consideration of other options, costs, benefits and risks<br>
<br>
<strong>Leadership:<br>
&#x25cf;&nbsp;</strong>Ensure colleagues and stakeholders have a clear understanding of objectives, activities and time-frames. Take into account different individual needs, views, and ideas, championing inclusion and equality of opportunity for all. Consider the impacts of own and team&rsquo;s activities on stakeholders and end users. Role-model commitment and satisfaction with role. Recognise and praise the achievements of others to drive positivity within the team. Effectively manage conflict, misconduct and non-inclusive behaviour, raising with senior managers where appropriate<br>
<br>
<strong>Communicating and Influencing:<br>
&#x25cf;&nbsp;</strong>Communicate in a straightforward, honest and engaging manner, choosing appropriate styles to maximise understanding and impact. Encourage the use of different communication methods, including digital resources and highlight the benefits, including ensuring cost effectiveness. Ensure communication has a clear purpose and takes into account people&rsquo;s individual needs. Share information as appropriate and check understanding. Show positivity and enthusiasm towards work, encouraging others to do the same. Ensure that important messages are communicated with colleagues and stakeholders respectfully, taking into consideration the diversity of interests<br>
<br>
<strong>Working Together:<br>
&#x25cf;&nbsp;</strong>Encourage joined up team work within own team and across other groups. Establish professional relationships with a range of stakeholders. Collaborate with these to share information, resources and support. Invest time to develop a common focus and genuine positive team spirit where colleagues feel valued and respect one another. Put in place support for the wellbeing of individuals within the team, including consideration of your own needs. Make it clear to all team members that bullying, harassment and discrimination are unacceptable. Actively seek and consider input of people from diverse backgrounds and perspectives<br>
<br>
<strong>Developing Self and Others:<br>
&#x25cf;&nbsp;</strong>Identify capability gaps for self and team. Ensure development objectives are set and achieved to address any gaps and enable delivery of current and future work. Take time to coach, mentor and develop other colleagues to support succession planning. Promote inclusiveness by respecting different personal needs in the team and use these to develop others. Reflect on own work, continuously seek and act on feedback to improve own and team&rsquo;s performance<br>
<br>
<strong>Managing a Quality Service:<br>
&#x25cf;&nbsp;</strong>Develop, implement, maintain and review systems and services to ensure delivery of professional excellence. Work with stakeholders to set priorities, objectives and timescales. Successfully deliver high quality outcomes that meet the customers&rsquo; needs and gives &lsquo;value for money&rsquo;. Identify risks and resolve issues efficiently. Involve a diverse range of colleagues, stakeholders and delivery partners in developing suggestions for improvements. Establish ways to find and respond to feedback from customers about the services provided<br>
<br>
<strong>Delivering at Pace:<br>
&#x25cf;&nbsp;</strong>Show a positive approach to keeping the whole team&rsquo;s efforts focused on the top priorities. Promote a culture of following the appropriate procedures to ensure results are achieved on time whilst still enabling innovation. Ensure the most appropriate resources are available for colleagues to use to do their job effectively. Regularly monitor your own and team&rsquo;s work against milestones ensuring individual needs are considered when setting tasks. Act promptly to reassess workloads and priorities when there are conflicting demands to maintain performance. Allow individuals the space and authority to meet objectives, providing additional support where necessary, whilst keeping overall responsibility</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: <br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>