<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>Cross Pillar<br></strong><strong>Category Management</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial Professional Level</strong></th>
<td><strong>Commercial Specialist<br></strong>(Senior Civil Servant 1 equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will lead and own delivery across the commercial lifecycle. You will contribute to delivering commercial excellence for the department, providing a customer-focused service, understanding the business need and stakeholder drivers, with the aim of becoming a trusted commercial advisor. You will develop close relationships with the department&rsquo;s key and strategic suppliers, driving &lsquo;value for money&rsquo; and risk management excellence across the category.<span><br><br></span>You will be expected to manage and/or oversee the overall commercial lifecycle. Activities could vary from developing the category strategy to leading complex procurements to being accountable for some of the department&rsquo;s most complex and high profile contracts. You will be expected to manage challenging senior stakeholders such as ministers and director general level internal stakeholders, delivering difficult messages whilst maintaining strong relationships and ensuring end-to-end commercial activity complies with the department&rsquo;s legislative framework.<br><br>You will lead a team, building their confidence and commercial capability as an influential leader to shape and define a deal in a complex and uncertain context, delegating risks and issues to individuals in line with your experience and potential. The role will also require you to use your commercial expertise to take measured risks in order to deliver better approaches and services.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Category Management roles are varied, and individual remit is subject to both size of category, and/or level of complexity, value and risk within a category. &nbsp;Typically, key responsibilities for a commercial professional in this role may include (but are not limited to):<br><br>&#x25cf;&nbsp;Leading a team of commercial professionals:<br><strong>&ordm;</strong>&nbsp;Educating, advising, challenging and guiding on commercial priorities<br><strong>&ordm;</strong>&nbsp;Encouraging ideas, improvements and measured risk-taking to deliver better approaches and services<br><strong>&ordm;</strong> Performance Management of the Category Team<br><br>&#x25cf;&nbsp;Strategic delivery and management of one or more commercial categories, based on size, complexity and risk:<br><strong>&ordm;</strong>&nbsp;Developing and delivering commercial strategies requiring supplier innovation, senior stakeholder engagement, and/or market building/ shaping<br><strong>&ordm;</strong>&nbsp;Accountable for category strategies for relevant expenditure within the pillar<br><strong>&ordm;</strong>&nbsp;Ensuring category management processes are in place that enable the assessment of the market capabilities to meet the needs of users and the business<br><strong>&ordm;</strong>&nbsp;Driving innovation in category to demonstrate continuous improvement<br><strong>&ordm;</strong> Providing advice on major investment appraisal and decisions<br><br>&#x25cf;&nbsp;Understanding relevant sourcing options, delivering positive outcomes through the procurement process:<br><strong>&ordm;</strong>&nbsp;Accountable for sourcing activity within the category/categories, including strategic sourcing processes in support of the department&rsquo;s strategic aims<br><strong>&ordm;</strong>&nbsp;Assessing and recommending optimum supply strategy from a range of make vs buy commercial options (insourcing, outsourcing, investment, PPP, mutual, third sector, etc)<br><strong>&ordm;</strong>&nbsp;Leading Commercial input into business cases, to demonstrate the value, benefits and risks of sourcing activity<br><strong>&ordm;</strong>&nbsp;Leading complex and high value negotiations, finalising major deals, escalating only where necessary to secure progress or improve outcomes<br><strong>&ordm;</strong> Leading on overseeing the strategy for transition from procurement/ sourcing to contract manager<br><br>&#x25cf;&nbsp;Ensuring effective Commercial Contract and Supplier Management within the category:<br><strong>&ordm;</strong>&nbsp;Managing costs and driving the best value out of contracts<br><strong>&ordm;</strong>&nbsp;Championing continuous improvement, aligning strategies with wider government commercial policies, taking into account internal and external forces and best practice, e.g. National Audit Office, Professional Associations<br><strong>&ordm;</strong>&nbsp;Using a variety of contracting approaches to minimise risk, motivate performance, and drive innovation<br><strong>&ordm;</strong>&nbsp;At a management level, across contracts, work with key suppliers and customers, driving compliance with contractual commitments<br><strong>&ordm;</strong>&nbsp;Critically assessing supply chains, seeking to protect the department&rsquo;s risk exposure <br><strong>&ordm;</strong> Developing and enacting exit strategies to be used across contracts<br><br>&#x25cf;&nbsp;Building and maintaining key relationships across the department and with important external stakeholders:<br><strong>&ordm;</strong> Owning relationships and act as the business partner for area of responsibility, building detailed knowledge of business needs in order to deliver value through sourcing and procurement activity<br><br>&#x25cf;&nbsp;Enabling and developing the department:<br><strong>&ordm;</strong>&nbsp;Working with peers to drive an improvement in commercial capability, including through designing and improving learning and development programmes, aligning with Government Commercial Function initiatives, sharing best practice and templates<br><strong>&ordm;</strong>&nbsp;Promoting commercial awareness across the department<br><strong>&ordm;</strong>&nbsp;Promoting knowledge and resource sharing with peers and across functions</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Category Management: </strong><br>&#x25cf;&nbsp;Has excellent understanding of the principles of end-to-end commercial lifecycle management, procurement processes and ability to demonstrate effective management of the market for the category <br>&#x25cf;&nbsp;Evidence of taking a strategic lead on securing &lsquo;value for money&rsquo;<span>&nbsp; </span>in a complex commercial environment<br>&#x25cf;&nbsp;Evidence of influencing key senior stakeholders and suppliers towards commercial solutions in a complex commercial environment<br>&#x25cf;&nbsp;Evidence of leading and delivering transformational change at a strategic level<strong><span><br><br></span>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has a strong practical understanding of market shaping principles and contract law and has experience in working in a range of categories/sectors with a range of suppliers <br>&#x25cf;&nbsp;Demonstrates the ability to develop the definition of standards of success in terms of the return on investment and &lsquo;value for money&rsquo; for each deal and can lead the debate to make the case with ministers<br>&#x25cf;&nbsp;Demonstrates the ability to manage the trade-offs and contradictions within complex deals and impact on other areas<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to take measured risks in order to deliver better approaches and services<br>&#x25cf;&nbsp;Demonstrates the ability to challenge the analysis of risks and margins of error to improve assurance on decisions <br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to contribute to the development of standards and/or policy to eradicate corruption, fraud and unethical behaviour<br><br><strong>Team Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to coach and mentor individuals as a trusted leader and displays strong motivational capabilities to create a department culture focused on performance and priorities<br>&#x25cf;&nbsp;Demonstrates the ability to manage a team in shaping and defining a deal in a complex and uncertain context, delegating risks and issues to individuals in line with their experience and potential<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Has strong stakeholder engagement skills in order to effectively communicate a deal over time from conception to delivery in line with the department&rsquo;s commercial requirements<br>&#x25cf;&nbsp;Demonstrates the ability to understand the motivations and behaviours of stakeholders, suppliers and networks</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across all of the following behaviours for level 5 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br><strong>Managing a Quality Service: </strong><br>
  &#x25cf;&nbsp;Clarify and articulate the diverse requirements of customers and delivery partners. Use customer insight to drive high quality and efficient service delivery which is a good investment of taxpayers money. Work collaboratively with customers and delivery partners to manage, monitor and deliver agreed outcomes. Identify areas for improvement and make appropriate changes to reach professional excellence. Break down complex aims into clear, practical and manageable plans. Identify the resource requirements to support implementation. Ensure risks are monitored and managed to prevent issues with service delivery wherever possible<br>
  <br>
  <strong>Working Together: </strong><br>
  &#x25cf;&nbsp;Proactively create, maintain and promote a strong network of contacts across the organisation and externally. Embed an inclusive culture of creating positive and supportive teams who consider the diverse needs and feelings of other colleagues. Ensure consideration and support for the wellbeing of all individuals across the organisation. Set out clear expectations that bullying, harassment, and discrimination are unacceptable. Encourage and establish mechanisms to share knowledge and resources across boundaries to support the business. Encourage teams to engage with a variety of delivery partners and stakeholders, listen to and act on their feedback<br>
  <br>
  <strong>Changing and Improving:</strong><br> 
  &#x25cf;&nbsp;Challenge the way things have always been done and suggest improvements, learning from experience. Seek, encourage and recognise initiative and imaginative ideas from a wide range of people. Promote an environment where all colleagues feel safe to challenge. Encourage measured risk taking and innovation to deliver better approaches and services. Implement changes that transform flexibility, responsiveness and quality of service. Ensure changes add value to the business and express clearly how and why changes are necessary. Lead the transformation towards using digital technologies ensuring full consideration of accessibility needs and the diverse range of end users. Manage change effectively and respond promptly to critical events. Constructively challenge changes which are unhelpful<br>
  <br>
  <strong>Leadership: </strong><br>
  &#x25cf;&nbsp;Remain visible and approachable to all colleagues and stakeholders. Actively promote the reputation of the organisation with pride, both internally and externally. Display passion and enthusiasm for the work, helping to inspire colleagues and stakeholders to fully engage with the aims and long term vision. Embed a culture of inclusion and equal opportunity for all, where the diversity of individuals&rsquo; backgrounds and experiences are valued and respected. Work to influence the strategy, direction and culture to increase effectiveness</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>