<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar</strong><strong>Role&nbsp;Component</strong></th>
<td><strong>Cross Pillar<br></strong><strong>Category Management</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial Professional Level</strong></th>
<td><strong>Commercial Lead<br></strong>(Grade 7 equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will contribute to delivering commercial excellence for the department, providing a customer-focused service, understanding the business need and stakeholder drivers, with the aim of becoming a trusted commercial advisor. You will also develop relationships with the department&rsquo;s key and strategic suppliers, driving value for money and risk management excellence across the category.<span><br><br></span>You will lead a team, building their confidence to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.<br><br>You will lead and own elements of the overall commercial lifecycle, including strategy and policy development, understanding needs and sourcing options, contract and supplier management and the procurement process itself. This will be achieved through the development and execution of category management strategies, leading supplier negotiations, where needed, and delivering timely and effective support, guidance and expertise to the business.<span>&nbsp; </span></td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Category Management roles are varied, and individual remit is subject to both size of category, and/or level of complexity, value and risk within a category. &nbsp;Typically, key responsibilities for a commercial professional in this role may include (but are not limited to): <br><br>&#x25cf;&nbsp;<span>&nbsp;</span>Strategic delivery and management within a category:<br><strong>&ordm;</strong>&nbsp;Developing commercial approaches that deliver requirements that are in line with business needs, category strategies and market trends<br><strong>&ordm;</strong>&nbsp;Contributing to the development of category strategies and delivery of sourcing requirements within commercial, as part of the team supporting business as usual and project activities<br><strong>&ordm;</strong>&nbsp;Understanding demand by forecasting and planning requirements with internal stakeholders and suppliers<br><strong>&ordm;</strong> Developing and maintaining category plans for key spend areas<br><br>&#x25cf;&nbsp;Understanding relevant sourcing options and analysis, delivering positive outcomes through the procurement process: <br><strong>&ordm;</strong>&nbsp;Performing end-to-end strategic sourcing activities for the department and serving as a subject matter expert<br><strong>&ordm;</strong>&nbsp;Working with key stakeholders to develop a clear and agreed view of business requirements, supporting business units in articulating their commercial requirements<br><strong>&ordm;</strong>&nbsp;Advising and providing professional guidance throughout the sourcing process, considering and evaluating a range of sourcing models<br><strong>&ordm;</strong>&nbsp;Supporting the development of options for a business case, including articulating associated benefits and producing supporting arguments for the preferred option <br><strong>&ordm;</strong>&nbsp;Identifying opportunities to develop collaborative partnerships with suppliers<br><strong>&ordm;</strong>&nbsp;Providing a procurement service to the department which delivers demonstrable value for money and compliant goods and services contracts as part of a team of procurement professionals on larger procurement activities<br><strong>&ordm;</strong>&nbsp;Leading and guiding others with negotiation relating to commercial activity, using knowledge and experience with negotiation techniques<br><strong>&ordm;</strong> Understanding and being accountable for sourcing compliance and frameworks<br><br>&#x25cf;&nbsp;Ensuring effective Commercial Contract and Supplier Management within the category:<br><strong>&ordm;</strong>&nbsp;Managing contract variations, providing practical advice and strategic direction<br><strong>&ordm;</strong>&nbsp;Evaluating whether a contract is achieving a successful return on investment, in the light of value for money considerations<br><strong>&ordm;</strong>&nbsp;Overseeing the realisation of benefits achieved as a result of the performance management regime or change control, and challenging non-delivery of benefits and escalates when required<br><strong>&ordm;</strong>&nbsp;Evaluating the performance of suppliers against the specification and reporting regularly on progress and/or challenges<br><strong>&ordm;</strong>&nbsp;Managing risk and reward mechanisms in contracts and key performance indicators<br><strong>&ordm;</strong>&nbsp;Monitoring progress against the business objectives and works with suppliers and customers to develop improvements<br><strong>&ordm;</strong>&nbsp;Actively managing strategic relationships to deliver mutual benefit for those involved<br><strong>&ordm;</strong>&nbsp;At a delivery level, holding both suppliers and customers accountable for delivering their contractual commitments. Resolving disputes effectively and efficiently<br><strong>&ordm;</strong>&nbsp;Performing contract exit activity, from pre-emptive action to transactional, process led tasks<br><strong>&ordm;</strong>&nbsp;Managing the disposal process of assets that are no longer needed once the current contract expires<br><strong>&ordm;</strong> Advising on and mitigating risks to the continuity of supply, and owning business continuity approach for relevant contract(s)<br><br>&#x25cf;&nbsp;Building and maintaining key relationships across the department and with important external stakeholders:<br><strong>&ordm;</strong>&nbsp;Developing key stakeholder relationships, enabling early engagement and challenging business need and demand. Seeking early active involvement of internal stakeholders in the sourcing process<br><strong>&ordm;</strong>&nbsp;Providing commercial advice to stakeholders on all aspects of commercial protocol<br><strong>&ordm;</strong> Engaging, where required, with the relevant senior business lead, ensuring that business requirements are supported by category strategies<br><br>&#x25cf;&nbsp;Enabling and developing the department:<br><strong>&ordm;</strong>&nbsp;Feeding into catalogue and content management for the department, setting the direction for the category <br><br>&#x25cf;&nbsp;Performance and day-to-day management of category team, where applicable<br>
<br>&#x25cf;&nbsp;Working within a secure environment on sensitive projects as required&nbsp;</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Category Management:</strong><br>&#x25cf;&nbsp;Has excellent understanding of the principles of end-to-end commercial lifecycle management <br>&#x25cf;&nbsp;Evidence of taking a strategic lead on securing value for money in a complex commercial environment<br>&#x25cf;&nbsp;Evidence of influencing key senior stakeholders and suppliers towards commercial solutions in a complex commercial environment<br><br><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility, can apply the commercial principles within the boundaries of contract law<br>&#x25cf;&nbsp;Demonstrates the ability to lead on securing value for money through achieving good return on investment on commercial projects<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions<br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards<br><br><strong>Team Focus: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks, resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making. <br>&#x25cf;&nbsp;Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across all of the following behaviours for level 4 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>
<strong>Managing a Quality Service: </strong><br>
&#x25cf;&nbsp;Demonstrate positive customer service by understanding the complexity and diversity of customer needs and expectations. Deliver a high quality, efficient and cost effective service by considering a broad range of methods for delivery. Ensure full consideration of new technologies, accessibility and costings. Make clear, practical and manageable plans for service delivery. Ensure adherence to legal, regulatory and security requirements in service delivery. Proactively manage risks and identify solutions. Establish how the business area compares to industry best practice. Create regular opportunities for colleagues, stakeholders, delivery partners and customers to help improve the quality of service<br>
<br>
<strong>Working Together:<br>
&#x25cf;&nbsp;</strong>Actively build and maintain a network of colleagues and contacts to achieve progress on shared objectives. Challenge assumptions while being willing to compromise if beneficial to progress. Build strong interpersonal relationships and show genuine care for colleagues. Ensure consideration and support for the wellbeing of yourself and individuals throughout the team. Understand the varying needs of the team to ensure they are supported and their experiences are utilised. Create an inclusive working environment where all opinions and challenges are taken into account and bullying, harassment and discrimination are unacceptable. Remain available and approachable to all colleagues and be receptive to new ideas<br>
<br>
<strong>Developing Self and Others:<br>
&#x25cf;&nbsp;</strong>Prioritise and role-model continuous self-learning and development. Identify areas individuals and teams need to develop in order to achieve future objectives. Support colleagues to take responsibility for their own learning and development. Ensure that development opportunities are available for all individuals regardless of their background or desire to achieve promotion. Ensure individuals take full advantage of learning and development opportunities available to them, including workplace based learning. Encourage discussions within and between teams to learn from each other&rsquo;s experiences and change organisational plans and processes accordingly<br>
<br>
<strong>Leadership:<br>
&#x25cf;&nbsp;</strong>Promote diversity, inclusion and equality of opportunity, respecting difference and external experience. Welcome and respond to views and challenges from others, despite any conflicting pressures to ignore or give in to them. Stand by, promote or defend own and team&rsquo;s actions and decisions where needed. Seek out shared interests beyond own area of responsibility, understanding the extent of the impact actions have on the organisation. Inspire and motivate teams to be fully engaged in their work and dedicated to their role</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: <br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>