##Enabling: Systems and Information

###Commercial Professional Level - Commercial Lead (Grade 7 equivalent)

###Role summary

In this role you will contribute to delivering commercial excellence for your department by contributing to systems and information management. You will be expected to manage and improve the appropriate commercial systems and data in order to promote process efficiency, robust controls, compliance and effective decision making as well as managing information to support the development of the commercial strategy and plan.
 
You will lead a team, building their confidence to drive performance and manage setbacks. The role will require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to): 

- Overseeing the team and management of key business-as-usual activity (e.g. system admin activity, query resolution, support with PO management, reporting requirements etc)
- Ensuring all commercial systems and digital capabilities are functional, meet user needs and are aligned with best practice  
- Coordinating the work of systems and data analysis to ensure business needs are translated into solutions against identified timelines
- Developing and maintaining a systems and data strategy for the department’s commercial teams in line with wider government context (e.g.  SaaS, transition to the Cloud, GSSS)
- Representing the department in Cabinet Office and cross-government initiatives
- Working with digital and system partners to develop innovative solutions that will deliver commercial value and efficiencies for the organisation
- Managing the collection, collation, cleansing, analysis and interpretation of data to derive meaningful and actionable insights and reports
- Owning a range of commercial reports and ensuring they meet the needs of the audience including for senior stakeholders
- Applying a strong visual project management approach 
- Maintaining good relationships with internal stakeholders and involving them in relevant decisions and discussions
- Researching, encouraging and applying new ideas and ways of working to include the review of existing and future contracts to foster and maintain best practice, ‘value for money’ and to ensure alignment with business needs
- Managing and implementing systems change with a strong understanding of the impact on culture, structure, service and morale
- Defining and implementing business continuity planning 
- Coaching and mentoring individuals as a trusted leader and displaying strong motivational capabilities to create a department culture focused on performance and priorities

###Essential Criteria

<strong>Systems and Information: </strong>

- Has technical experience in developing, designing and implementing new systems
- Has experience in carrying out change programmes to embed beneficial and sustainable systems change
- Has strong data management and analysis skills 

<strong>Commercial Focus:</strong> 

- Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility, can apply the commercial principles within the boundaries of contract law
- Demonstrates the ability to lead on securing ‘value for money’ through achieving good return on investment on commercial projects

<strong>Risk and Assurance Management: </strong>

- Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions

<strong>Commercial Ethics:</strong> 

- Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus:</strong> 

- Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks, resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges

<strong>Build Relationships:</strong> 

- Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making 
- Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 4 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

- <strong>Changing and Improving:</strong> Encourage, recognise and share innovative ideas from a diverse range of colleagues and stakeholders. Give people space to take initiative and praise them for their creativity. Create an environment where people feel safe to challenge and know their voice will be heard. Make changes which add value and clearly articulate how changes will benefit the business. Understand and identify the role of technology in public service delivery and policy implementation. Consider the full impact of implementing changes on culture, structure, morale and the impacts on the diverse range of end users, including accessibility needs. Identify early signs that things are going wrong and respond promptly. Provide constructive challenge to senior management on change proposals

- <strong>Managing a Quality Service:</strong> Demonstrate positive customer service by understanding the complexity and diversity of customer needs and expectations. Deliver a high quality, efficient and cost effective service by considering a broad range of methods for delivery. Ensure full consideration of new technologies, accessibility and costings. Make clear, practical and manageable plans for service delivery. Ensure adherence to legal, regulatory and security requirements in service delivery. Proactively manage risks and identify solutions. Establish how the business area compares to industry best practice. Create regular opportunities for colleagues, stakeholders, delivery partners and customers to help improve the quality of service

- <strong>Developing Self and Others:</strong> Prioritise and role-model continuous self-learning and development. Identify areas individuals and teams need to develop in order to achieve future objectives. Support colleagues to take responsibility for their own learning and development. Ensure that development opportunities are available for all individuals regardless of their background or desire to achieve promotion. Ensure individuals take full advantage of learning and development opportunities available to them, including workplace based learning. Encourage discussions within and between teams to learn from each other’s experiences and change organisational plans and processes accordingly

- <strong>Leadership:</strong> Promote diversity, inclusion and equality of opportunity, respecting difference and external experience. Welcome and respond to views and challenges from others, despite any conflicting pressures to ignore or give in to them. Stand by, promote or defend own and team’s actions and decisions where needed. Seek out shared interests beyond own area of responsibility, understanding the extent of the impact actions have on the organisation. Inspire and motivate teams to be fully engaged in their work and dedicated to their role 

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:

- An additional short paragraph in the role summary 
- Additional key responsibilities based on the department context 
- Bespoke essential skills/experience required for the role