<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>STRATEGY AND POLICY DEVELOPMENT<br></strong><strong>Commercial Strategy</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial Professional Level</strong></th>
<td><strong>Commercial Specialist<br></strong>(Senior Civil Servant 1 equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will promote the delivery of commercial excellence through the planning, development and management of commercial strategies for your department as well as contributing to the development and implementation of business unit strategies.&nbsp;<br><br>You will lead a team, building their confidence and commercial capability as an influential leader to shape and define a deal in a complex and uncertain context, delegating risks and issues to individuals in line with their experience and potential. The role will also require you to use your commercial expertise to take measured risks in order to deliver better approaches and services.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Typically, the key responsibilities in this role will include (but are not limited to):<br><br>&#x25cf;&nbsp;Developing and delivering commercial strategies requiring supplier innovation, senior stakeholder engagement, and/or market building/shaping<br>&#x25cf;&nbsp;Creating strategies and influencing a departmental culture that values effective commercial input, innovation, procurement excellence, and supply chain management<br>&#x25cf;&nbsp;Building strong relationships with senior stakeholders to include senior officials and ministers across various functions<br>&#x25cf;&nbsp;Providing advice and uses commercial expertise and data to inform judgements in markets, sectors, policy, delivery mechanisms and suppliers<br>&#x25cf;&nbsp;Identifying, tracking and escalating the need for a third party provision in your area of responsibility in order to prioritise and manage contracts in the pipeline<br>&#x25cf;&nbsp;Applying an understanding of the importance of prime contractors in managing and assuring their own supply chain in particular security of supply and contingencies<br>&#x25cf;&nbsp;Critically assessing supply chains and seeking to improve the department&rsquo;s position<br>&#x25cf;&nbsp;Encouraging innovation and new routes to market through managing risks and creating business opportunities<br>&#x25cf;&nbsp;Applying strong negotiation skills<br>&#x25cf;&nbsp;Establishing dialogue/negotiation strategies with clear parameters<br>&#x25cf;&nbsp;Seeking to maximise benefits for the project through effectively executing the commercial strategy<br>&#x25cf;&nbsp;Developing commercial resource plans including staff, systems and infrastructure to achieve effective commercial outcomes<br>&#x25cf;&nbsp;Securing and acting on insights into customers, citizens, services, communities and markets affected by their area and the wider public sector context</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Strategy and Policy Development: </strong><br>&#x25cf;&nbsp;Has expertise in shaping department and ministerial policies from a commercial perspective<br>&#x25cf;&nbsp;Has expertise in developing and delivering complex and high value commercial strategies requiring supplier innovation, stakeholder engagement and/or market building<br>&#x25cf;&nbsp;Has experience in developing resource and implementation plans in line with policy objectives and has the ability to expertly apply relevant procurement rules<strong><span>&nbsp;<br><br></span>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has a strong practical understanding of market shaping principles and contract law and has experience in working in a range of categories/sectors with a range of suppliers <br>&#x25cf;&nbsp;Demonstrates the ability to develop the definition of standards of success in terms of the return on investment and &lsquo;value for money&rsquo; for each deal and can lead the debate to make the case with ministers<br>&#x25cf;&nbsp;Demonstrates the ability to manage the trade-offs and contradictions within complex deals and impact on other areas<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to take measured risks in order to deliver better approaches and services<br>&#x25cf;&nbsp;Demonstrates the ability to challenge the analysis of risks and margins of error to improve assurance on decisions <br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to contribute to the development of standards and/or policy to eradicate corruption, fraud and unethical behaviour<br><br><strong>Team Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to coach and mentor individuals as a trusted leader and displays strong motivational capabilities to create a department culture focused on performance and priorities<br>&#x25cf;&nbsp;Demonstrates the ability to manage a team in shaping and defining a deal in a complex and uncertain context, delegating risks and issues to individuals in line with their experience and potential<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Has strong stakeholder engagement skills in order to effectively communicate a deal over time from conception to delivery in line with the department&rsquo;s commercial requirements<br>&#x25cf;&nbsp;Demonstrates the ability to understand the motivations and behaviours of stakeholders, suppliers and networks</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across all of the following behaviours for level 5 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>
<strong>Communicating and Influencing</strong>: <br>
&#x25cf;&nbsp;Implement communication strategies which ensure effective communications are embedded and take account of people&rsquo;s individual needs. Embed a culture where there is a wide ranging use of the infrastructure in place to support varied communication methods which deliver &lsquo;value for money&rsquo;. Communicate in a straightforward, honest and truthful way with consideration for the impact of the method used. Communicate with conviction and clarity in the face of tough negotiations or challenges. Respect and consider the diversity of the audience when giving messages and deliver these appropriately. Influence external partners, stakeholders and customers successfully securing mutually beneficial outcomes<br>
<br>
<strong>Working Together: </strong><br>
&#x25cf;&nbsp;Proactively create, maintain and promote a strong network of contacts across the organisation and externally. Embed an inclusive culture of creating positive and supportive teams who consider the diverse needs and feelings of other colleagues. Ensure consideration and support for the wellbeing of all individuals across the organisation. Set out clear expectations that bullying, harassment, and discrimination are unacceptable. Encourage and establish mechanisms to share knowledge and resources across boundaries to support the business. Encourage teams to engage with a variety of delivery partners and stakeholders, listen to and act on their feedback<br>
<br>
<strong>Making Effective Decisions: </strong><br>
&#x25cf;&nbsp;Act decisively and make bold, unbiased decisions at a strategic level. Make sense of a wide range of political and national pressures and influences to develop strategies which meet organisational goals. Clearly communicate the purpose and reasons for recommendations and decisions. Consult with others where necessary to ensure decisions meet the diverse needs of the end users. Accept and respond to challenge constructively. Clearly recommend the best option articulating risks and impacts on economic, environmental, political and social factors<br>
<br>
<strong>Leadership: </strong><br>
&#x25cf;&nbsp;Remain visible and approachable to all colleagues and stakeholders. Actively promote the reputation of the organisation with pride, both internally and externally. Display passion and enthusiasm for the work, helping to inspire colleagues and stakeholders to fully engage with the aims and long term vision. Embed a culture of inclusion and equal opportunity for all, where the diversity of individuals&rsquo; backgrounds and experiences are valued and respected. Work to influence the strategy, direction and culture to increase effectiveness</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>