<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>STRATEGY AND POLICY DEVELOPMENT<br></strong><strong>Commercial Strategy</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial Professional Level</strong></th>
<td><strong>Associate Commercial Practitioner<br></strong>(Executive Officer equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will contribute to the delivery of commercial excellence by supporting the planning, development and management of commercial strategies for your department.&nbsp;&nbsp;<br><br>You will work as part of a larger team, but will be expected to be able to prioritise and manage your own workload to deliver to deadlines and know when to seek support in order to balance both operationally urgent and important tasks.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Typically, the key responsibilities in this role will include (but are not limited to):<br><br>&#x25cf;&nbsp;Devising suitable commercial strategies for low-complexity, low value procurements and contracts<br>&#x25cf;&nbsp;Contributing to the development of commercial strategies<br>&#x25cf;&nbsp;Maintaining strategies and creating and implementing agreed sourcing plans<br>&#x25cf;&nbsp;Engaging with the relevant internal stakeholders and small and medium-sized enterprises to assist in developing and executing commercial strategies<br>&#x25cf;&nbsp;Obtaining and collating data and information required to support the development of commercial strategies<br>&#x25cf;&nbsp;Combining market specific data analysis with big picture considerations, in order to help advise on future market changes<br>&#x25cf;&nbsp;Identifying, tracking and escalating the need for a third party provision in your area of responsibility in order to prioritise and manage contracts in the pipeline<br>&#x25cf;&nbsp;Engaging with procurement colleagues to support the management and security of the supply chain<br>&#x25cf;&nbsp;Contributing to early market engagement and helping to undertake a proportional delivery model assessment<br>&#x25cf;&nbsp;Building an awareness of effective negotiation skills</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Strategy and Policy Development:&nbsp;</strong><br>&#x25cf;&nbsp;Has a practical understanding of how to translate the needs of the business at the start of the whole category lifecycle<br>&#x25cf;&nbsp;Has a practical understanding of how to devise commercial strategies for low-complexity, low value procurements and contracts<br>&#x25cf;&nbsp;Has awareness of the importance of procurement roles and their linkage to the implementation of policy objectives&nbsp;<br><br><strong>Commercial Focus:&nbsp;</strong><br>&#x25cf;&nbsp;Has a good understanding of the elementary economics factors that may determine a market shape, dynamics and models and can apply tools and techniques associated with gathering commercial data<br><br><strong>Risk and Assurance Management:&nbsp;</strong><br>&#x25cf;&nbsp;Demonstrates the ability to identify possible risks, understands their impact, use appropriate mitigation techniques and escalate them where appropriate<br><br><strong>Commercial Ethics:&nbsp;</strong><br>&#x25cf;&nbsp;Has an understanding of the standards to eliminate corruption, fraud and unethical behaviour in supply chains and can take action in the event of any alleged breach of standards&nbsp;<br><br><strong>Team Focus:&nbsp;</strong><br>&#x25cf;&nbsp;Demonstrates the ability to work as part of a team to support their resilience and performance<br><br><strong>Build Relationships:&nbsp;</strong><br>&#x25cf;&nbsp;Has good stakeholder management skills and has the ability to use different communication styles with different audiences</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across the following behaviours for level 2 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>
<strong>Seeing the Big Picture:</strong> <br>
&#x25cf;&nbsp;Understand how your work and the work of your team supports wider objectives and meets the diverse needs of stakeholders. Keep up to date with the issues that affect your work area. Take a keen interest in expanding knowledge in areas related to your work. Focus on overall goals and not just specific tasks to meet priorities<br>
<br>
<strong>Changing and Improving:</strong> <br>
&#x25cf;&nbsp;Regularly review own and team&rsquo;s work and take the initiative to suggest ideas to make improvements. Give feedback on changes in a constructive manner. Take a positive, open approach to the possibility of change and encourage others to do the same. Help others to understand changes and the reasons they are being put in place. Identify and act on the effects changes are having on your role and that of the team. Look for ways to use technology to achieve efficient and effective results. Consider accessibility needs of the diverse range of end users<br>
<br>
<strong>Making Effective Decisions: </strong><br>
&#x25cf;&nbsp;Take responsibility for making effective and fair decisions, in a timely manner. Analyse and research further information to support decisions. Talk to relevant people to get advice and information when unsure how to proceed. Explain how decisions have been reached in a clear and concise way, both verbally and in writing. Demonstrate the consideration of all options, costs, risks and wider implications, including the diverse needs of end users and any accessibility requirements<br>
<br>
<strong>Leadership: </strong><br>
&#x25cf;&nbsp;Show pride and passion for your work and positive, inclusive engagement with your team. Understand your areas of responsibility and display awareness of the wider impact of your actions. Proactively role model and promote an inclusive workplace, promptly dealing with inappropriate language and behaviours when they arise, including any instances of discrimination or misconduct. Give praise and credit to colleagues and stakeholders where appropriate<br>
<br>
<strong>Communicating and Influencing: </strong><br>
&#x25cf;&nbsp;Communicate clearly and concisely both orally and in writing. Take time to consider the best communication channel to use for the audience, including making the best of digital resources and considering &lsquo;value for money&rsquo;. Interact with others in an enthusiastic way. Express ideas clearly and with respect for others. Listen to and value different ideas, views and ways of working. Respond constructively and objectively to comments and questions. Handle challenging conversations with confidence and sensitivity<br>
<br>
<strong>Working Together: </strong><br>
&#x25cf;&nbsp;Develop a range of contacts outside own team and identify opportunities to share knowledge, information and learning. Show genuine interest when listening to others. Contribute to an inclusive working environment where all opinions and challenges are listened to and all individual needs are taken into account. Ensure it is clear that bullying, harassment and discrimination are unacceptable. Offer support and help to colleagues when in need, including consideration of your own and their wellbeing. Change ways of working to aid cooperation within and between teams in order to achieve results<br>
<br>
<strong>Developing Self and Others:</strong> <br>
&#x25cf;&nbsp;Identify gaps in own and team&rsquo;s skills and knowledge. Set and consistently meet development objectives. Seek learning opportunities. Support the development plans of all colleagues, recognising how diversity of experience/background can help to build an inclusive team culture. Consider the contributions of all team members and delegate work to aid the learning and development of all. Encourage and listen to developmental feedback from colleagues<br>
<br>
<strong>Managing a Quality Service: </strong><br>
&#x25cf;&nbsp;Work with customers to understand their needs and expectations. Create clear plans and set priorities which meet the needs of both the customer and the business. Clearly explain to customers what can be done. Keep colleagues and stakeholders fully informed of plans, possibilities and progress. Identify common problems that affect service, report them and find possible solutions. Deliver good customer service which balances quality and cost effectiveness<br>
<br>
<strong>Delivering at Pace: </strong><br>
&#x25cf;&nbsp;Regularly review the success of activities in the team to identify barriers to progress or challenging objectives. Identify who and what is required to ensure success, set clear goals and areas of responsibility and continually assess workloads considering individual needs. Follow relevant policies, procedures and legislation to complete your work. Ensure colleagues have the correct tools and resources available to them to do their jobs. Have a positive and focused attitude to achieving outcomes, despite any setbacks. Regularly check performance against objectives, making suggestions for improvement or taking corrective action where necessary. Ensure that colleagues are supported where tasks are challenging</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:&nbsp;<br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary&nbsp;<br>&#x25cf;&nbsp;Additional key responsibilities based on the department context&nbsp;<br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>