<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th>Users</th>
<th>Can use the CCF to:</th>
</tr>
</thead>
<tbody>
<tr>
<th><strong>Departments</strong></th>
<td>&bull;<span class="Apple-tab-span"> </span>Support the capability and capacity within their commercial teams<br /><br />&bull;<span class="Apple-tab-span"> </span>Further build commercial capability, especially where gaps are identified</td>
</tr>
<tr>
<th><strong>Line Managers</strong></th>
<td>&bull;<span class="Apple-tab-span"> </span>Inform development conversations with those in their team&bull;<span class="Apple-tab-span"> </span>Upskill their team by identifying individuals&rsquo; development areas using the career paths and capabilities<br /><br />&bull; Help design development plans and goals for individuals both in terms of upwards and sideways progression</td>
</tr>
<tr>
<th><strong>GCF Commercial Professionals</strong></th>
<td>&bull;<span class="Apple-tab-span"> </span>Identify your strengths, development areas and what you enjoy<br /><br />&bull;<span class="Apple-tab-span"> </span>Explore what opportunities the capabilities you use every day may present you with in the future<br /><br />&bull;<span class="Apple-tab-span"> </span>Consider what path you would like your career to take and what future role most interests you</td>
</tr>
<tr>
<th><strong>Future GCF Commercial Professionals</strong></th>
<td>&bull;<span class="Apple-tab-span"> </span>Identify your transferable skills and what you may enjoy in the GCF<br /><br />&bull;<span class="Apple-tab-span"> </span>Understand possible entry points into a commercial career in government<br /><br />&bull;<span class="Apple-tab-span"> </span>Consider if there is a specific role in the GCF that would match your career aspirations</td>
</tr>
<tr>
<th><strong>Talent Teams</strong></th>
<td>&bull;<span class="Apple-tab-span"> </span>Assess the range of commercial capabilities and roles held in departments and /or governmen<br /><br />&bull;<span class="Apple-tab-span"> </span>Map roles and capabilities to individuals</td>
</tr>
</tbody>
</table>