####GCF People Standards for the Profession Part 1

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Job Pillars</th>
<th>Role components</th>
<th>Commercial Support</th>
<th>Associate Commercial Practitioner</th>
<th>Commercial Practitioner</th>
<th>Associate Commercial Lead</th>
</tr>
</thead>
<tbody>
<tr>
<td rowspan="4"><strong>Strategy and Policy Development</strong></td>
<td>Commercial Strategy</td>
<td><a href="#commercial-strategy-part-1">View</a></td>
<td><a href="#commercial-strategy-part-1">View</a></td>
<td><a href="#commercial-strategy-part-1">View</a></td>
<td><a href="#commercial-strategy-part-1">View</a></td>
</tr>
<tr>
<td>Commercial Policy</td>
<td><a href="#commercial-policy-part-1">View</a></td>
<td><a href="#commercial-policy-part-1">View</a></td>
<td><a href="#commercial-policy-part-1">View</a></td>
<td><a href="#commercial-policy-part-1">View</a></td>
</tr>
<tr>
<td>Commercial assurance and governance</td>
<td><a href="#commercial-assurance-and-governance-part-1">View</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">View</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">View</a></td>
<td><a href="#commercial-assurance-and-governance-part-1">View</a></td>
</tr>
<tr>
<td>Category strategy</td>
<td colspan="2"></td>
<td><a href="#category-strategy-part-1">View</a></td>
<td><a href="#category-strategy-part-1">View</a></td>
</tr>
<tr>
<td rowspan="2"><strong>Understanding Needs and Sourcing</strong></td>
<td>Commercial intelligence</td>
<td colspan="2"></td>
<td><a href="#commercial-intelligence">View</a></td>
<td><a href="#commercial-intelligence">View</a></td>
</tr>
<tr>
<td>Sourcing strategy</td>
<td>&nbsp;</td>
<td><a href="#sourcing-strategy-part-1">View</a></td>
<td><a href="#sourcing-strategy-part-1">View</a></td>
<td><a href="#sourcing-strategy-part-1">View</a></td>
</tr>
<tr>
<td rowspan="2"><strong>Procurement Process</strong></td>
<td>Procurement business analysis</td>
<td><a href="#procurement-business-analysis-part-1">View</a></td>
<td><a href="#procurement-business-analysis-part-1">View</a></td>
<td><a href="#procurement-business-analysis-part-1">View</a></td>
<td><a href="#procurement-business-analysis-part-1">View</a></td>
</tr>
<tr>
<td>Procurement management</td>
<td><a href="#procurement-management-part-1">View</a></td>
<td><a href="#procurement-management-part-1">View</a></td>
<td><a href="#procurement-management-part-1">View</a></td>
<td><a href="#procurement-management-part-1">View</a></td>
</tr>
<tr>
<td rowspan="3"><strong>Contract and Supplier Management</strong></td>
<td>Contract management</td>
<td><a href="#contract-management-part-1">View</a></td>
<td><a href="#contract-management-part-1">View</a></td>
<td><a href="#contract-management-part-1">View</a></td>
<td><a href="#contract-management-part-1">View</a></td>
</tr>
<tr>
<td>Contract administration</td>
<td><a href="#contract-administration">View</a></td>
<td><a href="#contract-administration">View</a></td>
<td><a href="#contract-administration">View</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Supplier management</td>
<td><a href="#supplier-management-part-1">View</a></td>
<td><a href="#supplier-management-part-1">View</a></td>
<td><a href="#supplier-management-part-1">View</a></td>
<td><a href="#supplier-management-part-1">View</a></td>
</tr>
<tr>
<td><strong>Cross Pillar</strong></td>
<td>Category management</td>
<td colspan="4">Multiple role components across the job pillars may be relevant to individuals from Commercial Support to Commercial Specialist</td>
</tr>
<tr>
<td rowspan="4"><strong>Enabling</strong></td>
<td>Commercial risk management</td>
<td colspan="2"></td>
<td><a href="#commercial-risk-management">View</a></td>
<td><a href="#commercial-risk-management">View</a></td>
</tr>
<tr>
<td>Capability and resourcing</td>
<td>&nbsp;</td>
<td><a href="#capability-and-resourcing">View</a></td>
<td><a href="#capability-and-resourcing">View</a></td>
<td><a href="#capability-and-resourcing">View</a></td>
</tr>
<tr>
<td>Systems and information</td>
<td colspan="2"></td>
<td><a href="#systems-and-information">View</a></td>
<td><a href="#systems-and-information">View</a></td>
</tr>
<tr>
<td>Continuous improvement</td>
<td colspan="2"></td>
<td><a href="#continuous-improvement">View</a></td>
<td><a href="#continuous-improvement">View</a></td>
</tr>
</tbody>
</table>

####GCF People Standards for the Profession Part 2

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Job Pillars</th>
<th>Role components</th>
<th>Commercial Lead</th>
<th>Associate Commercial Specialist</th>
<th>Commercial Specialist</th>
</tr>
</thead>
<tbody>
<tr>
<td rowspan="4"><strong>Strategy and Policy Development</strong></td>
<td>Commercial Strategy</td>
<td><a href="#commercial-strategy-part-2">View</a></td>
<td><a href="#commercial-strategy-part-2">View</a></td>
<td><a href="#commercial-strategy-part-2">View</a></td>
</tr>
<tr>
<td>Commercial Policy</td>
<td><a href="#commercial-policy-part-2">View</a></td>
<td><a href="#commercial-policy-part-2">View</a></td>
<td></td>
</tr>
<tr>
<td>Commercial assurance and governance</td>
<td><a href="#commercial-assurance-and-governance-part-2">View</a></td>
<td colspan="2"></td>
</tr>
<tr>
<td>Category strategy</td>
<td><a href="#category-strategy-part-2">View</a></td>
<td><a href="#category-strategy-part-2">View</a></td>
<td><a href="#category-strategy-part-2">View</a></td>
</tr>
<tr>
<td rowspan="2"><strong>Understanding Needs and Sourcing</strong></td>
<td>Commercial intelligence</td>
<td><a href="#commercial-intelligence">View</a></td>
<td><a href="#commercial-intelligence">View</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Sourcing strategy</td>
<td><a href="#sourcing-strategy-part-2">View</a></td>
<td><a href="#sourcing-strategy-part-2">View</a></td>
<td><a href="#sourcing-strategy-part-2">View</a></td>
</tr>
<tr>
<td rowspan="2"><strong>Procurement Process</strong></td>
<td>Procurement business analysis</td>
<td><a href="#procurement-business-analysis-part-2">View</a></td>
<td><a href="#procurement-business-analysis-part-2">View</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Procurement management</td>
<td><a href="#procurement-management-part-2">View</a></td>
<td><a href="#procurement-management-part-2">View</a></td>
<td><a href="#procurement-management-part-2">View</a></td>
</tr>
<tr>
<td rowspan="3"><strong>Contract and Supplier Management</strong></td>
<td>Contract management</td>
<td><a href="#contract-management-part-2">View</a></td>
<td><a href="#contract-management-part-2">View</a></td>
<td><a href="#contract-management-part-2">View</a></td>
</tr>
<tr>
<td>Contract administration</td>
<td colspan="3"></td>
</tr>
<tr>
<td>Supplier management</td>
<td><a href="#supplier-management-part-2">View</a></td>
<td><a href="#supplier-management-part-2">View</a></td>
<td><a href="#supplier-management-part-2">View</a></td>
</tr>
<tr>
<td><strong>Cross Pillar</strong></td>
<td>Category management</td>
<td colspan="3">Multiple role components across the job pillars may be relevant to individuals from Commercial Support to Commercial Specialist</td>
</tr>
<tr>
<td rowspan="4"><strong>&nbsp;Enabling</strong></td>
<td>Commercial risk management</td>
<td><a href="#commercial-risk-management">View</a></td>
<td><a href="#commercial-risk-management">View</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Capability and resourcing</td>
<td><a href="#capability-and-resourcing">View</a></td>
<td><a href="#capability-and-resourcing">View</a></td>
<td><a href="#capability-and-resourcing">View</a></td>
</tr>
<tr>
<td>Systems and information</td>
<td><a href="#systems-and-information">View</a></td>
<td colspan="2"></td>
</tr>
<tr>
<td>Continuous improvement</td>
<td><a href="#continuous-improvement">View</a></td>
<td><a href="#continuous-improvement">View</a></td>
<td><a href="#continuous-improvement">View</a></td>
</tr>
</tbody>
</table>