###An introduction to capabilities

<table class="financial-data source-tableeditor">
<tbody>
<tr>
<th><strong>What are capabilities?</strong></th>
<td>Attaining the appropriate technical capabilities indicates you ability to carry out key activities in order to be effective in your role. <br /><br />They therefore describe the relevant expertise, experience and understanding in a specific field, system, way of working or environment which informs key decisions and processes and drives best practice.</td>
</tr>
<tr>
<th><strong>Why do we need capabilities for the commercial profession?</strong></th>
<td>The technical capabilities assigned to commercial roles in government, describe the knowledge and experience needed to perform effectively in specific roles. <br /><br />Technical capabilities therefore help employees to acquire and demonstrate new levels of proficiency and expertise, which can be used to support progression both laterally and vertically across roles either in their current specialist area or the wider profession.</td>
</tr>
<tr>
<th><strong>When should you use capabilities?</strong></th>
<td>Each commercial professional should regularly review their technical capabilities, particularly prior to any development discussion or performance review.</td>
</tr>
</tbody>
</table>