####Technical capability descriptions

<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th colspan="2">&nbsp;&nbsp;&nbsp;Technical Capability</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.</td>
<td>&nbsp;Commercial Context</td>
<td>&nbsp;Applies knowledge of the commercial lifecycle, the broader global context and markets to inform decisionmaking and drive best practice.</td>
</tr>
<tr>
<td>2.</td>
<td>&nbsp;Innovation</td>
<td>Researches, encourages and applies new ideas and ways of working to include the review of existingand future contracts to foster and maintain best practice, value for money and to ensure alignment withbusiness needs.</td>
</tr>
<tr>
<td><span>3.</span></td>
<td><span>&nbsp;</span>Contract Risk Management</td>
<td>Identifies, logs and mitigates contract and supply chain risks in accordance with the organisation'scommercial risk management approach. For high risk contracts, stress tests and scenario analysisshould be used to classify risks.</td>
</tr>
<tr>
<td><span>4.</span></td>
<td><span>&nbsp;</span>Solutions Development</td>
<td>Identifies and defines the problem, analyses a number of delivery options, selects the optimal solutionand creates a specification for thesolution.</td>
</tr>
<tr>
<td>5.</td>
<td>Business Case and Benefits Realisation</td>
<td>Prepares, develops, commissions and updates business cases to justify the initiation andcontinuation of projects in terms of benefits, value for money and risk.</td>
</tr>
<tr>
<td>6.</td>
<td>Budgeting and Cost Management</td>
<td>Estimates costs, produces a budget and controls forecasts and actual spend against budget.</td>
</tr>
<tr>
<td>7.</td>
<td>&nbsp;Business Partnering</td>
<td>Works closely with senior internal stakeholders from across the business, providing direction toinform strategy and critical decision making at the top level.</td>
</tr>
<tr>
<td><span>8.</span></td>
<td><span>&nbsp;</span>Business Understanding</td>
<td>Identifies, articulates and communicates business needs to inform critical decision making, strategy andservice definition for new and re- procured contracts and for continuous improvement and realignment ofexisting contracts.</td>
</tr>
<tr>
<td><span>9.&nbsp;</span></td>
<td><span>&nbsp;</span>Commercial Vision</td>
<td>Sets the overall commercial vision for the department focused on outcomes such as adding value for thecitizen and making real, lastingchange. Establishes a culture of delivery, continuous improvement, efficiency and value for money.</td>
</tr>
<tr>
<td>10.</td>
<td>Strategy Developmentand Implementation</td>
<td>&nbsp;Defines, seeks approval for and implements a strategy for the whole or specific part of the commerciallifecycle.</td>
</tr>
<tr>
<td>11.&nbsp;</td>
<td>&nbsp;Quality Management</td>
<td>Plans, develops, maintains and applies procurement and contract managementguidance and regulations throughout the commerciallifecycle.</td>
</tr>
<tr>
<td>12.</td>
<td>Policy Development</td>
<td>Inputs, assesses and shapes department and ministerial policies from a commercialperspective.</td>
</tr>
<tr>
<td>13.</td>
<td>&nbsp;Pipeline Management</td>
<td>Identifies, tracks and escalates the need for a third party provision in specific parts ofthe organisation in order to prioritise and manage contracts in the pipeline, thereby ensuring that there are no gaps in organisational provision. Engages with procurement and category colleagues to manage and secure the supply chain.</td>
</tr>
<tr>
<td>14.</td>
<td>&nbsp;Market Analysis</td>
<td>Understands how a market works from a buyer&rsquo;s perspective, considering itsimpact on effective service delivery and a contract&rsquo;s value for money. Combines market specific data analysis with the bigger picture in order to advise on future market changes, specifically in relation to the main and emerging players as wellas the degree of existing competition.</td>
</tr>
<tr>
<td>15.</td>
<td>&nbsp;Supply Market Analysis</td>
<td>Understands how a market works from a supplier&rsquo;s perspective in order torecommend the most appropriate market engagement approaches to increasecompetition, promote innovation and improve value for money in contracts.</td>
</tr>
<tr>
<td>16.</td>
<td>&nbsp;Security Management</td>
<td>Identifies and understands security requirements particularly in relation to GDPR and data off-shoring, develops evidence based strategies, evaluates options,impacts, risks and solutions and creates a security culture around the handling ofinformation, physical, personnel and cyber risks.</td>
</tr>
<tr>
<td>17.</td>
<td>Strategic Sourcing</td>
<td>Understands business requirements and the market place, providing advice and challenge in the development of an overarching sourcingstrategy.</td>
</tr>
<tr>
<td>18.</td>
<td>Assurance</td>
<td>Establishes, plans and manages reviews at appropriate points during all stagesof the commercial life cycle to evaluate progress against time, cost, quality,compliance and ongoing viability.</td>
</tr>
<tr>
<td>19.</td>
<td>Benchmarking</td>
<td>Uses tools and techniques to compare the current price of goods and servicesprocured under existing contracts, against market rates in order to informcommercial decisions to realign contract prices where necessary.</td>
</tr>
<tr>
<td>20.</td>
<td>InternationalProcurement</td>
<td>Manages and facilitates the process which allows firms globally to bid on contractsfor goods and services.14</td>
</tr>
<tr>
<td>&nbsp;21.</td>
<td>&nbsp;Single Sourcing</td>
<td>Uses methods and strategic relationships to manage risks and foster highquality, reliable and on time delivery of products and services, which are onlyavailable from one supplier.</td>
</tr>
<tr>
<td>&nbsp;22.</td>
<td>&nbsp;Supplier Engagement</td>
<td>Engages with suppliers in the marketplace, across a variety of stageswithin the procurement process (including pre-market engagement, preand post contract award) to ensure a competitive landscape and tomanage the supply chain.</td>
</tr>
<tr>
<td>&nbsp;23.</td>
<td>&nbsp;Supplier Management</td>
<td>Assesses the required nature of the relationship with the supplier(s) in line with organisational Supplier Relationship Management processes and strategy.</td>
</tr>
<tr>
<td>&nbsp;24.</td>
<td>&nbsp;Requirements Gathering</td>
<td>Conducts stakeholder needs analysis and develops a clear view of business requirements and target outcomes as part of the procurementand any contract changes. Uses demand management techniques tochallenge and influence the development of requirements.</td>
</tr>
<tr>
<td>&nbsp;25.</td>
<td>Offer invitation</td>
<td>Justifies the route to market in line with the selected commercial optionand in compliance with the current commercial policy before issuing theITT, in order to invite the supplier to submit documented offers to deliverthe requirement.</td>
</tr>
<tr>
<td>&nbsp;26.</td>
<td>&nbsp;Supplier Selection andEvaluation</td>
<td>Develops the specification, evaluation criteria, terms and conditions as part of the bidders pack and ensures that responses to clarificationquestions are responded to in a timely manner. Uses methods including e-sourcing tools to evaluate offers to include quality, deliverability, capability,social value, price and whole life cost.</td>
</tr>
<tr>
<td>&nbsp;27.</td>
<td>&nbsp;Contracting</td>
<td>Models, selects and finalises forms of contract to facilitate more efficientsourcing and contract management and to avoid prejudicing the position ofeither party and defines how the supplier should be paid for delivering therequirements.</td>
</tr>
<tr>
<td>&nbsp;28.</td>
<td>&nbsp;Commercial BusinessAnalysis</td>
<td>Shapes the business need to use the outsourcing playbook to assesswhether to deliver the requirement in-house or whether to outsource thecontract with a third party and under what conditions.</td>
</tr>
<tr>
<td>29.</td>
<td>Commercial OptionsAnalysis</td>
<td>Identifies and analyses commercial options/cases in line with the GreenBook (HM Treasury) to justify recommendations.</td>
</tr>
<tr>
<td>&nbsp;30.</td>
<td>&nbsp;Collaborative Procurement</td>
<td>Maximises purchasing power and value for money by aggregatingdemand and utilises collaborative procurement channels, for example, byusing the Crown Commercial Services collaborative procurement deals.15</td>
</tr>
<tr>
<td>&nbsp;31.</td>
<td>Market Development</td>
<td>Analyses supply markets to understand key characteristics of new markets toinform whether market making or development is required.</td>
</tr>
<tr>
<td>&nbsp;32.</td>
<td>Framework Management</td>
<td>Manages the framework and procurement processes via use of a framework,including specific maintenance activities and interaction with suppliers through thetender process.</td>
</tr>
<tr>
<td>&nbsp;33.</td>
<td>&nbsp;Contract Mobilisation</td>
<td>Allocates the contract to a tier in accordance with the commercial governanceframework, agrees roles and responsibilities for managing the contract, agrees the budget for the contract and processes for committing and monitoring contract spend, creates a contract management plan and creates and tracks themobilisation plan.</td>
</tr>
<tr>
<td>&nbsp;34.</td>
<td>Intellectual PropertyRights (IPR)Management</td>
<td>&nbsp;Embeds Intellectual Property Rights throughout the implementation processes.</td>
</tr>
<tr>
<td>&nbsp;35.</td>
<td>&nbsp;Contract Delivery andPerformanceManagement</td>
<td>Ensures the necessary resources, processes (to include disputes) and systemsare in place and are used in the management of the contract and supplier performance. Reviews supplier performance in line with the contractual obligations, and deals with under performance in line with the contract. Provides reports to the senior business owner against the Contract Management plan, Key Performance Indicators and Obligations Matrix.</td>
</tr>
<tr>
<td>&nbsp;36.</td>
<td>&nbsp;Contract Change Control</td>
<td>&nbsp;Justifies, controls and records changes to the contract to ensure requirementscontinue to meet business needs.</td>
</tr>
<tr>
<td>&nbsp;37.</td>
<td>&nbsp;Contract Transition andExit</td>
<td>Defines a transition plan in accordance with contractual provision to include responsibilities for each party, manages contract exit through updating contractdocumentation and approvals, ensures timely and comprehensive provision ofhandover data, assets and guidance from incumbent supplier and a smooth transition to the new provider/ in house/ cessation of provision by an authorised representative and considers all measures to minimise cost and impact of exit.</td>
</tr>
<tr>
<td>38.</td>
<td>Re-procurement</td>
<td>Supports colleagues in the commercial function by contributing to re-procurementand new sourcing exercises, using information sources, ensuring contractgovernance set up and drawing on lessons learned.</td>
</tr>
<tr>
<td>39.</td>
<td>Systems Expertise</td>
<td>Understands the specific systems underpinning commercial activity and strongworking knowledge of how to use these systems.</td>
</tr>
</tbody>
</table>