####Capability Levels

<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th>Level 1</th>
<th>Level 2</th>
<th>Level 3</th>
<th>Level 4</th>
</tr>
</thead>
<tbody>
<tr>
<td>&bull;<span class="Apple-tab-span"> </span>You have basic knowledge of the capability and what skills it requires<br /><br />&bull;<span class="Apple-tab-span"> </span>You understand the importance of the capability and may be able to describe the overall benefits for government commercials<br /><br />&bull;<span class="Apple-tab-span"> </span>You may have applied this capability in low complexity scenarios with support</td>
<td>&bull;<span class="Apple-tab-span"> </span>You have knowledge and understanding of the capability and the skills it requires<br /><br />&bull;<span class="Apple-tab-span"> </span>You actively contribute by applying and demonstrating this capability in your position<br /><br />&bull;<span class="Apple-tab-span"> </span>You may have independently applied this capability in low complexity scenarios</td>
<td>&bull;<span class="Apple-tab-span"> </span>You have detailed knowledge and understanding of the capability and how to adapt and tailor your approach to different scenarios<br /><br />&bull;<span class="Apple-tab-span"> </span>You are responsible for applying and demonstrating this capability independently including in high complexity scenarios<br /><br />&bull;<span class="Apple-tab-span"> </span>You share your knowledge and expertise with others</td>
<td>&bull;<span class="Apple-tab-span"> </span>You are considered an expert in this capability and can adapt and tailor your approach effectively in all scenarios<br /><br />&bull;<span class="Apple-tab-span"> </span>You manage and supervise the application of this capability in all scenarios<br /><br />&bull;<span class="Apple-tab-span"> </span>You share your knowledge and expertise with others and help them to apply this capability<br /><br />&bull;<span class="Apple-tab-span"> </span>You champion capability development in this area</td>
</tr>
</tbody>
</table>