<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>STRATEGY AND POLICY DEVELOPMENT<br></strong><strong>Commercial Category Strategy</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial Professional Level</strong></th>
<td><strong>Commercial Practitioner<br></strong>(Higher Executive Officer equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will contribute to the delivery of commercial excellence for your department by contributing to the development of category strategies and pipeline plans. You will be expected to help manage the supply chain of critical products and services and apply your knowledge of business requirements combined with your negotiating skills to ensure &lsquo;value for money&rsquo; is delivered.<br><br>You will work as part of a larger team, but will be expected to work independently by prioritising and managing your own workload to deliver to deadlines and to respond to changing operational demands.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Typically, the key responsibilities in this role will include (but are not limited to):<br><br>&#x25cf;&nbsp;Obtaining data on past patterns of spend and identifying those parts of the organisation that have or are likely to have needs in the particular area in question<br>&#x25cf;&nbsp;Identifying and defining a problem, analysing a number of delivery options, selecting the optimal solution and creating a specification for the solution <br>&#x25cf;&nbsp;Working closely with senior internal stakeholders from across the business, providing direction to inform category strategies and critical decision making at the top level<br>&#x25cf;&nbsp;Applying tools and techniques that can be used to benchmark the current state of the category and determine future requirements and is able to use some under supervision<br>&#x25cf;&nbsp;Inputting, assessing and shaping department and ministerial policies from a commercial perspective<br>&#x25cf;&nbsp;Identifying the type of supplies/services required and potentially suitable suppliers and markets<br>&#x25cf;&nbsp;Developing and applying a category strategy as well as contributing to the development and implementing sourcing plans<br>&#x25cf;&nbsp;Seeking approval for and implementing a category strategy for the whole of the commercial lifecycle<br>&#x25cf;&nbsp;Baselining costs in order to build expected benefits into category strategies <br>&#x25cf;&nbsp;Demonstrating the benefits specified in the business case and the impact on their own role<br>&#x25cf;&nbsp;Providing advice and challenge in the development of an overarching category strategy using a good understanding of business requirements and the marketplace<br>&#x25cf;&nbsp;Using effective negotiation skills<br>&#x25cf;&nbsp;Researching, encouraging and applying new ideas and ways of working to maximise &lsquo;value for money&rsquo;<br>&#x25cf;&nbsp;Carrying out project management activities to include project planning and delivery</td>
</tr>
<tr>
<th><strong>&nbsp;</strong><strong>Essential Criteria</strong></th>
<td><strong>Strategy and Policy Development: </strong><br>&#x25cf;&nbsp;Has practical experience in translating the needs of the business into policy objectives<br>&#x25cf;&nbsp;Has practical experience of developing commercial strategies for low-complexity, low value procurements and contracts<br>&#x25cf;&nbsp;Has the ability to practically apply the procurement rules and link them to the implementation of policy objectives<br><br><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has an understanding of elementary economics factors that may determine a market shape, dynamics and models, the changes in the business needs of an organisation and is familiar with key commercial tools<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to identify and communicate cyber, personnel and physical risks and gain agreement on how they should be managed/mitigated<br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to apply standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards<br><br><strong>Team Focus: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to work as part of a team to support their performance, manage setbacks and resolve issues internally<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to communicate with stakeholders at all levels using different communication styles to articulate the benefits that have been achieved and to establish governance and relationship arrangements</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across the following behaviours for level 3 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>
<strong>Seeing the Big Picture:</strong> <br>
&#x25cf;&nbsp;Understand the strategic drivers for your area of work. Align activities to contribute to wider organisational priorities. Remain alert to emerging issues and trends which might impact your work area. Seek out and share experiences to develop knowledge of the team&rsquo;s business area. Understand how the strategies and activities of the team create value and meet the diverse needs of all stakeholders<br>
<br>
<strong>Changing and Improving:</strong> <br>
&#x25cf;&nbsp;Work with others to identify areas for improvement and simplify processes to use fewer resources. Use technology where possible to increase efficiency. Encourage ideas for change from a wide range of sources. Clearly explain the reasons for change to colleagues and how to implement them, supporting individuals with different needs to adapt to change. Encourage an environment where colleagues know that they can challenge decisions and issues safely. Take managed risks by fully considering the varied impacts changes could have on the diverse range of end users<br>
<br>
<strong>Making Effective Decisions: </strong><br>
&#x25cf;&nbsp;Understand own level of responsibility and empower others to make decisions where appropriate. Analyse and use a range of relevant, credible information from internal and external sources to support decisions. Invite challenge and where appropriate involve others in decision making. Display confidence when making difficult decisions, even if they prove to be unpopular. Consult with others to ensure the potential impacts on end users have been considered. Present strong recommendations in a timely manner outlining the consideration of other options, costs, benefits and risks<br>
<br>
<strong>Leadership: <br>
</strong>&#x25cf;&nbsp;Ensure colleagues and stakeholders have a clear understanding of objectives, activities and time-frames. Take into account different individual needs, views, and ideas, championing inclusion and equality of opportunity for all. Consider the impacts of own and team&rsquo;s activities on stakeholders and end users. Role-model commitment and satisfaction with role. Recognise and praise the achievements of others to drive positivity within the team. Effectively manage conflict, misconduct and non-inclusive behaviour, raising with senior managers where appropriate<br>
<br>
<strong>Communicating and Influencing: </strong><br>
&#x25cf;&nbsp;Communicate in a straightforward, honest and engaging manner, choosing appropriate styles to maximise understanding and impact. Encourage the use of different communication methods, including digital resources and highlight the benefits, including ensuring cost effectiveness. Ensure communication has a clear purpose and takes into account people&rsquo;s individual needs. Share information as appropriate and check understanding. Show positivity and enthusiasm towards work, encouraging others to do the same. Ensure that important messages are communicated with colleagues and stakeholders respectfully, taking into consideration the diversity of interests<br>
<br>
<strong>Working Together: </strong><br>
&#x25cf;&nbsp;Encourage joined up team work within own team and across other groups. Establish professional relationships with a range of stakeholders. Collaborate with these to share information, resources and support. Invest time to develop a common focus and genuine positive team spirit where colleagues feel valued and respect one another. Put in place support for the wellbeing of individuals within the team, including consideration of your own needs. Make it clear to all team members that bullying, harassment and discrimination are unacceptable. Actively seek and consider input of people from diverse backgrounds and perspectives<br>
<br>
<strong>Developing Self and Others:</strong> <br>
&#x25cf;&nbsp;Identify capability gaps for self and team. Ensure development objectives are set and achieved to address any gaps and enable delivery of current and future work. Take time to coach, mentor and develop other colleagues to support succession planning. Promote inclusiveness by respecting different personal needs in the team and use these to develop others. Reflect on own work, continuously seek and act on feedback to improve own and team&rsquo;s performance<br>
<br>
<strong>Managing a Quality Service: </strong><br>
&#x25cf;&nbsp;Develop, implement, maintain and review systems and services to ensure delivery of professional excellence. Work with stakeholders to set priorities, objectives and timescales. Successfully deliver high quality outcomes that meet the customers&rsquo; needs and gives &lsquo;value for money&rsquo;. Identify risks and resolve issues efficiently. Involve a diverse range of colleagues, stakeholders and delivery partners in developing suggestions for improvements. Establish ways to find and respond to feedback from customers about the services provided<br>
<br>
<strong>Delivering at Pace: </strong><br>
&#x25cf;&nbsp;Show a positive approach to keeping the whole team&rsquo;s efforts focused on the top priorities. Promote a culture of following the appropriate procedures to ensure results are achieved on time whilst still enabling innovation. Ensure the most appropriate resources are available for colleagues to use to do their job effectively. Regularly monitor your own and team&rsquo;s work against milestones ensuring individual needs are considered when setting tasks. Act promptly to reassess workloads and priorities when there are conflicting demands to maintain performance. Allow individuals the space and authority to meet objectives, providing additional support where necessary, whilst keeping overall responsibility</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>