<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>STRATEGY AND POLICY DEVELOPMENT<br></strong><strong>Commercial Category Strategy</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial Professional Level</strong></th>
<td><strong>Associate Commercial Specialist<br></strong>(Grade 6 equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will promote the delivery of commercial excellence for your department by managing the development of category strategies and pipeline plans. You will be expected to lead on the management of the supply chain of critical products and services and application of knowledge of business requirements combined with strong negotiating skills to ensure &lsquo;value for money&rsquo; is delivered.<span><br><br></span>You will lead a team, building their confidence and commercial capability to drive performance and manage setbacks. The role will require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Typically, the key responsibilities in this role will include (but are not limited to):<br><br>&#x25cf;&nbsp;Producing and analysing data to inform category strategy and sector management, identify new markets and quantify risks<br>&#x25cf;&nbsp;Managing the benefits, risks and issues of a category management approach and taking the lead in developing solutions within an area of responsibility<br>&#x25cf;&nbsp;Building strong relationships with key internal and external stakeholders, in order to develop a clear and agreed view of the needs of the business and wider cross-government strategies which can then be built into the category strategy<br>&#x25cf;&nbsp;Leading on the implementation of government commercial policy and articulating relevant requirements to stakeholders<br>&#x25cf;&nbsp;Considering the long-term resilience of supply chains and takes opportunities to mitigate the risks and develop opportunities<br>&#x25cf;&nbsp;Leading on the development of a category strategy and sourcing plans<br>&#x25cf;&nbsp;Seeking approval for and managing the implementation of a category strategy for the whole of the commercial lifecycle<br>&#x25cf;&nbsp;Managing the development of supplier management strategies in order to maximise commercial leverage<br>&#x25cf;&nbsp;Baselining costs in order to build expected benefits into category strategies<br>&#x25cf;&nbsp;Demonstrating the benefits specified in the business case and the impact on their own role<br>&#x25cf;&nbsp;Ensuring relevant issues are fed into strategy and big picture considerations<br>&#x25cf;&nbsp;Providing advice and challenge in the development of an overarching category strategy using a good understanding of business requirements and the marketplace<br>&#x25cf;&nbsp;Establishing and implementing negotiation strategies with clear parameters<br>&#x25cf;&nbsp;Researching, encouraging and applying new ideas and ways of working to maximise &lsquo;value for money&rsquo;<br>&#x25cf;&nbsp;Applying a strong visual project management approach <br>&#x25cf;&nbsp;Securing and acting on insight into customers, citizens, services, communities and markets relating to a specified set of contracts or projects</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong><span>&nbsp;</span>Strategy and Policy Development: </strong><br>&#x25cf;&nbsp;Has practical experience in implementing government and department commercial policies across a range of different delivery models<br>&#x25cf;&nbsp;Has expertise in developing a category strategy for high value and complex procurements<br>&#x25cf;&nbsp;Has expertise in the development and implementation of business unit strategies through supply chain management and has the ability to challenge risk averse behaviours where appropriate<br>&#x25cf;&nbsp;Has experience in developing resource and implementation plans in line with policy objectives and has the ability to expertly apply relevant procurement rules<br><br><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has a strong practical understanding of market and commercial drivers as well as contract law<br>&#x25cf;&nbsp;Demonstrates the ability to draw conclusions from a wide range of complex data from different sources<br>&#x25cf;&nbsp;Has a practical understanding of the concept of &lsquo;value for money&rsquo; and can articulate what a successful return on investment looks like for a particular project/programme<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions<br>&#x25cf;&nbsp;Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs <br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards<br><br><strong>Team Management:</strong><br>&#x25cf;&nbsp;Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks <br>&#x25cf;&nbsp;Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and morale<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Demonstrates strong stakeholder engagement, with the ability to show resilience in interactions with suppliers in order to defend the department&rsquo;s position <br>&#x25cf;&nbsp;Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across all of the following behaviours for level 4 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>&#x25cf;&nbsp;<strong>Seeing the Big Picture: </strong>Develop and maintain an understanding of economic, social, political, environmental and technological developments to ensure activity is relevant. Ensure plans and activities in your area of work reflect wider strategic priorities and communicate effectively with senior leaders to influence future strategies. Adopt a governmentwide perspective to ensure alignment of activity and policy. Bring together views, perspectives and diverse needs of stakeholders to gain a broader understanding of the issues surrounding policies and activities <br>&#x25cf;&nbsp;<strong>Managing a Quality Service:</strong>Demonstrate positive customer service by understanding the complexity and diversity of customer needs and expectations. Deliver a high quality, efficient and cost effective service by considering a broad range of methods for delivery. Ensure full consideration of new technologies, accessibility and costings. Make clear, practical and manageable plans for service delivery. Ensure adherence to legal, regulatory and security requirements in service delivery. Proactively manage risks and identify solutions. Establish how the business area compares to industry best practice. Create regular opportunities for colleagues, stakeholders, delivery partners and customers to help improve the quality of service<br>&#x25cf;&nbsp;<strong>Developing Self and Others:</strong>Prioritise and role-model continuous self-learning and development. Identify areas individuals and teams need to develop in order to achieve future objectives. Support colleagues to take responsibility for their own learning and development. Ensure that development opportunities are available for all individuals regardless of their background or desire to achieve promotion. Ensure individuals take full advantage of learning and development opportunities available to them, including workplace based learning. Encourage discussions within and between teams to learn from each other&rsquo;s experiences and change organisational plans and processes accordingly <br>&#x25cf;&nbsp;<strong>Leadership: </strong>Promote diversity, inclusion and equality of opportunity, respecting difference and external experience. Welcome and respond to views and challenges from others, despite any conflicting pressures to ignore or give in to them. Stand by, promote or defend own and team&rsquo;s actions and decisions where needed. Seek out shared interests beyond own area of responsibility, understanding the extent of the impact actions have on the organisation. Inspire and motivate teams to be fully engaged in their work and dedicated to their role</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>