##Strategy and Policy Development: Commercial Policy

###Commercial Professional Level - Commercial Support (Administrative Officer equivalent)

###Role summary

In this role you will support the delivery of commercial excellence for your department by contributing to the shaping of organisational and ministerial policies from a commercial perspective. You will be expected to help design, develop and implement commercial policy and maintain the organisational commercial library, templates and guidance. You will support operational management reviews, risk management and independent audits in order to ensure that all appropriate controls are in place to ensure high quality delivery.

You will work as part of a larger team, but will be expected to be able to prioritise and manage your own workload to deliver to deadlines and know when to seek support in order to balance both operationally urgent and important tasks.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Inputting, assessing and shaping department and ministerial policies from a commercial perspective
- Helping to apply an understanding of the difference between guidance, policy and legislation to ensure delivery teams understand their risks and opportunities and can successfully operate within the agreed
- Maintaining the organisational commercial library, templates and guidance
- Identifying, logging and tracking risks to ensure high quality delivery of policies
- Working with internal stakeholders from across the business to support the shaping and implementation of organisational and ministerial policies
- Supporting the identification of security requirements particularly in relation to general data protection regulation (GDPR) and data off-shoring
- Combining market specific data analysis with big picture considerations in order to advise on future market changes
- Applying an understanding of procurement and contract management regulations and when shaping and implementing policy objectives 
- Contributing to the embedding Intellectual Property Rights when implementing commercial policies
- Helping to implement and embed new policies, guidance and legislation across multifunctional teams

###Essential Criteria

<strong>Strategy and Policy Development:</strong>

- Has a basic understanding of the needs of the business and how commercial strategies apply to low value procurements and contracts
- Has awareness of procurement rules and their linkage to the implementation of policy objectives

<strong>Commercial Focus:</strong>

- Has a basic understanding of how markets work and how to collect data and information to support commercial activity

<strong>Risk and Assurance Management:</strong>

- Has a basic understanding of commercial risks and how mitigation techniques work

<strong>Commercial Ethics:</strong>

- Has an understanding of the importance of the standards to eliminate corruption, fraud and unethical behaviour in supply chains

<strong>Team Focus:</strong>

- Demonstrates the ability to work as part of a team to support their resilience and performance

<strong>Build Relationships:</strong>

- Demonstrates the ability to use different communication styles with different audiences

###Civil Service Behaviours

Ability to show examples across the following behaviours for level 1 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

- <strong>Seeing the Big Picture:</strong> Understand what your responsibilities are and how these contribute to the priorities of your team. Consider the varied impact your work could have on individuals with different needs and from other backgrounds. Gather information from both inside and outside of the organisation to inform your area of work

- <strong>Changing and Improving:</strong> Review ways of working and suggest improvements, including how to make full use of new digital technologies. Learn new procedures and help colleagues to do the same. Query any issues that arise from changes in a suitable way. Respond in an effective and appropriate manner when emergencies arise

- <strong>Making Effective Decisions:</strong> Use guidance, analyse relevant information and ask colleagues for input to support decision making. Identify and deal with any errors or gaps in information before making a decision. Consider the diverse needs of those affected by decisions and how it will impact them. Provide advice and feedback to support others in making accurate decisions. Ask others to clarify decisions when confused and query any issues that arise constructively

- <strong>Leadership:</strong> Show enthusiasm for your work and take personal accountability for your role. Demonstrate responsibility for your own objectives. Act in a fair, inclusive and respectful way when dealing with others. Be considerate and understanding of other people’s points of view. Understand and support the objectives of the wider team. Demonstrate consideration of the wider consequences of own actions

- <strong>Communicating and Influencing:</strong> Put forward your views in a clear, constructive and considerate manner. Use an appropriate method of communication for each person such as an email, telephone call or face-to-face, taking into consideration their individual needs. Use plain and simple language, being careful to check written work for errors. Consider the impact of language used on different groups of stakeholders. Remain honest and truthful when explaining opinions. Listen and ask questions to ensure your understanding

- <strong>Working Together:</strong> Proactively contribute to the work of the whole team and remain open to taking on new and different roles. Get to know your colleagues and build supportive relationships. Listen to alternative perspectives and needs, responding sensitively and checking understanding where necessary. Ask for help when needed and support others when the opportunity arises. Be aware of the need to consider your own wellbeing and that of your colleagues. Understand that bullying, harassment and discrimination are unacceptable

- <strong>Developing Self and Others:</strong> Identify gaps in your skills and knowledge and make plans of how to develop these. Take time to achieve development objectives. Listen to and act on feedback from colleagues to find areas you can develop. Share knowledge and skills learnt with colleagues to contribute to the learning and development of the whole team

- <strong>Managing a Quality Service:</strong> Gain a clear understanding of customers’ needs and expectations. Plan, organise and manage your own time to deliver a high quality service which gives taxpayers a good return for their money. Act to prevent problems by identifying issues, reporting them and providing solutions. Keep customers and all colleagues up to date with progress. Show customers where to access relevant information and support that will help them to use services more effectively

- <strong>Delivering at Pace:</strong> Always work with focus and pace to get the job done on time and to a high standard. Follow the relevant policies, procedures and rules that apply to the job. Use own knowledge and expertise to organise work. Keep focused on delivery and take responsibility for the quality of work produced. Keep a consistent level of personal performance. Keep managers and stakeholders updated on how work is progressing

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 
- Additional key responsibilities based on the department context 
- Bespoke essential skills/experience required for the role