<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br /></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>Cross Pillar<br /></strong><strong>Category Management</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial Professional Level</strong></th>
<td><strong>Commercial Support<br /></strong>(Administrative Officer equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will support across all aspects of the commercial lifecycle within the department. You will be expected to provide support to sourcing, procurement and contract management teams and staff, to give strategic advice on major programmes and help to define the 'needs' on business-as-usual requirements, through the contracting process and into commercial contract management.<span><br /></span><br />You will work as part of a larger team, but will be expected to be able to prioritise and manage your own workload to deliver to deadlines and know when to seek support in order to balance both operationally urgent and important tasks.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Category Management roles are varied, and individual remit is subject to both size of category, and/or level of complexity, value and risk within a category. <br /><br />Typically, key responsibilities for a commercial professional in this role may include (but are not limited to):<br /><br />&#x25cf;&nbsp;Providing administrative support to commercial colleagues on ad-hoc basis as part of the team supporting business as usual and project activities<br />&#x25cf; Strategic delivery and management of the category:<br /><br /><strong>&ordm;</strong> Assisting with development of category strategies for all relevant expenditure<br /><strong>&ordm;</strong> Ensuring compliance with all relevant contracts<br /><br />&#x25cf; Understanding relevant sourcing options, delivering positive outcomes through the procurement process:<br /><br /><strong>&ordm;</strong> Supporting the sourcing process for a wide range of procurements, such as market engagement, supporting negotiations and assessing procurement routes<br /><strong>&ordm;</strong> Maintaining routine catalogues within commercial systems to ensure they are up to date, liaising with colleagues as necessary<br /><br />&#x25cf; Ensuring effective Commercial Contract and Supplier Management within the category:<br /><br /><strong>&ordm;</strong> Undertaking contract management actions such as contract administration, monitoring supplier performance and managing supplier relationships<br /><strong>&ordm;</strong> Providing commercial support and guidance to a range of internal and external stakeholders <br /><br />&#x25cf; Enabling and developing the department:<br /><br /><strong>&ordm;</strong> Analysing data from corporate commercial systems (on/off contract spend) to help identify and drive &lsquo;value for money&rsquo;, efficiency and best practice opportunities</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Category Management:</strong><br />&#x25cf;&nbsp;Has awareness of the principles of end-to-end commercial lifecycle management<br /><br /><strong>Commercial Focus:</strong><br />&#x25cf;&nbsp;Has a basic understanding of how markets work and how to collect data and information to support commercial activity<br /><br /><strong>Risk and Assurance Management: </strong><br />&#x25cf;&nbsp;Has a basic understanding of commercial risks and how mitigation techniques work<br /><br /><strong>Commercial Ethics: </strong><br />&#x25cf;&nbsp;Has an understanding of the importance of the standards to eliminate corruption, fraud and unethical behaviour in supply chains<br /><br /><strong>Team Focus: </strong><br />&#x25cf;&nbsp;Demonstrates the ability to work as part of a team to support their resilience and performance<br /><br /><strong>Build Relationships: </strong><br />&#x25cf;&nbsp;Demonstrates the ability to use different communication styles with different audiences</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across the following behaviours for level 1 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br /><br />&#x25cf;&nbsp;<strong>Seeing the Big Picture:</strong> Understand what your responsibilities are and how these contribute to the priorities of your team. Consider the varied impact your work could have on individuals with different needs and from other backgrounds. Gather information from both inside and outside of the organisation to inform your area of work<br />&#x25cf;&nbsp;<strong>Changing and Improving:</strong> Review ways of working and suggest improvements, including how to make full use of new digital technologies. Learn new procedures and help colleagues to do the same. Query any issues that arise from changes in a suitable way. Respond in an effective and appropriate manner when emergencies arise<br />&#x25cf;&nbsp;<strong>Making Effective Decisions: </strong>Use guidance, analyse relevant information and ask colleagues for input to support decision making. Identify and deal with any errors or gaps in information before making a decision. Consider the diverse needs of those affected by decisions and how it will impact them. Provide advice and feedback to support others in making accurate decisions. Ask others to clarify decisions when confused and query any issues that arise constructively<br />&#x25cf;&nbsp;<strong>Leadership: </strong>Show enthusiasm for your work and take personal accountability for your role. Demonstrate responsibility for your own objectives. Act in a fair, inclusive and respectful way when dealing with others. Be considerate and understanding of other people&rsquo;s points of view. Understand and support the objectives of the wider team. Demonstrate consideration of the wider consequences of own actions<br />&#x25cf;&nbsp;<strong>Communicating and Influencing: </strong>Put forward your views in a clear, constructive and considerate manner. Use an appropriate method of communication for each person such as an email, telephone call or face-to-face, taking into consideration their individual needs. Use plain and simple language, being careful to check written work for errors. Consider the impact of language used on different groups of stakeholders. Remain honest and truthful when explaining opinions. Listen and ask questions to ensure your understanding<br />&#x25cf;&nbsp;<strong>Working Together: </strong>Proactively contribute to the work of the whole team and remain open to taking on new and different roles. Get to know your colleagues and build supportive relationships. Listen to alternative perspectives and needs, responding sensitively and checking understanding where necessary. Ask for help when needed and support others when the opportunity arises. Be aware of the need to consider your own wellbeing and that of your colleagues. Understand that bullying, harassment and discrimination are unacceptable<br />&#x25cf;&nbsp;<strong>Developing Self and Others:</strong> Identify gaps in your skills and knowledge and make plans of how to develop these. Take time to achieve development objectives. Listen to and act on feedback from colleagues to find areas you can develop. Share knowledge and skills learnt with colleagues to contribute to the learning and development of the whole team<br />&#x25cf;&nbsp;<strong>Managing a Quality Service: </strong>Gain a clear understanding of customers&rsquo; needs and expectations. Plan, organise and manage your own time to deliver a high quality service which gives taxpayers a good return for their money. Act to prevent problems by identifying issues, reporting them and providing solutions. Keep customers and all colleagues up to date with progress. Show customers where to access relevant information and support that will help them to use services more effectively<br />&#x25cf;&nbsp;<strong>Delivering at Pace: </strong>Always work with focus and pace to get the job done on time and to a high standard. Follow the relevant policies, procedures and rules that apply to the job. Use own knowledge and expertise to organise work. Keep focused on delivery and take responsibility for the quality of work produced. Keep a consistent level of personal performance. Keep managers and stakeholders updated on how work is progressing</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br /><br />&#x25cf;&nbsp;An additional short paragraph in the role summary <br />&#x25cf;&nbsp;Additional key responsibilities based on the department context <br />&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>