<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>CONTRACT AND SUPPLIER MANAGEMENT<br></strong><strong>Contract Management</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial </strong><strong>Professional Level</strong></th>
<td><strong>Commercial Lead </strong><br>(Grade 7 equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will contribute to delivering commercial excellence for your department by leading contract management activity for one (or more) of the organisation&rsquo;s complex, high value and strategic contracts. The role includes the management of activity relating to: mobilising contracts, managing the delivery and performance of the contract, carrying out contract changes, managing risk within the contract and managing contract transition and exit.<br><br>You will be expected to work autonomously to ensure effective stakeholder management and work within the commercial and wider business governance framework processes and procedures. You will drive performance management, risk management, issues resolution, financial management, change control and overall contract and statutory compliance whilst being responsible for continuous improvement (service and value).</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Typically, the key responsibilities in this role will include (but are not limited to): <br><br>&#x25cf;&nbsp;Leading on contract management for one or more of the organisation&rsquo;s most high-profile, complex and strategic contracts<br>&#x25cf;&nbsp;Ensuring effective stakeholder management, governance, performance management frameworks, escalation, risk management, issues resolution, financial management, change control and compliance<br>&#x25cf;&nbsp;Managing contract variations, providing practical advice and strategic direction<br>&#x25cf;&nbsp;Evaluating whether a contract is achieving a successful return on investment, in the light of &lsquo;value for money&rsquo; considerations<br>&#x25cf;&nbsp;Overseeing the realisation of benefits achieved as a result of the performance management regime or change control, challenging non-delivery of benefits and escalates when required<br>&#x25cf;&nbsp;Driving innovation and improvement in contracts<br>&#x25cf;&nbsp;Managing risk and reward mechanisms in contracts and key performance indicators (KPIs)<br>&#x25cf;&nbsp;Identifying where changes in the contract are required and adopting strategies to implement these<br>&#x25cf;&nbsp;Performing contract exit activity, from pre-emptive action to transactional and process led tasks<br>&#x25cf;&nbsp;Evaluating suppliers&rsquo; performance against specific terms and conditions to ensure delivery of strategic outcomes and high contract performance <br>&#x25cf;&nbsp;Actively managing strategic relationships to deliver mutual benefit for those involved<br>&#x25cf;&nbsp;Holding both suppliers and customers accountable for their contractual commitments at a delivery level, resolving disputes effectively and efficiently<br>&#x25cf;&nbsp;Leading all planning and strategy for re-procurement and undertaking soft market testing<br>&#x25cf;&nbsp;Managing the disposal process of assets that are no longer needed once the current contract expires<br>&#x25cf;&nbsp;Advising on and mitigating risks to the continuity of supply and owning business continuity approach for relevant contract(s)<br>&#x25cf;&nbsp;Maintaining quality and concurrency of systems, reporting and management information<br>&#x25cf;&nbsp;Providing performance and day-to-day management of a team, where applicable<br>&#x25cf;&nbsp;Mentoring and providing guidance to junior members of the team<br>&#x25cf;&nbsp;Working within a secure environment on sensitive projects as required</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Contract Management:</strong><br>&#x25cf;&nbsp;Has experience in managing one or more contracts of medium to high complexity/value/risk<br>&#x25cf;&nbsp;Has strong understanding of contract management and the principles of end-to-end commercial lifecycle management<br><br><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility and can apply the commercial principles within the boundaries of contract law<br>&#x25cf;&nbsp;Demonstrates the ability to lead on securing &lsquo;value for money&rsquo; through achieving good return on investment on commercial projects<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions<br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards<br><br><strong>Team Focus: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks, resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making <br>&#x25cf;&nbsp;Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across all of the following behaviours for level 4 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>
<strong>Managing a Quality Service: </strong><br>
&#x25cf;&nbsp;Demonstrate positive customer service by understanding the complexity and diversity of customer needs and expectations. Deliver a high quality, efficient and cost effective service by considering a broad range of methods for delivery. Ensure full consideration of new technologies, accessibility and costings. Make clear, practical and manageable plans for service delivery. Ensure adherence to legal, regulatory and security requirements in service delivery. Proactively manage risks and identify solutions. Establish how the business area compares to industry best practice. Create regular opportunities for colleagues, stakeholders, delivery partners and customers to help improve the quality of service<br>
<br>
<strong>Making Effective Decisions: </strong><br>
&#x25cf;&nbsp;Clarify your own understanding and stakeholder needs and expectations, before making decisions. Ensure decision making happens at the right level, not allowing unnecessary bureaucracy to hinder delivery. Encourage both innovative suggestions and challenge from others, to inform decision making. Analyse and accurately interpret data from various sources to support decisions. Find the best option by identifying positives, negatives, risks and implications. Present reasonable conclusions from a wide range of complex and sometimes incomplete evidence. Make decisions confidently even when details are unclear or if they prove to be unpopular<br>
<br>
<strong>Developing Self and Others: <br>
&#x25cf;&nbsp;</strong>Prioritise and role-model continuous self-learning and development. Identify areas individuals and teams need to develop in order to achieve future objectives. Support colleagues to take responsibility for their own learning and development. Ensure that development opportunities are available for all individuals regardless of their background or desire to achieve promotion. Ensure individuals take full advantage of learning and development opportunities available to them, including workplace based learning. Encourage discussions within and between teams to learn from each other&rsquo;s experiences and change organisational plans and processes accordingly<br>
<br>
<strong>Leadership: </strong><br>
&#x25cf;&nbsp;Promote diversity, inclusion and equality of opportunity, respecting difference and external experience. Welcome and respond to views and challenges from others, despite any conflicting pressures to ignore or give in to them. Stand by, promote or defend own and team&rsquo;s actions and decisions where needed. Seek out shared interests beyond own area of responsibility, understanding the extent of the impact actions have on the organisation. Inspire and motivate teams to be fully engaged in their work and dedicated to their role</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: <br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>