##Systems and Information

##Commercial Professional Level - <strong>Commercial Lead</strong> (G7 equivalent)

###Role summary

In this role you will contribute to delivering commercial excellence for your department by contributing to systems and information management. You will be expected to manage and improve the appropriate commercial systems and data in order to promote process efficiency, robust controls, compliance and effective decision making as well as managing information to support the development of the commercial strategy and plan.
 
You will lead a team, building their confidence to drive performance and manage setbacks. The role will require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to): 

- Overseeing team the management of key business-as-usual activity (e.g. system admin activity, query resolution, support with PO management, reporting requirements etc.)

- Ensuring all commercial systems and digital capabilities are functional, meet user needs and are aligned with best practice  

- Coordinating the work of systems and data analysis to ensure business needs are translated into solutions against identified timelines

- Developing and maintaining a systems and data strategy for the department commercial teams in line with wider government context (e.g.  SaaS, transition to the Cloud, GSSS)

- Representing the department in Cabinet Office and cross-government initiatives

- Working with digital and system partners to develop innovative solutions that will deliver commercial value and efficiencies for the organisation

- Managing the collection, collation, cleansing, analysis and interpretation of data to derive meaningful and actionable insights and reports

- Owning a range of commercial reports and ensuring they meet the needs of the audience including for senior stakeholders

- Appling a strong visual project management approach 

- Maintaining good relationships with internal stakeholders and involving them in relevant decisions and discussions

- Researching, encouraging and applying new ideas and ways of working to include the review of existing and future contracts to foster and maintain best practice, value for money and to ensure alignment with business needs

- Managing and implementing systems change with a strong understanding of the culture, structure, service and moral impact

- Defining and implementing business continuity planning 

- Coaching and mentoring individuals as a trusted leader and displaying strong motivational capabilities to create a department culture focused on performance and priorities

###Essential Criteria

<strong>Systems and Information:</strong>

- Has technical experience in developing, designing and implementing new systems

- Has experience in carrying out change programmes to embed beneficial and sustainable systems change

- Has strong data management and analysis skills 

<strong>Commercial Focus: </strong>

- Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility, can apply the commercial principles within the boundaries of contract law

- Demonstrates the ability to lead on securing value for money through achieving good return on investment on commercial projects

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks and to resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges

<strong>Build Relationships: </strong>

- Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making. 

- Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role