##Systems and Information

##Commercial Professional Level - <strong>Commercial Practitioner</strong> (HEO equivalent)

###Role summary

In this role you will contribute to delivering commercial excellence for your department by contributing to systems and information management. You will be expected to make use of appropriate commercial systems and data in order to enable process efficiency, robust controls, compliance and effective decision making as well as helping to manage information to support the development of the commercial strategy and plan.

You will work as part of a larger team, but will be expected to work independently to prioritise and manage your own workload to deliver to deadlines and to respond to changing operational demands.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Contributing to key business-as-usual activity (e.g. system admin activity, query resolution, support with PO management, reporting requirements etc.)

- Ensuring all commercial systems and digital capabilities are functional, meet user needs and are aligned with best practice  

- Coordinating the work of systems and data analysis to ensure business needs are translated into solutions against identified timelines

- Working with digital and system partners to develop innovative solutions that will deliver commercial value and efficiencies for the organisation

- Collecting, collating, cleansing, analysing and interpreting data to derive meaningful and actionable insights and reports

- Contributing to a range of commercial reports and ensuring they meet the needs of the audience including for senior stakeholders

- Appling a strong visual project management approach 

- Maintaining good relationships with internal stakeholders and involving them in relevant decisions and discussions

- Supporting business continuity planning 

- Researching, encouraging and applying new ideas and ways of working to include the review of existing and future contracts to foster and maintain best practice, value for money and to ensure alignment with business needs

###Essential Criteria

<strong>Systems and Information:</strong>

- Has technical experience in developing, designing and implementing new systems

- Has experience in data management and analysis 

<strong>Commercial Focus: </strong>

- Has an understanding of elementary economics factors that may determine a market shape, dynamics and models, the changes in the business needs of an organisation and is familiar with key commercial tools

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to identify and communicate cyber, personnel and physical risks and gain agreement on how they should be managed/mitigated

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to apply standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their performance and manage setbacks and resolve issues internally

<strong>Build Relationships: </strong>

- Demonstrates the ability to communicate with stakeholders at all levels using different communication styles to articulate the benefits that have been achieved and to establish governance and relationship arrangements

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 3 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role