<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>ENABLING<br></strong><strong>Commercial Risk Management</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial Professional Level</strong></th>
<td><strong>Commercial Lead<br></strong>(Grade 7 equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will contribute to delivering commercial excellence for your department through risk and opportunity management. The role will consist of a range of activities spanning first line and second line assurance in relation to the discussion, analysis, escalation, mitigation, governance and reporting of commercial risks. It will also cover the capability, resourcing and financing risks for the department&rsquo;s commercial team.<br><br>You will lead a team, building their confidence to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Typically, the key responsibilities in this role will include (but are not limited to):<br><br>&#x25cf;&nbsp;Identifying and communicating perceived and relevant areas of risk early in the commercial lifecycle and at regular refresh points (to include supplier risks, supply chain risks and strategic risks)<br>&#x25cf;&nbsp;Facilitating the risk discussion, both in relation to commercial liability and indemnities and contingent liabilities as well as the reporting and approval process via finance and into the HM Treasury<br>&#x25cf;&nbsp;Maintaining the Commercial risk log, driving regular updates and reporting, and escalating risks and issues where needed to relevant stakeholders<br>&#x25cf;&nbsp;Managing and mitigating contract and supply chain risks in accordance with the organisation's commercial risk management approach. For high risk contracts, carrying out stress tests and scenario analysis to classify risks<br>&#x25cf;&nbsp;Aligning commercial and department&rsquo;s risk registers<br>&#x25cf;&nbsp;Driving a consistent risk management methodology for commercial risks as well as resourcing and capability risks for the department&rsquo;s commercial team <br>&#x25cf;&nbsp;Applying a strong visual project management approach <br>&#x25cf;&nbsp;Engaging with senior stakeholders and understanding their motivations and behaviours in order to effectively communicate messages and support decision making<br>&#x25cf;&nbsp;Maintaining good relationships with internal and external stakeholders and involving them in relevant decisions and discussions</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility, can apply the commercial principles within the boundaries of contract law<br>&#x25cf;&nbsp;Demonstrates the ability to lead on securing &lsquo;value for money&rsquo; through achieving good return on investment on commercial projects<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions<br>&#x25cf;&nbsp;Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs<br>&#x25cf;&nbsp;Has an understanding of Corporate risk management frameworks/approaches in order to link successfully into corporate models/reporting<br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards<br><br><strong>Team Focus: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks, resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making<br>&#x25cf;&nbsp;Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks</td>
</tr>
<tr>
<th><strong>Civil Service Behiours</strong></th>
<td>Ability to show examples across all of the following behaviours for level 4 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>
<strong>Changing and Improving: </strong><br>
&#x25cf;&nbsp;Encourage, recognise and share innovative ideas from a diverse range of colleagues and stakeholders. Give people space to take initiative and praise them for their creativity. Create an environment where people feel safe to challenge and know their voice will be heard. Make changes which add value and clearly articulate how changes will benefit the business. Understand and identify the role of technology in public service delivery and policy implementation. Consider the full impact of implementing changes on culture, structure, morale and the impacts on the diverse range of end users, including accessibility needs. Identify early signs that things are going wrong and respond promptly. Provide constructive challenge to senior management on change proposals<br>
<br>
<strong>Communicating and Influencing: <br>
</strong>&#x25cf;&nbsp;Communicate with others in a clear, honest and enthusiastic way in order to build trust. Explain complex issues in a way that is easy to understand. Take into account people&rsquo;s individual needs. Deliver difficult messages with clarity and sensitivity, being persuasive when required. Consider the impact of the language used. Remain open-minded and impartial in discussions, whilst respecting the diverse interests and opinions of others. Introduce different methods for communication, including making the most of digital resources whilst getting value for money. Monitor the effectiveness of own and team communications and take action to improve where necessary<br>
<br>
<strong>Developing Self and Others:<br>
</strong>&#x25cf;&nbsp;Prioritise and role-model continuous self-learning and development. Identify areas individuals and teams need to develop in order to achieve future objectives. Support colleagues to take responsibility for their own learning and development. Ensure that development opportunities are available for all individuals regardless of their background or desire to achieve promotion. Ensure individuals take full advantage of learning and development opportunities available to them, including workplace based learning. Encourage discussions within and between teams to learn from each other&rsquo;s experiences and change organisational plans and processes accordingly<br>
<br>
<strong>Leadership: </strong><br>
&#x25cf;&nbsp;Promote diversity, inclusion and equality of opportunity, respecting difference and external experience. Welcome and respond to views and challenges from others, despite any conflicting pressures to ignore or give in to them. Stand by, promote or defend own and team&rsquo;s actions and decisions where needed. Seek out shared interests beyond own area of responsibility, understanding the extent of the impact actions have on the organisation. Inspire and motivate teams to be fully engaged in their work and dedicated to their role</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>