####Strategy and Policy Development

<table class="financial-data source-tableeditor">
<tbody>
<tr>
<td><strong>Current role components</strong><strong><br /></strong></td>
<td>Commerical Strategy</td>
<td>Commercial Policy</td>
<td>Commercial Assurance and Governance</td>
<td>Category Strategy</td>
</tr>
<tr>
<td rowspan="3"><strong>Cross-Pillar Pathways</strong></td>
<td>Sourcing Strategy</td>
<td>Sourcing Strategy</td>
<td>Sourcing Strategy</td>
<td>Sourcing Strategy</td>
</tr>
<tr>
<td>Procurment Management</td>
<td>Supplier Management</td>
<td>Contract Management</td>
<td></td>
</tr>
<tr>
<td>Supplier Management</td>
<td></td>
<td>Procurment Management</td>
<td></td>
</tr>
</tbody>
</table>