####Enabling

<table class="financial-data source-tableeditor">
<tbody>
<tr>
<td><strong>Current role components</strong><strong><br /></strong></td>
<td>Commercial Risk Management</td>
<td>Capability and Resourcing</td>
<td>Systems and Information</td>
<td>Continuous Improvement</td>
</tr>
<tr>
<td rowspan="4"><strong>Cross-Pillar Pathways</strong><strong><br /></strong><strong><br /></strong><strong><br /></strong><strong><br /></strong></td>
<td>Contract Administration</td>
<td>Commercial Strategy</td>
<td>Contract Administration</td>
<td>Commercial Policy</td>
</tr>
<tr>
<td>Contract Management</td>
<td>Commercial Policy</td>
<td>Commercial Assurance and Government</td>
<td>Commercial Assurance and Government</td>
</tr>
<tr>
<td>Supplier Management</td>
<td>Commercial Assurance and Government</td>
<td></td>
<td></td>
</tr>
<tr>
<td>Commercial Assurance and Government</td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>