####Contract and Supplier Management

<table class="financial-data source-tableeditor">
<tbody>
<tr>
<td><strong>Current role components</strong><strong><br /></strong></td>
<td>Supplier Management</td>
<td>Contract Management</td>
<td>Contract Administration</td>
</tr>
<tr>
<td rowspan="5"><strong>Cross-Pillar Pathways</strong><br /><strong><br /></strong><strong><br /></strong><strong><br /></strong><strong><br /></strong><strong><br /></strong><strong><br /></strong><strong><br /></strong><strong><br /></strong></td>
<td>Procurement Management</td>
<td>Procurement Management</td>
<td>Commercial Assurance and Governance</td>
</tr>
<tr>
<td>Sourcing Strategy</td>
<td>Commercial Policy</td>
<td></td>
</tr>
<tr>
<td>Commercial Policy</td>
<td>Commercial Assurance and Governance</td>
<td></td>
</tr>
<tr>
<td>Commercial Assurance and Governance</td>
<td>Category Strategy</td>
<td></td>
</tr>
<tr>
<td>Category Strategy</td>
<td></td>
<td></td>
</tr>
</tbody>
</table>