####Procurement Process

<table class="financial-data source-tableeditor">
<tbody>
<tr>
<td><strong>Current role components</strong><strong><br /></strong></td>
<td>Procurment Business Analysis</td>
<td>Procurment Management</td>
</tr>
<tr>
<td rowspan="7"><strong>Cross-Pillar Pathways</strong><br /><strong><br /></strong><strong><br /></strong><strong><br /></strong><strong><br /></strong></td>
<td>Sourcing Strategy</td>
<td>Sourcing Strategy</td>
</tr>
<tr>
<td>Commercial Intelligence</td>
<td>Supplier Management</td>
</tr>
<tr>
<td>Commercial Strategy and Business Case</td>
<td>Contract Management</td>
</tr>
<tr>
<td></td>
<td>Commercial Policy</td>
</tr>
<tr>
<td></td>
<td>Commercial Assurance and Governance</td>
</tr>
<tr>
<td></td>
<td>Commercial Strategy</td>
</tr>
<tr>
<td></td>
<td>Category Strategy</td>
</tr>
</tbody>
</table>