####Understanding Needs and Sourcing

<table class="financial-data source-tableeditor">
<tbody>
<tr>
<td><strong>Current role components</strong><strong><br /></strong></td>
<td>Commerical Intelligence</td>
<td>Sourcing Strategy</td>
</tr>
<tr>
<td rowspan="5"><strong>Cross-Pillar Pathways</strong><br /><strong><br /></strong><strong><br /></strong></td>
<td>Procurment Business Analysis</td>
<td>Procurment Business Analysis</td>
</tr>
<tr>
<td>Commercial Policy</td>
<td>Procurment Management</td>
</tr>
<tr>
<td>Commercial Assurance and Governance</td>
<td>Supplier Management</td>
</tr>
<tr>
<td></td>
<td>Category Strategy</td>
</tr>
<tr>
<td></td>
<td>Commercial Strategy</td>
</tr>
</tbody>
</table>