##Procurement Process: Procurement Business Analysis

###Commercial Professional Level - Commercial Lead (Grade 7 equivalent)

###Role summary

In this role you will contribute to delivering commercial excellence for your department by supporting procurement business analysis. You will be expected to analyse a wide range of information, data and market research in order to inform commercial options and decisions.

You will lead a team, building their confidence to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Drawing together and presenting reasonable conclusions from a wide range of incomplete and complex data and recognising when to bring in experts/researchers to add value to the available information
- Leading workshops with key business stakeholders (voice of the customer) in order to develop a clear understanding of the requirements
- Analysing characteristics of the business requirement and demand
- Analysing opportunities and constraints in the supply market as well as findings from market analysis and engagement
- Assessing the existing market dynamics, including concentration and competition within the marketplace
- Working with procurement regulations, organisational policies, procedures and security requirements
- Identifying and accessing existing collaborative deals and assessing their suitability to meet all or part of the business requirement
- Working with internal and external stakeholders to gain insight into market trends e.g. academic research, cross-government functions
- Contributing to the sourcing of new suppliers using market research for on-going tenders
- Undertaking benchmarking through desktop activities and stakeholder engagement in order to help assist the wider procurement team
- Justifying and documenting the selection of a particular commercial option 
- Challenging the organisational need for the purchase especially where Corporate Social Responsibility or ‘value for money’ considerations suggest the procurement can be better channelled through existing assets or an existing contract
- Gathering requirements from across the business in line with market research and considering key documents such as Terms and Conditions when defining requirements
- Managing and evaluating strategic and non-strategic supplier relationships
- Applying a strong visual project management approach to procurement projects
- Conducting an analysis of risks and margins of error to provide assurance on decisions 

###Essential Criteria

<strong>Procurement Process:</strong>

- Has experience in managing the end-to-end procurement process across an area of responsibility for medium value and medium risk contracts

<strong>Commercial Focus:</strong>

- Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility, can apply the commercial principles within the boundaries of contract law
- Demonstrates the ability to lead on securing ‘value for money’ through achieving good return on investment on commercial projects

<strong>Risk and Assurance Management:</strong>

- Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions

<strong>Commercial Ethics:</strong>

- Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus:</strong>

- Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks, resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges

<strong>Build Relationships:</strong>

- Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making
- Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks

###Civil Service Behaviours

Ability to show examples across all the following behaviours for level 4 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

- <strong>Seeing the Big Picture:</strong> Develop and maintain an understanding of economic, social, political, environmental and technological developments to ensure activity is relevant. Ensure plans and activities in your area of work reflect wider strategic priorities and communicate effectively with senior leaders to influence future strategies. Adopt a governmentwide perspective to ensure alignment of activity and policy. Bring together views, perspectives and diverse needs of stakeholders to gain a broader understanding of the issues surrounding policies and activities

- <strong>Making Effective Decisions:</strong> Clarify your own understanding and stakeholder needs and expectations, before making decisions. Ensure decision making happens at the right level, not allowing unnecessary bureaucracy to hinder delivery. Encourage both innovative suggestions and challenge from others, to inform decision making. Analyse and accurately interpret data from various sources to support decisions. Find the best option by identifying positives, negatives, risks and implications. Present reasonable conclusions from a wide range of complex and sometimes incomplete evidence. Make decisions confidently even when details are unclear or if they prove to be unpopular

- <strong>Developing Self and Others:</strong> Prioritise and role-model continuous self-learning and development. Identify areas individuals and teams need to develop in order to achieve future objectives. Support colleagues to take responsibility for their own learning and development. Ensure that development opportunities are available for all individuals regardless of their background or desire to achieve promotion. Ensure individuals take full advantage of learning and development opportunities available to them, including workplace based learning. Encourage discussions within and between teams to learn from each other’s experiences and change organisational plans and processes accordingly

- <strong>Leadership:</strong> Promote diversity, inclusion and equality of opportunity, respecting difference and external experience. Welcome and respond to views and challenges from others, despite any conflicting pressures to ignore or give in to them. Stand by, promote or defend own and team’s actions and decisions where needed. Seek out shared interests beyond own area of responsibility, understanding the extent of the impact actions have on the organisation. Inspire and motivate teams to be fully engaged in their work and dedicated to their role

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:

- An additional short paragraph in the role summary 
- Additional key responsibilities based on the department context 
- Bespoke essential skills/experience required for the role
