<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>ENABLING<br></strong><strong>Capability and Resourcing</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial Professional Level</strong></th>
<td><strong>Associate Commercial Lead<br></strong>(Senior Executive Officer equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will contribute to delivering commercial excellence for your department by managing the financial budget, commercial capability, learning and development, capacity, resourcing and competency. You will work closely with the Government Commercial Function to ensure that your department aligns with best practice and has the right commercial skills and resources in place to deliver against objectives now and in the future.<br><br>You will work as part of a larger team but will be expected to work independently, drawing on your commercial experience to drive performance and manage setbacks. You will be able to prioritise and manage your own workload to deliver to deadlines, mitigate and escalate any emerging risks and to respond swiftly to changing operational demands.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Typically, the key responsibilities in this role will include (but are not limited to):<br><br>&#x25cf;&nbsp;Contributing to the improvement of commercial awareness and capability across the organisation to ensure best practice is applied through all phases of the commercial lifecycle<br>&#x25cf;&nbsp;Undertaking a commercial capability review for the department and using the findings to drive commercial capability improvement initiatives<br>&#x25cf;&nbsp;Defining the approach for driving improvements to capability across the Commercial function<br>&#x25cf;&nbsp;Engaging with a wide range of stakeholders across the department and Government Commercial Function<br>&#x25cf;&nbsp;Bringing together the end-to-end change, capability, communications, engagement and training activities across commercial services <br>&#x25cf;&nbsp;Actively promoting L&amp;D, development opportunities, career opportunities etc that will enhance commercial capability<br>&#x25cf;&nbsp;Strengthening the department&rsquo;s commercial capability through the recruitment and effective induction of capable professional commercial staff<br>&#x25cf;&nbsp;Maintaining commercial and corporate records and compliance<br>&#x25cf;&nbsp;Sharing knowledge and best practice to achieve better outcomes for the department&rsquo;s commercial team<br>&#x25cf;&nbsp;Contributing to talent management and succession planning <br>&#x25cf;&nbsp;Supporting in estimating costs, managing a budget and controlling forecasts and actual spend against the budget<br>&#x25cf;&nbsp;Supporting the qualification and licencing approach for the department<br>&#x25cf;&nbsp;Engaging with stakeholders and understanding their motivations and behaviours in order to effectively communicate messages and support decision making<br>&#x25cf;&nbsp;Applying a strong visual project management approach</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Capability and Resourcing: </strong><br>&#x25cf;&nbsp;Has the ability to manage projects in accordance with agreed specifications, delegations and timelines<br>&#x25cf;&nbsp;Has the ability to support the development of others by sharing technical knowledge, coaching and mentoring<br>&#x25cf;&nbsp;Has experience in HR, talent management and recruitment<br>&#x25cf;&nbsp;Has the ability to produce summary dashboards by drawing together and manipulating information and understands how this feeds into strategic workforce planning<strong><br><br>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has strong commercial knowledge, understands commercial law and can use key commercial tools appropriately<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to manage cyber, personnel and physical risks within an area of responsibility<br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to apply standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards<br><br><strong>Team Focus: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to work as part of a team to support their performance, manage setbacks and resolve issues internally<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to communicate with stakeholders at all levels, using different communication styles to articulate the benefits that have been achieved and to establish governance and relationship arrangements</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across the following behaviours for level 3 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>
<strong>Seeing the Big Picture:</strong> <br>
&#x25cf;&nbsp;Understand the strategic drivers for your area of work. Align activities to contribute to wider organisational priorities. Remain alert to emerging issues and trends which might impact your work area. Seek out and share experiences to develop knowledge of the team&rsquo;s business area. Understand how the strategies and activities of the team create value and meet the diverse needs of all stakeholders<br>
<br>
<strong>Changing and Improving:</strong> <br>
&#x25cf;&nbsp;Work with others to identify areas for improvement and simplify processes to use fewer resources. Use technology where possible to increase efficiency. Encourage ideas for change from a wide range of sources. Clearly explain the reasons for change to colleagues and how to implement them, supporting individuals with different needs to adapt to change. Encourage an environment where colleagues know that they can challenge decisions and issues safely. Take managed risks by fully considering the varied impacts changes could have on the diverse range of end users<br>
<br>
<strong>Making Effective Decisions:<br>
</strong>&#x25cf;&nbsp;Understand own level of responsibility and empower others to make decisions where appropriate. Analyse and use a range of relevant, credible information from internal and external sources to support decisions. Invite challenge and where appropriate involve others in decision making. Display confidence when making difficult decisions, even if they prove to be unpopular. Consult with others to ensure the potential impacts on end users have been considered. Present strong recommendations in a timely manner outlining the consideration of other options, costs, benefits and risks<br>
<br>
<strong>Leadership: </strong><br>
&#x25cf;&nbsp;Ensure colleagues and stakeholders have a clear understanding of objectives, activities and time-frames. Take into account different individual needs, views, and ideas, championing inclusion and equality of opportunity for all. Consider the impacts of own and team&rsquo;s activities on stakeholders and end users. Role-model commitment and satisfaction with role. Recognise and praise the achievements of others to drive positivity within the team. Effectively manage conflict, misconduct and non-inclusive behaviour, raising with senior managers where appropriate<br>
<br>
<strong>Communicating and Influencing: </strong><br>
&#x25cf;&nbsp;Communicate in a straightforward, honest and engaging manner, choosing appropriate styles to maximise understanding and impact. Encourage the use of different communication methods, including digital resources and highlight the benefits, including ensuring cost effectiveness. Ensure communication has a clear purpose and takes into account people&rsquo;s individual needs. Share information as appropriate and check understanding. Show positivity and enthusiasm towards work, encouraging others to do the same. Ensure that important messages are communicated with colleagues and stakeholders respectfully, taking into consideration the diversity of interests<br>
<br>
<strong>Working Together: </strong><br>
&#x25cf;&nbsp;Encourage joined up team work within own team and across other groups. Establish professional relationships with a range of stakeholders. Collaborate with these to share information, resources and support. Invest time to develop a common focus and genuine positive team spirit where colleagues feel valued and respect one another. Put in place support for the wellbeing of individuals within the team, including consideration of your own needs. Make it clear to all team members that bullying, harassment and discrimination are unacceptable. Actively seek and consider input of people from diverse backgrounds and perspectives<br>
<br>
<strong>Developing Self and Others:</strong> <br>
&#x25cf;&nbsp;Identify capability gaps for self and team. Ensure development objectives are set and achieved to address any gaps and enable delivery of current and future work. Take time to coach, mentor and develop other colleagues to support succession planning. Promote inclusiveness by respecting different personal needs in the team and use these to develop others. Reflect on own work, continuously seek and act on feedback to improve own and team&rsquo;s performance<br>
<br>
<strong>Managing a Quality Service: <br>
</strong>&#x25cf;&nbsp;Develop, implement, maintain and review systems and services to ensure delivery of professional excellence. Work with stakeholders to set priorities, objectives and timescales. Successfully deliver high quality outcomes that meet the customers&rsquo; needs and gives &lsquo;value for money&rsquo;. Identify risks and resolve issues efficiently. Involve a diverse range of colleagues, stakeholders and delivery partners in developing suggestions for improvements. Establish ways to find and respond to feedback from customers about the services provided<br>
<br>
<strong>Delivering at Pace: </strong><br>
&#x25cf;&nbsp;Show a positive approach to keeping the whole team&rsquo;s efforts focused on the top priorities. Promote a culture of following the appropriate procedures to ensure results are achieved on time whilst still enabling innovation. Ensure the most appropriate resources are available for colleagues to use to do their job effectively. Regularly monitor your own and team&rsquo;s work against milestones ensuring individual needs are considered when setting tasks. Act promptly to reassess workloads and priorities when there are conflicting demands to maintain performance. Allow individuals the space and authority to meet objectives, providing additional support where necessary, whilst keeping overall responsibility</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/ experience required for the role</td>
</tr>
</tbody>
</table>