<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>Cross Pillar<br></strong><strong>Category Management</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial Professional Level</strong></th>
<td><strong>Associate Commercial Specialist<br></strong>(Grade 6 equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will lead and own commercial and procurement processes on behalf of the business. You will contribute to delivering commercial excellence for the department, through management of activity across the commercial lifecycle, providing a customer-focused service, understanding the business need and stakeholder drivers, with the aim of becoming a trusted commercial advisor. You will also develop relationships with the department&rsquo;s key and strategic suppliers, driving &lsquo;value for money&rsquo; and risk management excellence across the category.<br><br>You will be expected to manage and/or oversee the overall commercial lifecycle. Activities could vary from developing the category strategy, to leading complex procurements, to being accountable for some of the department&rsquo;s most complex and high profile contracts, all whilst ensuring compliance with the department&rsquo;s legislative framework.<br><br>You will manage a team, building their confidence and commercial capability to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Category Management roles are varied, and individual remit is subject to both size of category, and/or level of complexity, value and risk within a category. &nbsp;Typically, key responsibilities for a commercial professional in this role may include (but are not limited to):<br><br>&#x25cf;&nbsp;Strategic delivery and management of the category:<br><strong>&ordm;</strong>&nbsp;Developing category strategies for all relevant expenditure<br><strong>&ordm;</strong>&nbsp;Coordinating spend data and insight within the category and owning demand management across the category<br><strong>&ordm;</strong>&nbsp;Ensuring category management processes are in place that enables the assessment of the market capabilities to meet the needs of users and the business&nbsp;<br><br>&#x25cf;&nbsp;Understanding relevant sourcing options, delivering positive outcomes through the procurement process: <br><strong>&ordm;</strong>&nbsp;Driving and leading sourcing activity, including strategic sourcing processes in support of the department&rsquo;s strategic aims<br><strong>&ordm;</strong>&nbsp;Finalising and approving commercial arrangements, including final negotiation<br><strong>&ordm;</strong>&nbsp;Preparing, developing and commissioning business cases, where necessary, to demonstrate the value, benefits and risks of sourcing activity&nbsp;<br><br>&#x25cf;&nbsp;Ensuring effective Commercial Contract and Supplier Management within the category:<br><strong>&ordm;</strong>&nbsp;Ensuring control of the department&rsquo;s spend and specifically critical contracts are continually analysed in order to develop and drive value adding initiatives <br><strong>&ordm;</strong>&nbsp;Responsible for the strategic supplier relationship management process within your category to drive supplier performance and ensure commercial rigour, quality of service and continuous improvement and innovation<br><strong>&ordm;</strong>&nbsp;Ensure legal compliance and risk mitigation of contracts&nbsp;<br><br>&#x25cf;&nbsp;Building and maintaining key relationships across the department and with important external stakeholders:<br><strong>&ordm;</strong>&nbsp;Developing and owning relationships, building detailed knowledge of stakeholder needs in order to deliver value through sourcing and procurement activity<br><strong>&ordm;</strong>&nbsp;Providing procurement leadership and market insight across the department to ensure that it achieves maximum value for its spend&nbsp;<br><br>&#x25cf;&nbsp;Enabling and developing the department: <br><strong>&ordm;</strong>&nbsp;Bringing the best of the external market to the department through leveraging industry best practice, market insights and knowledge<br><strong>&ordm;</strong>&nbsp;Responsible for the implementation of standard procurement policies, processes and Standard Operating Procedures within their category<br><strong>&ordm;</strong>&nbsp;Driving innovation in category to demonstrate continuous improvement&nbsp;<br><br>&#x25cf;&nbsp;Performance and day-to-day management of a team to deliver on the Category Strategy and activity across the commercial life cycle</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Category Management:</strong><br>&#x25cf;&nbsp;Has expert understanding of the principles of end-to-end commercial lifecycle management <br>&#x25cf;&nbsp;Evidence of taking a strategic lead on securing &lsquo;value for money&rsquo; in a complex commercial environment<br>&#x25cf;&nbsp;Evidence of influencing key senior stakeholders and suppliers towards commercial solutions in a complex commercial environment<br>&#x25cf;&nbsp;Evidence of leading and delivering transformational change<span>&nbsp; </span>at a strategic level<br><br><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has a strong practical understanding of market and commercial drivers as well as contract law<br>&#x25cf;&nbsp;Demonstrates the ability to draw conclusions from a wide range of complex data from different sources<br>&#x25cf;&nbsp;Has a practical understanding of the concept of &lsquo;value for money&rsquo; and can articulate what a successful return on investment looks like for a particular project/programme<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions<br>&#x25cf;&nbsp;Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs<br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards<br><br><strong>Team Management:</strong><br>&#x25cf;&nbsp;Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks <br>&#x25cf;&nbsp;Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and morale<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Demonstrates strong stakeholder engagement skills with the ability to demonstrate resilience in interactions with suppliers in order to defend the department&rsquo;s position <br>&#x25cf;&nbsp;Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across all of the following behaviours for level 4 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>
<strong>Managing a Quality Service:<br>
&#x25cf;&nbsp;</strong>Demonstrate positive customer service by understanding the complexity and diversity of customer needs and expectations. Deliver a high quality, efficient and cost effective service by considering a broad range of methods for delivery. Ensure full consideration of new technologies, accessibility and costings. Make clear, practical and manageable plans for service delivery. Ensure adherence to legal, regulatory and security requirements in service delivery. Proactively manage risks and identify solutions. Establish how the business area compares to industry best practice. Create regular opportunities for colleagues, stakeholders, delivery partners and customers to help improve the quality of service<br>
<br>
<strong>Working Together:<br>
&#x25cf;&nbsp;</strong>Actively build and maintain a network of colleagues and contacts to achieve progress on shared objectives. Challenge assumptions while being willing to compromise if beneficial to progress. Build strong interpersonal relationships and show genuine care for colleagues. Ensure consideration and support for the wellbeing of yourself and individuals throughout the team. Understand the varying needs of the team to ensure they are supported and their experiences are utilised. Create an inclusive working environment where all opinions and challenges are taken into account and bullying, harassment and discrimination are unacceptable. Remain available and approachable to all colleagues and be receptive to new ideas<br>
<br>
<strong>Making Effective Decisions:<br>
&#x25cf;&nbsp;</strong>Clarify your own understanding and stakeholder needs and expectations, before making decisions. Ensure decision making happens at the right level, not allowing unnecessary bureaucracy to hinder delivery. Encourage both innovative suggestions and challenge from others, to inform decision making. Analyse and accurately interpret data from various sources to support decisions. Find the best option by identifying positives, negatives, risks and implications. Present reasonable conclusions from a wide range of complex and sometimes incomplete evidence. Make decisions confidently even when details are unclear or if they prove to be unpopular<br>
<br>
<strong>Leadership:<br>
&#x25cf;&nbsp;</strong>Promote diversity, inclusion and equality of opportunity, respecting difference and external experience. Welcome and respond to views and challenges from others, despite any conflicting pressures to ignore or give in to them. Stand by, promote or defend own and team&rsquo;s actions and decisions where needed. Seek out shared interests beyond own area of responsibility, understanding the extent of the impact actions have on the organisation. Inspire and motivate teams to be fully engaged in their work and dedicated to their role</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>