###Sourcing strategy
{:#sourcing-strategy-part-1}

<strong>Role Summary</strong>

This role typically looks to define a sourcing strategy which outlines the plan to cost effectively acquire the necessary goods or services and provides strategic direction for the planned procurements to senior stakeholder across the business. Focus is often placed on collaborative procurement to maximise purchasing power by aggregating demand, utilising collaborative procurement channels.

<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong>Commercial Professional&nbsp;<br />Level</strong></th>
<th>Associate Commercial Practitioner</th>
<th>Commercial Practitioner</th>
<th><span>Associate Commercial Lead</span><span></span></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Capabilities</strong></td>
<td>Level 2 &ndash; Business case and benefits realisation<br /><br />Level 2 &ndash; Commercial context<br /><br />Level 1 &ndash; Business partnering<br /><br />Level 2 &ndash; Business understanding <br /><br />Level 2 &ndash; Market Analysis<br /><br />Level 1 &ndash; Policy development<br /><br />Level 1 &ndash; Supplier engagement <br /><br />Level 1 &ndash; Single sourcing</td>
<td>Level 2 &ndash; Business case and benefits realisation<br /><br />Level 3 &ndash; Commercial context<br /><br />Level 2 &ndash; Business partnering<br /><br />Level 3 &ndash; Business understanding <br /><br />Level 2 &ndash; Market Analysis<br /><br />Level 2 &ndash; Policy development<br /><br />Level 2 &ndash; Supplier engagement <br /><br />Level 1 &ndash; Single sourcing</td>
<td>Level 2 &ndash; Business case and benefits realisation<br /><br />Level 3 &ndash; Commercial context<br /><br />Level 3 &ndash; Business partnering<br /><br />Level 3 &ndash; Business understanding <br /><br />Level 3 &ndash; Market Analysis<br /><br />Level 2 &ndash; Policy development<br /><br />Level 2 &ndash; Supplier engagement <br /><br />Level 2 &ndash; Single sourcing</td>
</tr>
<tr>
<td><strong>Civil Service Success <br />Profiles (Behaviours)</strong></td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 2 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 3 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 3 of the Success Profiles Framework</td>
</tr>
<tr>
<td rowspan="7"><strong>Entry Route</strong></td>
<td>Strategy Function</td>
<td>Strategy Function and Commercial Fast Streamers</td>
<td>Strategy Function and Commercial Fast Streamers</td>
</tr>
<tr>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
</tr>
<tr>
<td><a href="#procurement-business-analysis-part-1">Procurement business analysis</a></td>
<td><a href="#category-strategy-part-1">Category strategy</a></td>
<td><a href="#category-strategy-part-1">Category strategy</a></td>
</tr>
<tr>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#commercial-intelligence">Commercial intelligence</a></td>
<td><a href="#commercial-intelligence">Commercial intelligence</a></td>
</tr>
<tr>
<td><a href="#supplier-management-part-1">Supplier management</a></td>
<td><a href="#procurement-business-analysis-part-1">Procurement business analysis</a></td>
<td><a href="#procurement-business-analysis-part-1">Procurement business analysis</a></td>
</tr>
<tr>
<td>&nbsp;</td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
</tr>
<tr>
<td>&nbsp;</td>
<td><a href="#supplier-management-part-1">Supplier management</a></td>
<td><a href="#supplier-management-part-1">Supplier management</a></td>
</tr>
<tr>
<td rowspan="6"><strong>Future Pathways</strong></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-1">Commercial strategy</a></td>
</tr>
<tr>
<td><a href="#procurement-business-analysis-part-1">Procurement business analysis</a></td>
<td><a href="#category-strategy-part-1">Category strategy</a></td>
<td><a href="#category-strategy-part-1">Category strategy</a></td>
</tr>
<tr>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#commercial-intelligence">Commercial intelligence</a></td>
<td><a href="#commercial-intelligence">Commercial intelligence</a></td>
</tr>
<tr>
<td><a href="#supplier-management-part-1">Supplier management</a></td>
<td><a href="#procurement-business-analysis-part-1">Procurement business analysis</a></td>
<td><a href="#procurement-business-analysis-part-1">Procurement business analysis</a></td>
</tr>
<tr>
<td>&nbsp;</td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
<td><a href="#procurement-management-part-1">Procurement management</a></td>
</tr>
<tr>
<td>&nbsp;</td>
<td><a href="#supplier-management-part-1">Supplier management</a></td>
<td><a href="#supplier-management-part-1">Supplier management</a></td>
</tr>
</tbody>
</table>