###Commercial intelligence
{:#commercial-intelligence}

<strong>Role Summary</strong>

This role typically includes the analysis of key supply markets to understand the characteristics of new markets to inform whether market making or development is required. It can also consist of an assessment of the business need as well as supply market analysis to recommend the most appropriate market engagement approach to increase competition, promote innovation and improve value for money in contracts.

<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong>Commercial Professional&nbsp;<br />Level</strong></th>
<th>Commercial Practitioner</th>
<th>Associate Commercial Lead</th>
<th><span>Commercial&nbsp;Lead</span><span></span></th>
<th><span>Associate&nbsp;Commercial&nbsp;Specialist</span><span></span></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Capabilities</strong></td>
<td>Level 2 &ndash; Benchmarking<br /><br />Level 3 &ndash; Commercial context <br /><br />Level 3 &ndash; Business understanding <br /><br />Level 2 &ndash; Market Analysis<br /><br />Level 2 &ndash; Solutions development <br /><br />Level 1 &ndash; International procurement</td>
<td>Level 2 &ndash; Benchmarking<br /><br />Level 3 &ndash; Commercial context <br /><br />Level 3 &ndash; Business understanding <br /><br />Level 3 &ndash; Market Analysis<br /><br />Level 2 &ndash; Solutions development <br /><br />Level 2 &ndash; International procurement</td>
<td>Level 3 &ndash; Benchmarking<br /><br />Level 3 &ndash; Commercial context<br /><br />Level 3 &ndash; Business understanding <br /><br />Level 3 &ndash; Market Analysis<br /><br />Level 3 &ndash; Solutions development <br /><br />Level 2 &ndash; International procurement</td>
<td>Level 3 &ndash; Benchmarking<br /><br />Level 4 &ndash; Commercial context <br /><br />Level 4 &ndash; Business understanding <br /><br />Level 4 &ndash; Market Analysis<br /><br />Level 4 &ndash; Solutions development <br /><br />Level 3 &ndash; International procurement</td>
</tr>
<tr>
<td><strong>Civil Service Success <br />Profiles (Behaviours)</strong></td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 3 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 3 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 4 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 4 of the Success Profiles Framework</td>
</tr>
<tr>
<td rowspan="5"><strong>Entry Route</strong></td>
<td>Generalist and Commercial Fast Streamers</td>
<td>Generalist an dCommercial Fast Streamers</td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
</tr>
<tr>
<td>Analysis Function</td>
<td>Analysis Function</td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
</tr>
<tr>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#procurement-business-analysis-part-2">Procurement business analysis</a></td>
<td><a href="#procurement-business-analysis-part-2">Procurement business analysis</a></td>
</tr>
<tr>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><a href="#procurement-business-analysis-part-1">Procurement business analysis</a></td>
<td><a href="#procurement-business-analysis-part-2">Procurement business analysis</a></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td rowspan="4"><strong>Future Pathways</strong></td>
<td><a href="#commercial-policy-part-1">Commercial policy</a></td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
<td><a href="#commercial-policy-part-2">Commercial policy</a></td>
</tr>
<tr>
<td><a href="#commercial-assurance-and-governance-part-1">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-2">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-2">Commercial assurance and governance</a></td>
<td><a href="#commercial-assurance-and-governance-part-2">Commercial assurance and governance</a></td>
</tr>
<tr>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-1">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
<td><a href="#sourcing-strategy-part-2">Sourcing Strategy</a></td>
</tr>
<tr>
<td><a href="#procurement-business-analysis-part-1">Procurement business analysis</a></td>
<td><a href="#procurement-business-analysis-part-2">Procurement business analysis</a></td>
<td><a href="#procurement-business-analysis-part-2">Procurement business analysis</a></td>
<td><a href="#procurement-business-analysis-part-2">Procurement business analysis</a></td>
</tr>
</tbody>
</table>