####Higher professional levels
{:#sourcing-strategy-part-2}

<strong>Role Summary</strong>

This role typically looks to define a sourcing strategy which outlines the plan to cost effectively acquire the necessary goods or services and provides strategic direction for the planned procurements to senior stakeholder across the business. Focus is often placed on collaborative procurement to maximise purchasing power by aggregating demand, utilising collaborative procurement channels.

<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong>Commercial Professional&nbsp;<br />Level</strong></th>
<th>Commercial Lead</th>
<th>Associate Commercial Specialist</th>
<th><span>Commercial Specialist</span><span></span></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Capabilities</strong></td>
<td>Level 3 &ndash; Business case and benefits realisation<br /><br />Level 3 &ndash; Commercial context<br /><br />Level 3 &ndash; Business partnering<br /><br />Level 3 &ndash; Business understanding <br /><br />Level 3 &ndash; Market Analysis<br />Level 3 &ndash; Policy development<br /><br />Level 3 &ndash; Supplier engagement <br /><br />Level 3 &ndash; Single sourcing<br /><br />Level 2 &ndash; International procurement</td>
<td>Level 4 &ndash; Business case and benefits realisation<br /><br />Level 4 &ndash; Commercial context<br /><br />Level 3 &ndash; Business partnering<br /><br />Level 4 &ndash; Business understanding <br /><br />Level 4 &ndash; Market Analysis<br /><br />Level 3 &ndash; Policy development<br /><br />Level 4 &ndash; Supplier engagement <br /><br />Level 3 &ndash; Single sourcing<br /><br />Level 3 &ndash; International procurement</td>
<td>Level 4 &ndash; Business case and benefits realisation<br /><br />Level 4 &ndash; Commercial context<br /><br />Level 4 &ndash; Business partnering<br /><br />Level 4 &ndash; Business understanding <br /><br />Level 4 &ndash; Market Analysis<br /><br />Level 4 &ndash; Policy development<br /><br />Level 4 &ndash; Supplier engagement <br /><br />Level 4 &ndash; Single sourcing<br /><br />Level 4 &ndash; International procurement</td>
</tr>
<tr>
<td><strong>Civil Service Success <br />Profiles (Behaviours)</strong></td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 4 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 4 of the Success Profiles Framework</td>
<td>&nbsp;Ability to show examples across all Behaviours for Level 5 of the Success Profiles Framework</td>
</tr>
<tr>
<td rowspan="6"><strong>Entry Route</strong></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
</tr>
<tr>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
</tr>
<tr>
<td><a href="#commercial-intelligence">Commercial intelligence</a></td>
<td><a href="#commercial-intelligence">Commercial intelligence</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
</tr>
<tr>
<td><a href="#procurement-business-analysis-part-2">Procurement business analysis</a></td>
<td><a href="#procurement-business-analysis-part-2">Procurement business analysis</a></td>
<td><a href="#supplier-management-part-2">Supplier management</a></td>
</tr>
<tr>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td rowspan="2">*experience and capabilities from roles across 2 pillars at level 4 is required for this role</td>
</tr>
<tr>
<td><a href="#supplier-management-part-2">Supplier management</a></td>
<td><a href="#supplier-management-part-2">Supplier management</a></td>
</tr>
<tr>
<td rowspan="6"><strong>Future Pathways</strong></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
<td><a href="#commercial-strategy-part-2">Commercial strategy</a></td>
</tr>
<tr>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
<td><a href="#category-strategy-part-2">Category strategy</a></td>
</tr>
<tr>
<td><a href="#commercial-intelligence">Commercial intelligence</a></td>
<td><a href="#commercial-intelligence">Commercial intelligence</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
</tr>
<tr>
<td><a href="#procurement-business-analysis-part-2">Procurement business analysis</a></td>
<td><a href="#procurement-business-analysis-part-2">Procurement business analysis</a></td>
<td><a href="#supplier-management-part-2">Supplier management</a></td>
</tr>
<tr>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td><a href="#procurement-management-part-2">Procurement management</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td><a href="#supplier-management-part-2">Supplier management</a></td>
<td><a href="#supplier-management-part-2">Supplier management</a></td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
