<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>PROCUREMENT PROCESS<br></strong><strong>Procurement Management</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial Professional Level</strong></th>
<td><strong>Associate Commercial Practitioner<br></strong>(Executive Officer equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will support the procurement process, contributing to delivering commercial excellence for your department and providing a customer-focused service. The role is varied as you will be expected to work within relevant frameworks in order to contribute to all stages of the procurement process, from helping to gather requirements from across the business in line with market research, through to the handing over of the contract to contract and supplier management.<br><br>You will work as part of a larger team, but will be expected to prioritise and manage your own workload to deliver to deadlines and know when to seek support in order to balance both operationally urgent and important tasks.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Typically, the key responsibilities in this role will include (but are not limited to):<br><br>&#x25cf;&nbsp;Confirming the type of supplier/services that are required and identifies potentially suitable suppliers and markets. Expressing the key roles and responsibilities of prime and sub-contractors for delivery, security and key performance indicators (KPIs)<br>&#x25cf;&nbsp;Assisting with the monitoring of the commercial benefits and status of procurement projects<br>&#x25cf;&nbsp;Finding and presenting information to support procurement decisions and to assist with supplier reviews or in developing reports<br>&#x25cf;&nbsp;Supporting a wide range of procurement processes including the conduct of tenders, with the use of e-tendering tools (e.g. managing supplier correspondence)<br>&#x25cf;&nbsp;Supporting the development of procurement documents (e.g. ITT templates and Terms and Conditions)<br>&#x25cf;&nbsp;Ensuring all procurement systems and databases are managed, maintained and that information is cleansed for accurate reporting<br>&#x25cf;&nbsp;Responding to customer enquiries and supports contract and supplier management activity across a range of commercial areas<br>&#x25cf;&nbsp;Supporting with supplier engagement across a variety of stages within the procurement process<br>&#x25cf;&nbsp;Applying a strong visual project management approach to procurement projects</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Procurement Process: </strong><br>&#x25cf;&nbsp;Has knowledge of all stages of the procurement process and understands the essentials of public procurement regulations<br><br><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has a good understanding of the elementary economics factors that may determine a market shape, dynamics and models and can apply tools and techniques associated with gathering commercial data<strong>&nbsp;</strong><strong>&nbsp;<br><br></strong><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to identify possible risks, understand their impact, use appropriate mitigation techniques and escalate them where appropriate<br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Has an understanding of the standards to eliminate corruption, fraud and unethical behaviour in supply chains and can take action in the event of any alleged breach of standards<br><br><strong>Team Focus:</strong><br>&#x25cf;&nbsp;Demonstrates the ability to work as part of a team to support their resilience and performance<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Has good stakeholder management skills and has the ability to use different communication styles with different audiences</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across the following behaviours for level 2 of the <a href="">Success Profiles Framework</a>:<br><br>&#x25cf;&nbsp;<strong>Seeing the Big Picture:</strong> Understand how your work and the work of your team supports wider objectives and meets the diverse needs of stakeholders. Keep up to date with the issues that affect your work area. Take a keen interest in expanding knowledge in areas related to your work. Focus on overall goals and not just specific tasks to meet priorities<br>&#x25cf;&nbsp;<strong>Changing and Improving:</strong> Regularly review own and team&rsquo;s work and take the initiative to suggest ideas to make improvements. Give feedback on changes in a constructive manner. Take a positive, open approach to the possibility of change and encourage others to do the same. Help others to understand changes and the reasons they are being put in place. Identify and act on the effects changes are having on your role and that of the team. Look for ways to use technology to achieve efficient and effective results. Consider accessibility needs of the diverse range of end users<br>&#x25cf;&nbsp;<strong>Making Effective Decisions: </strong>Take responsibility for making effective and fair decisions, in a timely manner. Analyse and research further information to support decisions. Talk to relevant people to get advice and information when unsure how to proceed. Explain how decisions have been reached in a clear and concise way, both verbally and in writing. Demonstrate the consideration of all options, costs, risks and wider implications, including the diverse needs of end users and any accessibility requirements<br>&#x25cf;&nbsp;<strong>Leadership: </strong>Show pride and passion for your work and positive, inclusive engagement with your team. Understand your areas of responsibility and display awareness of the wider impact of your actions. Proactively role model and promote an inclusive workplace, promptly dealing with inappropriate language and behaviours when they arise, including any instances of discrimination or misconduct. Give praise and credit to colleagues and stakeholders where appropriate<br>&#x25cf;&nbsp;<strong>Communicating and Influencing: </strong>Communicate clearly and concisely both orally and in writing. Take time to consider the best communication channel to use for the audience, including making the best of digital resources and considering &lsquo;value for money&rsquo;. Interact with others in an enthusiastic way. Express ideas clearly and with respect for others. Listen to and value different ideas, views and ways of working. Respond constructively and objectively to comments and questions. Handle challenging conversations with confidence and sensitivity<br>&#x25cf;&nbsp;<strong>Working Together: </strong>Develop a range of contacts outside own team and identify opportunities to share knowledge, information and learning. Show genuine interest when listening to others. Contribute to an inclusive working environment where all opinions and challenges are listened to and all individual needs are taken into account. Ensure it is clear that bullying, harassment and discrimination are unacceptable. Offer support and help to colleagues when in need, including consideration of your own and their wellbeing. Change ways of working to aid cooperation within and between teams in order to achieve results<br>&#x25cf;&nbsp;<strong>Developing Self and Others:</strong> Identify gaps in own and team&rsquo;s skills and knowledge. Set and consistently meet development objectives. Seek learning opportunities. Support the development plans of all colleagues, recognising how diversity of experience/background can help to build an inclusive team culture. Consider the contributions of all team members and delegate work to aid the learning and development of all. Encourage and listen to developmental feedback from colleagues<br>&#x25cf;&nbsp;<strong>Managing a Quality Service: </strong>Work with customers to understand their needs and expectations. Create clear plans and set priorities which meet the needs of both the customer and the business. Clearly explain to customers what can be done. Keep colleagues and stakeholders fully informed of plans, possibilities and progress. Identify common problems that affect service, report them and find possible solutions. Deliver good customer service which balances quality and cost effectiveness<br>&#x25cf;&nbsp;<strong>Delivering at Pace: </strong>Regularly review the success of activities in the team to identify barriers to progress or challenging objectives. Identify who and what is required to ensure success, set clear goals and areas of responsibility and continually assess workloads considering individual needs. Follow relevant policies, procedures and legislation to complete your work. Ensure colleagues have the correct tools and resources available to them to do their jobs. Have a positive and focused attitude to achieving outcomes, despite any setbacks. Regularly check performance against objectives, making suggestions for improvement or taking corrective action where necessary. Ensure that colleagues are supported where tasks are challenging</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>