##Commercial Risk Management

##Commercial Professional Level - <strong>Associate Commercial Lead</strong> (SEO equivalent)

###Role summary

In this role you will contribute to delivering commercial excellence for your department, by supporting risk and opportunity management. The role will consist of a range of activities spanning first line and second line assurance in relation to the discussion, analysis, escalation, mitigation, governance and reporting of commercial risks. It will also cover the capability, resourcing and financing risks for the department’s commercial team.

You will work as part of a larger team but will be expected to work independently, drawing on your commercial experience to drive performance and manage setbacks. You will be able to prioritise and manage your own workload to deliver to deadlines, mitigate and escalate any emerging risks and to respond swiftly to changing operational demands.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to): 

- Identifying and communicating perceived and relevant areas of risk ( to include supplier risks, supply chain risks and strategic risks)

- Facilitating the risk discussion, both in relation to commercial liability and indemnities and contingent liabilities as well as the reporting and approval process via finance and into the HM Treasury

- Maintaining the commercial risk log, driving regular updates and reporting, and escalating risks and issues where needed to relevant stakeholders

- Logging and mitigating contract and supply chain risks in accordance with the organisation's commercial risk management approach. For high risk contracts, carrying out stress tests and scenario analysis to classify risks

- Aligning commercial and department risk registers

- Driving a consistent risk management methodology for commercial risks as well as resourcing and capability risks for the department commercial team

- Appling a strong visual project management approach 

- Engaging with stakeholders and understanding their motivations and behaviours in order to effectively communicate messages and support decision making

- Maintaining good relationships with internal stakeholders and involving them in relevant decisions and discussions

###Essential Criteria

<strong>Commercial Focus: </strong>

- Has strong commercial knowledge, understands commercial law and can use key commercial tools appropriately

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to manage cyber, personnel and physical risks within an area of responsibility

- Has an understanding of corporate risk management frameworks/ approaches in order to link successfully into corporate models/reporting

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to apply standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their performance and manage setbacks and resolve issues internally

<strong>Build Relationships: </strong>

- Demonstrates the ability to communicate with stakeholders at all levels using different communication styles to articulate the benefits that have been achieved and to establish governance and relationship arrangements

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 3 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role