##Commercial Risk Management

##Commercial Professional Level - <strong>Associate Commercial Specialist</strong> (G6 equivalent)

###Role summary

In this role you will contribute to delivering commercial excellence for your department through leading risk and opportunity management. You will be responsible for a range of activities spanning first line and second line assurance in relation to the discussion, analysis, escalation, mitigation, governance and reporting of commercial risks. The role will also include responsibilities spanning capability, resourcing and financing risks for the department’s commercial team.

You will lead a team, building their confidence and commercial capability to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to): 

- Identifying and communicating perceived and relevant areas of risk early in the commercial lifecycle and at regular refresh points (to include supplier risks, supply chain risks and strategic risks)

- Leading the risk discussion, both in relation to commercial liability and indemnities and contingent liabilities as well as the reporting and approval process via finance and into the HM Treasury

- Overseeing the Commercial risk log, driving regular updates and reporting, and escalating risks and issues where needed to relevant stakeholders

- Managing and mitigating complex and high value contract and supply chain risks in accordance with the organisation's commercial risk management approach. For high risk contracts, carrying out stress tests and scenario analysis to classify risks

- Driving improvements in the organisation’s commercial risk management approach in line with best practice

- Managing the alignment of commercial and department risk registers

- Driving a consistent risk management methodology for commercial risks as well as resourcing and capability risks for the department commercial team

- Appling a strong visual project management approach 

- Leading engagements with senior stakeholders with an understanding of their motivations and behaviours in order to effectively communicate messages and support decision making

- Maintaining good relationships with internal and external stakeholders and involving them in relevant decisions and discussions

###Essential Criteria

<strong>Commercial Focus: </strong>

- Has a strong practical understanding of market and commercial drivers as well as contract law

- Demonstrates the ability to draw conclusions from a wide range of complex data from different sources

- Has a practical understanding of the concept of value for money and can articulate what a successful return on investment looks like for a particular project/ programme

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions

- Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs

- Has an understanding of Corporate risk management frameworks/approaches in order to link successfully into corporate models/reporting

<strong>Commercial Ethics: </strong> 

- Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Management: </strong>

- Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks

- Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and moral

<strong>Build Relationships: </strong>

- Demonstrates strong stakeholder engagement skills with the ability to demonstrate resilience in interactions with suppliers in order to defend the departments position

- Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role