##Understanding Needs and Sourcing: Sourcing Strategy

###Commercial Professional Level - Associate Commercial Practitioner (Executive Officer equivalent)

###Role summary

In this role you will contribute towards delivering commercial excellence for your department, defining a sourcing strategy which outlines the plan to cost effectively acquire the necessary goods or services and provide strategic direction for the planned procurements to senior stakeholders across the business. This role will predominantly focus on collaborative procurement to maximise purchasing power by aggregating demand and utilising collaborative procurement channels.

You will work as part of a larger team, but will be expected to be able to prioritise and manage your own workload to deliver to deadlines and know when to seek support in order to balance both operationally urgent and important tasks.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Working independently across end-to-end strategic sourcing activities for the department 
- Advising and providing professional guidance throughout the sourcing process, supporting the evaluation of a range of sourcing models
- Gathering information for the commercial input into business cases, demonstrating a project's benefits, ‘value for money’ and risk
- Understanding and being able to advise on, sourcing compliance and frameworks 
- Contributing to the development of a sourcing strategy
- Devising a suitable sourcing strategy for simple low value purchases and procurements
- Supporting activities to forecast and plan requirements
- Obtaining and collating data and information required to support the development of a sourcing strategy
- Combining market-specific data analysis with big picture considerations in order to help advise on future market changes
- Supporting commercial colleagues with supply market analysis
- Engaging with suppliers in the marketplace, across a variety of stages within the procurement to ensure a competitive landscape and manage the supply chain
- Using e-sourcing tools to support an efficient approach to managing sourcing process

###Essential Criteria

<strong>Understanding Needs and Sourcing:</strong>

- Has a good understanding of sourcing and procurement methodologies, as well as relevant processes, policy and governance

<strong>Commercial Focus:</strong>

- Has a good understanding of the elementary economics factors that may determine a market shape, dynamics and models and can apply tools and techniques associated with gathering commercial data

<strong>Risk and Assurance Management:</strong>

- Demonstrates the ability to identify possible risks, understand their impact,  use appropriate mitigation techniques and escalate them where appropriate

<strong>Commercial Ethics:</strong>

- Has an understanding of the standards to eliminate corruption, fraud and unethical behaviour in supply chains and can take action in the event of any alleged breach of standards

<strong>Team Focus:</strong>

- Demonstrates the ability to work as part of a team to support their resilience and performance

<strong>Build Relationships:</strong>

- Has good stakeholder management skills and has the ability to use different communication styles with different audiences

###Civil Service Behaviours

Ability to show examples across the following behaviours for level 2 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

- <strong>Seeing the Big Picture:</strong> Understand how your work and the work of your team supports wider objectives and meets the diverse needs of stakeholders. Keep up to date with the issues that affect your work area. Take a keen interest in expanding knowledge in areas related to your work. Focus on overall goals and not just specific tasks to meet priorities

- <strong>Changing and Improving:</strong> Regularly review own and team’s work and take the initiative to suggest ideas to make improvements. Give feedback on changes in a constructive manner. Take a positive, open approach to the possibility of change and encourage others to do the same. Help others to understand changes and the reasons they are being put in place. Identify and act on the effects changes are having on your role and that of the team. Look for ways to use technology to achieve efficient and effective results. Consider accessibility needs of the diverse range of end users

- <strong>Making Effective Decisions:</strong> Take responsibility for making effective and fair decisions, in a timely manner. Analyse and research further information to support decisions. Talk to relevant people to get advice and information when unsure how to proceed. Explain how decisions have been reached in a clear and concise way, both verbally and in writing. Demonstrate the consideration of all options, costs, risks and wider implications, including the diverse needs of end users and any accessibility requirements

- <strong>Leadership:</strong> Show pride and passion for your work and positive, inclusive engagement with your team. Understand your areas of responsibility and display awareness of the wider impact of your actions. Proactively role model and promote an inclusive workplace, promptly dealing with inappropriate language and behaviours when they arise, including any instances of discrimination or misconduct. Give praise and credit to colleagues and stakeholders where appropriate

- <strong>Communicating and Influencing:</strong> Communicate clearly and concisely both orally and in writing. Take time to consider the best communication channel to use for the audience, including making the best of digital resources and considering ‘value for money’. Interact with others in an enthusiastic way. Express ideas clearly and with respect for others. Listen to and value different ideas, views and ways of working. Respond constructively and objectively to comments and questions. Handle challenging conversations with confidence and sensitivity

- <strong>Working Together:</strong> Develop a range of contacts outside own team and identify opportunities to share knowledge, information and learning. Show genuine interest when listening to others. Contribute to an inclusive working environment where all opinions and challenges are listened to and all individual needs are taken into account. Ensure it is clear that bullying, harassment and discrimination are unacceptable. Offer support and help to colleagues when in need, including consideration of your own and their wellbeing. Change ways of working to aid cooperation within and between teams in order to achieve results

- <strong>Developing Self and Others:</strong> Identify gaps in own and team’s skills and knowledge. Set and consistently meet development objectives. Seek learning opportunities. Support the development plans of all colleagues, recognising how diversity of experience/background can help to build an inclusive team culture. Consider the contributions of all team members and delegate work to aid the learning and development of all. Encourage and listen to developmental feedback from colleagues

- <strong>Managing a Quality Service:</strong> Work with customers to understand their needs and expectations. Create clear plans and set priorities which meet the needs of both the customer and the business. Clearly explain to customers what can be done. Keep colleagues and stakeholders fully informed of plans, possibilities and progress. Identify common problems that affect service, report them and find possible solutions. Deliver good customer service which balances quality and cost effectiveness

- <strong>Delivering at Pace:</strong> Regularly review the success of activities in the team to identify barriers to progress or challenging objectives. Identify who and what is required to ensure success, set clear goals and areas of responsibility and continually assess workloads considering individual needs. Follow relevant policies, procedures and legislation to complete your work. Ensure colleagues have the correct tools and resources available to them to do their jobs. Have a positive and focused attitude to achieving outcomes, despite any setbacks. Regularly check performance against objectives, making suggestions for improvement or taking corrective action where necessary. Ensure that colleagues are supported where tasks are challenging

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:

- An additional short paragraph in the role summary 
- Additional key responsibilities based on the department context 
- Bespoke essential skills/experience required for the role