##Understanding Needs and Sourcing: Sourcing Strategy

###Commercial Professional Level - Commercial Lead (Grade 7 equivalent)

###Role summary

In this role you will contribute towards delivering commercial excellence for your department, defining a sourcing strategy which outlines the plan to cost effectively acquire the necessary goods or services and provide strategic direction for the planned procurements to senior stakeholders across the business. This role will predominantly focus on collaborative procurement to maximise purchasing power by aggregating demand and utilising collaborative procurement channels.

You will lead a team, building their confidence to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Performing end-to-end strategic sourcing activities for the department and serving as a subject matter expert
- Devising a suitable sourcing strategy for complex, high value purchases and procurements
- Managing, developing and maintaining sourcing strategies and creating and implementing agreed sourcing plans
- Overseeing and collating data and information required to support the development of a sourcing strategy
- Combining market specific data analysis with big picture considerations in order to help advise on future market changes
- Identifying the type of supplies/services that are required and identifying potentially suitable suppliers and markets
- Understanding demand by forecasting and planning requirements with internal stakeholders and suppliers
- Developing options for a business case, including articulating associated benefits and producing supporting arguments for the preferred option
- Advising and providing professional guidance throughout the sourcing process, considering and evaluating a range of sourcing models
- Providing a procurement service to the department which delivers demonstrable ‘value for money’ and compliant goods and services contracts as part of a team of procurement professionals
- Understanding and being accountable for sourcing compliance and frameworks 
- Considering and evaluating a range of sourcing models
- Selecting appropriate project/programme management to underpin business requirements
- Leading and guiding others in negotiation relating to commercial activity
- Identifying opportunities to develop collaborative partnerships with suppliers
- Providing advice and guidance on sectors and suppliers as required and can manage stakeholder expectations
- Seeking early active involvement of internal stakeholders in the sourcing process. This includes seeking business buy in and understanding how the contract will be managed once the sourcing project is complete

###Essential Criteria

<strong>Understanding Needs and Sourcing:</strong>

- Has an excellent understanding of sourcing and procurement methodologies, as well as relevant processes, policy and governance 
- Demonstrates a good knowledge of regulatory compliance

<strong>Commercial Focus:</strong>

- Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility and can apply the commercial principles within the boundaries of contract law
- Demonstrates the ability to lead on securing ‘value for money’ through achieving good return on investment on commercial projects

<strong>Risk and Assurance Management:</strong>

- Demonstrates the ability to analyse risks and understands margins of error in developing recommendations and making effective decisions

<strong>Commercial Ethics:</strong>

- Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus:</strong>

- Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks, resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges

<strong>Build Relationships:</strong>

- Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making
- Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 4 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

- <strong>Making Effective Decisions:</strong> Clarify your own understanding and stakeholder needs and expectations, before making decisions. Ensure decision making happens at the right level, not allowing unnecessary bureaucracy to hinder delivery. Encourage both innovative suggestions and challenge from others, to inform decision making. Analyse and accurately interpret data from various sources to support decisions. Find the best option by identifying positives, negatives, risks and implications. Present reasonable conclusions from a wide range of complex and sometimes incomplete evidence. Make decisions confidently even when details are unclear or if they prove to be unpopular

- <strong>Communicating and Influencing:</strong> Communicate with others in a clear, honest and enthusiastic way in order to build trust. Explain complex issues in a way that is easy to understand. Take into account people’s individual needs. Deliver difficult messages with clarity and sensitivity, being persuasive when required. Consider the impact of the language used. Remain open-minded and impartial in discussions, whilst respecting the diverse interests and opinions of others. Introduce different methods for communication, including making the most of digital resources whilst getting ‘value for money’. Monitor the effectiveness of own and team communications and take action to improve where necessary

- <strong>Developing Self and Others:</strong> Prioritise and role-model continuous self-learning and development. Identify areas individuals and teams need to develop in order to achieve future objectives. Support colleagues to take responsibility for their own learning and development. Ensure that development opportunities are available for all individuals regardless of their background or desire to achieve promotion. Ensure individuals take full advantage of learning and development opportunities available to them, including workplace based learning. Encourage discussions within and between teams to learn from each other’s experiences and change organisational plans and processes accordingly

- <strong>Leadership:</strong> Promote diversity, inclusion and equality of opportunity, respecting difference and external experience. Welcome and respond to views and challenges from others, despite any conflicting pressures to ignore or give in to them. Stand by, promote or defend own and team’s actions and decisions where needed. Seek out shared interests beyond own area of responsibility, understanding the extent of the impact actions have on the organisation. Inspire and motivate teams to be fully engaged in their work and dedicated to their role 

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:

- An additional short paragraph in the role summary 
- Additional key responsibilities based on the department context 
- Bespoke essential skills/experience required for the role