##Policy

##Commercial Professional Level - <strong>Commercial Lead</strong> (G7 equivalent)

###Role summary

In this role you will contribute to the delivery of commercial excellence for your department by contributing to the shaping of organisational and ministerial policies from a commercial perspective. You will be expected to manage the design, development and implementation of commercial policy and oversee operational management reviews, risk management and independent audits in order to ensure that all appropriate controls are in place to ensure high quality delivery.

You will lead a team, building their confidence to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to): 

- Managing, inputting, assessing and shaping department and ministerial policies from a commercial perspective and challenging risk averse behaviours where appropriate

- Applying a strong understanding of the difference between guidance, policy and legislation to ensure delivery teams understand their risks and opportunities and can successfully operate within the agreed

- Working with senior internal stakeholders from across the business to support the shaping and implementation of organisational and ministerial policies

- Identifying security requirements particularly in relation to GDPR and data off-shoring 

- Combining market specific data analysis with the bigger picture in order to advise on future market changes

- Applying a detailed understanding of procurement and contract management regulations and guidance when shaping and implementing policy

- Embedding Intellectual Property Rights when implementing commercial policies

- Securing and acting on insight into customers, citizens, services, communities and markets relating to a policy

- Managing the implementation and embedding of new policies, guidance and legislation across multifunctional teams

###Essential Criteria

<strong>Strategy and Policy Development:</strong>

- Has considerable experience in translating the needs of the business into policy objectives

- Has practical experience in the development and implementation of business unit strategies through supply chain management and has the ability to challenge risk averse behaviours where appropriate

- Has the ability to practically apply the procurement rules and link them to the implementation of policy objectives

<strong>Commercial Focus: </strong>

- Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility, can apply the commercial principles within the boundaries of contract law

- Demonstrates the ability to lead on securing value for money through achieving good return on investment on commercial projects

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks and to resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges

<strong>Build Relationships: </strong>

- Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making. 

- Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role