<table class="financial-data source-tableeditor">
<tbody>
<tr class="total">
<th><strong>Job Pillar<br></strong><strong>Role&nbsp;Component</strong></th>
<td><strong>UNDERSTANDING NEEDS AND SOURCING<br></strong><strong>Sourcing Strategy</strong></td>
</tr>
<tr class="total">
<th><strong>Commercial </strong><strong>Professional Level</strong></th>
<td><strong>Associate Commercial Specialist<br></strong>(Grade 6 equivalent)</td>
</tr>
<tr>
<th><strong>Role Summary</strong></th>
<td>In this role you will contribute towards delivering commercial excellence for your department, defining a sourcing strategy which outlines the plan to cost effectively acquire the necessary goods or services and provide strategic direction for the planned procurements to senior stakeholders across the business. This role will predominantly focus on collaborative procurement to maximise purchasing power by aggregating demand and utilising collaborative procurement channels.<br><br>You will lead a team, building their confidence and commercial capability to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.</td>
</tr>
<tr>
<th><strong>Key Responsibilities</strong></th>
<td>Typically, the key responsibilities in this role will include (but are not limited to):<br><br>&#x25cf;&nbsp;Driving and leading sourcing activity, including strategic sourcing processes in support of the department&rsquo;s strategic aims<br>&#x25cf;&nbsp;Finalising and approving commercial arrangements, including final negotiation<br>&#x25cf;&nbsp;Preparing, developing and commissioning business cases, where necessary, to demonstrate the value, benefits and risks of sourcing activity<br>&#x25cf;&nbsp;Devising a suitable sourcing strategy for complex, high value purchases and procurements<br>&#x25cf;&nbsp;Managing, developing and maintaining sourcing strategies and creating and implementing agreed sourcing plans<br>&#x25cf;&nbsp;Building strong relationships with key internal and external stakeholders in order to develop a clear and agreed view of the needs of the business and wider cross-government strategies which can then be built into the sourcing strategy<br>&#x25cf;&nbsp;Overseeing and collating data and information required to inform the development of a sourcing strategy<br>&#x25cf;&nbsp;Ensuring relevant issues are fed into strategy and big picture considerations<br>&#x25cf;&nbsp;Considering the long-term resilience of supply chains and taking opportunities to mitigate the risks and develop opportunities<br>&#x25cf;&nbsp;Identifying the type of supplies/services that are required and identifying potentially suitable suppliers and markets<br>&#x25cf;&nbsp;Managing and forecasting demand across area of responsibility<br>&#x25cf;&nbsp;Implementing appropriate project and programme management across area of responsibility<br>&#x25cf;&nbsp;Achieving the return on investment and improving costs and delivery certainty by managing resources and maximising the use of assets<br>&#x25cf;&nbsp;Considering key service and delivery objectives with stakeholders, implementing appropriate contract and performance management regimes within the terms and conditions<br>&#x25cf;&nbsp;Developing and instigating approaches with stakeholders to support collaborative commercial relationships using appropriate frameworks and standards</td>
</tr>
<tr>
<th><strong>Essential Criteria</strong></th>
<td><strong>Understanding Needs and Sourcing:</strong><br>&#x25cf;&nbsp;Has an expert understanding of sourcing and procurement methodologies, as well as relevant processes, policy and governance<br>&#x25cf;&nbsp;Demonstrates a strong knowledge of regulatory compliance<br><br><strong>Commercial Focus: </strong><br>&#x25cf;&nbsp;Has a strong practical understanding of market and commercial drivers as well as contract law<br>&#x25cf;&nbsp;Demonstrates the ability to draw conclusions from a wide range of complex data from different sources<br>&#x25cf;&nbsp;Has a practical understanding of the concept of &lsquo;value for money&rsquo; and can articulate what a successful return on investment looks like for a particular project/programme<br><br><strong>Risk and Assurance Management: </strong><br>&#x25cf;&nbsp;Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions<br>&#x25cf;&nbsp;Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs<br><br><strong>Commercial Ethics: </strong><br>&#x25cf;&nbsp;Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards<br><br><strong>Team Management:</strong><br>&#x25cf;&nbsp;Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks <br>&#x25cf;&nbsp;Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and morale<br><br><strong>Build Relationships: </strong><br>&#x25cf;&nbsp;Demonstrates strong stakeholder engagement skills with the ability to show resilience in interactions with suppliers in order to defend the department&rsquo;s position <br>&#x25cf;&nbsp;Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity</td>
</tr>
<tr>
<th><strong>Civil Service Behaviours</strong></th>
<td>Ability to show examples across all of the following behaviours for level 4 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:<br><br>
<strong>Making Effective Decisions: <br>
</strong>&#x25cf;&nbsp;Clarify your own understanding and stakeholder needs and expectations, before making decisions. Ensure decision making happens at the right level, not allowing unnecessary bureaucracy to hinder delivery. Encourage both innovative suggestions and challenge from others, to inform decision making. Analyse and accurately interpret data from various sources to support decisions. Find the best option by identifying positives, negatives, risks and implications. Present reasonable conclusions from a wide range of complex and sometimes incomplete evidence. Make decisions confidently even when details are unclear or if they prove to be unpopular<br>
<br>
<strong>Communicating and Influencing: </strong><br>
&#x25cf;&nbsp;Communicate with others in a clear, honest and enthusiastic way in order to build trust. Explain complex issues in a way that is easy to understand. Take into account people&rsquo;s individual needs. Deliver difficult messages with clarity and sensitivity, being persuasive when required. Consider the impact of the language used. Remain open-minded and impartial in discussions, whilst respecting the diverse interests and opinions of others. Introduce different methods for communication, including making the most of digital resources whilst getting &lsquo;value for money&rsquo;. Monitor the effectiveness of own and team communications and take action to improve where necessary<br>
<br>
<strong>Developing Self and Others: </strong><br>
&#x25cf;&nbsp;Prioritise and role-model continuous self-learning and development. Identify areas individuals and teams need to develop in order to achieve future objectives. Support colleagues to take responsibility for their own learning and development. Ensure that development opportunities are available for all individuals regardless of their background or desire to achieve promotion. Ensure individuals take full advantage of learning and development opportunities available to them, including workplace based learning. Encourage discussions within and between teams to learn from each other&rsquo;s experiences and change organisational plans and processes accordingly <br>
<br>
<strong>Leadership:</strong> <br>
&#x25cf;&nbsp;Promote diversity, inclusion and equality of opportunity, respecting difference and external experience. Welcome and respond to views and challenges from others, despite any conflicting pressures to ignore or give in to them. Stand by, promote or defend own and team&rsquo;s actions and decisions where needed. Seek out shared interests beyond own area of responsibility, understanding the extent of the impact actions have on the organisation. Inspire and motivate teams to be fully engaged in their work and dedicated to their role</td>
</tr>
<tr>
<th><strong>Department Context</strong></th>
<td>To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include:<br><br>&#x25cf;&nbsp;An additional short paragraph in the role summary <br>&#x25cf;&nbsp;Additional key responsibilities based on the department context <br>&#x25cf;&nbsp;Bespoke essential skills/experience required for the role</td>
</tr>
</tbody>
</table>