##Commercial, Assurance & Government

##Commercial Professional Level - <strong>Commercial Support</strong> (AO equivalent)

###Role summary

In this role you will support the delivery of commercial excellence for your department by supporting assurance activities for stakeholders to ensure that commercial work is controlled, on track and aligned with the policies, commercial strategies and security requirements. 

You will work as part of a larger team, but will be expected to be able to prioritise and manage your own workload to deliver to deadlines and know when to seek support in order to balance both operationally urgent and important tasks.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Supporting the delivery of commercial assurance across the organisation, taking into account time, cost, quality, compliance and ongoing viability

- Helping to apply an understanding of the difference between guidance, policy and legislation to ensure delivery teams understand their risks and opportunities and can successfully operate within the agreed

- Tracking and escalating risks and issues

- Supporting the implementation of commercial policies

- Engaging with stakeholders on commercial arrangement and risks across an area of responsibility

- Supporting the management of the commercial assurance pipeline

- Contributing to the creation of reports on assurance activity and commercial considerations for an area of responsibility

###Essential Criteria

<strong>Strategy and Policy Development:</strong>

- Has a basic understanding of the needs of the business and commercial strategies apply to low value procurements and contracts

- Has awareness of procurement rules and their linkage to the implementation of policy objectives

<strong>Commercial Focus: </strong>

- Has a basic understanding of how markets work and how to collect data and information to support commercial activity

<strong>Risk and Assurance Management: </strong> 

- Has a basic understanding of commercial risks and how mitigation techniques work

<strong>Commercial Ethics: </strong> 

- Has an understanding of the importance of the standards to eliminate corruption, fraud and unethical behaviour in supply chains

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their resilience and performance

<strong>Build Relationships: </strong>

- Demonstrates the ability to use different communication styles with different audiences

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 1 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role