##Commercial, Assurance & Government

##Commercial Professional Level - <strong>Associate Commercial Lead</strong> (SEO equivalent)

###Role summary

In this role you will contribute to the delivery of commercial excellence for your department by providing assurance and advice to senior stakeholders to ensure that commercial work is controlled, on track and aligned with the policies, commercial strategies and security requirements. 

You will lead a team, building their confidence to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.


###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to): 
●	Managing the delivery of commercial assurance across the organisation, taking into account time, cost, quality, compliance and ongoing viability
●	Identifying, mitigating and escalating risks and issues
●	Managing assurance on the implementation of commercial policies
●	Applying an understanding of the difference between guidance, policy and legislation to ensure delivery teams understand their risks and opportunities and can successfully operate within the agreed
●	Applying an understanding of costs, risks and value through different tiers of the supply chains
●	Engaging with senior commercial leaders on complex commercial arrangements and risks across the department and with wider Government
●	Managing the commercial assurance pipeline
●	Reviewing complex, high value business cases to assist with briefing the Commercial Director prior to endorsement decisions
●	Providing reports on assurance activity and commercial considerations for an area of responsibility
●	Applying an understanding of procurement rules, security requirements and intellectual property rights to assurance activity


###Essential Criteria

<strong>Strategy and Policy Development:</strong>

- Has considerable experience in translating the needs of the business into policy objectives

- Has practical experience in the development and implementation of business unit strategies through supply chain management and has the ability to challenge risk averse behaviours where appropriate

- Has the ability to practically apply the procurement rules and link them to the implementation of policy objectives

<strong>Commercial Focus: </strong>

- Has strong commercial knowledge, understands the need for trade-offs in an area of responsibility, can apply the commercial principles within the boundaries of contract law

- Demonstrates the ability to lead on securing value for money through achieving good return on investment on commercial projects

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to analyse risks and understand margins of error in developing recommendations and making effective decisions

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to communicate standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to manage and build confidence in a team in order to deal with setbacks and to resolve internal issues and can implement change at a local level by working with affected parties to identify and overcome challenges

<strong>Build Relationships: </strong>

- Has strong stakeholder engagement skills and can present technical advice successfully in order to influence internal and external decision making. 

- Demonstrates the ability to articulate commercial motivations and expected behaviours of stakeholders, suppliers and networks

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role