##Commercial, Assurance & Government

##Commercial Professional Level - <strong>Associate Commercial Lead</strong> (SEO equivalent)

###Role summary

In this role you will contribute to the delivery of commercial excellence for your department by providing assurance and advice to senior stakeholders to ensure that commercial work is controlled, on track and aligned with the policies, commercial strategies and security requirements. 

You will work independently and as part of a larger team, drawing on your commercial experience to drive performance and manage setbacks. You will be able to prioritise and manage your own workload to deliver to deadlines, mitigate and escalate any emerging risks and to respond swiftly to changing operational demands.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Delivering commercial assurance across the organisation, taking into account time, cost, quality, compliance and ongoing viability

- Applying an understanding of the difference between guidance, policy and legislation to ensure delivery teams understand their risks and opportunities and can successfully operate within the agreed

- Contributing to the implementation of commercial policies

- Identifying, mitigating and escalating risks and issues

- Applying an understanding of costs, risks and value through different tiers of the supply chains

- Engaging with senior commercial leaders on commercial arrangements and risks across the department and with wider Government

- Managing the commercial assurance pipeline

- Reviewing business cases to assist with briefing the Commercial Director prior to endorsement decisions

- Providing reports on assurance activity and commercial considerations for an area of responsibility

- Applying an understanding of procurement rules, security requirements and intellectual property rights to assurance activity

###Essential Criteria

<strong>Strategy and Policy Development:</strong>

- Has considerable experience in translating the needs of the business into policy objectives

- Has considerable experience in developing commercial strategies for high value procurements and contracts

- Has the ability to practically apply procurement rules and link them to the implementation of policy objectives

<strong>Commercial Focus: </strong>

- Has strong commercial knowledge, understands commercial law and can use key commercial tools appropriately

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to manage cyber, personnel and physical risks within an area of responsibility

<strong>Commercial Ethics: </strong> 

- Demonstrates the ability to apply standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Focus: </strong>

- Demonstrates the ability to work as part of a team to support their performance and manage setbacks and resolve issues internally

<strong>Build Relationships: </strong>

- Demonstrates the ability to communicate with stakeholders at all levels using different communication styles to articulate the benefits that have been achieved and to establish governance and relationship arrangements

###Civil Service Behaviours

Ability to show examples across all of the following behaviours for level 3 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717275/CS_Behaviours_2018.pdf">Success Profiles Framework</a>:

<strong>Seeing the Big Picture:</strong> Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest

<strong>Changing and Improving:</strong> Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback

<strong>Making Effective Decisions:</strong> Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions

<strong>Leadership:</strong> Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all

<strong>Communicating and Influencing:</strong> Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.

<strong>Working Together:</strong> Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support

<strong>Developing Self and Others:</strong> Focus on continuous learning and development for self, others and the organisation as a whole

<strong>Managing a Quality Service:</strong> Deliver service objectives with professional excel

<strong>Delivering at Pace:</strong> Take responsibility for delivering timely and quality results with focus and drive

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role