##Commercial, Assurance & Government

##Commercial Professional Level - <strong>Associate Commercial Specialist</strong> (G6 equivalent)

###Role summary

In this role you will contribute to the delivery of commercial excellence for your department by leading the assurance process and the advice given to senior stakeholders to ensure that commercial work is controlled, on track and aligned with the policies, commercial strategies and security requirements. 

You will lead a team, building their confidence and commercial capability to drive performance and manage setbacks. The role will also require you to use your commercial expertise to identify opportunities for improvement and implement these changes at a local level by working with affected parties to identify and overcome challenges.

###Key Responsibilities

Typically, the key responsibilities in this role will include (but are not limited to):

- Leading the delivery of commercial assurance across the organisation, taking into account time, cost, quality, compliance and ongoing viability 

- Leading on the mitigation of complex risks and issues

- Managing assurance on the implementation of commercial policies

- Applying an understanding of the difference between guidance, policy and legislation to ensure delivery teams understand their risks and opportunities and can successfully operate within the agreed

- Considering the long-term resilience of supply chains and taking opportunities to mitigate the risks and develop opportunities

- Engaging with senior commercial leaders on complex commercial arrangements and risks across the department and with wider Government

- Managing the commercial assurance pipeline

- Reviewing complex, high value, business cases to assist with briefing the Commercial Director prior to endorsement decisions

- Providing reports on assurance activity and commercial considerations for an area of responsibility

- Applying an understanding of procurement rules, security requirements and intellectual property rights to assurance activity

###Essential Criteria

<strong>Strategy and Policy Development:</strong>

- Has practical experience in implementing government and department commercial policies across a range of different delivery models

- Has expertise in the development and implementation of business unit strategies through supply chain management and has the ability to challenge risk averse behaviours where appropriate

- Has experience in developing resource and implementation plans in line with policy objectives and has the ability to expertly apply relevant procurement rules

<strong>Commercial Focus: </strong>

- Has a strong practical understanding of market and commercial drivers as well as contract law

- Demonstrates the ability to draw conclusions from a wide range of complex data from different sources

- Has a practical understanding of the concept of value for money and can articulate what a successful return on investment looks like for a particular project/programme 

<strong>Risk and Assurance Management: </strong> 

- Demonstrates the ability to take calculated risks in an area of responsibility in order to implement efficient and innovative solutions

- Demonstrates the ability to conduct analysis of options, risks and margins of error to provide assurance on decisions and manage subsequent trade-offs 

<strong>Commercial Ethics: </strong> 

- Ability to influence stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards

<strong>Team Management: </strong>

- Demonstrates the ability to manage a team, understands their commercial capability and where they have development gaps and can build their confidence to deal with setbacks 

- Has an understanding of the cumulative impact of implementing change in their business area to include: culture, structure, service and moral

<strong>Build Relationships: </strong>

- Demonstrates strong stakeholder engagement skills with the ability to demonstrate resilience in interactions with suppliers in order to defend the departments position 

- Demonstrates the ability to present technical issues to senior stakeholders in order to help them arrive at decisions by acting in an advisory capacity

###Department Context

To enhance the generic commercial role profile, additional information can be added by a department to outline the specific nature of the role. This may include: 

- An additional short paragraph in the role summary 

- Additional key responsibilities based on the department context 

- Bespoke essential skills/ experience required for the role